<template>
  <div>
    <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h4 class="box-title">{{titulo}}</h4>
          </div>
          
        
      
      <div class="box-body">
        <div class="col-md-12">
        <div style="display: flex; justify-content: flex-end" >
        <button class="btn btn-success col-md-offset-9" @click="modalCrear">
          <i class="fa fa-plus-circle"></i>
          AGREGAR MATERIAL
        </button>
        </div>
        <br>
        <v-client-table :data="tableData" :columns="columns" :options="options">
          <div slot="opciones" slot-scope="props">
            <button
              class="btn btn-xs bg-success"
              title="Editar"
              @click.prevent="modalEditar(props.row.id)"
            >
              <i class="glyphicon glyphicon-pencil"></i>
            </button>
            <button
              class="btn btn-xs bg-danger"
              title="Eliminar"
              @click.prevent="confirmar(props.row.id)"
            >
              <i class="glyphicon glyphicon-trash"></i>
            </button>
          </div>
        </v-client-table>
      </div>
    </div>
      <!--fin de la table-->

      <!-- formulario Modal-->

      <form method="POST" v-on:submit.prevent="enviarDatos">
        <div class="modal fade" id="modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span>&times;</span>
                </button>
                <h4>{{modal.titulo}}</h4>
              </div>
              <div class="modal-body">
                <div class="col-md-12">
                  <label for="nombre">NOMBRE:</label>
                  <input
                    required
                    class="form-control"
                    type="text"
                    name="nombre"
                    v-validate="{required:true, regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ1234567890/]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ1234567890/]+)*)$/}"
                    v-model="material2.nombre">
                  <span
                    id="validacion"
                    v-if="errors.first('nombre')==='The nombre field is required.'"
                  >ESTE CAMPO ES OBLIGATORIO*</span>
                  <span
                    id="validacion"
                    v-else-if="errors.first('nombre')==='The nombre field format is invalid.'"
                  >REVISA TU FORMATO DE ENTRADA</span>
                </div>
                <br>
                <div class="col-md-6">
                  <label for="presentacion">PRESENTACION:</label>
                  <v-select id="vselect" v-model="material2.presentacion"  :options="unidadmedidas" :reduce="unidadmedidas=>unidadmedidas.unidadmedida"     label="unidadmedida"></v-select>     
               
                </div>               
                <div class="col-md-3">
                  <label for="minimo">MINIMO:</label>
                  <input
                    type="number"
                    class="form-control"
                    name="minimo"
                    min="1"
                    v-validate="'numeric'"
                    v-model="material2.minimo"
                  />
                  <span
                    id="validacion"
                    v-if="!material2.minimo||errors.first('minimo')=='The minimo field may only contain numeric characters.'"
                  >CAMPO REQUERIDO CON NÚMEROS*</span>
                </div>

                <div class="col-md-3">
                  <label for="existencia">EXISTENCIA:</label>
                  <input
                    required
                    type="number"
                    class="form-control"
                    name="existencia"
                    min="1"
                    v-model="material2.existencia"
                  />
                  <span id="validacion" v-if="!material2.existencia">CAMPO REQUERIDO*</span>
                </div>
              </div>

              <div class="modal-footer">
                <input type="submit" class="btn btn-success" value="Aceptar" />
                <button class="btn btn-danger" value="Cancelar" data-dismiss="modal">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      titulo: "LISTADO DE MATERIALES",
      material: [],
      unidadmedidas:[],
      columns: [
        "nombre",
        "presentacion",
        "minimo",
        "existencia",
        "opciones"
      ],
      tableData: [],
      options: {
        headings: {
          nombre: "Nombre",
          presentacion: "Presentacion",
          minimo: "Mínimo",
          existencia: "Existencia",
          opciones: "Opciones"
        },
        sortable: ["nombre"],
        filterable: ["nombre"],
        pagination: {
          dropdown: false,
          chunk: 10,
          edge: false,
          align: "center",
          nav: "fixed"
        },
        perPageValues: [10, 25, 50, 100],
        texts: {
          count:
            "Mostrando {from} a {to} de {count} resultados|{count} resultados|Un resultado",
          first: "First",
          last: "Last",
          filter: "Buscar: ",
          filterPlaceholder: "Nombre",
          limit: "Resultados: ",
          page: "Page:",
          noResults: "No hay resultados",
          filterBy: "Filter by {column}",
          loading: "Loading...",
          defaultOption: "Select {column}",
          columns: "Columns"
        }
      },
      material2: {
        id: "",
        nombre: "",
        presentacion: "",
        minimo: "",
        existencia: "",
      },
      modal: {
        titulo: "",
        boton: ""
      },
      metodo: "",
      pagination: {}
    };
  },
  mounted() {
    this.listado();
    this.unidades();
  },
  methods: {
    getMaterial(id) {
      block();
      axios
        .get("/taesir/materiap/" + id)
        .then(respuesta => {
          unblock();
          this.material2.id = respuesta.data.id;
          this.material2.nombre = respuesta.data.nombre;
          this.material2.presentacion = respuesta.data.presentacion;
          this.material2.minimo = respuesta.data.minimo;
          this.material2.existencia = respuesta.data.existencia;
          unblock();
        })
        .catch(error => {
          unblock();
          console.log(error);
        });
    },
    confirmar(id) {
      Swal.fire({
        title: "¿Estas seguro?",
        text: "una vez conluido no podras restaurar",
        type: "question",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Sí",
        cancelButtonText: "No"
      }).then(result => {
        if (result.value) {
          this.eliminar(id);
        }
      });
    },
    unidades(){
      axios
        .get("/taesir/unidadesp")
        .then(respuesta => {
          this.unidadmedidas = respuesta.data.unidadmedidas;          
        })
        .catch(error => {
        }); 

    },
    //--------------------------------------------------------
    modalCrear() {
      this.resetDatos();
      this.metodo = "post";
      this.modal.titulo = "AGREGAR MATERIAL";
      this.modal.boton = "AGREGAR";
      $("#modal").modal("show");
      console.log("crear");
    },
    modalEditar(id) {
      this.metodo = "put";
      this.modal.titulo = "ACTUALIZAR MATERIAL";
      this.modal.boton = "ACTUALIZAR";
      this.getMaterial(id);
      $("#modal").modal("show");
    },
    resetDatos() {
      this.material2.id = null;
      this.material2.nombre = null;
      this.material2.presentacion = null;
      this.material2.minimo = null;
      this.material2.existencia = null;
    },

    listado() {
      axios
        .get("/taesir/materiap")
        .then(respuesta => {
          this.material = respuesta.data.data;
          this.tableData = respuesta.data.materiales;
        })
        .catch(error => {});
    },
    eliminar(id) {
      block();
      axios
        .delete("/taesir/materiap/" + id, {
          id: this.material2.id,
          nombre: this.material2.nombre,
          presentacion: this.material2.presentacion,
          minimo: this.material2.minimo,
          existencia: this.material2.existencia
        })
        .then(respuesta => {
          console.log("Se elimino la informacion");
          console.log(respuesta.data);
          unblock();
          Swal.fire({
            position: "center",
            type: "success",
            title: "correcto",
            showConfirmButton: false,
            timer: 1000
          });
          this.listado();
        })
        .catch(error => {
          console.log("error al Actualizar");
          console.log(error);
          unblock();
          Swal.fire({
            position: "center",
            type: "error",
            title: "Error",
            showConfirmButton: false,
            timer: 1000
          });
        });
    },

    //--------------------------------------------------------
    abrirModal() {
      //this.resetDatos();
      this.metodo = "post";
      this.modal.titulo = "Agregar Material";
      this.modal.boton = "Agregar";
      $("#modal").modal("show");
      //console.log('crear');
    },
    //-----------------------------------------------------------
    enviarDatos() {
      this.$validator.validateAll().then(result => {
        if (result) {
          if (this.metodo == "post") this.crearNuevo();
          if (this.metodo == "put") this.editarMaterial(this.material2.id);
        } else {
          Swal.fire({
            position: "center",
            type: "info",
            title: "Verifica los datos ingresados",
            showConfirmButton: false,
            timer: 1000
          });
        }
      });
    },

    //-------------------------------------------------------------
    crearNuevo() {
      block();
      console.log("Enviando formulario");
      if (this.material2.nombre === null) {
        console.log("Esta vacio");
        unblock();
        Swal.fire({
          position: "center",
          type: "warning",
          title: "Verifique sus datos",
          showConfirmButton: false,
          timer: 1000
        });
        return;
      }
      axios
        .post("/taesir/materiap", {
          nombre: this.material2.nombre,
          presentacion: this.material2.presentacion,
          minimo: this.material2.minimo,
          existencia: this.material2.existencia,
        })
        .then(respuesta => {
          console.log(respuesta.data);
          unblock();
          this.resetDatos();
          Swal.fire({
            position: "center",
            type: "success",
            title: "Correcto",
            showConfirmButton: false,
            timer: 1000
          });
          $("#modal").modal("hide");
          this.listado();
        })
        .catch(error => {
          console.log("Ocurrio un error");
          console.log(error);
          unblock();
          Swal.fire({
            position: "center",
            type: "warning",
            title: "Verifique sus datos",
            showConfirmButton: false,
            timer: 1000
          });
        });
    },

    editarMaterial(id) {
      block();
      axios
        .put("/taesir/materiap/" + id, {
          id: this.material2.id,
          nombre: this.material2.nombre,
          presentacion: this.material2.presentacion,
          minimo: this.material2.minimo,
          existencia: this.material2.existencia,
        })
        .then(respuesta => {
          console.log("Se Actualizo la informacion");
          console.log(respuesta.data);
          unblock();
          console.log("Resultado");
          Swal.fire({
            position: "center",
            type: "success",
            title: "Correcto",
            showConfirmButton: false,
            timer: 1000
          });
          $("#modal").modal("hide");
          this.listado();
        })
        .catch(error => {
          console.log("error al Actualizar");
          console.log(error);
          unblock();
          Swal.fire({
            position: "center",
            type: "warning",
            title: "Verifique sus datos",
            showConfirmButton: false,
            timer: 1000
          });
        });
    }
  }
};
</script>

<style scoped>
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #00968c;
  color: #fff;
}

.bg-success {
  background-color: #00a65a;
  color: aliceblue;
}

.bg-danger {
  color: #fff;
  background-color: #c62e2e;
}

.badge-warning {
  background-color: #c62e2e;
}

#validacion {
  color: rgb(255, 0, 0);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
</style>
