<template>
  <div class="home">
 
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-accent-primary">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Copias de Conocimiento
          </div>
          <div class="card-body">
            
            <div class="row" style="justify-content: space-between;">
              <div class="col-sm-12 col-lg-5">
              </div>
              <div class="col-sm-12 col-lg-4">
                <div class="form-group row" style="justify-content: flex-end;">
                  <label class="col-md-3 col-form-label" for="select1" style="text-align: right;">Filas:</label>
                  <div class="col-md-4 col-xl-3">
                    <select class="form-control" name="select1" @change="onChange($event)">
                      <option>10</option>
                      <option>25</option>
                      <option>50</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <transition name="fade">
                <v-client-table id="DataTable" :data="tableData" :columns="columns" :options="options" ref="areasDoctos">
                  
                  <div slot="estatusDoc" slot-scope="props" class="text-center" style="width:100px">
                    <span :class="['py-2 px-3 badge badge-pill '+props.row.estatus.color]">
                      {{props.row.estatus.nombre}}
                    </span>
                  </div>
                  
                  <div slot="editDocument" slot-scope="props" style="width:85px">

                      <button title="Revisar" class="btn btn-sm btn-secondary" @click="openModalDocument(props.row.id)">
                        <i class="fa fa-eye"></i>
                      </button>
                      <!-- <button v-if="props.row.estatus_id==2 && $store.getters.has(['ADMINISTRATIVO'])" title="Vincular" class="btn btn-sm btn-success" @click="openModalVincularDocument(props.row.id)">
                        <i class="fa fa-random"></i>
                      </button> -->
                      <button title="Seguimiento" class="btn btn-sm btn-info" @click="openSeguimiento(props.row)">
                        <i class="fa fa-clock-o"></i>
                      </button>
                      <!-- <button v-if="(props.row.estatus_id==1|props.row.estatus_id==4) && ($store.getters.has(['CAPTURISTA'])|$store.getters.has(['RESPONSABLE']))" title="Revision" class="btn btn-sm btn-warning" @click="toRevisionST(props.row.id,2,98)">
                        <i class="fa fa-external-link"></i>
                      </button>
                      <button v-if="props.row.estatus_id==5 && $store.getters.has(['RESPONSABLE'])" title="Responder" class="btn btn-sm btn-success" @click="responder(props.row.id)" >
                        <i class="fa fa-repeat"></i>
                      </button>
                      <button v-if="props.row.estatus_id==2" title="Corrección" class="btn btn-sm btn-primary" @click="correccion(props.row.id,4,167)">
                        <i class="fa fa-reply"></i>
                      </button>
                      <button v-if="props.row.estatus_id==2 && $store.getters.has(['ADMINISTRATIVO'])" title="Corrección" class="btn btn-sm btn-danger" @click="openModalCorregirDocument(props.row.id)">
                        <i class="fa fa-reply"></i>
                      </button>
                      <button v-if="($store.getters.has(['ADMINISTRADOR']||$store.getters.has(['RESPONSABLE'])))" title="Cancelar" class="btn btn-sm btn-cancel" @click="openModalCancelarDocument(props.row.id,$store.getters.area)">
                        <i class="fa fa-times-circle"></i>
                      </button> -->
                  
                  </div>

                  <div slot="asuntoDoc" slot-scope="props" class="text-center">
                    <span v-html="props.row.asunto">
                    </span>
                  </div>

                  
                  <div slot="child_row" slot-scope="props">
                    <div><b>Núm. Documento:</b> {{props.row.numerodocumento}}</div>
                    <div><b>Folio:</b> {{props.row.folio}}</div>
                    <div v-if="props.row.fechavencimiento!=''"><b>Fecha vencimiento:</b> {{props.row.fechavencimiento}}</div>
                  </div>
                  
                </v-client-table>
                </transition>  

              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  
      <div id="ModalDocumento" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"  data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                  <div class="modal-header gray-bg">
                      <h5 class="modal-title" id="exampleModalCenterTitle">Detalle Documento</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="closeModalDocument()">
                      <span aria-hidden="true">×</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs" role="tablist">
                          <li  class="nav-item">
                            <a id="tab1" class="nav-link active show" data-toggle="tab" href="#show1" role="tab" aria-controls="home" aria-selected="true">
                            <i class="fa fa-file"></i> Datos Generales</a>
                          </li>
                          <li  class="nav-item">
                            <a id="tab2" class="nav-link" data-toggle="tab" href="#show2" role="tab" aria-controls="profile" aria-selected="false">
                            <i class="fa fa-user"></i> Remitente/Destinatario</a>
                          </li>
                          <li  class="nav-item">
                            <a id="tab3" class="nav-link" data-toggle="tab" href="#show3" role="tab" aria-controls="messages" aria-selected="false">
                            <i class="fa fa-align-center"></i> Asunto/Observaciones</a>
                          </li>
                          <li class="nav-item">
                            <a id="tab4"  class="nav-link" data-toggle="tab" href="#show4" role="tab" aria-controls="messages" aria-selected="false">
                            <i class="fa fa-file-pdf-o"></i> Documento</a>
                          </li>
                          <li class="nav-item">
                            <a id="tab5" class="nav-link" data-toggle="tab" href="#show5" role="tab" aria-controls="messages" aria-selected="false">
                            <i class="fa fa-copy"></i> Anexos</a>
                          </li>
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane active show" id="show1" role="tabpanel">
                              <div class="form-group row">
                                  <div class="col-md-6">
                                      <label class="col-form-label" for="prependedInput"><b>Número de documento:</b></label>
                                      <div class="controls">
                                      <div class="input-prepend input-group">
                                      <div class="input-group-prepend">
                                      <span class="input-group-text gray-bg">
                                          <i class="fa fa-list-ol" ></i>
                                      </span>
                                      </div>
                                        <input readonly v-model="documento.data.numerodocumento" class="form-control" id="prependedInput">
                                      </div>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <label class="col-form-label" for="prependedInput"><b>Folio:</b></label>
                                      <div class="controls">
                                      <div class="input-prepend input-group">
                                      <div class="input-group-prepend">
                                      <span class="input-group-text gray-bg">
                                          <i class="fa fa-hashtag" ></i>
                                      </span>
                                      </div>
                                        <input readonly v-model="documento.data.folio" class="form-control" id="prependedInput">
                                      </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="form-group row">
                                <div class="col-md-6">
                                    <label class="col-form-label" for="prependedInput"><b>Fecha de Ingreso:</b></label>
                                    <div class="controls">
                                        <div class="input-prepend input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text gray-bg">
                                                    <i class="fa fa-calendar" ></i>
                                                </span>
                                            </div>
                                            <input readonly v-model="documento.data.fechaentrada" class="form-control" id="prependedInput">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="controls">
                                        <label for=""><b>Fecha de Vencimiento:</b></label>
                                        <div class="input-prepend input-group" disabled>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text gray-bg">
                                                    <i class="fa fa-calendar" ></i>
                                                </span>
                                            </div>
                                            <input readonly v-model="documento.data.fechavencimiento" class="form-control" id="prependedInput">
                                        </div>
                                    </div>
                                </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-md-4">
                                  <label class="col-form-label" for="prependedInput"><b>Tipo de Documento:</b></label>
                                  <div class="controls">
                                      <div class="input-prepend input-group">
                                          <input readonly v-model="documento.data.tipo_documento.nombre" class="form-control" id="prependedInput">
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <label class="col-form-label" for="prependedInput"><b>Es copia de conocimiento:</b></label>
                                  <div class="controls">
                                      <div class="input-prepend input-group">
                                          <multiselect
                                                  data-vv-as="Copia de conocimiento:" 
                                                  value="id" 
                                                  label="nombre"
                                                  :block-keys="['Delete']" 
                                                  style="text-transform:uppercase;" 
                                                  v-model="documento.data.es_copia_conocimiento" 
                                                  :options="[{id :1, nombre:'SI'}, {id:0, nombre:'NO'}]" 
                                                  :show-labels="false" 
                                                  :searchable="false"
                                                  disabled  
                                                  placeholder="Seleccione un tipo">
                                          </multiselect>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <label class="col-form-label" for="prependedInput"><b>Tipo de Correspondencia:</b></label>
                                  <div class="controls">
                                      <div class="input-prepend input-group">
                                          <div class="input-group-prepend">
                                          </div>
                                          <input readonly v-model="documento.data.remitente.tipo" class="form-control" id="prependedInput">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          
                          

                          </div>
                          <div class="tab-pane" id="show2" role="tabpanel">
                              <div class="form-group row">
                                <div class="col-md-6">                   
                                    <label class="col-form-label" for="prependedInput"><b>Remitente:</b></label>                        
                                    <div class="controls">
                                      <div class="input-prepend input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text gray-bg">
                                              <i class="fa fa-user" ></i>
                                          </span>
                                        </div>
                                        <input readonly v-model="documento.data.remitente.responsable" class="form-control" id="prependedInput">
                                      </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                  <label class="col-form-label" for="prependedInput" ><b>Destinatario:</b></label>
                                  <div class="controls">
                                  <div class="input-prepend input-group">
                                  <div class="input-group-prepend">
                                  <span class="input-group-text gray-bg">
                                      <i class="fa fa-user" ></i>
                                  </span>
                                  </div>
                                    <input readonly v-model="documento.data.destinatario.responsable" class="form-control" id="prependedInput">
                                  </div>
                                  </div>
                              </div>
                            </div>
                            <div class="form-group row">

                                <div class="col-md-6">                   
                                    <label class="col-form-label" for="prependedInput"><b>{{documento.data.remitente.tipo == 'EXTERNO' ? 'Dependencia' : 'Área'}}:</b></label>                        
                                    <div class="controls">
                                      <div class="input-prepend input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text gray-bg">
                                              <i class="fa fa-building" ></i>
                                          </span>
                                        </div>
                                        <input readonly v-model="documento.data.remitente.area" class="form-control" id="prependedInput">
                                      </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                  <label class="col-form-label" for="prependedInput" ><b>Área Dirigido:</b></label>
                                  <div class="controls">
                                  <div class="input-prepend input-group">
                                  <div class="input-group-prepend">
                                  <span class="input-group-text gray-bg">
                                      <i class="fa fa-sign-in" ></i>
                                  </span>
                                  </div>
                                    <input readonly v-model="documento.data.destinatario.area" class="form-control" id="prependedInput">
                                  </div>
                                  </div>
                              </div>

                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label class="col-form-label" for="prependedInput"><b>Cargo Remitente:</b></label>
                                    <div class="controls">
                                    <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text gray-bg">
                                        <i class="fa fa-briefcase" ></i>
                                    </span>
                                    </div>
                                    <input readonly v-model="documento.data.remitente.cargo" class="form-control" id="prependedInput">
                                    </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                  <label class="col-form-label" for="prependedInput"><b>Cargo:</b></label>
                                  <div class="controls">
                                  <div class="input-prepend input-group">
                                  <div class="input-group-prepend">
                                  <span class="input-group-text gray-bg">
                                      <i class="fa fa-briefcase" ></i>
                                  </span>
                                  </div>
                                    <input readonly v-model="documento.data.destinatario.cargo" class="form-control" id="prependedInput">
                                  </div>
                                  </div>
                              </div>

                            </div>

                          </div>


                          <div class="tab-pane" id="show3" role="tabpanel">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label class="col-form-label" for="prependedInput"><b>Asunto:</b></label>
                                    <div class="controls">
                                    <div class="input-prepend input-group">
                                        <input readonly v-model="documento.data.asunto" id="textarea-input" name="textarea-input" rows="5" class="form-control" >
                                    </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label class="col-form-label" for="prependedInput"><b>Observaciones:</b></label>
                                          <!--<textarea readonly v-model="documento.data.observaciones" id="textarea-input" name="textarea-input" rows="5" class="form-control" ></textarea>-->
                                            <ckeditor
                                              disabled
                                              :editor="editor" 
                                              v-model="documento.data.observaciones" 
                                              :config="editorConfig">
                                            </ckeditor>
                                </div>
                            </div>
                          </div>

                          <div class="tab-pane" id="show4" role="tabpanel">
                            <div class="embed-container">
                              <iframe :src="archivo[0] != undefined ? archivo[0].url : ''" width="100%" height= "650px" :name="archivo[0] != undefined ? archivo[0].nombre : ''" allowfullscreen></iframe>
                              <!--<object :data="archivo[0] != undefined ? archivo[0].url : ''" type="application/pdf"></object>-->
                            </div>
                          </div>

                          <div class="tab-pane" id="show5" role="tabpanel">
                            <div v-if="anexos[0] == undefined"><h4>Sin anexos</h4></div>
                            <div  class="embed-container" v-else v-for="anexo in anexos" :key="anexo.id">
                              <!--<h3 style="text-align: center;" >{{anexo.nombre}}</h3>-->
                              <iframe :src="anexo.url" :name="anexo.nombre" width="100%" height= "650px" allowfullscreen ></iframe>
                              <!--<object :data="anexo.url" type="application/pdf"></object>-->
                              <!--<embed width="100%" height="100%" :src="anexo.url" type="application/pdf">-->
                              <br/>
                              <br/>
                            </div>
                          </div>



                        </div>
                      </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="closeModalDocument()">Regresar</button>
                    <!--<button type="button" class="btn btn-success" @click="closeToLink()">Vincular</button>-->
                </div>
                </div>
            </div>
        </div>


                

        <div id="ModalVincular" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"  data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header card-color-4">
                    <h5 class="modal-title " id="exampleModalCenterTitle">Vincular Documento</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="closeModalVincularDocument()">
                      <span aria-hidden="true">×</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    <form autocomplete="off" data-vv-scope="formvincular">
                      <div class="form-group row">
                      <div class="col-md-12">
                          <label class="col-form-label" for="prependedInput"><b>Destinatario:</b></label>
                          <div class="controls">
                          <div class="input-prepend input-group">
                              <multiselect 
                                v-validate="'required'" 
                                data-vv-as="Destinatario" 
                                name="destinatarioVincular" 
                                :class="errors.first('formvincular.destinatarioVincular') ? 'is-invalid': (destinatario!=null ? 'is-valid': '') "
                                :block-keys="['Delete']" 
                                style="text-transform:uppercase;" 
                                id="selectDest" 
                                v-model="destinatario"  
                                :options="encargados" 
                                value="'id'"
                                label = "responsable"
                                :internal-search="false" 
                                :preserve-search="false" 
                                :clear-on-select="true" 
                                selectLabel="Presione enter para seleccionar" 
                                deselectLabel="Presione enter para eliminar" 
                                placeholder="Selecciona un destinatario" 
                                @search-change="buscarArea"
																@close="resetOptions">
                                  <template slot="noOptions">Comience a escribir para buscar.</template>
                                  <template slot="noResult"><em style="color:red;">Si no encuentra el responsable que busca, llame a Informática</em></template>
                              </multiselect>
                              <span style="font-size: 80%; color: #f86c6b;">{{ errors.first('formvincular.destinatarioVincular') }}</span>
                              </div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="col-md-12">
                              <label class="col-form-label" for="prependedInput" ><b>Área:</b></label>
                              <div class="controls">
                              <div class="input-prepend input-group">
                              <div class="input-group-prepend">
                              <span class="input-group-text card-color-4">
                                  <i class="fa fa-building" ></i>
                              </span>
                              </div>
                              <input v-model="areadestinatario" readonly class="form-control" id="prependedInput" size="16" type="text">
                              </div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="col-md-12">
                              <label class="col-form-label" for="prependedInput"><b>Cargo:</b></label>
                              <div class="controls">
                              <div class="input-prepend input-group">
                              <div class="input-group-prepend">
                              <span class="input-group-text card-color-4">
                                  <i class="fa fa-briefcase" ></i>
                              </span>
                              </div>
                              <input v-model="cargodestinatario" readonly class="form-control" id="prependedInput" size="16" type="text">
                              </div>
                              </div>
                          </div>
                      </div>

											<div class="form-group row">
												<div class="col-md-12">
													<label class="col-form-label" for="prependedInput"><b>Con copia:</b></label>
													<br/>
													<label class="switch switch-label switch-pill switch-success">
															<input class="switch-input" type="checkbox" v-model="CC" name="copiaconocimiento" ref="copiaconocimiento">
															<span class="switch-slider" data-checked="SI" data-unchecked="NO"></span>
													</label>
												</div>
											</div>

											<div class="form-group row">
												<div class="col-md-12">
													<div class="controls" v-show="CC">
															<label for=""><b>Con copia para:</b></label>
															<div class="input-prepend input-group">
																	<multiselect 
																		v-validate="CC==true ? 'required' : ''" 
																		data-vv-as="Destinatario" 
																		name="copiaVincular" 
																		:class="errors.first('formvincular.copiaVincular') ? 'is-invalid': (destinatario!=null ? 'is-valid': '') "
																		:block-keys="['Delete']" 
																		style="text-transform:uppercase;" 
																		id="selectDest" 
																		v-model="vincular.copiaPara"  
																		:options="encargadosCopia"
																		:multiple="true" 
																		value="'id'"
																		label = "responsable"
																		:internal-search="false" 
																		:preserveSearch="false" 
																		:clearOnSelect="true" 
																		track-by="id"
																		selectLabel="Presione enter para seleccionar" 
																		deselectLabel="Presione enter para eliminar" 
																		placeholder="Selecciona un destinatario para copia"
																		@search-change="buscarAreaCopia"
																		@close="resetOptions">
																			<template slot="noOptions">Comience a escribir para buscar.</template>
																			<template slot="noResult"><em style="color:red;">Si no encuentra el responsable que busca, llame a Informática</em></template>
																	</multiselect>
															</div>
													</div>
												</div>
											</div>

                      <div class="form-group row">
                          <div class="col-md-12">
                              <label class="col-form-label" for="prependedInput"><b>Observaciones:</b></label>
                              <ckeditor 
                                v-validate="'required'" 
                                data-vv-as="Observaciones" 
                                name="observacionesVincular" 
                                :class="errors.first('formvincular.observacionesVincular') ? 'is-invalid': (vincular.observaciones!=null ? 'is-valid': '') "
                                :editor="editor" 
                                v-model="vincular.observaciones" 
                                :config="editorConfig">
                              </ckeditor>
                              <span style="font-size: 80%; color: #f86c6b;">{{ errors.first('formvincular.observacionesVincular') }}</span>
                          </div>
                      </div>

                      <div class="form-group row">
                          <div class="col-md-12">
                              <label class="col-form-label" for="prependedInput"><b>Observaciones Administrativo:</b></label>
                              <ckeditor 
                                name="observacionesAdmVincular" 
                                :editor="editor" 
                                v-model="vincular.observaciones_adm" 
                                :config="editorConfig">
                              </ckeditor>
                          </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="closeModalVincularDocument()">Regresar</button>
                      <button type="button" class="btn btn-success" @click="vincularDoc()">Vincular</button>
                  </div>
                  </div>
            </div>
        </div>

        <div id="ModalSeguimiento" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"  data-backdrop="static" data-keyboard="false">
            
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header card-color-1">
                    <h5 class="modal-title " id="exampleModalCenterTitle">Seguimiento Documento</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="closeSeguimiento()">
                      <span aria-hidden="true">×</span>
                      </button>
                  </div>

                  <div class="modal-body">
                    <div class="col-md-12">
                        <div class="row">
                                    <div style="display:inline-block;width:100%;overflow-y:auto;">
                                        <ul class="timeline timeline-horizontal " style="margin-top: 25px;">                         
                                                <template v-for="h in historial">
																									<li class="timeline-item " :key="h.id" v-if="h.estatus.nombre!='CONOCIMIENTO'">
																												<div :class="'timeline-badge '+ h.estatus.color"><i :class="'fa '+h.estatus.icono"></i></div>
																												<div :class="'timeline-panel ' +h.estatus.color">
																														<div class="timeline-heading">
																																<h4 :class="'timeline-title '+h.estatus.color">{{h.estatus.nombre}}</h4>
																																<div class="timeline-body">
																																	<div>
																																		<small class="text-muted"><i class="fa fa-calendar"></i> {{h.created_at}}</small>
																																	</div>
																																	<div>
																																		<small class="text-muted"><i class="fa fa-bars"></i> <span v-html="h.observaciones"></span></small>
																																	</div>
																																	<div>
																																		<small class="text-muted"><i class="fa fa-briefcase"></i> {{h.area.nombre}}</small>
																																	</div>
																																	<!--<small class="text-muted"><i class="fa fa-user"></i> {{h.usuario.persona.nombre}} {{h.usuario.persona.primer_apellido}} {{h.usuario.persona.segundo_apellido}}</small>
																																	<small class="text-muted"><i class="fa fa-user"></i> {{h.usuario.usuario}}</small>-->
																																</div>                                                       
																														</div>
																												</div>
																									</li>
                                                </template>
                                        </ul>
                                      </div>
                        </div>
                    </div>
                   
                  </div>

                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="closeSeguimiento()">Regresar</button>
                      <!--<button type="button" class="btn btn-success">Vincular</button>-->
                  </div>

                </div>
            </div>
        </div>

        <div id="ModalCorregir" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"  data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header text-white bg-danger">
                    <h5 class="modal-title " id="exampleModalCenterTitle">Corregir Documento</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="closeModalCorregirDocument()">
                      <span aria-hidden="true">×</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    <form autocomplete="off" data-vv-scope="formcorregir">
                      <h5>Ingrese el motivo de corrección:</h5>
                      <div class="form-group row">
                          <div class="col-md-12">
                              <label class="col-form-label" for="prependedInput"><b>Observaciones:</b></label>
                              <ckeditor 
                                v-validate="'required'" 
                                data-vv-as="Observaciones" 
                                name="observacionesCorregir" 
                                :class="errors.first('formcorregir.observacionesCorregir') ? 'is-invalid': (corregir.observaciones!=null ? 'is-valid': '') "
                                :editor="editor" 
                                v-model="corregir.observaciones" 
                                :config="editorConfig">
                              </ckeditor>
                              <span style="font-size: 80%; color: #f86c6b;">{{ errors.first('formcorregir.observacionesCorregir') }}</span>
                          </div>
                      </div>

                    </form>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="closeModalCorregirDocument()">Atrás</button>
                      <button type="button" class="btn btn-danger" @click="corregirDoc()">Enviar</button>
                  </div>
                  </div>
            </div>
        </div>

        <div id="ModalCancelar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"  data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header text-white bg-cancel">
                    <h5 class="modal-title " id="exampleModalCenterTitle">Cancelar Documento</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="closeModalCancelarDocument()">
                      <span aria-hidden="true">×</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    <form autocomplete="off" data-vv-scope="formcancelar">
                      <h5>Ingrese el motivo de cancelación:</h5>
                      <div class="form-group row">
                          <div class="col-md-12">
                              <label class="col-form-label" for="prependedInput"><b>Observaciones:</b></label>
                              <ckeditor 
                                v-validate="'required'" 
                                data-vv-as="Observaciones" 
                                name="observacionesCancelar" 
                                :class="errors.first('formcancelar.observacionesCancelar') ? 'is-invalid': (cancelar.observaciones!=null ? 'is-valid': '') "
                                :editor="editor" 
                                v-model="cancelar.observaciones" 
                                :config="editorConfig">
                              </ckeditor>
                              <span style="font-size: 80%; color: #f86c6b;">{{ errors.first('formcancelar.observacionesCancelar') }}</span>
                          </div>
                      </div>

                    </form>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="closeModalCancelarDocument()">Atrás</button>
                      <button type="button" class="btn btn-cancel" @click="cancelarDoc()">Enviar</button>
                  </div>
                  </div>
            </div>
        </div>

        
    
  </div>
</template>

<script>
import EventBUS from "../eventBUS.js";
import axios from 'axios';
import ClassicEditor from 'ckeditor5-build-classic-spanish';
import {Event} from 'vue-tables-2'
//import AgregarArea from "./AgregarArea";

export default {
  name: "Home",
  components: {
    //AgregarArea
  },
  data: () => ({
    statusarray: [],
    search: "",
    options: {
      headings: {
        //'progresivo': "#",
        "folio": "Folio",
        'numerodocumento': "Núm. Documento",
        'fechaentrada': "Fecha Entrada",
        //'fechavencimiento': 'Fecha Vencimiento',
        'asunto': 'Asunto',
        'remitente.responsable': 'Remitente',
        'remitente.area': 'Procedencia',
        'destinatario.responsable': 'Destinatario',
        'destinatario.area': 'Área',
        'estatusDoc': 'Estatus',
        'editDocument': "Opciones"
      },
      sortIcon: {
        is: "fa-sort",
        base: "fa",
        up: "fa-sort-asc",
        down: "fa-sort-desc"
      },
      texts: {
        count:
          " {from} a {to} de {count} registros|{count} Registros|1 Registro",
        first: "First",
        last: "Last",
        filter: "Filtrar:",
        filterPlaceholder: "Buscar",
        limit: "Registros:",
        page: "Pagina:",
        noResults: "No se encontraron coincidencias",
        filterBy: "Filtrar",
        loading: "Cargando...",
        defaultOption: "Seleccionar {column}",
        columns: "Columnas"
      },
      sortable: [
        "folio", 
        "numerodocumento", 
        "fechaentrada",
        'asunto',
        'remitente.responsable',
        'remitente.area',
        'destinatario.responsable',
        'destinatario.area'
        ],
      //sortable: true,
      filterable: [
        "folio", 
        "numerodocumento",
        "fechaentrada",
        'asunto',
        'remitente.responsable',
        'remitente.area',
        'destinatario.responsable',
        'destinatario.area'],
      highlightMatches: true,
      filterByColumn: true,
      //columnsDropdown: true
      customFilters: [{
          name: 'estatusDoc',
          callback: function (row, query) {
              return row.estatus.nombre == query;
          }
      }]
    },
    columns: [
      //"progresivo", 
      "folio",
      "numerodocumento", 
      "fechaentrada",
      //"fechavencimiento",
      "asunto",
      "remitente.responsable",
      "remitente.area",
      "destinatario.responsable",
      "destinatario.area",
      "estatusDoc",
      "editDocument"

      ],
    tableData: [],
    documento: {
      data:{
        asunto: '',
        contenido: '',
        destinatario: {area: '', cargo: '', responsable: '', tipo: ''},
        destinatario_id: '',
        estatus: { nombre: '' },
        estatus_id: '',
        fechaentrada:'',
        fechavencimiento: '',
        folio: '',
        numerodocumento: '',
        observaciones: '',
        progresivo: '',
        remitente: {area: '', cargo: '', responsable: '', tipo: ''},
        tipo_documento: { nombre: ''},
        es_copia_conocimiento: null,

      }
    },
		encargados: [],
		encargadosCopia: [],
    destinatario: null,
    nombredestinatario: '',
    cargodestinatario: '',
    areadestinatario: '',
    historial: null,
    editor: ClassicEditor,
    editorConfig: {
    },
    archivo: [],
    anexos: [],
    selectedEstatus: '',
    vincular: {
      areaturnado_id: null,
      id: null,
      estatus_id: null,
      observaciones: '',
			observaciones_adm: '',
			copiaPara: []
    },
    corregir:{
      areaturnado_id: null,
      id: null,
      estatus_id: null,
      observaciones: ''
    },
    cancelar:{
      areaturnado_id: null,
      id: null,
      estatus_id: null,
      observaciones: ''
		},
		CC: false

  }),
  created() {
    axios.defaults.headers.common["sicodoc-token"] = sessionStorage.getItem(
      "sicodoc_token"
    );
    EventBUS.$on("ModalAgregarDocumento:Open", () => {
      this.openModalAgregarDocumento();
    });
    EventBUS.$on("ModalAgregaDocumento:Close", () => {
      this.closeModalAgregarDocumento();
    });
  },
  mounted() {
    this.$refs.areasDoctos.setLimit(10);
    this.loadTableData();
    this.loadStatusArray();
    
    this.$nextTick(function () {
            window.setInterval(() => {
                console.log("Se recargó la página");
                this.loadTableData();
                this.loadStatusArray();
            },300000);
        });
      
  },
  methods: {

    searchquery() {
      this.$refs.areasDoctos.setFilter(this.search);
    },

    onChange(event) {
      this.$refs.areasDoctos.setLimit(event.target.value);
    },

    loadTableData(){
      axios.get('sicodoc/documentos/listaConocimiento').then(response => {
          this.tableData = response.data.data.map(item => {
          return item
          }); 
      }).catch(error => {
          console.log('No se pudo cargar la lista de documentos.');
      });
    },

    loadStatusArray(){
      axios.get('sicodoc/documentos/conteo').then(response => {
          this.statusarray = response.data.data.map(item => {
          return item
					}); 
					//console.log(this.statusarray);
      }).catch(error => {
          console.log('No se pudo cargar el arreglo de estatus.');
      });
    },

    editDocument(id){
      console.log(id);
    },

    openModalDocument(id){
      $('#ModalDocumento').modal('show');

      axios.get(`sicodoc/documentos/editar/${id}`).then(response => {
          this.documento = response.data; 
          this.documento.data.es_copia_conocimiento = {id: parseInt(this.documento.data.es_copia_conocimiento), nombre: parseInt(this.documento.data.es_copia_conocimiento) === 1 ? 'SI' : 'NO'};
      }).catch(error => {
          console.log('No se pudo cargar la información del documento.');
      });

      axios.get(`sicodoc/documentos/archivos/${id}/1`).then(response => {
          //console.log(response);
          this.archivo = response.data.data.map(item => {
          return item.archivo
          }); 
      }).catch(error => {
          console.log('No se pudo cargar el documento.');
      });

      axios.get(`sicodoc/documentos/archivos/${id}/2`).then(response => {
          //console.log(response);
          this.anexos = response.data.data.map(item => {
          return item.archivo
          }); 
      }).catch(error => {
          console.log('No se pudieron cargar los anexos del documento.');
      });


    },

    closeModalDocument() {
      $('#ModalDocumento').modal('hide');
      this.archivo = [];
      this.anexos = [];
      this.limpiarDocumento();
    },

    openModalVincularDocument(id){
      this.vincular.id=id;
      this.vincular.estatus_id='5';
      $('#ModalVincular').modal('show');
      //console.log(id);
    },

    closeModalVincularDocument() {
      this.limpiarVincular();

      $('#ModalVincular').modal('hide');
    },

    openModalCorregirDocument(id){
      this.corregir.id=id;
      this.corregir.estatus_id='4';
      this.corregir.areaturnado_id='167';
      $('#ModalCorregir').modal('show');
      //console.log(id);
    },

    closeModalCorregirDocument() {
      this.limpiarCorregir();

      $('#ModalCorregir').modal('hide');
    },

    openModalCancelarDocument(id,areaturnado_id){
      this.cancelar.id=id;
      this.cancelar.estatus_id='8';
      this.cancelar.areaturnado_id=areaturnado_id;
      $('#ModalCancelar').modal('show');
      //console.log(id);
    },

    closeModalCancelarDocument() {
      this.limpiarCancelar();

      $('#ModalCancelar').modal('hide');
    },

    openSeguimiento(hist){
      this.historial = hist.historial.map(item => { return item; });
      $('#ModalSeguimiento').modal('show');
      //console.log(this.historial);
    },

    closeSeguimiento() {
      this.historial = null;
      $('#ModalSeguimiento').modal('hide');
      //console.log(this.historial);
    },

    buscarArea(search){

      if(search.length < 3) return;
      axios.get(`/sicodoc/responsables/areas/${search}`).then(response => { 
          this.encargados = response.data.data.map(item => {
          item.responsable
          return item
          }); 
      }).catch(error => { console.log('No existe el responsable.') });
    },
		
		buscarAreaCopia(search){
			//this.encargadosCopia=['Mandos medios y superiores','Directores','Jefes de Unidad','Jefes de departamento'];
      if(search.length < 3) return;
      axios.get(`/sicodoc/responsables/areas/${search}`).then(response => { 
          this.encargadosCopia = response.data.data.map(item => {
          item.responsable
          return item
					});

					this.encargadosCopia.push(
						{"id":1001,"area_id":"1001","area":"MANDOS MEDIOS Y SUPERIORES","responsable":"MANDOS MEDIOS Y SUPERIORES","cargo":"MANDOS MEDIOS Y SUPERIORES"},
						{"id":1002,"area_id":"1002","area":"DIRECTORES","responsable":"DIRECTORES","cargo":"DIRECTORES"},
						{"id":1003,"area_id":"1003","area":"JEFES DE UNIDAD","responsable":"JEFES DE UNIDAD","cargo":"JEFES DE UNIDAD"},
						{"id":1004,"area_id":"1004","area":"JEFES DE DEPARTAMENTO","responsable":"JEFES DE DEPARTAMENTO","cargo":"JEFES DE DEPARTAMENTO"});

      }).catch(error => { console.log('No existe el responsable.') });
    },

    vincularDoc(){
            
            this.$validator.validateAll("formvincular").then(valid => {
            if(valid) {
                axios.post('sicodoc/documentos/vincular',this.vincular).then(response => {
                
                Swal.fire({
                        title: 'Espere un momento',
                        imageUrl: 'images/preloader/loading.gif',
                        html: 'Su documento se está vinculando.',
                        timer: 3000,
                        showConfirmButton: false,
                        allowOutsideClick: false
                    }
                    ).then((result) => {
                        //this.uploadFiles();
                        Swal.fire({
                            title: 'Vinculado',
                            type: 'success',
                            html: 'Su documento ha sido vinculado correctamente.',
                            confirmButtonText: 'Continuar'

                            }).then((result) => {
                                this.limpiarDocumento();
                                this.closeModalVincularDocument();
                                this.loadTableData();
                                this.loadStatusArray();
                            })       
                    });
                }).catch(error => {
                    //console.log(error);
                    Swal.fire('No se ha podido vincular el documento, verifique sus datos');
                });
            
                }
                else
                {
                    Swal.fire('Error','Existen campos no válidos','error');
                }
                });
            },
    
    corregirDoc(){
            this.$validator.validateAll("formcorregir").then(valid => {
            if(valid) {
                axios.post('sicodoc/documentos/vincular',this.corregir).then(response => {
                

                Swal.fire({
                  title: 'Enviar a corrección',
                  text: "Esta acción no se podrá deshacer",
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Sí, enviar',
                  cancelButtonText: 'Cancelar'
                }).then((result) => {
                  if (result.value) {
                    Swal.fire({
                            title: 'Espere un momento',
                            imageUrl: 'images/preloader/loading.gif',
                            html: 'Su documento se está enviando a corrección.',
                            timer: 3000,
                            showConfirmButton: false,
                            allowOutsideClick: false
                        }
                        ).then((result) => {
                            //this.uploadFiles();
                            Swal.fire({
                                title: 'Corrección',
                                type: 'success',
                                html: 'Su documento ha sido enviado a corrección.',
                                confirmButtonText: 'Continuar'

                                }).then((result) => {
                                    this.limpiarDocumento();
                                    this.closeModalCorregirDocument();
                                    this.loadTableData();
                                    this.loadStatusArray();
                                })       
                        });
                  }
                })
                
                }).catch(error => {
                    //console.log(error);
                    Swal.fire('No se ha podido enviar el documento, verifique sus datos');
                });
            
                }
                else
                {
                    Swal.fire('Error','Existen campos no válidos','error');
                }
                });
            },

    toRevisionST(id,estatus_id,areaturnado_id){
      this.vincular.areaturnado_id= areaturnado_id;
      this.vincular.id=id;
      this.vincular.estatus_id=estatus_id;
      this.vincular.observaciones='Se envía el documento a revisión';

      Swal.fire({
        title: 'Está a punto de enviar el documento a Revisión',
        text: "Esta acción no se podrá deshacer",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí, Enviar',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if(result.value){
          //axios.post(`/sicodoc/documentos/revision/${id}/${estatus_id}/${area_id}`).then(response => { 
          axios.post('sicodoc/documentos/vincular',this.vincular).then(response => {
          if (result.value) {

            Swal.fire(
              {title: 'Espere un momento',
              imageUrl: 'images/preloader/loading.gif',
              timer: 1500,
              showConfirmButton: false,
              allowOutsideClick: false}
            ).then((result) => {
              Swal.fire(
              'Enviado',
              'El documento ha sido enviado a revisión',
              'success'
              );
              this.limpiarVincular();
              this.loadTableData();
              this.loadStatusArray();}
            )
          }
          }).catch(error => { 
                  console.log('No existe el documento.');
              });
        }
      })
    },

    cancelarDoc(){
            this.$validator.validateAll("formcancelar").then(valid => {
            if(valid) {
                axios.post('sicodoc/documentos/vincular',this.cancelar).then(response => {
                

                Swal.fire({
                  title: 'Cancelar documento',
                  text: "Esta acción no se podrá deshacer",
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Sí, enviar',
                  cancelButtonText: 'Cancelar'
                }).then((result) => {
                  if (result.value) {
                    Swal.fire({
                            title: 'Espere un momento',
                            imageUrl: 'images/preloader/loading.gif',
                            html: 'Su documento se está cancelando.',
                            timer: 3000,
                            showConfirmButton: false,
                            allowOutsideClick: false
                        }
                        ).then((result) => {
                            //this.uploadFiles();
                            Swal.fire({
                                title: 'Cancelado',
                                type: 'error',
                                html: 'Su documento ha sido cancelado.',
                                confirmButtonText: 'Continuar'

                                }).then((result) => {
                                    this.limpiarDocumento();
                                    this.closeModalCancelarDocument();
                                    this.loadTableData();
                                    this.loadStatusArray();
                                })       
                        });
                  }
                })
                
                }).catch(error => {
                    //console.log(error);
                    Swal.fire('No se ha podido cancelar el documento, ingrese motivo');
                });
            
                }
                else
                {
                    Swal.fire('Error','Existen campos no válidos','error');
                }
                });
            },

    correccion(id,estatus_id,areaturnado_id){
      Swal.fire({
        title: 'Está a punto de enviar el documento a Corrección',
        text: "Esta acción no se podrá deshacer",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí, Enviar',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if(result.value){
          axios.post(`/sicodoc/documentos/correccion/${id}/${estatus_id}/${areaturnado_id}`).then(response => { 
          if (result.value) {
            Swal.fire(
              {title: 'Espere un momento',
              imageUrl: 'images/preloader/loading.gif',
              timer: 1500,
              showConfirmButton: false,
              allowOutsideClick: false}
            ).then((result) => {
              Swal.fire(
              'Enviado',
              'El documento ha sido enviado a corrección',
              'success'
              );
              this.loadTableData();
              this.loadStatusArray();}
            )
          }
          }).catch(error => { 
                  console.log('No existe el documento.');
              });
        }
      })
    },


    responder(doctoId){
      Swal.fire({
        title: 'Está a punto de dar Respuesta a este documento',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Continuar',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.value) {
          this.$router.push({ path: `documento/respuesta/${doctoId}` });
          Swal.fire({
                            title: 'Espere un momento',
                            imageUrl: 'images/preloader/loading.gif',
                            timer: 2500,
                            showConfirmButton: false,
                            allowOutsideClick: false
                            })
        }
      })
    },

    closeToLink(){
      this.closeModalDocument();
      this.openModalVincularDocument();
    },

    limpiarDocumento(){
        this.documento.data.asunto= '',
        this.documento.data.contenido= '',
        this.documento.data.destinatario.area= '', 
          this.documento.data.destinatario.cargo= '', 
          this.documento.data.destinatario.responsable= '', 
          this.documento.data.destinatario.tipo= '',
        this.documento.data.destinatario_id= '',
        this.documento.data.estatus.nombre= '',
        this.documento.data.estatus_id= '',
        this.documento.data.fechaentrada='',
        this.documento.data.fechavencimiento= '',
        this.documento.data.folio= '',
        this.documento.data.numerodocumento= '',
        this.documento.data.observaciones= '',
        this.documento.data.progresivo= '',
        this.documento.data.remitente.area= '', 
          this.documento.data.remitente.cargo= '', 
          this.documento.data.remitente.responsable= '', 
          this.documento.data.remitente.tipo= '',
        this.documento.data.tipo_documento.nombre= '',

        this.documento.data.es_copia_conocimiento= null
    },

    limpiarVincular(){
      this.destinatario=null;
      this.encargados=[];
      this.vincular= {areaturnado_id: null,id: null,estatus_id: null,copiaPara: [],observaciones: '',observaciones_adm: ''};
      this.$validator.reset("formvincular");
    },

    limpiarCorregir(){
      this.corregir= {areaturnado_id: null,id: null,estatus_id: null,observaciones: ''};
      this.$validator.reset("formcorregir");
    },

    limpiarCancelar(){
      this.cancelar= {areaturnado_id: null,id: null, estatus_id: null, observaciones: ''};
      this.$validator.reset("formcancelar");
    },

    filterStatus(estatus){
      this.selectedEstatus = estatus.nombre;
      Event.$emit('vue-tables.filter::estatusDoc', estatus);;
		},
		
		resetOptions(){
			this.encargados=[];
			this.encargadosCopia=[];
		}
  },

  watch: {
  
        'destinatario':function(){ 
            let me = this;
            if(me.destinatario != null)
            {
                me.areadestinatario = me.destinatario.area;
                me.cargodestinatario = me.destinatario.cargo;
                me.vincular.areaturnado_id = me.destinatario.area_id;
            } 
            else{
                me.areadestinatario = '';
                me.cargodestinatario = ''; 
                me.vincular.areaturnado_id = null; 
            }   
        } 
      },

  computed: {
     activeStatus: function() {
       return this.statusarray.filter(function(s) {
         return s.total>0
     })
   }}
};
</script>



<style lang="scss">
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.home {
  button.card-header-action.btn-setting {
    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .center-cl {
    text-align: center;
  }

  .md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    z-index: 9100;
    height: auto;
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .md-show {
    visibility: visible;
  }

  .md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 9000;
    opacity: 0;
    background: rgba(47, 53, 58, 0.85);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
  }

  .md-modal .md-content {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-70deg);
    -moz-transform: rotateX(-70deg);
    -ms-transform: rotateX(-70deg);
    transform: rotateX(-70deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
  }

  .md-show .md-content {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
  }

  .b-icon {
    font-size: 60px;
    color: rgba(57, 112, 165, 0.47);
  }

  .gray-bg{
    background:#5a748a; 
    color:white;
    }

    .modal-xl {
    max-width: 80% !important;
    }

    /*
    .modal {
    position: fixed !important;
    top: 10px !important;
    //bottom: auto !important;
    //bottom: auto !important;
    }*/

    .card-color-1 {
      background-color: #43b6d7 !important;
      border-color: #39b2d5 !important;
      color: #fff !important;
    }

    .card-color-2 {
      background-color: #d39e00 !important;
      border-color: #c69500 !important;
    }

    .card-color-4 {
      background-color: #3ea662 !important;
      border-color: #3a9d5d !important;
      color: #fff !important;
    }

    .timeline,
    .timeline-horizontal {
    list-style: none;
    padding: 20px;
    position: relative;
    }
    .timeline:before {
    top: 40px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
    }
    .timeline .timeline-item {
    margin-bottom: 20px;
    position: relative;
    }
    .timeline .timeline-item:before,
    .timeline .timeline-item:after {
    content: "";
    display: table;
    }
    .timeline .timeline-item:after {
    clear: both;
    }
    .timeline .timeline-item .timeline-badge {
    color: #fff;
    width: 54px;
    height: 54px;
    line-height: 52px;
    font-size: 22px;
    text-align: center;
    position: absolute;
    top: 18px;
    left: 50%;
    margin-left: -25px;
    background-color: #7c7c7c;
    border: 3px solid #ffffff;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    }
    .timeline .timeline-item .timeline-badge i,
    .timeline .timeline-item .timeline-badge .fa,
    .timeline .timeline-item .timeline-badge .glyphicon {
    top: 2px;
    left: 0px;
    }
    .timeline .timeline-item .timeline-badge.btn-primary {
    background-color: #1f9eba;
    }
    .timeline .timeline-item .timeline-badge.btn-info {
    background-color: #5bc0de;
    }
    .timeline .timeline-item .timeline-badge.btn-success {
    background-color: #59ba1f;
    }
    .timeline .timeline-item .timeline-badge.btn-warning {
    background-color: #d1bd10;
    }
    .timeline .timeline-item .timeline-badge.btn-danger {
    background-color: #ba1f1f;
    }
    .timeline .timeline-item .timeline-badge.btn-cancel {
    background-color: #ff0000;
    }
    .timeline .timeline-item .timeline-badge.btn-atended {
    background-color: #002b59;
    }
    .timeline .timeline-item .timeline-panel {
    position: relative;
    width: 46%;
    float: left;
    right: 16px;
    border: 1px solid #c0c0c0;
    background: #ffffff;
    border-radius: 2px;
    padding: 20px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    }
    .timeline .timeline-item .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -16px;
    display: inline-block;
    //border-top: 16px solid transparent;
    border-left: 16px solid #c0c0c0;
    border-right: 0 solid #c0c0c0;
    border-bottom: 16px solid transparent;
    content: " ";
    }
    .timeline .timeline-item .timeline-panel .timeline-title {
    margin-top: 0;
    color: inherit;
    }
    .timeline .timeline-item .timeline-panel .timeline-body > p,
    .timeline .timeline-item .timeline-panel .timeline-body > ul {
    margin-bottom: 0;
    }
    .timeline .timeline-item .timeline-panel .timeline-body > p + p {
    margin-top: 5px;
    }
    .timeline .timeline-item:last-child:nth-child(even) {
    float: right;
    }
    .timeline .timeline-item:nth-child(even) .timeline-panel {
    float: right;
    left: 16px;
    }
    .timeline .timeline-item:nth-child(even) .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
    }
    .timeline-horizontal {
    list-style: none;
    position: relative;
    padding: 20px 0px 20px 0px;
    display: inline-block;
    }
    .timeline-horizontal:before {
    height: 3px;
    top: auto;
    bottom: 26px;
    left: 56px;
    right: 0;
    width: 100%;
    margin-bottom: 20px;
    }
    .timeline-horizontal .timeline-item {
    display: table-cell;
    height: 200px;
    width: 20%;
    min-width: 300px;
    float: none !important;
    padding-left: 0px;
    padding-right: 20px;
    margin: 0 auto;
    vertical-align: bottom;
    }
    .timeline-horizontal .timeline-item .timeline-panel {
    top: auto;
    bottom: 64px;
    display: inline-block;
    //float: none !important;
    left: 0 !important;
    right: 0 !important;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    }
    .timeline-horizontal .timeline-item .timeline-panel:before {
    top: auto;
    bottom: -16px;
    left: 28px !important;
    right: auto;
    border-right: 16px solid transparent !important;
    //border-top: 16px solid #c0c0c0 !important;
    border-bottom: 0 solid #c0c0c0 !important;
    border-left: 16px solid transparent !important;
    }

    
    .timeline-horizontal .timeline-item:before,
    .timeline-horizontal .timeline-item:after {
    display: none;
    }
    .timeline-horizontal .timeline-item .timeline-badge {
    top: auto;
    bottom: 0px;
    left: 43px;
    }

    .info {
      color: #43b6d7 !important;
      border-color: #39b2d5 !important;
    }

    .timeline-panel.info:before {
      border-top: 16px solid #39b2d5 !important;

    }
    .warning {
      color: #d39e00 !important;
      border-color: #c69500 !important;
    }

    .timeline-panel.warning:before  {
      border-top: 16px solid #c69500 !important;
    }

    .success {
      color: #3ea662 !important;
      border-color: #3a9d5d !important;

    }
    .timeline-panel.success:before {
      border-top: 16px solid #3a9d5d !important;

    }

    .danger {
      color: #ba1f1f !important;
      border-color: #ba1f1f !important;

    }
    .timeline-panel.danger:before {
      border-top: 16px solid #ba1f1f !important;

    }

    .cancel {
      color: #ff0000 !important;
      border-color: #ff0000 !important;

    }
    .timeline-panel.cancel:before {
      border-top: 16px solid #ff0000 !important;

    }

    .atended {
      color: #002b59 !important;
      border-color: #002b59 !important;

    }
    .timeline-panel.atended:before {
      border-top: 16px solid #002b59 !important;

    }

  /*
    .embed-container {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    }

    .embed-container iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }*/

    .VueTables__child-row-toggler {
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: block;
    margin: auto;
    text-align: center;
    }
 
    .VueTables__child-row-toggler--closed::before {
        content: "\f055";
        font-family: "FontAwesome"; 
        font-weight: 900;
    }

    .VueTables__child-row-toggler--closed{
      transition:color 0.3s;
    }

    .VueTables__child-row-toggler--closed:hover {
        color: #3a9d5d;
        cursor: pointer;
    }
    
    .VueTables__child-row-toggler--open::before {
        content: "\f056";
        font-family: "FontAwesome"; 
        font-weight: 900;
    }

    .VueTables__child-row-toggler--open{
      transition:color 0.3s;
    }

    .VueTables__child-row-toggler--open:hover {
        color: #ba1f1f;
        cursor: pointer;
    }

    .btn-sm{
      margin-top: 5px;
      margin-left: 5px;
    }
    
    p{
      margin-block-end: 0.2rem !important;
      margin-block-start: 0 !important;
    }

    .bg-atended{
      background-color: #002b59 !important;
      border-color: #1f5da0 !important;
    }

    .badge-atended {
    color: #fff;
    background-color: #002b59;
    }

    .bg-cancel{
      background-color: #CD0007 !important;
    }

    .badge-cancel {
    color: #fff;
    background-color: #CD0007;
    }

    .btn-cancel{
    color: #fff;
    background-color: #CD0007;
    border-color: #CD0007;
    }

    .btn-cancel:hover{
    color: #fff;
    background-color: #AB0006;
    border-color: #AB0006;
    }

    .header-fixed {
    width: 100% 
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 550px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 20%;
    float: left;
}

.ligthgreen {
    background-color: #A0CFA8;
  }

  .timeline .timeline-item .timeline-badge.ligthgreen {
    background-color: #A0CFA8;
  }

  .ligthgreen ~ .timeline-panel {
    border: 1px solid #A0CFA8 !important;
  }
  
  .ligthgreen ~ .timeline-panel:before {
    border-top: 16px solid #A0CFA8 !important;
    border-bottom: 0 solid #A0CFA8 !important;
  }
  
  .ligthgreen ~ .timeline-panel .timeline-title {
    color: #A0CFA8 !important;
    background: none;
  }

  .green {
    background-color: green;
    color: white;
  }

  .timeline .timeline-item .timeline-badge.green {
    background-color: green;
  }

  .green ~ .timeline-panel {
    border: 1px solid green !important;
  }
  
  .green ~ .timeline-panel:before {
    border-top: 16px solid green !important;
    border-bottom: 0 solid green !important;
  }
  
  .green ~ .timeline-panel .timeline-title {
    color: green !important;
    background: none;
  }

  .cyan {
    background-color: #71DBD4;
  }

  .timeline .timeline-item .timeline-badge.cyan {
    background-color: #71DBD4;
  }

  .cyan ~ .timeline-panel {
    border: 1px solid #71DBD4 !important;
  }
  
  .cyan ~ .timeline-panel:before {
    border-top: 16px solid #71DBD4 !important;
    border-bottom: 0 solid #71DBD4 !important;
  }
  
  .cyan ~ .timeline-panel .timeline-title {
    color: #71DBD4 !important;
    background: none;
  }

  .blue {
    background-color: #74D1EA;
  }

  .timeline .timeline-item .timeline-badge.blue {
    background-color: #74D1EA;
  }

  .blue ~ .timeline-panel {
    border: 1px solid #74D1EA !important;
  }
  
  .blue ~ .timeline-panel:before {
    border-top: 16px solid #74D1EA !important;
    border-bottom: 0 solid #74D1EA !important;
  }
  
  .blue ~ .timeline-panel .timeline-title {
    color: #74D1EA !important;
    background: none;
  }

  .pink {
    background-color: #E58BAD;
  }

  .timeline .timeline-item .timeline-badge.pink {
    background-color: #E58BAD;
  }

  .pink ~ .timeline-panel {
    border: 1px solid #E58BAD !important;
  }
  
  .pink ~ .timeline-panel:before {
    border-top: 16px solid #E58BAD !important;
    border-bottom: 0 solid #E58BAD !important;
  }
  
  .pink ~ .timeline-panel .timeline-title {
    color: #E58BAD !important;
    background: none;
  }

  .red {
    background-color: #DB3762;
    color: white;
  }

  .timeline .timeline-item .timeline-badge.red {
    background-color: #DB3762;
  }

  .red ~ .timeline-panel {
    border: 1px solid #DB3762 !important;
  }
  
  .red ~ .timeline-panel:before {
    border-top: 16px solid #DB3762 !important;
    border-bottom: 0 solid #DB3762 !important;
  }
  
  .red ~ .timeline-panel .timeline-title {
    color: #DB3762 !important;
    background: none;
  }

  .salmon {
    background-color: #FF585D;
  }

  .timeline .timeline-item .timeline-badge.salmon {
    background-color: #FF585D;
  }

  .salmon ~ .timeline-panel {
    border: 1px solid #FF585D !important;
  }
  
  .salmon ~ .timeline-panel:before {
    border-top: 16px solid #FF585D !important;
    border-bottom: 0 solid #FF585D !important;
  }
  
  .salmon ~ .timeline-panel .timeline-title {
    color: #DB3762 !important;
    background: none;
  }

  .purple {
    background-color: #98579B;
    color: white;
  }

  .timeline .timeline-item .timeline-badge.purple {
    background-color: #98579B;
  }

  .purple ~ .timeline-panel {
    border: 1px solid #98579B !important;
  }
  
  .purple ~ .timeline-panel:before {
    border-top: 16px solid #98579B !important;
    border-bottom: 0 solid #98579B !important;
  }
  
  .purple ~ .timeline-panel .timeline-title {
    color: #98579B !important;
    background: none;
  }

  .orange {
    background-color: #E99C34;
  }

  .timeline .timeline-item .timeline-badge.orange {
    background-color: #E99C34;
  }

  .orange ~ .timeline-panel {
    border: 1px solid #E99C34 !important;
  }
  
  .orange ~ .timeline-panel:before {
    border-top: 16px solid #E99C34 !important;
    border-bottom: 0 solid #E99C34 !important;
  }
  
  .orange ~ .timeline-panel .timeline-title {
    color: #E99C34 !important;
    background: none;
  }

  .darkblue {
    background-color: #002b59;
    color: white;
  }

  .timeline .timeline-item .timeline-badge.darkblue {
    background-color: #002b59;
  }

  .darkblue ~ .timeline-panel {
    border: 1px solid #002b59 !important;
  }
  
  .darkblue ~ .timeline-panel:before {
    border-top: 16px solid #002b59 !important;
    border-bottom: 0 solid #002b59 !important;
  }
  
  .darkblue ~ .timeline-panel .timeline-title {
    color: #002b59 !important;
    background: none;
  }

  .mid-darkblue {
    background-color: #1B96B8;
    color: white;
  }
}
</style>