<template>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="card">
			<div class="card-header bg-white header-elements-inline">
				<h6 class="card-title">
          {{ title }}

          <div class="card-body">

            <div class="form-group">
              <label>Large select</label>
              <select class="form-control select">
                <option value="AL">Alabama</option>
              </select>
            </div>

            <div class="form-group">
              <label>Operadores de comparación:</label>
              <select class="form-control select">
                <option value="=">Igual a</option>
                <option value="!=">No igual a</option>
                <option value=">">Mayor que</option>
                <option value=">=">Mayor o igual que</option>
                <option value="<">Menor que</option>
                <option value="<=">Menor o igual que</option>
              </select>
            </div>
            
          </div>
          
        </h6>
				<div class="header-elements">
					<div class="list-icons">
						<a class="list-icons-item" data-action="collapse"></a>
						<a class="list-icons-item" data-action="reload"></a>
						<a class="list-icons-item" data-action="remove"></a>
					</div>
				</div>
			</div>
      
      <table class="table table-responsive table-hover" v-if="response">
        <thead>
          <tr v-for="(item, index) in response.data.data.data.slice(0, 1)" :key="index">
            <th :data-toggle="index === 0 ? 'true' : 'false'" v-for="(value, key) in item" :key="key">{{ getHeader(key) }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in response.data.data.data" :key="index">
            <td v-for="(value, key) in item" :key="key">{{ value }}</td>
          </tr>
        </tbody>
      </table>
    
    </div>
	</div>
</div>

</template>

<script>
export default {
    data() {
        return {
            title: '',
            url: '/agenda/api/v1/eventos',
            response: null
        }
    },
    methods: {
      getHeader: function(header) {
        let parsedHeader = '';
        let headerParts = header.split('_');

        for(let i = 0; i < headerParts.length; i++) {
          let word = this.getToUpperCase(headerParts[i]);

          if(i === 0) {
            parsedHeader += word;
          }
          else {
            parsedHeader += ' ' + word;
          }
        }

        return parsedHeader;
      },
      getToUpperCase: function(word) {
        let parsedWord = word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();

        return parsedWord;
      }
    },
    created() {
        let axiosConfig = {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin': '*'
            },
            data: {}
        };
        
        //axios.defaults.headers.common['Content-Type'] = 'application/json';
        
        axios.get(this.url + '?per_page=50', axiosConfig)
        .then((response) => {
            this.response = response;
            //console.log(response.data.data.data);
        })
        /*.then(function(response) {
            this.response = response;
            console.log(response.data);
        })
        .catch(function(error) {
            console.log(error);
        })
        .finally(function() {})*/
        ;
    }
}

/*export default {
  data() {
    return {
      title: '',
      data: null
    }
  },
  created() {
  },
  mounted() {
    let axiosConfig = {
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
        'Access-Control-Allow-Origin': '*'
      },
      data: {}
    };
    //axios.defaults.headers.common['Content-Type'] = 'application/json';
    axios.get('http://intradif.test/agenda/api/v1/eventos?filter=[{"method":"where","column":"curp","operator":"like","value":"%RARA940511%"}]', axiosConfig)
    .then(function(response) {
      console.log(response);
    })
    .catch(function(error) {
      console.log(error);
    })
    .finally(function() {});
  }
}*/

</script>