<template>
  <div class="admin-enlace">
    <div v-show="cargando" class="loader">
      <div style="width:100%;height:100%" class="lds-interwind">
        <div></div>
        <div></div>
      </div>
    </div>
    <div>
      <h2>{{datosArea.area}}</h2>
      <!-- Cards de Informacion -->
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-info card-color-1">
            <div class="card-body">
              <button class="btn btn-transparent p-0 float-right" type="button">
                <i class="fa fa-usd"></i>
              </button>
              <div v-if="2 === 1"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></div>
              <div class="text-value">{{formatPesos(datosArea.techo_presupuestal)}}</div>
              <div>Techo Presupuestal</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-info card-color-2">
            <div class="card-body">
              <button class="btn btn-transparent p-0 float-right" type="button">
                <i class="fa fa-usd"></i>
              </button>
              <div v-if="2 === 1"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></div>
              <div v-else class="text-value">{{formatPesos(total_asignaciones)}}</div>
              <div>Total Asignaciones</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-info card-color-3">
            <div class="card-body">
              <button class="btn btn-transparent p-0 float-right" type="button">
                <i class="fa fa-usd"></i>
              </button>
              <div class="text-value">{{formatPesos(total_comprobado)}}</div>
              <div>Total Comprobado</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-info card-color-4">
            <div class="card-body">
              <button class="btn btn-transparent p-0 float-right" type="button">
                <i class="fa fa-usd"></i>
              </button>
              <div v-if="2 === 1"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></div>
              <div v-else class="text-value">{{formatPesos(total_caja)}}</div>
              <div>Total Caja</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Tablas: Comprobaciones, Vales, Viaticos -->
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-accent-primary">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Listados
              <div class="card-header-actions">
                <button class="card-header-action btn-setting" @click.prevent="newComprobacion">
                  <i class="fa fa-plus-square"></i> Agregar Comprobación
                </button>
              </div>
            </div>
            <div class="card-body">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active show"
                    data-toggle="tab"
                    href="#comprobaciones"
                    role="tab"
                    aria-controls="comprobaciones"
                    aria-selected="true"
                  >Comprobaciones</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    data-toggle="tab"
                    href="#viaticos"
                    role="tab"
                    aria-controls="viaticos"
                    aria-selected="false"
                  >Viaticos</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    data-toggle="tab"
                    href="#vales"
                    role="tab"
                    aria-controls="vales"
                    aria-selected="false"
                  >Vales</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    data-toggle="tab"
                    href="#asignaciones"
                    role="tab"
                    aria-controls="asignaciones"
                    aria-selected="false"
                  >Gastos en Alimentación</a>
                </li>
              </ul>
              <!-- Datos -->
              <div class="tab-content">
                <div class="tab-pane fade active show" id="comprobaciones" role="tabpanel" aria-labelledby="comprobaciones-tab">
                  <div class="row">
										<div class="col-md-12"><br></div>
                    <div class="col-md-8"><h4></h4></div>
                    <div class="col-md-4">
                      <div>
                        <div class="input-group">
                          <input
                            class="form-control"
                            id="input-buscar"
                            type="text"
                            name="input-buscar"
                            v-model="search"
                            @input="searchquery"
                            :disabled="cargando"
                          >
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="fa fa-search"></i>&nbsp; Buscar
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <v-client-table 
                    :data="dataComprobaciones"
                    :columns="columnsTable"
                    :options="optionsTable"
                    ref="dataComprobaciones">
                    <span slot="id" slot-scope="props">{{props.index}}</span>
                    <span slot="monto" slot-scope="props">$ {{formatPesos(props.row.monto)}}</span>
                    <span slot="fecha" slot-scope="props">{{formatFecha(props.row.fecha)}}</span>
                    <span slot="estatus" slot-scope="props" :class="props.row.estatus == 'RECHAZADO'?'badge badge-danger badge-pill': props.row.estatus == 'ENVIADO A COMPROBACION' ? 'badge badge-success badge-pill':'badge badge-light badge-pill'">{{props.row.estatus}}</span>
                    <template slot="opciones" slot-scope="props">
                      <button
                        class="btn btn-brand btn-sm btn-primary"
                        type="button"
                        style="margin-bottom: 4px"
                        title="Detalle"
                        @click.prevent="$router.push({name: 'VistaComprobacion', params: { idcomprobacion: props.row.id },})"
                      >
                        <i class="fa fa-share-square-o"></i>
                      </button>
                      <button
                        v-if="props.row.estatus == 'RECHAZADO'"
                        @click="enviarComp(props.row.id)"
                        class="btn btn-brand btn-sm btn-primary"
                        type="button"
                        style="margin-bottom: 4px"
                        title="Enviar"
                      >
                        <i class="fa fa-send"></i>
                      </button>
                       
                    </template>
                  </v-client-table>
                </div>
                <div class="tab-pane fade" id="viaticos" role="tabpanel" aria-labelledby="viaticos-tab">
									<div class="row">
										<div class="col-md-12"><br></div>
                    <div class="col-md-8"><h4></h4></div>
                    <div class="col-md-4">
                      <div>
                        <div class="input-group">
                          <input
                            class="form-control"
                            id="input-buscar"
                            type="text"
                            name="input-buscar"
                            v-model="search"
                            @input="searchviaticos"
                            :disabled="cargando"
                          >
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="fa fa-search"></i>&nbsp; Buscar
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <v-client-table 
                    :data="dataViaticos"
                    :columns="columnsTable"
                    :options="optionsTable"
                    ref="dataViaticos">
                    <span slot="id" slot-scope="props">{{props.index}}</span>
                    <span slot="monto" slot-scope="props">$ {{formatPesos(props.row.monto)}}</span>
                    <span slot="fecha" slot-scope="props">{{formatFecha(props.row.fecha)}}</span>
                    <div slot="opciones" slot-scope="props">
                      <button
                        @click="detalleViaticoVale(props.row.id)"
                        class="btn btn-brand btn-sm btn-primary"
                        type="button"
                        style="margin-bottom: 4px"
                        title="Detalle"
                      >
                        <i class="fa fa-eye"></i>
                      </button>
											<button
												v-if="props.row.estatus == 'PAGADO'"
                        @click="reintegroTotal(props.row.id)"
                        class="btn btn-brand btn-sm btn-primary"
                        type="button"
                        style="margin-bottom: 4px"
                        title="Reintegro total"
                      >
                        <i class="fa fa-mail-reply"></i>
                      </button>
                      <button
												v-if="props.row.estatus != 'REINTEGRO TOTAL'"
                        @click="printPago(props.row.id,'viatico')"
                        class="btn btn-brand btn-sm btn-primary"
                        type="button"
                        style="margin-bottom: 4px"
                        title="Imprimir"
                      >
                        <i class="fa fa-print"></i>
                      </button>
											<!-- <button
												v-if="props.row.estatus != 'REINTEGRO TOTAL'"
                        @click="printOficio(props.row.id)"
                        class="btn btn-brand btn-sm btn-primary"
                        type="button"
                        style="margin-bottom: 4px"
                        title="Imprimir oficio"
                      >
                        <i class="fa fa-file-pdf-o"></i>
                      </button>
											 -->
                      <button
                        v-if="props.row.estatus == 'PAGADO' || props.row.estatus == 'RECHAZADO' && props.row.estatus != 'REINTEGRO TOTAL'"
                        class="btn btn-brand btn-sm btn-primary"
                        type="button"
                        style="margin-bottom: 4px"
                        title="Agregar facturas"
                        @click.prevent="$router.push({name: 'SubirComprobacion', params: { idpago: props.row.id },})"
                      >
                        <i class="fa fa-cloud-upload"></i>
                      </button>
                    </div>
                    <span slot="estatus" slot-scope="props" v-if="props.row.estatus == 'ENVIADO'" class="badge badge-warning badge-pill">{{props.row.estatus}}</span>
                    <span slot="estatus" slot-scope="props" v-else-if="props.row.estatus == 'PAGADO'" class="badge badge-success badge-pill">{{props.row.estatus}}</span>
                    <span slot="estatus" slot-scope="props" v-else class="badge badge-danger badge-pill">{{props.row.estatus}}</span>
                  </v-client-table>
                </div>
                <div class="tab-pane fade" id="vales" role="tabpanel" aria-labelledby="vales-tab">
									<div class="row">
										<div class="col-md-12"><br></div>
                    <div class="col-md-8"><h4></h4></div>
                    <div class="col-md-4">
                      <div>
                        <div class="input-group">
                          <input
                            class="form-control"
                            id="input-buscar"
                            type="text"
                            name="input-buscar"
                            v-model="search"
                            @input="searchvales"
                            :disabled="cargando"
                          >
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="fa fa-search"></i>&nbsp; Buscar
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <v-client-table 
                    :data="dataVales"
                    :columns="columnsTable"
                    :options="optionsTable"
                    ref="dataVales">
                    <span slot="id" slot-scope="props">{{props.index}}</span>
                    <span slot="monto" slot-scope="props">$ {{formatPesos(props.row.monto)}}</span>
                    <span slot="fecha" slot-scope="props">{{formatFecha(props.row.fecha)}}</span>
                    <div slot="opciones" slot-scope="props">
                      <button
                        @click="detalleViaticoVale(props.row.id)"
                        class="btn btn-brand btn-sm btn-primary"
                        type="button"
                        style="margin-bottom: 4px"
                        title="Detalle"
                      >
                        <i class="fa fa-eye"></i>
                      </button>
											<button
												v-if="props.row.estatus == 'PAGADO'"
                        @click="reintegroTotal(props.row.id)"
                        class="btn btn-brand btn-sm btn-primary"
                        type="button"
                        style="margin-bottom: 4px"
                        title="Reintegro total"
                      >
                        <i class="fa fa-mail-reply"></i>
                      </button>
                      <button
												
                        @click="printPago(props.row.id,'vale')"
                        class="btn btn-brand btn-sm btn-primary"
                        type="button"
                        style="margin-bottom: 4px"
                        title="Detalle"
                      >
                        <i class="fa fa-print"></i>
                      </button>
                      <button
                        v-if="props.row.estatus == 'PAGADO' || props.row.estatus == 'RECHAZADO' "
                        class="btn btn-brand btn-sm btn-primary"
                        type="button"
                        style="margin-bottom: 4px"
                        title="Agregar facturas"
                        @click.prevent="$router.push({name: 'SubirComprobacion', params: { idpago: props.row.id },})"
                      >
                        <i class="fa fa-cloud-upload"></i>
                      </button>
                    </div>
                    
                    <span slot="estatus" slot-scope="props" v-if="props.row.estatus === 'ENVIADO'" class="badge badge-warning badge-pill">{{props.row.estatus}}</span>
                    <span slot="estatus" slot-scope="props" v-else-if="props.row.estatus === 'PAGADO'" class="badge badge-success badge-pill">{{props.row.estatus}}</span>
                    <span slot="estatus" slot-scope="props" v-else class="badge badge-danger badge-pill">{{props.row.estatus}}</span>
                  </v-client-table>
                </div>
                <div class="tab-pane fade" id="asignaciones" role="tabpanel" aria-labelledby="asignaciones-tab">
									
										<div class="row">
										<div class="col-md-12"><br></div>
                    <div class="col-md-8"><h4></h4></div>
                    <div class="col-md-4">
                      <div>
                        <div class="input-group">
                          <input
                            class="form-control"
                            id="input-buscar"
                            type="text"
                            name="input-buscar"
                            v-model="search"
                            @input="searchgasto"
                            :disabled="cargando"
                          >
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="fa fa-search"></i>&nbsp; Buscar
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 <v-client-table 
                    :data="dataGastos"
                    :columns="columnsTable"
                    :options="optionsTable"
                    ref="dataGastos">
                    <span slot="id" slot-scope="props">{{props.index}}</span>
                    <span slot="monto" slot-scope="props">$ {{formatPesos(props.row.monto)}}</span>
                    <span slot="fecha" slot-scope="props">{{formatFecha(props.row.fecha)}}</span>
                    <span slot="estatus" slot-scope="props" v-if="props.row.estatus == 'ENVIADO'" class="badge badge-warning badge-pill">{{props.row.estatus}}</span>
                    <span slot="estatus" slot-scope="props" v-else-if="props.row.estatus == 'PAGADO'" class="badge badge-success badge-pill">{{props.row.estatus}}</span>
                    <span slot="estatus" slot-scope="props" v-else class="badge badge-danger badge-pill">{{props.row.estatus}}</span>
                    <div slot="opciones" slot-scope="props">
                      <button
                        @click="detalleViaticoVale(props.row.id)"
                        class="btn btn-brand btn-sm btn-primary"
                        type="button"
                        style="margin-bottom: 4px"
                        title="Detalle"
                      >
                        <i class="fa fa-eye"></i>
                      </button>
											<button
												v-if="props.row.estatus == 'PAGADO'"
                        @click="reintegroTotal(props.row.id)"
                        class="btn btn-brand btn-sm btn-primary"
                        type="button"
                        style="margin-bottom: 4px"
                        title="Reintegro total"
                      >
                        <i class="fa fa-mail-reply"></i>
                      </button>
                      <button

                        @click="printPago(props.row.id,'gasto')"
                        class="btn btn-brand btn-sm btn-primary"
                        type="button"
                        style="margin-bottom: 4px"
                        title="Detalle"
                      >
                        <i class="fa fa-print"></i>
                      </button>
                      <button
                        v-if="props.row.estatus == 'PAGADO' || props.row.estatus == 'RECHAZADO' "
                        class="btn btn-brand btn-sm btn-primary"
                        type="button"
                        style="margin-bottom: 4px"
                        title="Agregar facturas"
                        @click.prevent="$router.push({name: 'SubirComprobacion', params: { idpago: props.row.id },})"
                      >
                        <i class="fa fa-cloud-upload"></i>
                      </button>
                    </div>
                  </v-client-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{modalTitulo}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div v-if="!comprobacion">
                <div class="row">
                  <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#detalles" role="tab" aria-controls="detalles">Detalles</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#documento" role="tab" aria-controls="documento">Documento</a>
                      </li>
                    </ul>
                    <div class="tab-content">
                       <div class="tab-pane active" id="detalles" role="tabpanel">
                         <div class="row">
                           <div class="col-md-12" v-if="detalle.estatuslast.observacion != null">
                              <div class="callout callout-danger ">
                                  <h4>{{detalle.estatuslast.observacion}}</h4>
                                </div>
                              </div>
                            <div class="col-md-12 text-center"><p><b>Solicita:</b><br><i class="fa fa-male"></i> {{detalle.empleado.persona.nombre +' '+detalle.empleado.persona.primer_apellido+' '+detalle.empleado.persona.segundo_apellido }}</p></div>
                            <div class="col-md-4 text-center" ><p><b>Folio:</b> <br> {{detalle.folio}}</p></div>
                            <div class="col-md-4 text-center"><p><b>Tipo:</b> <br>{{detalle.tipo.nombre}}</p></div>
                            <div class="col-md-4 text-center"><p><b>Monto:</b><br> $ {{formatPesos(detalle.monto_total)}}</p></div>
                            <div class="col-md-4 text-center"><p><b>Fecha:</b><br><i class="fa  fa-calendar-check-o"></i> {{formatFecha(detalle.fecha_elaboracion)}}</p></div>
                            <div class="col-md-4 text-center" v-if="detalle.metodo != null"><p><b>Pago:</b> <br>{{detalle.metodo.nombre}}</p></div>
                            <div class="col-md-4 text-center"><p><b>Creado por:</b><br><i class="fa fa-user"></i> {{detalle.usuario.usuario}}</p></div>
                            <template  v-if="detalle.viatico != null">
                              <div class="col-md-4 text-center"><p><b>Fecha Salida:</b><br><i class="fa fa-calendar-plus-o"></i> {{detalle.viatico.fecha_salida}}</p></div>
                              <div class="col-md-4 text-center"><p><b>Fecha Regreso:</b><br><i class="fa fa-calendar-minus-o"></i> {{detalle.viatico.fecha_regreso}}</p></div>
                              <div class="col-md-4 text-center"><p><b>Tipo :</b><br><i class="fa fa-exchange"></i> {{detalle.viatico.tipo}}</p></div>
                              <div class="col-md-4 text-center"><p><b>Gastos alimentarios:</b><br><i class="fa fa-dollar"></i> {{detalle.viatico.gastos_alimentarios == 1 ? 'SI' :'NO'}}</p></div>
                              <div class="col-md-4 text-center"><p><b>No. Comidas:</b><br><i>#</i> {{detalle.viatico.num_comidas}}</p></div>                 
                              <div class="col-md-4 text-center"><p><b>Tipo de transporte:</b><br><i class="fa fa-car"></i></p></div>
                            </template>
                            <div class="col-md-12 text-center"><p><b>Descripción: </b><br><i class="fa fa-align-justify"></i> {{detalle.descripcion}}</p></div>
                            <div class="col-md-6 text-center"><p><b>Vo.Bo:</b><br><i class="fa fa-eye"></i> {{detalle.vobo.responsable }}</p></div>
                            <div class="col-md-6 text-center"><p><b>Autoriza: </b><br><i class="fa fa-check"></i> {{detalle.autoriza.persona.nombre +' '+detalle.autoriza.persona.primer_apellido+' '+detalle.autoriza.persona.segundo_apellido }}</p></div>
                            <div class="col-md-12 text-center"><p><b>Programa: </b><br><i class="fa fa-archive"></i> {{detalle.programa.nombre}}</p></div>
                            
                            <div class="col-md-12" v-if="detalle.viatico != null">
                              <table class="table text-center responsive">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>Partida</th>
                                      <th>Monto</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr v-for="d in detalle.detalles" :key="d.id">
                                      <td>{{d.partida.partida_especifica_c}}</td>
                                      <td>{{d.partida.partida_especifica}}</td>
                                      <td>$ {{formatPesos(d.monto)}}</td>
                                    </tr>
                                  </tbody>
                              </table>
                            </div>
                         </div>
                       </div>
                      <div class="tab-pane" id="documento" role="tabpanel">
                      <div class="row">
                        <div class="col-md-12"  v-for="d in detalle.detalles" :key="d.id">
                          <br>
                          <template v-if="d.archivos.length">
                            <div v-for="p in d.archivos" :key="p.id">
                              <p class="text-center">{{d.partida.partida_especifica}} - {{p.folio_comprobante}} - ${{formatPesos(p.importe)}}</p>
                              <iframe :src="p.url != undefined ? formatRuta(p.url) : ''" width="100%" height= "650px" ></iframe>
                            </div>
                          </template>
                          <br>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-12" v-if="detalle.metodo == null  && detalle.tipo_asignacion != 'GASTO A COMPROBAR'">
                    <form autocomplete="off" data-vv-scope="formPago">
                      <div class="row">
                        <div class="col-md-12" >
                          <label>Tipo de Pago</label>
                          <select  :class="['form-control', errors.first('formPago.pago') ? 'is-invalid' : '']"   name="pago" id="pago" v-model="pago.tipo_pago">
                            <option v-for="mp in metodosPago" :key="mp.id" :value="mp.id">{{mp.nombre}}</option>
                          </select>
                          <span class="invalid-feedback">{{ errors.first('formPago.pago') }}</span>
                        </div>
                        <template v-if="pago.tipo_pago == 2">
                          <div class="col-md-12 text-center">
                            <label>Titular</label>
                            <input type="text" name="Titular" v-model="pago.titular" :class="['form-control', errors.first('formPago.Titular') ? 'is-invalid' : '']"  >
                            <span class="invalid-feedback">{{ errors.first('formPago.Titular') }}</span>
                          </div>
                          <div class="col-md-12 text-center">
                            <label>No. Cuenta</label>
                            <input type="text" name="No_cuenta" v-model="pago.num_cuenta" :class="['form-control', errors.first('formPago.No_cuenta') ? 'is-invalid' : '']"  >
                            <span class="invalid-feedback">{{ errors.first('formPago.No_cuenta') }}</span>
                          </div>
                          <div class="col-md-12 text-center">
                            <label>Banco</label>
                            <select name="banco" id="banco" v-model ="pago.banco_id" :class="['form-control', errors.first('formPago.banco') ? 'is-invalid' : '']"  >
                              <option v-for="b in bancos" :key="b.id" :value="b.id">{{b.nombre}}</option>
                            </select>
                            <span class="invalid-feedback">{{ errors.first('formPago.banco') }}</span>
                          </div>                        
                        </template>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div v-else>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
											<div class="col-sm-5">
												<label class="col-form-label" for="tipo">Tipo:</label>
												<select name="tipo" id="tipo" class="form-control" v-model="comp.tipo">
													<option value="1">VIATICO - GASTO EN ALIMENTACION</option>
													<option value="2">VALE</option>
												</select>
												<span class="invalid-feedback">{{ errors.first('tipo') }}</span>
											</div>
											<div class="col-sm-7">
												<label class="col-form-label" for="appendedInputButton">Folio:</label>
												<multiselect v-model="select" :options="listOptions" name="Folio" label="folio" :internal-search="false" :preserve-search="false" :clear-on-select="true" @search-change="buscarFolio" selectLabel="Enter para seleccionar" deselectLabel="Enter para deseleccionar" :showNoOptions="false"></multiselect>
												<span class="invalid-feedback">{{ errors.first('Folio') }}</span>
											</div>
                      <div class="col-sm-12" v-if="select.monto > 0">
                        <br>
                        <div class="row">
                          <div class="col-md-3"><p><b>Total:</b> $ {{formatPesos(select.monto)}}</p></div>
                          <div class="col-md-6"><p><b>Nombre:</b>  {{select.solicitante}}</p></div>
                          <div class="col-md-3"><button type="button" class="btn btn-primary btn-sm" @click.prevent="addSolicitud"><i class="fa fa-plus"></i> Agregar</button></div>
                        </div>
                      </div>
                    </div>
                    <div >
                      <v-client-table 
                        :data="comp.listComprobaciones"
                        :columns="columnsTable"
                        :options="optionsTable"
                        ref="vales">
                        <span slot="id" slot-scope="props">{{props.index}}</span>
                        <span slot="monto" slot-scope="props">$ {{formatPesos(props.row.monto)}}</span>
                        <span slot="fecha" slot-scope="props">{{formatFecha(props.row.fecha)}}</span>
                        <span slot="estatus" slot-scope="props" class="badge badge-success badge-pill">{{props.row.estatus}}</span>
                        <button
                          slot="opciones"
                          slot-scope="props"
                          @click="eliminar(props.row.id)"
                          class="btn btn-brand btn-sm btn-primary"
                          type="button"
                          style="margin-bottom: 4px"
                          title="Detalle"
                        >
                          <i class="fa fa-trash"></i>
                        </button>
                      </v-client-table>
                      <div class="col-sm-12">
                        <p class="text-center">Total : $ {{formatPesos(comp.sumatoria)}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-outline pull-left btn-outline-primary"><i class="fa fa-close"></i> Salir</button>
              <template v-if="!comprobacion">
                <button type="button" class="btn btn-danger" @click.prevent="rechazar(detalle.id)" v-if="detalle.estatuslast.estado_modulo.estatus.nombre == 'ENVIADO'"><i class="fa fa-times"></i> Rechazar</button>
                <button type="button"  v-if="detalle.metodo == null && detalle.tipo_asignacion != 'GASTO A COMPROBAR'" class="btn btn-success" @click.prevent="pagar"><i class="fa fa-check"></i> Pagar</button>
                <button type="button"  v-if="detalle.tipo_asignacion == 'GASTO A COMPROBAR' && detalle.estatuslast.estado_modulo.estatus.nombre == 'ENVIADO'" class="btn btn-info" @click.prevent="printPago(detalle.id, detalle.tipo.nombre)"><i class="fa fa-check"></i> Imprimir</button>
              </template>
              <template v-else>
                <button type="button" class="btn btn-success" @click.prevent="guardarComprobacion()"><i class="fa fa-save"></i> Guardar</button>
              </template>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import toastr from 'toastr';
import jsreport from 'jsreport-browser-client-dist';
import Swal from 'sweetalert2';

export default {
  name: "AdminEnlace",
  data: () => ({
    area_id: null,
    cargando:true,
    datosArea: {},
    total_asignaciones: 0,
		total_caja: 0,
		total_comprobado:0,
    optionsTable: {
      headings: {
        id: "#",
        monto: "Monto",
        fecha: "Fecha"
      },
      sortIcon: {
        is: "fa-sort",
        base: "fa",
        up: "fa-sort-asc",
        down: "fa-sort-desc"
      },
      texts: {
        count:
          " {from} a {to} de {count} registros|{count} Registros|Un Registro",
        first: "First",
        last: "Last",
        filter: "Filtrar:",
        filterPlaceholder: "Buscar",
        limit: "Registros:",
        page: "Pagina:",
        noResults: "No se econtraron coincidencias",
        filterBy: "Filtro por {column}",
        loading: "Cargando...",
        defaultOption: "Seleccionado {column}",
        columns: "Columnas"
      },
      columnsClasses: {
        id: "center-cl"
      },
      sortable: ["folio", "monto", "fecha","viatico","solicitante","estatus"],
      filterable: ["folio", "monto", "fecha","viatico","solicitante","estatus"]
    },    
    data_Asignaciones: [],
    dataComprobaciones:[],
    columnsTable: ["folio","solicitante","estatus","monto", "fecha","opciones"],
    dataVales: [],
    dataViaticos: [],
    dataGastos: [],
    showModal:false,
    modalTitulo:"",
    comprobacion:true,
    detalle:{tipo:{},metodo:{},usuario:{},programa:{},empleado:{persona:{}},vobo:{persona:{}},autoriza:{persona:{}},viatico:{},estatuslast:{}},
    bancos:[],
    metodosPago:[],
    pago:{
      tipo_pago:"",
      banco_id:"",
      num_cuenta:"",
      titular:"",
      area_id:"",
      transferencia:false,
      pago_id:""
    },
    // comprobacion
    comp:{
      tipo:null,
      listComprobaciones:[],
      sumatoria:0,
      tipoAsignacion:null,
      usuario_id:null,
      gasto:{id:null,nombre:null}
    },
    select:{empleado:{persona:{}}},
    listOptions:[],
    tipoPago:[],
    listAsignaciones:[],
    search:null
  }),
  created(){
    axios.defaults.headers.common["bancadif-token"] = sessionStorage.getItem("bancadif_token");
    this.area_id = sessionStorage.getItem("area_id");
  },
  async mounted(){
    moment.locale('es-mx');
    axios.defaults.headers.common["bancadif-token"] = sessionStorage.getItem("bancadif_token");
    this.listaPagos();
    this.listComp();
    jsreport.serverUrl = sessionStorage.getItem('reporter_url');
  },
  watch: {
    "detalle.metodo":function(){
      if(this.detalle.metodo == null || this.detalle.metodo == {})
      {
        axios.get("/fondorotatorio/metodoPago/lista").then(r =>{this.metodosPago = r.data.data}).catch(e=>e);
        axios.get("/fondorotatorio/bancos").then(r =>{this.bancos = r.data.data}).catch(e=>e);
      }
    },
    // comprobacion
    "comp.tipo":function(){
      let me = this;
      if(me.comp.tipo != null){
        me.comp.listComprobaciones = [];
        me.listOptions = [];
        me.comp.sumatoria = 0;
      } 
    },
    "comp.tipoAsignacion":function() {
      let me = this;
      this.comp.listComprobaciones = [];
      this.comp.sumatoria = 0;
      this.comp.tipo = [];
      this.comp.gasto = {id:null,nombre:null};
      if(me.comp.tipoAsignacion == "GASTO A COMPROBAR"){
        axios.get(`/fondorotatorio/asignaciones/lista/${sessionStorage.getItem("area_id")}`).then(response => { 
          this.listAsignaciones = response.data.data;
        }).catch(error => { console.log(error) });
      }
    },
    "comp.gasto":function (){
      let me = this;
      if(me.comp.gasto.id != null)
      {
        axios.get(`/fondorotatorio/asignacionesPagos/listapagos/${me.comp.gasto.id}`).then(r => { 
          if(r.data.data.length == 0)
            return toastr.error('No se encontraron pagos', 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
          me.comp.listComprobaciones = r.data.data
          me.comp.sumatoria = me.comp.listComprobaciones.map(e => Number.parseFloat(e.monto)).reduce((valAnt,ValAct) => valAnt + ValAct);
        }).catch(error => { console.log(error) });
      }
    },
  },
  methods: {
    async listaPagos() {
      this.cargando = true;
      // se cargan los totales de cada area
      var x = await axios.get(`/fondorotatorio/areas/${this.area_id}`).then(r => r).catch(e => e);
      this.datosArea = x.data.data;
      if(this.datosArea.asignaciones.length > 0){
        this.total_asignaciones = await this.datosArea.asignaciones.map(e => Number.parseFloat(e.monto)).reduce((valAnt,ValAct,i,v) => valAnt + ValAct);
				this.total_caja = this.datosArea.saldo_disponible;
				this.total_comprobado = this.datosArea.comprobado;
        this.data_Asignaciones = this.datosArea.asignaciones.map(e=>({id:e.id,monto: Number.parseFloat(e.monto),fecha:e.fecha}));
      }
      //  fin xD
      axios.get("/fondorotatorio/pagos/areas/"+sessionStorage.getItem("area_id")).then(response => {
        if (response.status === 200) {          
          this.dataViaticos = response.data.data.viaticos;
          this.dataGastos = response.data.data.gastos;
          this.dataVales = response.data.data.vales;
        }else 
          toastr.error('No se encontraron datos', 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
        
        this.cargando = false;
      }).catch(e => {
        toastr.error(e, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
        this.cargando = false;
      });
    },
    detalleViaticoVale(id){ 
      this.cargando = true;
      this.$validator.reset();
      this.pago.tipo_pago = "";
      
      axios.get("/fondorotatorio/pagos/show/"+id).then(response => {
        if (response.status === 200){
          this.detalle = response.data.data;
          this.comprobacion = false;
          this.modalTitulo = response.data.data.tipo.nombre;
          $('#modal').modal('show');
        }
        else 
          toastr.error('No se encontraron datos', 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
        
        this.cargando = false;
      }).catch(e => {
        toastr.error(e, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
        this.cargando = false;
      });
    },
    newComprobacion(){
      this.comprobacion = true;
      this.modalTitulo = "Comprobación";
      this.tiposPago();
      this.comp = {tipo:null,listComprobaciones:[],sumatoria:0,gasto:{id:null,nombre:null},tipoAsignacion:null};
      this.$validator.reset();
      $('#modal').modal('show');
    },
    pagar(){
      this.$validator.validateAll("formPago").then((result) => {
        if(result) {
          this.pago.transferencia =this.pago.tipo_pago == 2 ? true :false;
          this.pago.area_id =sessionStorage.getItem("area_id");
          this.pago.pago_id =this.detalle.id;
          axios.post("/fondorotatorio/pagos/pagar",this.pago).then(response => {
            if (response.status === 200){
              this.listaPagos();
               toastr.success('Todu bem', 'bien', {timeOut: 5000, preventDuplicates: true,progressBar: true})
              $('#modal').modal('hide');
            }
            else 
              toastr.error('Error 2', 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
          }).catch(e => {
            toastr.error(e.response.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
          });
        }
        else
          toastr.error('Campos vacios', 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
      });
    },
    rechazar(id){
      axios.post("/fondorotatorio/pagos/rechazar",{id:id,estatus:"NUEVO"}).then(r => {
        if (r.status === 200){
          this.listaPagos();
          toastr.success('Todu bem', 'bien', {timeOut: 5000, preventDuplicates: true,progressBar: true})
          $('#modal').modal('hide');
        }
        else 
          toastr.error('Error 2', 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
      }).catch(e =>{
        toastr.error(e, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
      })
    },
    printPago(id,tipo){
      let me = this;
			me.cargando = true;
			$('#modal').modal('hide');
      axios.get("/fondorotatorio/pagos/show/"+id).then(response => {	
        let data = {
          pago: {
            folio: response.data.data.folio,
            num_viatico: '',
            descripcion:response.data.data.descripcion,
            nombre_responsable:response.data.data.asginacionpago.length ? (response.data.data.asginacionpago[0].tipo.nombre == 'GASTO A COMPROBAR' ? 'LEONIDES EMILIANO VASQUEZ  OLIVERA' : `${response.data.data.vobo.persona.nombre} ${response.data.data.vobo.persona.primer_apellido} ${response.data.data.vobo.persona.segundo_apellido}`) :`${response.data.data.vobo.persona.nombre} ${response.data.data.vobo.persona.primer_apellido} ${response.data.data.vobo.persona.segundo_apellido}`, //aqui
            nombre_solicitante:response.data.data.empleado.persona.nombre+' '+response.data.data.empleado.persona.primer_apellido+' '+response.data.data.empleado.persona.segundo_apellido,
            nivel_responsable: response.data.data.asginacionpago.length ? (response.data.data.asginacionpago[0].tipo.nombre == 'GASTO A COMPROBAR' ? 'JEFE DE UNIDAD' : response.data.data.areaFondo):response.data.data.areaFondo , //aqui
            nivel_solicitante:response.data.data.empleado.nivel.nivel,
            rfc_solicitante:response.data.data.empleado.rfc,
            area_solicitante:response.data.data.empleado.area.nombre,
            viaticos:response.data.data.detalles,
            vobo_nombre:`${response.data.data.director.nombre} ${response.data.data.director.primer_apellido} ${response.data.data.director.segundo_apellido}`,
            vobo_area:response.data.data.vobo.responsable_area,
            total:response.data.data.detalles.map(e => Number.parseFloat(e.monto)).reduce((valAnt,ValAct) => valAnt + ValAct),
            fecha:moment(response.data.data.fecha_elaboracion).format('DD [DE] MMMM [DE] YYYY').toUpperCase(),
            cantida_letras:convertir.NumerosALetras(response.data.data.monto_total),
          }
				};
				
        if(response.data.data.metodopago_id > 0 && response.data.data.metodo.nombre == 'PAGO BANCO') {
          data.pago.banco = response.data.data.empleado.tarjeta.banco.nombre;
          data.pago.tarjeta = response.data.data.empleado.tarjeta.num_tarjeta;
        }
        
        if (response.status === 200){
          var request = {
          template:{
              // shortid: "SJgqB93IAN" //fondorotatorio/pago
              shortid: parseInt(response.data.data.metodopago_id) > 0 ? response.data.data.metodo.nombre == 'PAGO CAJA' ? "B1gufHR_XH" : (response.data.data.metodo.nombre == 'PAGO BANCO' ? "ryekP7VgUS":"SJgqB93IAN" ) :"SJgqB93IAN"//fondorotatorio/ cuando no tiene en su caja / en bancos = ryekP7VgUS
          },
          header: {
              Authorization : "Basic YWRtaW46MjFxd2VydHk0Mw=="
          },
          data: data
          };
          jsreport.renderAsync(request).then((res) => {
            res.download(`Pago-${response.data.data.folio}.pdf`)
            if (tipo.toLowerCase() == 'gasto')
              me.imprimirGasto(response.data.data);
            else if(tipo.toLowerCase() == 'vale')
              me.cargando = false;
            else
              me.imprimirViatico(response.data.data);
          });
        }
        else 
          toastr.error('No se encontraron datos', 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
      }).catch(e => {
        toastr.error(e, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
        me.cargando = false;
      });
    },
    imprimirViatico(data){
      let me = this;
      let municipios = '';
      let region = '';
      let area = '';
      axios.get("/fondorotatorio/pagos/adicional/"+data.id).then(r => {
          let cuota = (r.data.data.monto / (moment(data.viatico.fecha_regreso).diff(moment(data.viatico.fecha_salida), 'days')+1));
          area = r.data.data.nuevaArea ? r.data.data.nuevaArea.nombre : data.empleado.area.nombre;
          if(data.viatico.tipo == 'ESTATAL'){
            municipios = data.viatico.estatal.map(element => element.localidad).reduce((beforeElement, afterElement)  => beforeElement + `, ${afterElement}`);
						region = data.viatico.estatal[0].municipio.distrito.region.nombre;
          }else{
            municipios = data.viatico.nacional.destinociudad;
            region = 'OTRAS CIUDADES'; //OTRAS ESTADOS
            if(cuota == 1000) region = 'OTROS ESTADOS';
          }

          let request = {	
          template:{
            shortid: 'S1egcjOBCE'
          },
          header: {
            Authorization : "Basic YWRtaW46MjFxd2VydHk0Mw=="
          },
          data:{
            folio: data.folio,
            clave: `${r.data.data.comision.clave.unidad.ur}${r.data.data.comision.clave.unidad.ue}`,
            fecha: moment(data.fecha_elaboracion).format('DD-MMMM-YYYY').toUpperCase(),
            empleado: `${data.empleado.persona.nombre} ${data.empleado.persona.primer_apellido} ${data.empleado.persona.segundo_apellido}`,
            cargo: data.empleado.nivel.nivel,
            area: area,
            municipio: municipios,
            region: region,
            objeto: data.descripcion,
            presentarse: data.viatico.presentarse,
            inicio: moment(data.viatico.fecha_salida).format('DD-MMMM-YYYY').toUpperCase(),
            fin: moment(data.viatico.fecha_regreso).format('DD-MMMM-YYYY').toUpperCase(),
            cuota: cuota,
            letra: convertir.NumerosALetras( (r.data.data.monto / (moment(data.viatico.fecha_regreso).diff(moment(data.viatico.fecha_salida), 'days')+1))).toUpperCase(),
            total: me.formatPesos(r.data.data.monto),
            letraTotal:convertir.NumerosALetras(r.data.data.monto).toUpperCase(),
            transporte: r.data.data.comision.transporte.detalle.nombre,
            placas:  r.data.data.comision.transporte.placas,
            autoriza: `${data.director.nombre} ${data.director.primer_apellido} ${data.director.segundo_apellido}`,
						direccion: data.director.cargo,
            numero: data.folio,
            dias: moment(data.viatico.fecha_regreso).diff(moment(data.viatico.fecha_salida), 'days')+1,
            rfc: data.empleado.rfc
          }
        };
        jsreport.renderAsync(request).then((res) => {
          res.download(`Viatico-${data.folio}.pdf`)
          me.cargando = false;
        });
      }).catch(e => {
        toastr.error(e, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
        this.cargando = false;
      });
    },
    imprimirGasto(data){
       let me = this;
        axios.get("/fondorotatorio/pagos/adicional/"+data.id).then(r => {
          let request = {
          template:{
            shortid: 'H1gun435xr'
          },
          header: {
            Authorization : "Basic YWRtaW46MjFxd2VydHk0Mw=="
          },
          data:{
            folio: data.folio,
            clave: `${r.data.data.comision.clave.unidad.ur}${r.data.data.comision.clave.unidad.ue}`,
            fecha: moment(data.fecha_elaboracion).format('DD-MMMM-YYYY').toUpperCase(),
            empleado: `${data.empleado.persona.nombre} ${data.empleado.persona.primer_apellido} ${data.empleado.persona.segundo_apellido}`,
            cargo: data.empleado.nivel.nivel,
            area: data.empleado.area.nombre,
            municipio: data.viatico.estatal.map(item => item.localidad).reduce((beforeElement, afterElement) =>  beforeElement + `, ${afterElement}` ),
            region: data.viatico.estatal[0].municipio.distrito.region.nombre,
            objeto: data.descripcion,
            presentarse:  data.viatico.presentarse,
            inicio: moment(data.viatico.fecha_salida).format('DD-MMMM-YYYY').toUpperCase(),
            fin: moment(data.viatico.fecha_regreso).format('DD-MMMM-YYYY').toUpperCase(),
            cuota:  me.formatPesos(r.data.data.monto),
            letra: convertir.NumerosALetras(r.data.data.monto).toUpperCase(),
            transporte: r.data.data.comision.transporte.detalle.nombre,
            placas: "",
            autoriza: `${data.director.nombre} ${data.director.primer_apellido} ${data.director.segundo_apellido}`,
						direccion: data.director.cargo,
            numero: data.folio,
            dias: moment(data.viatico.fecha_regreso).diff(moment(data.viatico.fecha_salida), 'days')+1,
            rfc: data.empleado.rfc
          }
        };
        jsreport.renderAsync(request).then((res) => {
          res.download(`Gasto-${data.folio}.pdf`)
          me.cargando = false;
        });
      }).catch(e => {
        toastr.error(e, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
        this.cargando = false;
      });
    },
    //Comprobacion     
    buscarFolio(search){
      if(search.length < 3) return;
      if(this.comp.tipo == null) return toastr.error('Seleccione tipo', 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true});
      var f = search.split("/").join("-");
      axios.get(`/fondorotatorio/pagos/buscar/${this.comp.tipo}/${f}/${sessionStorage.getItem("area_id")}`).then(response => {        
        this.listOptions = response.data.data;
      }).catch(error => { console.log(error) });
    },
    tiposPago(){
      axios.get(`/fondorotatorio/tipoPago/lista`).then(response => { 
        this.tipoPago = response.data.data.data;
      }).catch(error => { console.log(error) });
    },  
    addSolicitud(){
      let me = this;
      const resultado = me.comp.listComprobaciones.find( c => c.id === me.select.id );
      if(resultado) return toastr.warning('El Folio ya se encuentra en la lista', 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true});
      me.comp.listComprobaciones.push(me.select);
      me.select= {empleado:{persona:{}}};
      me.comp.sumatoria = me.comp.listComprobaciones.map(e => Number.parseFloat(e.monto)).reduce((valAnt,ValAct) => valAnt + ValAct);
    },
    eliminar(id){
      let me = this;
      const index = me.comp.listComprobaciones.findIndex(c => c.id === id);
      me.comp.listComprobaciones.splice(index,1);
      me.comp.sumatoria = me.comp.listComprobaciones.length ? me.comp.listComprobaciones.map(e => Number.parseFloat(e.monto)).reduce((valAnt,ValAct) => valAnt + ValAct) : 0;
    },
    guardarComprobacion(){
      let me = this;
      me.comp.usuario_id = sessionStorage.getItem("usuario_id");
      if(me.comp.listComprobaciones.length){
        axios.post(`/fondorotatorio/comprobacion/save`,me.comp).then(response => { 
          if(response.status === 200)
          {
            this.listaPagos();
            this.listComp();
            me.comp = {tipo:null,listComprobaciones:[],sumatoria:0,gasto:{id:null,nombre:null}};
            $('#modal').modal('hide');
            toastr.success('Se guado correctamente', 'Folio : '+ response.data.data.folio, {timeOut: 5000, preventDuplicates: true,progressBar: true})
          }
          else
            toastr.error(response.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
        }).catch(e => { toastr.error(e.response.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true}) });
      }
      else
        toastr.error('Lista vacia', 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true});
    },
    listComp(){
      axios.get("/fondorotatorio/comprobacion/lista/"+sessionStorage.getItem("area_id")).then(response => {
        this.dataComprobaciones = response.data.data;
        this.cargando = false;
      }).catch(e => {
        toastr.error(e, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
        this.cargando = false;
      });
    },
    enviarComp(id){
      let me = this;
      Swal.fire({
      title: 'Esta seguro?',
      text: "Se enviara la comprobación!",
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Si, enviar'
      }).then((result) => {
        if (result.value) {
          me.cargando = true;
          axios.post("/fondorotatorio/comprobacion/change",{id:id,cambio:'NUEVO'}).then(r => {
            me.cargando = false;
            if(r.status === 200)
            {
              Swal.fire('Bien','Se envio correctamente','success')
              me.listComp();
            }
            else
              Swal.fire('Error',r.data.message,'error')
          }).catch(e => {
            toastr.error(e, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
            me.cargando = false;
          });
        }
      })
		},
		reintegroTotal(id){
			let me = this;
      Swal.fire({
      title: 'Esta seguro?',
      text: "Se realizara el reintegro total",
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Si, enviar'
      }).then((result) => {
        if (result.value) {
          me.cargando = true;
          axios.put(`/fondorotatorio/pagos/reintegroT/${id}/PAGO`).then(r => {
            me.cargando = false;
            if(r.status === 200)
            {
							Swal.fire({position: 'top-end', type: 'success', title: `Se reintegro la cantidad de $ ${r.data.data.reintegro.cantidad}`, showConfirmButton: true,})
							this.listaPagos();
							let request = {
								template:{
									shortid: 'rJlvu3DvMH'
								},
								header: {
									Authorization : "Basic YWRtaW46MjFxd2VydHk0Mw=="
								},
								data:{
									folio: r.data.data.reintegro.folio,
									direccion: r.data.data.area[0].nombreD,
									empleado: r.data.data.empleado,
									area: r.data.data.areaE,
									cantidad: r.data.data.reintegro.cantidad,
									recibo: r.data.data.pago.folio,
									fecha: moment(r.data.data.pago.fecha_elaboracion).format('DD [DE] MMMM [DE] YYYY').toUpperCase(),
									total: Number(r.data.data.pago.monto_total).toFixed(2),
									responsable: r.data.data.resFondo,
									fecha_actual: moment().format('DD [DE] MMMM [DE] YYYY').toUpperCase(),
                  interno: 'INTERNO'
								}
							};
							jsreport.renderAsync(request).then((res) => {
								res.download(`Reintegro-${r.data.data.reintegro.folio}.pdf`)
							}).catch(error => { console.log(error);
								this.$notify({
									group: 'foo',
									type: 'error',
									duration: 10000,
									title: 'Ocurrio un error',
									text: `${error}`
								});
							});
            }
            else
              Swal.fire('Error',r.message,'error')
          }).catch(e => {
            toastr.error(e.response.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
            me.cargando = false;
          });
        }
      })
		},
    formatPesos(n) {
      return new Intl.NumberFormat("en-ES",{minimumFractionDigits: 2}).format(n);
    },
    formatFecha(date){
      return moment(date).format('DD/MM/YYYY');
    },
    searchquery() {
      this.$refs.dataComprobaciones.setFilter(this.search);
		},
		searchviaticos() {
      this.$refs.dataViaticos.setFilter(this.search);
		},
		searchvales() {
      this.$refs.dataVales.setFilter(this.search);
		},
		searchgasto() {
      this.$refs.dataGastos.setFilter(this.search);
    },
    formatRuta(ruta){
      return ruta.replace("public", "storage");
		},
		sumatoria(registros){
     var total = 0;
      registros.forEach(function(p) {
          p.detalles.forEach(function(a) {
             a.archivos.forEach(function(g) {
              total = total + g.importe
          });
        });
      });
    return total;
	},
	async printOficio(id){
		let me = this;
		me.cargando = true;
		var datos = await axios.get("/fondorotatorio/pagos/show/"+id).then(r => r).catch(e => ({ error : true, msg: e}) );
		if (datos.error) {
			me.cargando = false;
		} else {
			jsreport.serverUrl = 'http://187.157.97.110:3002';
			// var muni = "";
			// datos.data.data.viaticos.estatal.forEach(function(g) {
			// 	muni = `${muni},`
			// });

			var request = {
				template:{
						shortid: "SylMhokPIr"
						// shortid: "B1eKorLSLr"
				},
				header: {
						Authorization : "Basic YWRtaW46MjFxd2VydHk0Mw=="
				},
				data:{
					area: datos.data.data.areaFondo,
					asunto: 'Oficio de Comisión',
					numero_documento: datos.data.data.folio,
					fecha_documento: "Oaxaca de Juárez, Oax. a " + moment(datos.data.data.fecha_elaboracion).format('LL'),
					contenido: `Por este medio le instruyo para que se traslade al Municipio de ${ datos.data.data.viatico.estatal.map(item => item.localidad).reduce((beforeElement, afterElement) =>  beforeElement + `, ${afterElement}` )}, 
                      region ${datos.data.data.viatico.estatal[0].municipio.distrito.region.nombre}, el ${moment(datos.data.data.fecha_elaboracion).format('LL')}, ${datos.data.data.descripcion}. `,
          saludo:"Seguro de contar con su apoyo, agradezco el mismo y le envío un cordial saludo",
					destinatario:{
						nombre: `${datos.data.data.empleado.persona.nombre} ${datos.data.data.empleado.persona.primer_apellido} ${datos.data.data.empleado.persona.segundo_apellido}`,
						cargo: `${datos.data.data.empleado.nivel.nivel}`,
					},
					remitente:{
						nombre : `C. ${datos.data.data.dirArea.nombre} ${datos.data.data.dirArea.primer_apellido} ${datos.data.data.dirArea.segundo_apellido}`,
						cargo: `${datos.data.data.dirArea.cargo}`,
					},
					siaf : true,
				}
			};
			jsreport.renderAsync(request).then((res) => {
				res.download(`Oficio-${datos.data.data.folio}.pdf`)
				// res.download(`Oficio-Uno.pdf`)
				me.cargando = false;
			});
		}
		// axios.get("/fondorotatorio/pagos/show/"+id).then(r => {
		// 	console.log(r.data.data);
		// 	jsreport.serverUrl = 'http://187.157.97.110:3002';
		// 	var request = {
		// 		template:{
		// 				// shortid: "SylMhokPIr"
		// 				shortid: "B1eKorLSLr"
		// 		},
		// 		header: {
		// 				Authorization : "Basic YWRtaW46MjFxd2VydHk0Mw=="
		// 		},
		// 		data:{
		// 			area: r.data.data.areaFondo,
		// 			asunto: 'Oficio de Comisión',
		// 			numero_documento: r.data.data.folio,
		// 			fecha_documento: r.data.data.fecha_elaboracion,
		// 			contenido: r.data.data.descripcion
		// 		}
		// 	};
		// 	console.log(request.data)
		// 	jsreport.renderAsync(request).then((res) => {
		// 		// res.download(`Oficio-${data.folio}.pdf`)
		// 		res.download(`Oficio-Uno.pdf`)
		// 		me.cargando = false;
		// 	});
		// }).catch(e => {
		// 	toastr.error(e, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
		// 	me.cargando = false;
		// });
	}

		
  }
}
</script>
<style lang="scss" scoped>
.admin-enlace {
  color: black;
  button.card-header-action.btn-setting {
    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }
  .loader {
    display: flex;
    justify-content: center;
    z-index: 9999;
  }
  @keyframes lds-interwind {
      0%,
      100% {
        animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
      }
      50% {
        animation-timing-function: cubic-bezier(0, 0.2, 1, 0.8);
      }
      0% {
        -webkit-transform: rotate(0deg) translate(0, -20px) scale(0);
        transform: rotate(0deg) translate(0, -20px) scale(0);
      }
      50% {
        -webkit-transform: rotate(180deg) translate(0, -20px) scale(1);
        transform: rotate(180deg) translate(0, -20px) scale(1);
      }
      100% {
        -webkit-transform: rotate(360deg) translate(0, -20px) scale(0);
        transform: rotate(360deg) translate(0, -20px) scale(0);
      }
    }
    @-webkit-keyframes lds-interwind {
      0%,
      100% {
        animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
      }
      50% {
        animation-timing-function: cubic-bezier(0, 0.2, 1, 0.8);
      }
      0% {
        -webkit-transform: rotate(0deg) translate(0, -20px) scale(0);
        transform: rotate(0deg) translate(0, -20px) scale(0);
      }
      50% {
        -webkit-transform: rotate(180deg) translate(0, -20px) scale(1);
        transform: rotate(180deg) translate(0, -20px) scale(1);
      }
      100% {
        -webkit-transform: rotate(360deg) translate(0, -20px) scale(0);
        transform: rotate(360deg) translate(0, -20px) scale(0);
      }
    }
    div.lds-interwind {
      position: relative;
    }
    div.lds-interwind div {
      position: absolute;
      top: 70px;
      left: 70px;
      -webkit-animation: lds-interwind 1s linear infinite;
      animation: lds-interwind 1s linear infinite;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #d12654;
    }
    div.lds-interwind div:last-child {
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
      background: #98579b;
    }
    .lds-interwind {
      width: 76px !important;
      height: 76px !important;
      -webkit-transform: translate(-38px, -38px) scale(0.38)
        translate(38px, 38px);
      transform: translate(-38px, -38px) scale(0.38) translate(38px, 38px);
    }
}
</style>