<template>
  <div class="asignaciones">
    <div  v-if="datosArea === null" class="loader">
      <div style="width:100%;height:100%" class="lds-ripple">
        <div></div>
        <div></div>
      </div>
    </div>
    <div v-else>
      <h2>{{datosArea.area}}</h2>
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-info card-color-1">
            <div class="card-body">
              <button class="btn btn-transparent p-0 float-right" type="button">
                <i class="fa fa-usd"></i>
              </button>
              <div class="text-value">{{formatPesos(datosArea.techo_presupuestal)}}</div>
              <div>Techo Presupuestal</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-info card-color-2">
            <div class="card-body">
              <button class="btn btn-transparent p-0 float-right" type="button">
                <i class="fa fa-usd"></i>
              </button>
              <div v-if="cargando"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></div>
              <div v-else class="text-value">{{formatPesos(total_asignaciones)}}</div>
              <div>Total Asignaciones</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-info card-color-3">
            <div class="card-body">
              <button class="btn btn-transparent p-0 float-right" type="button">
                <i class="fa fa-usd"></i>
              </button>
              <div class="text-value"> {{formatPesos(total_comprobado)}}</div>
              <div>Total Comprobado</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-info card-color-4">
            <div class="card-body">
              <button class="btn btn-transparent p-0 float-right" type="button">
                <i class="fa fa-usd"></i>
              </button>
              <div class="text-value">{{formatPesos(saldo_diponible)}}</div>
              <div>Total Caja</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong style="color: #2f353a;">
                <i class="fa fa-address-card-o" aria-hidden="true"></i> Enlace Financiero
              </strong>
              <div class="card-header-actions">
                <button class="card-header-action btn-setting" @click="openModalAgregarAsignacion()">
                  <i class="fa fa-plus-square"></i> Agregar Asignacion
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Nombre:</span>
                      </div>
                      <input
                        class="form-control bold"
                        type="text"
                        name="username3"
                        autocomplete="name"
                        :value="datosArea.areaenlace ? datosArea.areaenlace.nombre_completo : ''"
                        disabled
                      >
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fa fa-user"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Clabe:</span>
                      </div>
                      <input
                        class="form-control bold"
                        type="text"
                        name="username3"
                        autocomplete="name"
                        :value="datosArea.areaenlace ?  datosArea.areaenlace.clabe : ''"
                        disabled
                      >
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fa fa-credit-card-alt"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Banco:</span>
                      </div>
                      <input
                        class="form-control bold"
                        type="text"
                        name="username3"
                        autocomplete="name"
                        :value="datosArea.areaenlace ? datosArea.areaenlace.banco : ''"
                        disabled
                      >
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fa fa-university"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <strong style="color: #2f353a;">
                <i class="fa fa-list" aria-hidden="true"></i> Listados
              </strong>
            </div>
            <div class="card-body">
              <ul class="nav nav-tabs" id="myTab1" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="home-tab"
                    data-toggle="tab"
                    href="#home"
                    role="tab"
                    aria-controls="home"
                    aria-selected="true"
                  >Comprobaciones</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active show"
                    id="profile-tab"
                    data-toggle="tab"
                    href="#profile"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="false"
                  >Asignaciones</a>
                </li>
              </ul>
              <div class="tab-content" id="myTab1Content">
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                </div>
                <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <v-client-table 
                  v-if="!cargando"
                    :data="data_Asignaciones"
                    :columns="columns_Asignaciones"
                    :options="options_Asignaciones"
                    ref="asignaciones">
                    <span slot="id" slot-scope="props">{{props.index}}</span>
                    <span slot="monto" slot-scope="props">$ {{formatPesos(props.row.monto)}}</span>
                    <span slot="fecha" slot-scope="props">{{formatFecha(props.row.fecha)}}</span>
                  </v-client-table>
                  <div v-else class="loader">
                    <div style="width:100%;height:100%" class="lds-ripple">
                      <div></div>
                      <div></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="md-modal" v-bind:class="{ 'md-show': showModal }">
        <div class="md-content">
          <AgregarAsignacion v-bind:id="area_fondo_id"></AgregarAsignacion>
        </div>
      </div>
      <div class="md-overlay"></div>
    </div>
    <notifications group="foo"/>
  </div>
</template>

<script>
import EventBUS from "../eventBUS.js";
import AgregarAsignacion from "./AgregarAsignacion";
import axios from "axios";
import moment from 'moment';

export default {
  name: "AdminFinancieros",
  components: {
    AgregarAsignacion
  },
  props: ['id'],
  data: () => ({
    showModal: false,
    datosArea:null,
    area_fondo_id: null,
    total_asignaciones: 0,
    cargando: false,
    options_Asignaciones: {
      headings: {
        id: "#",
        monto: "Monto",
        fecha: "Fecha"
      },
      sortIcon: {
        is: "fa-sort",
        base: "fa",
        up: "fa-sort-asc",
        down: "fa-sort-desc"
      },
      texts: {
        count:
          " {from} a {to} de {count} registros|{count} Registros|Un Registro",
        first: "First",
        last: "Last",
        filter: "Filtrar:",
        filterPlaceholder: "Buscar",
        limit: "Registros:",
        page: "Pagina:",
        noResults: "No se econtraron coincidencias",
        filterBy: "Filtro por {column}",
        loading: "Cargando...",
        defaultOption: "Seleccionado {column}",
        columns: "Columnas"
      },
      columnsClasses: {
        id: "center-cl"
      },
      sortable: ["id", "monto","tipo", "fecha"],
      filterable: ["id", "monto", "tipo","fecha"]
    },
    columns_Asignaciones: ["id", "monto","tipo", "fecha"],
		data_Asignaciones: [],
		saldo_diponible:0,
		total_comprobado:0
  }),
  async created() {
    axios.defaults.headers.common["bancadif-token"] = sessionStorage.getItem(
      "bancadif_token"
    );
    EventBUS.$on("ModalAgregarAsignacion:Open", () => {
      this.openModalAgregarAsignacion();
    });
    EventBUS.$on("ModalAgregarAsignacion:Close", () => {
      this.closeModalAgregarAsignacion();
    });
    EventBUS.$on("TotalAsignaciones:Refresh", () => {
      this.refreshAsignaciones();
    });
  },
  async mounted() {
    var x = await axios.get(`/fondorotatorio/areas/${this.id}`).then(r => r).catch(e => e);
    this.datosArea = x.data.data;
		this.area_fondo_id = x.data.data.id;
		this.saldo_diponible = x.data.data.saldo_disponible;
    if(this.datosArea.asignaciones.length > 0){
      this.total_asignaciones = await this.datosArea.asignaciones.map(e => Number.parseFloat(e.monto)).reduce((valAnt,ValAct,i,v) => valAnt + ValAct);
			this.data_Asignaciones = this.datosArea.asignaciones.map(e=>({id:e.id,monto: Number.parseFloat(e.monto),fecha:e.fecha,tipo:e.tipo.nombre}));
			this.total_comprobado =  await this.datosArea.asignaciones.map(e => e.tipo.nombre == 'RECUPERACION' ? Number.parseFloat(e.monto) : 0).reduce((valAnt,ValAct,i,v) => valAnt + ValAct);
    }
    // console.log(this.datosArea);
  },
  methods: {
    openModalAgregarAsignacion() {
      this.showModal = true;
    },
    closeModalAgregarAsignacion() {
      this.showModal = false;
    },
    formatPesos(n) {
       return new Intl.NumberFormat("en-ES",{minimumFractionDigits: 2}).format(n);
    },
    formatFecha(date){
      return moment(date).format('DD/MM/YYYY');
    },
    refreshAsignaciones() {
      this.cargando = true;
      axios.get(`/fondorotatorio/areas/${this.id}`).then( async r => {
        this.total_asignaciones = await r.data.data.asignaciones.map(e => Number.parseInt(e.monto)).reduce((valAnt,ValAct,i,v) => valAnt + ValAct);
        this.data_Asignaciones = await r.data.data.asignaciones.map(e=>({id:e.id,monto: Number.parseInt(e.monto),fecha:e.fecha,tipo:e.tipo.nombre}));
        this.cargando = false;
      }).catch(e => {console.log(e); this.cargando = false})
    }
  }
};
</script>

<style lang="scss" scoped>
.asignaciones {

  .loader {
    display: flex;
    justify-content: center;
  }

  @keyframes lds-ripple {
    0% {
      top: 92px;
      left: 92px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -4px;
      left: -4px;
      width: 192px;
      height: 192px;
      opacity: 0;
    }
  }
  @-webkit-keyframes lds-ripple {
    0% {
      top: 92px;
      left: 92px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -4px;
      left: -4px;
      width: 192px;
      height: 192px;
      opacity: 0;
    }
  }
  .lds-ripple {
    position: relative;
  }
  .lds-ripple div {
    box-sizing: content-box;
    position: absolute;
    border-width: 8px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    -webkit-animation: lds-ripple 1.1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation: lds-ripple 1.1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(1) {
    border-color: #98579b;
  }
  .lds-ripple div:nth-child(2) {
    border-color: #d12654;
    -webkit-animation-delay: -0.55s;
    animation-delay: -0.55s;
  }
  .lds-ripple {
    width: 100px !important;
    height: 100px !important;
    -webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
    transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
  }

  .bold {
    font-weight: bold !important;
  }

  color: black;
  button.card-header-action.btn-setting {
    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    z-index: 9100;
    height: auto;
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .md-show {
    visibility: visible;
  }

  .md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 9000;
    opacity: 0;
    background: rgba(47, 53, 58, 0.85);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
  }

  .md-modal .md-content {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .md-show .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
</style>

