<template>
  <div class="agregar-area">
    <div class="card">
      <div class="card-header">
        <strong style="color: #2f353a;">
          <i class="fa fa-folder" aria-hidden="true"></i> AGREGAR AREA
        </strong>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <div class="col-sm-12">
              <label for="area">Area:</label>
              <multiselect
                :class="errors.first('Area') ? 'is-invalid': ''"
                v-model="value"
                name="Area"
                :options="areas"
                label="nombre"
                deselectLabel="Eliminar"
                selectedLabel="Seleccionado"
                selectLabel="Seleccionar"
                placeholder="Elegir Area"
                :disabled="guardando"
                v-validate="'required'"
              ></multiselect>
              <span class="invalid-feedback">{{ errors.first('Area') }}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
              <label for="techo">Techo Presupuestal:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-usd"></i>
                  </span>
                </div>
                <input
                  v-model="value2"
                  :class="['form-control',errors.first('Techo Presupuestal') ? 'is-invalid': '']"
                  name="Techo Presupuestal"
                  placeholder="000,000"
                  :disabled="guardando"
                  v-validate="'required|min:2'"
                  v-money="money"
                >
              </div>
              <span class="invalid-feedback">{{ errors.first('Techo Presupuestal') }}</span>
          </div>
        </div>
      </div>
      <div class="card-footer" style="text-align: end;">
        <button class="btn btn-primary" type="submit" @click="guardar()" :disabled="guardando">
          <i v-if="guardando" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
          <i v-else class="fa fa-check"></i> Aceptar
        </button>
        <button class="btn btn-danger" type="reset" @click="closeModalAgregarArea()" :disabled="guardando">
          <i class="fa fa-times"></i> Cerrar
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import EventBUS from "../eventBUS.js";
import axios from "axios";
import {VMoney} from 'v-money'
import {Money} from 'v-money'

export default {
  name: "AgregarArea",
  components: {Money},
  data: () => ({
    areas: [],
    value: "",
    value2:"",
    money:{
      decimal: '.',
      thousands: ',',
      prefix: '',
      suffix: '',
      precision: 0,
      masked: false
    },
    datos: {
      area_id: "",
      techo_presupuestal: ""
    },
    guardando: false
  }),
  mounted() {
    this.cargarAreas();
    this.$validator.reset();
  },
  created() {
    this.datos.techo_presupuestal = "";
    axios.defaults.headers.common["bancadif-token"] = sessionStorage.getItem("bancadif_token");
  },
  methods: {
    async cargarAreas(){
      let datos = await axios.get("/fondorotatorio/areas/sinfondo").then(r => r).catch(e => e);
      if(datos.status === 200){
        this.areas = datos.data.data.areas;
      } else {
        console.log(datos);
        alert("Algo salio mal al cargar las areas");
      }
    },
    async guardar() {
      this.guardando = true;
      this.$validator.validate().then( valid => {
        if(valid){
          this.datos.area_id = this.value.id;
          this.datos.techo_presupuestal = this.value2.replace(/,/g, "");
          axios.post("/fondorotatorio/rotatorio", this.datos).then(respuesta => {
            if(respuesta.status === 200){
              this.$notify({
                group: 'foo',
                type: 'success',
                duration: 9000,
                title: 'Área Agregada',
                text: `Registro Completo.`
              });
              this.limpiar();
              this.guardando = false;
              EventBUS.$emit("TablaAreasFondo:Refresh");
            } else {
              console.log(respuesta);
              alert("Algo Salio Mal al guardar el area");
              this.guardando = false;
              this.limpiar();
            }
          }).catch(e => {this.guardando = false;console.log(e)});
        } else {
          alert('Los Datos no son validos.');
          this.guardando = false;
        }
      })
    },
    limpiar(){
      this.datos.area_id = ""; 
      this.datos.techo_presupuestal = "";
      this.value = null;
      this.value2 = null;
      this.cargarAreas();
      this.$validator.reset();
    },
    closeModalAgregarArea() {
      this.limpiar();
      EventBUS.$emit("ModalAgregarArea:Close");
    }
  },
  directives: {money: VMoney}
};
</script>
