<template>
  <div class="agregar-asignacion">
    <div class="card">
      <div class="card-header">
        <strong style="color: #2f353a;">
          <i class="fa fa-plus-square" aria-hidden="true"></i> NUEVA ASIGNACION
        </strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="techo">Monto:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-usd"></i>
                  </span>
                </div>
                <input
                  :class="['form-control',errors.first('Monto') ? 'is-invalid': '']"
                  v-model="value2"
                  class="form-control"
                  type="text"
                  :disabled="guardando"
                  v-validate="'required'"
                  v-money="money"
                  name="Monto"
                  placeholder="000,000"
                >
                <span class="invalid-feedback">{{ errors.first('Monto') }}</span>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label for="techo">Tipo:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-archive"></i>
                  </span>
                </div>
                <select name="tipo" v-validate="'required'"  :class="['form-control',errors.first('tipo') ? 'is-invalid': '']"  v-model="datos.tipo">
                  <option v-for="t in listaTipoAsignaciones" :key="t.id" :value="t.id">{{t.nombre}}</option>
                </select>
                <span class="invalid-feedback">{{ errors.first('tipo') }}</span>
              </div>
            </div>
          </div>
          <template v-if="datos.tipo == 4">
            <div class="col-sm-12" >
              <div class="form-group">
                <label for="techo">Nombre:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-archive"></i>
                    </span>
                  </div>
                  <input type="text" name="nombre" v-validate="'required'"  :class="['form-control',errors.first('nombre') ? 'is-invalid': '']"  v-model="datos.nombre">
                  <span class="invalid-feedback">{{ errors.first('nombre') }}</span>
                </div>
              </div>
            </div>

            <div class="col-sm-12" >
              <div class="form-group">
                <label for="techo">Tipo de Gasto:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-archive"></i>
                    </span>
                  </div>
                  <select name="gasto" v-validate="'required'"  :class="['form-control',errors.first('gasto') ? 'is-invalid': '']"  v-model="datos.tipo_pago">
                    <option v-for="p in tiposPagos" :key="p.id" :value="p.id">{{p.nombre}}</option>
                  </select>
                  <span class="invalid-feedback">{{ errors.first('tipo_pago') }}</span>
                </div>
              </div>
            </div>
          </template>
        </div>
      </div>
      <div class="card-footer" style="text-align: end;">
        <button class="btn btn-primary" type="submit" @click="guardar()">
          <i v-if="guardando" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
          <i v-else class="fa fa-check"></i> Aceptar
        </button>
        <button class="btn btn-danger" type="reset" @click="closeModalAgregarAsignacion()">
          <i class="fa fa-times"></i> Cerrar
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import EventBUS from "../eventBUS.js";
import axios from "axios";
import {VMoney} from 'v-money'
import {Money} from 'v-money'

export default {
  name: "AgregarAsignacion",
  components: {Money},
  props: {
    id: {
      type: Number,
      required: true
    }
  },
  data: () => ({
    datos: {
      fondorotatorioarea_id: null,
      monto: null,
      tipo:0,
      nombre:null,
      tipo_pago:null
    },
    money:{
      decimal: '.',
      thousands: ',',
      prefix: '',
      suffix: '',
      precision: 2,
      masked: false
    },
    value2:"",
    guardando: false,
    listaTipoAsignaciones:{},
    tiposPagos:{}
  }),
  mounted() {
    this.$validator.reset();
    this.listaTipos();
  },
  watch: {
    "datos.tipo":function (){
      let me = this;
      if(me.datos.tipo != null){
        axios.get('/fondorotatorio/tipoPago/lista').then(r => {          
          this.tiposPagos = r.data.data.data
        }).catch(e => {
          console.log(e);
        });
      }  
    }
  },
  methods: {
    closeModalAgregarAsignacion(){
      this.limpiar();
      EventBUS.$emit("ModalAgregarAsignacion:Close");
    },
    limpiar(){
      this.datos.monto = null;
      this.datos.tipo = null;
      this.value2 = null;
      this.$validator.reset();
    },
    guardar() {
      this.guardando = true;
      this.$validator.validate().then( valid => {
        if(valid){
          this.datos.fondorotatorioarea_id = this.id;
          this.datos.monto = this.value2.replace(/,/g, "");
          axios.post('/fondorotatorio/asignaciones',this.datos).then(r => {
            if(r.status === 200) {
              this.$notify({
                group: 'foo',
                type: 'success',
                duration: 9000,
                title: 'Asignacion Agregada',
                text: `Registro Completo.`
              });
              this.guardando = false;
              EventBUS.$emit("TotalAsignaciones:Refresh");
              this.closeModalAgregarAsignacion();
            } else {
              alert("Algo Salio Mal al guardar la asignacion");
              this.guardando = false;
            }
          }).catch(e => {
            this.guardando = false;
            console.log(e);
          });
          this.guardando = false;
        } else {
          alert('Los Datos no son validos.');
          this.guardando = false;
        }
      })
    },
    listaTipos(){
      axios.get('/fondorotatorio/tipoAsignacion/lista').then(r => {
        this.listaTipoAsignaciones = r.data.data
      }).catch(e => {
        console.log(e);
      });
    }
  },
  directives: {money: VMoney}
};
</script>

<style lang="scss" scoped>
.agregar-asignacion {
  color: black;
}
</style>


