<template>
  <div class="admin-enlace">
    <div v-show="cargando" class="loader">
      <div style="width:100%;height:100%" class="lds-interwind">
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-accent-primary">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Comprobaciones
            <!-- <div class="card-header-actions">
              <button class="card-header-action btn-setting" @click.prevent="newComprobacion">
                <i class="fa fa-plus-square"></i> Agregar Comprobación
              </button>
            </div> -->
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-8"></div>
              <div class="col-md-4">
                <div>
                  <div class="input-group">
                    <input
                      class="form-control"
                      id="input-buscar"
                      type="text"
                      name="input-buscar"
                      v-model="search"
                      @input="searchquery"
                      :disabled="cargando"
                    >
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-search"></i>&nbsp; Buscar
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
								<button class="btn btn-success" type="button"  @click="GenerarExcel()" v-if="$store.getters.has(['FINANCIERO','ADMINISTRADOR'])">
									<i class="fa fa-file-excel-o"></i>
									Exportar a Excel
								</button>
                <v-client-table 
                    :data="dataComprobaciones"
                    :columns="columnsTable"
                    :options="optionsTable"
                    ref="dataComprobaciones">
                    <span slot="id" slot-scope="props">{{props.index}}</span>
                    <span slot="monto" slot-scope="props">$ {{props.row.monto}}</span>
                    <span slot="fecha" slot-scope="props">{{formatFecha(props.row.fecha)}}</span>
                    <span slot="revision" slot-scope="props">{{formatFecha(props.row.revision)}}</span>
                    <span slot="rechazado" slot-scope="props">{{formatFecha(props.row.rechazado)}}</span>
                    <span slot="finalizado" slot-scope="props">{{formatFecha(props.row.finalizado)}}</span>
                    <span slot="estatus" slot-scope="props" :class="props.row.estatus == 'RECHAZADO'?'badge badge-danger badge-pill': props.row.estatus == 'ENVIADO A COMPROBACION' ? 'badge badge-success badge-pill':'badge badge-light badge-pill'">{{props.row.estatus}}</span>
                    <template slot="opciones" slot-scope="props">
                      <button
												v-if="props.row.tipo == 'COMPROBACION'"
                        class="btn btn-brand btn-sm btn-primary"
                        type="button"
                        style="margin-bottom: 4px"
                        title="Detalle"
                        @click.prevent="$router.push({name: 'VistaComprobacion', params: { idcomprobacion: props.row.id },})"
                      >
                        <i class="fa fa-share-square-o"></i>
                      </button>  
											<button
												v-else
												@click="detalle(props.row.id)"
												class="btn btn-brand btn-sm btn-primary"
												type="button"
												style="margin-bottom: 4px"
												title="Detalle"
											>
												<i class="fa fa-eye"></i>
                    </button>                    
                    </template>
                  </v-client-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

		<!-- Modal -->
    <div class="modal modal-primary fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#pago" role="tab" aria-controls="pago">Pago</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#detalles" role="tab" aria-controls="detalles">Detalles</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#documento" role="tab" aria-controls="documento">Documento</a>
                    </li>
										<li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#observacion" role="tab" aria-controls="documento">Obervaciones</a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="pago" role="tabpanel">
                      <div class="row">
                        <div class="col-md-3 text-center"><p><b> Fecha</b><br> <i class="fa fa-calendar"></i> {{formatFecha(pago.fecha_elaboracion)}}</p></div>
                        <div class="col-md-2 text-center"><p><b> Total</b><br> <i class="fa fa-dollar"></i> {{formatPesos(pago.monto_total)}}</p></div>
                        <div class="col-md-2 text-center"><p><b> Comprobado</b><br> <i class="fa fa-dollar"></i> {{formatPesos(sumatoria(pago.detalles))}}</p></div>
                        <div class="col-md-3 text-center"><p><b> Metodo</b><br> {{pago.metodo ? pago.metodo.nombre : ''}}</p></div>
                        <div class="col-md-2 text-center"><p><b> Tipo</b><br> {{pago.tipo.nombre}}</p></div>
                        <div class="col-md-6 text-center"><p><b> Solicitante</b><br> <i class="fa fa-user"></i> {{`${pago.empleado.persona.nombre} ${pago.empleado.persona.primer_apellido} ${pago.empleado.persona.segundo_apellido}`}}</p></div>
                        <div class="col-md-6 text-center"><p><b> Programa</b><br> <i class="fa fa-tag"></i> {{pago.programa.nombre}}</p></div>
                        <div class="col-md-6 text-center"><p><b> Autoriza</b><br> <i class="fa fa-check"></i> {{`${pago.autoriza.persona.nombre} ${pago.autoriza.persona.primer_apellido} ${pago.autoriza.persona.segundo_apellido}`}}</p></div>
                        <div class="col-md-6 text-center"><p><b> Vo.Bo.</b><br> <i class="fa fa-check-square-o"></i> {{`${pago.vobo.responsable}`}}</p></div>
                        <div class="col-md-12 text-justify"><p><b> Justificación</b><br> <i class="fa fa-file-text-o"></i> {{pago.descripcion}}</p></div>
                        <div class="col-md-12">
                          <p>Folio Trámite: <strong>{{ Array.isArray(pago.asginacionpago) && pago.asginacionpago[0].pivot.no_tramite != null ? pago.asginacionpago[0].pivot.no_tramite : 'X'}}</strong></p>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="detalles" role="tabpanel">
                      <div class="row">
                        <template v-if="pago.tipo.nombre != 'VALE'">
                          <div class="col-md-4 text-center"><p><b> Tipo</b><br> <i class="fa fa-map-o"></i> {{pago.viatico.tipo}}</p></div>
                          <div class="col-md-4 text-center"><p><b> Salida</b><br> <i class="fa fa-calendar-plus-o"></i> {{formatFecha(pago.viatico.fecha_salida)}}</p></div>
                          <div class="col-md-4 text-center"><p><b> Regreso</b><br> <i class="fa fa-calendar-minus-o"></i> {{formatFecha(pago.viatico.fecha_regreso)}}</p></div>
                          <div class="col-md-6 text-center"><p><b> Num. Comidas</b><br> <i class="fa fa-calendar-minus-o"></i> {{pago.viatico.num_comidas}}</p></div>
                          <div class="col-md-6 text-center"><p><b> Gastos Alimentarios</b><br> <i class="fa fa-dollar"></i> {{formatPesos(pago.viatico.gastos_alimentarios)}}</p></div>
                        </template>
                        <div class="col-md-12">
                          <table class="table text-center responsive">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Partida</th>
                                <th>Monto</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="d in pago.detalles" :key="d.id">
                                <td>{{d.partida.partida_especifica_c}}</td>
                                <td>{{d.partida.partida_especifica}}</td>
                                <td>$ {{formatPesos(d.monto)}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="documento" role="tabpanel">
                      <div class="row">
                        <div class="col-md-12" v-for="d in pago.detalles" :key="d.id">
                          <br>
                          <template v-if="d.archivos.length">
                            <div v-for="p in d.archivos" :key="p.id">
                              <p class="text-center">{{d.partida.partida_especifica}} - {{p.folio_comprobante}} - ${{formatPesos(p.importe)}}</p>
                              <iframe :src="p.url != undefined ? formatRuta(p.url) : ''" width="100%" height= "650px" ></iframe>
                            </div>
                          </template>
                          <br>
                        </div>
                      </div>
                    </div>
										 <div class="tab-pane" id="observacion" role="tabpanel">
                      <div class="row">
                        <div class="col-md-12">
													<br>
													<p v-for="o in pago.observaciones" :key="o.id"><b>Observación:</b>  {{o.observacion}} <b>Fecha: </b>{{formatFecha(o.fecha)}} </p>
                          <br>
                        </div>
                      </div>
                    </div>
                  </div>
									<div>
										<br>
										<button class="btn btn-sm btn-primary" type="button" @click.prevent="changeStatus('REVISION')" v-if="pago.estatuslast.estado_modulo.estatus.nombre == 'PRE-COMPROBADO'">REVISION</button>
										<button class="btn btn-sm btn-primary" type="button" @click.prevent="rechazar(pago.id, pago.folio)" v-if="pago.estatuslast.estado_modulo.estatus.nombre == 'REVISION'">RECHAZAR</button>
										<button class="btn btn-sm btn-primary" type="button" @click.prevent="changeStatus('FINALIZADO')" v-if="pago.estatuslast.estado_modulo.estatus.nombre == 'REVISION'">FINALIZADO</button>
                    <button class="btn btn-sm btn-success" type="button" @click.prevent="crearTramite" v-if="pago.estatuslast.estado_modulo.estatus.nombre == 'FINALIZADO' && pago.estatuslast.estado_modulo.estatus.nombre != 'TRÁMITE CREADO'">
                      <template v-if="siaf">
                        <i class="fa fa-spinner fa-pulse fa-fw"></i>
                        <span class="sr-only">Cargando...</span>
                      </template>
                      <span v-else>Crear Trámite SIAF</span>
                    </button>
									</div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  <!-- Fin modal -->

  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import toastr from "toastr";
import Swal from "sweetalert2";
import jsreport from "jsreport-browser-client-dist";
export default {
  name: "ComprobacionFinancieros",
  props: ["tipo"],
  data: () => ({  
    area_id: null,
    cargando:true,
    datosArea: {},
    total_asignaciones: 0,
    total_caja: 0,
    search:null,
    optionsTable: {
      headings: {
        id: "#",
        monto: "Monto",
        fecha: "Fecha"
      },
      sortIcon: {
        is: "fa-sort",
        base: "fa",
        up: "fa-sort-asc",
        down: "fa-sort-desc"
      },
      texts: {
        count:
          " {from} a {to} de {count} registros|{count} Registros|Un Registro",
        first: "First",
        last: "Last",
        filter: "Filtrar:",
        filterPlaceholder: "Buscar",
        limit: "Registros:",
        page: "Pagina:",
        noResults: "No se econtraron coincidencias",
        filterBy: "Filtro por {column}",
        loading: "Cargando...",
        defaultOption: "Seleccionado {column}",
        columns: "Columnas"
      },
      columnsClasses: {
        id: "center-cl"
      },
      sortable: ["folio", "monto", "fecha","viatico","solicitante","estatus","reintegro","saldo"],
      filterable: ["folio", "monto", "fecha","viatico","solicitante","estatus","reintegro","saldo"]
    }, 
    columnsTable: ["folio","solicitante","estatus","monto","reintegro","saldo" ,"fecha","revision","rechazado","finalizado","opciones"],
		dataComprobaciones:[],
		pago:{metodo:{},tipo:{},empleado:{persona:{}},programa:{},autoriza:{persona:{}},vobo:{persona:{}},viatico:{},detalle:{},archivos:{},estatuslast:{estado_modulo:{estatus:{}}}},    
		titulo:'',
    siaf: false,
    tramite: null
  }),
  computed: {
    
  },
  created(){
    axios.defaults.headers.common["bancadif-token"] = sessionStorage.getItem("bancadif_token");
    this.area_id = sessionStorage.getItem("area_id");
  },
  mounted(){
    jsreport.serverUrl = sessionStorage.getItem('reporter_url');
    this.listComp(this.tipo);
  },
  watch: {
    tipo(val){
      this.dataComprobaciones = [];
      this.listComp(this.tipo);
    }
  },
  methods: {
    listComp(tipo){
       axios.get(`/fondorotatorio/comprobacion/${tipo}/list`).then(response => {
        this.dataComprobaciones = response.data.data;
        this.cargando = false;
      }).catch(e => {
        toastr.error(e, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
        this.cargando = false;
      });
		},
		detalle(id){
      let me = this;
      me.cargando=true;
      this.tramite = null;
      axios.get(`/fondorotatorio/pagos/show/${id}`).then(r => {
        me.pago = r.data.data
        me.titulo = `Folio: ${me.pago.folio}`;
        me.cargando = false;
        $('#modal').modal('show');
      }).catch(e => {
        toastr.error(e.response.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
        me.cargando = false;
      })
		},
		changeStatus(status){
      let me = this;
      Swal.fire({
        title: 'Estas seguro',
        text:  `Enviar el pago a: ${status}`,
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si'
      }).then((result) => {
        if (result.value) {
          this.cargando =true;
          axios.put(`/fondorotatorio/comprobacion/cambioestado/${me.pago.id}/${status}`).then(r => {
            this.cargando = false;
						this.listComp();
						$('#modal').modal('hide');
						return toastr.success(r.data.message, 'Bien', {timeOut: 5000, preventDuplicates: true,progressBar: true})
         
          }).catch(e => {
						toastr.error(e.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
            this.cargando = false;
          })
        }
      })  
    },
    formatPesos(n) {
      return new Intl.NumberFormat("en-ES").format(n);
    },
    formatFecha(date){
      return date ? moment(date).format('DD/MM/YYYY') : '';
    },
    searchquery() {
      this.$refs.dataComprobaciones.setFilter(this.search);
		},
		formatRuta(ruta){
      return ruta.replace("public", "storage");
		},
		GenerarExcel() {
			let me = this;
			this.cargando =true;
			var data = {};
			data.titulo ="Gastos por Comprobar",
			data.subtitulo= "Listado de pagos",
			data.cabeceras=Object.keys(this.$refs.dataComprobaciones.allFilteredData[0]).map(e=>e.replace("_"," ")).map(e=>e.toUpperCase());
			data.datos=this.$refs.dataComprobaciones.allFilteredData.map(e=>Object.values(e));
			jsreport.serverUrl = 'http://187.157.97.110:3001';
			var request = {
				template:{
						shortid: "HJ5VttAyS"
				},
				data: data
			};
			jsreport.renderAsync(request).then(function(res) {
				res.download(`REPORTE.xlsx`)
				me.cargando = false;
			});
		},
		async rechazar(id,folio){
			$('#modal').modal('hide');
      let me = this;
      const {value: text} = await Swal.fire({
        title:  `Estas seguro de rechazar el folio ${folio}?`,
        input: 'textarea',
        inputPlaceholder: 'Motivo de la cancelacion',
        showCancelButton: true
      });
      if (text) {
        // Swal.fire(text)
        me.cargando = true;
        axios.post(`/fondorotatorio/pagos/rechazar`,{id:id,estatus:"RECHAZADO",comentario:text}).then(r => {
          me.listComp();
          toastr.success(r.data.data.folio, 'Bien', {timeOut: 5000, preventDuplicates: true,progressBar: true})
          me.cargando = false;
        }).catch(e => {
          toastr.error(e.response.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
          me.cargando = false;
        })
      }      
    },
    reemplazarAcentos(cadena){
      var chars={
        "á":"%", "é":"%", "í":"%", "ó":"%", "ú":"%",
        "à":"%", "è":"%", "ì":"%", "ò":"%", "ù":"%", "ñ":"%",
        "Á":"%", "É":"%", "Í":"%", "Ó":"%", "Ú":"%",
        "À":"%", "È":"%", "Ì":"%", "Ò":"%", "Ù":"%", "Ñ":"%"}
      var expr=/[áàéèíìóòúùñ]/ig;
      var res = cadena.replace(expr,function(e){return chars[e]});
      return res;
    },
    crearTramite() {
      this.siaf = true;
      let data = {
        comprobacion_id: this.idcomprobacion,
        tipoarea_id: 1,
        area: this.reemplazarAcentos(this.pago.areaFondo),
        importe: this.pago.monto_total,
        foliocomprobacion: this.pago.folio,
        pago_id: this.pago.id
      };
      axios.post('fondorotatorio/comprobacion/creartramitegasto', data).then(response => {
        this.pago.estatuslast = response.data.data.pago.estatuslast;
        this.pago.asignacionpago[0].pivot.no_tramite = response.data.data.Cp_Ind;
        toastr.success('Trámite creado correctamente', 'Great!', {timeOut: 5000, preventDuplicates: true, progressBar: true});
        this.siaf = false;
      }).catch(error => {
        toastr.error(`Algo salio mal. Error ${error.response.status}`, 'Error', {timeOut: 5000, preventDuplicates: true, progressBar: true});
        this.siaf = false;
        console.log(error)
      })
    },
    sumatoria(registros){
     var total = 0;
          
     if(registros){
      if(registros.length <= 0 ) return 0;
		 	let suma = 0;
			for(let r = 0; r < registros.length; r++){
				for(let j = 0; j < registros[r].archivos.length; j++) {
					suma += parseFloat(registros[r].archivos[j].importe);
				}
			}
     return suma;
     }
    },
  },

}
</script>

<style lang="scss" scoped>
.admin-enlace {
  color: black;
  button.card-header-action.btn-setting {
    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .loader {
    display: flex;
    justify-content: center;
    z-index: 9999;
  }

  @keyframes lds-interwind {
      0%,
      100% {
        animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
      }
      50% {
        animation-timing-function: cubic-bezier(0, 0.2, 1, 0.8);
      }
      0% {
        -webkit-transform: rotate(0deg) translate(0, -20px) scale(0);
        transform: rotate(0deg) translate(0, -20px) scale(0);
      }
      50% {
        -webkit-transform: rotate(180deg) translate(0, -20px) scale(1);
        transform: rotate(180deg) translate(0, -20px) scale(1);
      }
      100% {
        -webkit-transform: rotate(360deg) translate(0, -20px) scale(0);
        transform: rotate(360deg) translate(0, -20px) scale(0);
      }
    }
    @-webkit-keyframes lds-interwind {
      0%,
      100% {
        animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
      }
      50% {
        animation-timing-function: cubic-bezier(0, 0.2, 1, 0.8);
      }
      0% {
        -webkit-transform: rotate(0deg) translate(0, -20px) scale(0);
        transform: rotate(0deg) translate(0, -20px) scale(0);
      }
      50% {
        -webkit-transform: rotate(180deg) translate(0, -20px) scale(1);
        transform: rotate(180deg) translate(0, -20px) scale(1);
      }
      100% {
        -webkit-transform: rotate(360deg) translate(0, -20px) scale(0);
        transform: rotate(360deg) translate(0, -20px) scale(0);
      }
    }
    div.lds-interwind {
      position: relative;
    }
    div.lds-interwind div {
      position: absolute;
      top: 70px;
      left: 70px;
      -webkit-animation: lds-interwind 1s linear infinite;
      animation: lds-interwind 1s linear infinite;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #d12654;
    }
    div.lds-interwind div:last-child {
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
      background: #98579b;
    }
    .lds-interwind {
      width: 76px !important;
      height: 76px !important;
      -webkit-transform: translate(-38px, -38px) scale(0.38)
        translate(38px, 38px);
      transform: translate(-38px, -38px) scale(0.38) translate(38px, 38px);
    }
}
</style>