<template>
  <div class="consulta-tramites row">
    
    <div class="modal fade" id="reintegroModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Crear reintegro</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <form action="#" @submit.prevent="crearReintegro">
            <div class="modal-body">
              <div class="col-sm-12 col-md-6">
                <label for="Folio">Folio Pago</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-dif text-white">
                      <i class="fa fa-hashtag"></i>
                    </span>
                  </div>
                  <input class="form-control" type="text" v-model="reintegro.folio" name="Folio" v-validate="'required'">
                </div>
              </div>
              <div class="col-sm-6">
                <label for="area">Cantidad:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-dif text-white">
                      <i class="fa fa-file-text-o"></i>
                    </span>
                  </div>
                  <input class="form-control" type="text" v-model="reintegro.cantidad" name="Cantidad" v-validate="'required'">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
              <button class="btn btn-success" type="submit">Crear</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="editarPago" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true" v-if="tipopago == 1">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Editar {{tipopago == 1 ? 'Viático' : 'Trámite'}}</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <form action="#" @submit.prevent="editarTramite">
            <div class="modal-body">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-12">
                    <label for="area">Empleado:</label>
                    <multiselect 
                      :class="errors.first('Empleado') ? 'is-invalid': ''" 
                      v-model="empleado"
                      :options="empleados"
                      value="'id'"
                      label="nombre_completo"
                      name="Empleado"
                      v-validate="'required'"
                      :internal-search="false"
                      :preserve-search="false"
                      :clear-on-select="true"
                      @search-change="buscarEmpleado"
                      :block-keys="['Delete']"
                      placeholder="Selecciona">
                        <template slot="noOptions">Comience a escribir para buscar.</template>
                        <template slot="noResult"><em style="color:red;">Si no encuentra el empleado, agreguelo</em></template>
                      </multiselect>
                    <span class="invalid-feedback">{{ errors.first('Empleado') }}</span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12 col-md-6">
                  <label for="col-form-label">Fecha de Salida</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-dif text-white">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                    <input class="form-control" type="text" v-model="nuevosDatos.fechaSalidaAnterior" disabled>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <label for="col-form-label">Fecha de Regreso</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-dif text-white">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                    <input class="form-control" type="text" v-model="nuevosDatos.fechaRegresoAnterior" disabled>
                    <input type="hidden" v-model="numDiasNuevo" name="Dias" v-validate="'required|numeric|min_value:1'">
                  </div>
                </div>
                <div class="col-sm-3"></div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <label for="">Nueva Fecha</label>
                  <datepicker :language="es" v-model="nuevosDatos.fechaSalida" name="Fecha Salida" v-validate="'required'"></datepicker>
                  <span class="invalid-feedback">{{ errors.first('Fecha Salida') }}</span>
                </div>
                <div class="col-sm-12 col-md-6">
                  <label for="">Nueva Fecha</label>
                  <datepicker :language="es" v-model="nuevosDatos.fechaRegreso" name="Fecha Regreso" v-validate="'required'"></datepicker>
                  <span class="invalid-feedback">{{ errors.first('Fecha Regreso') }}</span>
                  <span class="invalid-feedback">{{ errors.first('Dias') }}</span>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm-12">
                  <h3>Gastos</h3>
                </div>
                <div class="col-sm-12">
                  <table v-if="pago != null && pago.detalles.length > 0" class="table">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th># Partida</th>
                        <th>Descripción</th>
                        <th>Monto ($)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="detalle in detallePago" :key="detalle.id">
                        <td>{{detalle.id}}</td>
                        <td>{{detalle.partida.partida_especifica_c}}</td>
                        <td>{{detalle.partida.partida_especifica}}</td>
                        <td><input type="text" v-model="detalle.monto" :disabled="detalle.partida_id == 121"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" @click.prevent="cerrarEditarModal">Cerrar</button>
              <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Modificar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="card">
        <div class="card-header"><i class="fa fa-check"></i>TRÁMITES DE {{tipo}} </div>
        <div class="card-body">
          <div v-show="cargando" class="loader">
            <div style="width:100%;height:100%" class="lds-interwind">
              <div></div>
              <div></div>
            </div>
          </div>
          <v-client-table :data="pagos" :columns="columnas" :options="options" v-show="!cargando">
            <span slot="fecha_elaboracion" slot-scope="props" v-if="!props.row.edit">
              {{props.row.fecha_elaboracion}}
            </span>
            <div slot="fecha_elaboracion" slot-scope="props" v-else>
              <div class="input-group">
                <input class="form-control" id="input2-group2" type="text" placeholder="YYYY-MM-DD" v-model="nuevaFecha">
                <span class="input-group-append">
                  <button class="btn btn-primary" type="button" @click.prevent="enviarFecha(props.row)">
                    <i class="fa fa-check"></i>
                  </button>
                </span>
              </div>
            </div>
            <span :class="['badge', estatusClass(props.row.estatus)]" slot="estatus" slot-scope="props">{{props.row.estatus}}</span>
            <div slot="accion" slot-scope="props">
              <button class="btn btn-warning btn-sm" title="Editar Fecha" :disabled="(editando != null && editando != props.row.id) || (props.row.estatus != 'NUEVO')" @click="cambiarFecha(props.row)">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-pink btn-sm" title="Editar Datos aqui" type="button" @click.prevent="mostrarEditarModal(props.row)" v-if="tipopago == 1 && props.row.estatus == 'NUEVO'">
                <i class="fa fa-sticky-note"></i>
              </button>
              <button class="btn btn-info btn-sm" title="Enviar Trámite" :disabled="props.row.estatus != 'NUEVO' || !$store.getters.has(['ADMINISTRADOR', 'ENLACE', 'CAPTURISTA'])" @click="enviarTramite(props.row.id)">
                <i class="fa fa-send"></i>
              </button>
              <!-- <button 
                class="btn btn-success btn-sm"
                title="Crear Reintegro"
                type="button"
                data-original-title="Crear reintegro"
                v-if="props.row.estatus == 'PAGADO' && props.row.asginacionpago[0].tipo.nombre != 'GASTO A COMPROBAR'"
                @click.prevent="mostrarModal(props.row)">
                <i class="fa fa-plus"></i>
              </button> -->
              <button
                v-if="props.row.estatus == 'PAGADO' || props.row.estatus == 'RECHAZADO' "
                class="btn btn-brand btn-sm btn-primary"
                type="button"
                title="Agregar facturas"
                @click.prevent="$router.push({name: 'SubirComprobacion', params: { idpago: props.row.id },})">
                <i class="fa fa-cloud-upload"></i>
              </button>
            </div>
          </v-client-table>
        </div>
      </div>
    </div>
    <notifications group="foo"/>
  </div>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import jsreport from 'jsreport-browser-client-dist';
import Datepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';

export default {
  name: 'ConsultaTramites',
  components: { Datepicker},
  props: ['tipopago'],
  data: () => ({
    es: es,
    area_id: null,
    cargando: false,
    empleado: null,
    nuevaFecha: null,
		editando: null,
    pago: null,
    empleado: null,
    detallePago: null,
    columnas: ['id', 'folio', 'fecha_elaboracion', 'monto_total', 'estatus', 'accion'],
    empleados: [],
    pagos: [],
    estatus: [],
    options: {
      sortIcon: {
        is: "fa-sort",
        base: "fa",
        up: "fa-sort-asc",
        down: "fa-sort-desc"
      },
      texts: {
        count: " {from} a {to} de {count} registros|{count} Registros|Un Registro",
      }
    },
    reintegro: {
      id: null,
      folio: null,
      cantidad: 0.0
    },
    nuevosDatos: {
      diasAnterior: null,
      fechaSalida: null,
      fechaRegreso: null,
      fechaSalidaAnterior: null,
      fechaRegresoAnterior: null
    },
  }),
  computed: {
    tipo(){ return this.tipopago == 1 ? 'VIATICOS' : this.tipopago == 2 ? 'VALES' : 'GASTOS EN COMISIÓN' },
    numDiasAnterior(){
      return moment(this.nuevosDatos.fechaRegresoAnterior).diff(moment(this.nuevosDatos.fechaSalidaAnterior), 'days') + 1;
    },
    numDiasNuevo(){
      return moment(this.nuevosDatos.fechaRegreso).diff(moment(this.nuevosDatos.fechaSalida), 'days') + 1;
    }
  },
  mounted(){
    moment.locale('es-mx');
    axios.defaults.headers.common["bancadif-token"] = sessionStorage.getItem("bancadif_token");
    this.area_id = sessionStorage.getItem('area_id');    
    jsreport.serverUrl = sessionStorage.getItem('reporter_url');
    this.obtenerTramites(this.area_id, this.tipopago);
  },
  watch: {
    tipopago(val){
      this.pagos = [];
      this.obtenerTramites(this.area_id, val);
    }
  },
  methods: {
    customFormatter(date) {
      return moment(date).format('YYYY-MM-DD');
    },
    estatusClass(estatus){
      if(estatus === 'NUEVO') return 'badge-primary'
      if(estatus === 'ENVIADO') return 'badge-warning'
      if(estatus === 'PAGADO') return 'badge-success'
      if(estatus === 'RECHAZADO') return 'badge-danger'
      if(estatus === 'PRE-COMPROBADO') return 'badge-info'
      return 'badge-dark'
    },
    obtenerTramites(area_id, tipopago_id){
      this.cargando = true;
      axios.get(`/fondorotatorio/pagos/tramites/${area_id}/${tipopago_id}`).then(response => {
        this.estatus = response.data.data.estatus
        this.pagos = response.data.data.pagos.map(item => {
          item.estatus = this.buscarEstatus(item.estatuslast.estado_programa_id);
          item.monto_total = Number(item.monto_total).toFixed(2);
          item.fecha_elaboracion = moment(item.fecha_elaboracion).format('Y-MM-D');
          item.edit = false;
          return item;
        });
        this.cargando = false;
      }).catch(error => {
        console.log(error);
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'Ocurrio un error',
          text: `No pudimos cargar los datos. ${error.response.data.message}`
        });
        this.cargando = false;
      });
    },
    buscarEstatus(id){
      return this.estatus.find( estatus => id == estatus.id ).estatus;
    },
    cambiarFecha(pago){
      let nuevoPago = this.pagos.find(element => element.id == pago.id);
      nuevoPago.edit = !nuevoPago.edit;
			if(nuevoPago.edit){
				this.editando = pago.id;
			}else{
				this.editando = null;
			}
      this.nuevaFecha = nuevoPago.fecha_elaboracion;
    },
    enviarFecha(pago){
      axios.put(`/fondorotatorio/pagos/${pago.id}/fecha`, { fecha_elaboracion: this.nuevaFecha}).then(response => {
				let p = this.pagos.find(item => item.id == pago.id);
				p.edit = false;
				p.fecha_elaboracion = moment(response.data.data.fecha_elaboracion).format('Y-MM-D');
				this.editando = null;
        this.nuevaFecha = null;
        this.$notify({
          group: 'foo',
          type: 'success',
          duration: 10000,
          title: 'Actualizado correctamante',
          text: ``
        });
      }).catch(error => {
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'Ocurrio un error',
          text: `No pudimos actualizar la fecha. ${error.response.data.message}`
        });
      });
    },
    enviarTramite(id){
      axios.post(`/fondorotatorio/pagos/${id}/enviar`).then(response => {
        this.$notify({
          group: 'foo',
          type: 'success',
          duration: 10000,
          title: 'Great',
          text: `Actualizado correctamente.`
        });
        console.log(id);
        let pago = this.pagos.find(item => item.id == id );
        console.log(pago);
        pago.estatus = this.buscarEstatus(response.data.data.estatuslast.estado_programa_id);
      }).catch(error => {
        console.log(error);
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'Ocurrio un error',
          text: `${error}.`
        });
      });
    },
    mostrarModal(pago){
      $('#reintegroModal').modal('show');
      this.reintegro.id = pago.id;
      this.reintegro.folio = pago.folio;
    },
    crearReintegro(){
      axios.post(`/fondorotatorio/pagos/${this.reintegro.id}/reintegro`, { tipo: 'PAGO', cantidad: this.reintegro.cantidad }).then(response => {
        this.$notify({
          group: 'foo',
          type: 'success',
          duration: 10000,
          title: 'Reintegro creado correctamente',
          text: `Su folio es: ${response.data.data.reintegro.folio}`
        });
        this.imprimirReintegro(response.data.data);
      }).catch(error => {
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'Ocurrio un error',
          text: `${error}`
        });
      });
    },
    imprimirReintegro(data){
      return;
      let request = {
        template:{
          shortid: 'rJlvu3DvMH'
        },
        header: {
          Authorization : "Basic YWRtaW46MjFxd2VydHk0Mw=="
        },
        data:{
          folio: data.reintegro.folio,
          direccion: data.area[0].nombreD,
          empleado: `${data.pago.empleado.persona.nombre} ${data.pago.empleado.persona.primer_apellido} ${data.pago.empleado.persona.segundo_apellido}`,
          area: data.pago.empleado.area.nombre,
          cantidad: data.reintegro.cantidad,
          recibo: this.reintegro.folio,
          fecha: moment(data.pago.fecha_elaboracion).format('DD [DE] MMMM [DE] YYYY').toUpperCase(),
          total: Number(data.pago.monto_total).toFixed(2),
          responsable: `${data.fondo.areaenlace.empleado.persona.nombre} ${data.fondo.areaenlace.empleado.persona.primer_apellido} ${data.fondo.areaenlace.empleado.persona.segundo_apellido}`,
          fecha_actual: moment().format('DD [DE] MMMM [DE] YYYY').toUpperCase()
        }
      };
      jsreport.renderAsync(request).then((res) => {
        res.download(`Reintegro-${data.reintegro.folio}.pdf`)
        this.reintegro.folio = null;
        this.reintegro.cantidad = 0;
        this.reintegro.id = null;
        $('#reintegroModal').modal('hide');
      }).catch(error => { console.log(error);
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'Ocurrio un error',
          text: `${error}`
        });
      });
    },
    buscarEmpleado(search){
      if(search.length < 3) return;
      axios.get(`/fondorotatorio/empleados/${search}`).then(response => { 
        this.empleados = response.data.data.map(item => {
          item.nombre_completo = `${item.persona.nombre} ${item.persona.primer_apellido} ${item.persona.segundo_apellido}`
          return item;
        });
      }).catch(error => { console.log(error) });
    },
    mostrarEditarModal(data){
      // this.$store.dispatch('fetchPago');
      // return;
      $('#editarPago').modal('show');
      data.empleado.nombre_completo = `${data.empleado.persona.nombre} ${data.empleado.persona.primer_apellido} ${data.empleado.persona.segundo_apellido}`
      this.pago = data;
      this.empleado = data.empleado;
      this.empleados.push(data.empleado);
      // console.log(this.pago.viatico.fecha_salida);
      this.nuevosDatos.fechaSalidaAnterior = moment(this.pago.viatico.fecha_salida).format('YYYY-MM-DD');
      this.nuevosDatos.fechaRegresoAnterior = moment(this.pago.viatico.fecha_regreso).format('YYYY-MM-DD');
      this.nuevosDatos.diasAnterior = this.numDiasAnterior;
      this.detallePago = this.pago.detalles;
    },
    cerrarEditarModal(){
      $('#editarPago').modal('hide');
      this.pago = null;
      this.empleado = null;
      this.nuevosDatos.fechaSalida = null;
      this.nuevosDatos.fechaRegreso = null;
      this.nuevosDatos.diasAnterior = null;
      this.empleados = [];
    },
    editarTramite(){
      axios.put(`/fondorotatorio/pagos/${this.pago.id}/viatico`, {
        empleado_id: this.empleado.id,
        fecha_salida: this.nuevosDatos.fechaSalida != null ? moment(this.nuevosDatos.fechaSalida).format('YYYY-MM-DD') : null,
        fecha_regreso: this.nuevosDatos.fechaRegreso != null ? moment(this.nuevosDatos.fechaRegreso).format('YYYY-MM-DD') : null,
        diasAnterior:  this.numDiasAnterior,
        numDias: this.numDiasNuevo,
        detalles: this.detallePago})
      .then(response => {
        this.pago = response.data.data;
        this.nuevosDatos.fechaSalidaAnterior = this.pago.viatico.fecha_salida;
        this.nuevosDatos.fechaRegresoAnterior = this.pago.viatico.fecha_regreso;
        let nuevoPago = this.pagos.find(element => element.id == response.data.data.id);
        nuevoPago.monto_total = Number(response.data.data.monto_total).toFixed(2);
        this.cerrarEditarModal();
        this.$notify({
          group: 'foo',
          type: 'success',
          duration: 10000,
          title: response.data.message,
          text: ``
        });
      }).catch(error => {
        console.log(error);
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'Ocurrio un error al actualizar los datos',
          text: `${error}`
        });
      });
    },
    activarMontoDetalle(detalle){
      detalle.editarMontoDetalle = !detalle.editarMontoDetalle;
    }
  }
};
</script>

<style lang="scss" scoped>
.btn-pink{
  background-color: #e83e8c;
  color: #fff;
}
.consulta-tramites{
  .loader {
    display: flex;
    justify-content: center;
    z-index: 9999;
  }
  @keyframes lds-interwind {
    0%,
    100% {
      animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
    }
    50% {
      animation-timing-function: cubic-bezier(0, 0.2, 1, 0.8);
    }
    0% {
      -webkit-transform: rotate(0deg) translate(0, -20px) scale(0);
      transform: rotate(0deg) translate(0, -20px) scale(0);
    }
    50% {
      -webkit-transform: rotate(180deg) translate(0, -20px) scale(1);
      transform: rotate(180deg) translate(0, -20px) scale(1);
    }
    100% {
      -webkit-transform: rotate(360deg) translate(0, -20px) scale(0);
      transform: rotate(360deg) translate(0, -20px) scale(0);
    }
  }
  @-webkit-keyframes lds-interwind {
    0%,
    100% {
      animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
    }
    50% {
      animation-timing-function: cubic-bezier(0, 0.2, 1, 0.8);
    }
    0% {
      -webkit-transform: rotate(0deg) translate(0, -20px) scale(0);
      transform: rotate(0deg) translate(0, -20px) scale(0);
    }
    50% {
      -webkit-transform: rotate(180deg) translate(0, -20px) scale(1);
      transform: rotate(180deg) translate(0, -20px) scale(1);
    }
    100% {
      -webkit-transform: rotate(360deg) translate(0, -20px) scale(0);
      transform: rotate(360deg) translate(0, -20px) scale(0);
    }
  }
  div.lds-interwind {
    position: relative;
  }
  div.lds-interwind div {
    position: absolute;
    top: 70px;
    left: 70px;
    -webkit-animation: lds-interwind 1s linear infinite;
    animation: lds-interwind 1s linear infinite;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #d12654;
  }
  div.lds-interwind div:last-child {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
    background: #98579b;
  }
  .lds-interwind {
    width: 76px !important;
    height: 76px !important;
    -webkit-transform: translate(-38px, -38px) scale(0.38)
      translate(38px, 38px);
    transform: translate(-38px, -38px) scale(0.38) translate(38px, 38px);
  }
}
</style>
