<template>
  <div class="crear-vale row">
    <div class="modal fade" id="empleadoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Agregar nuevo empleado</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <Empleado></Empleado>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active show" data-toggle="tab" href="#home2" role="tab" aria-controls="home" aria-selected="true">
            <i class="icon-calculator"></i>Trámite
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile" aria-selected="false">
            <i class="icon-basket-loaded"></i>Gastos
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active show" id="home2" role="tabpanel">
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="area">Tipo de Pago:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-file-text-o"></i>
                  </span>
                </div>
                <input class="form-control" type="text" v-model="tipopago" disabled name="tipopago" v-validate="'required'">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <label for="tramite">Tipo Trámite</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-car"></i>
                  </span>
                </div>
                <select class="form-control" name="Trámite" v-model="tramite" v-validate="'required'" placeholder="Selecciona">
                  <option v-for="tramite in tramites" :key="tramite.id" :value="tramite.id">{{tramite.nombre}}</option>
                </select>
              </div>
              <span class="invalid-feedback">{{ errors.first('Trámite') }}</span>  
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12 col-md-9">
              <label for="area">Empleado:</label>
              <multiselect :class="errors.first('Empleado') ? 'is-invalid': ''" v-model="empleado_id" :options="empleados" value="'id'" label="nombre_completo" name="Empleado" v-validate="'required'" :internal-search="false" :preserve-search="false" :clear-on-select="true" @search-change="buscarEmpleado" selectLabel="Enter para seleccionar" deselectLabel="Enter para deseleccionar" :showNoOptions="false" :block-keys="['Delete']" placeholder="Escribe para buscar">
                <template slot="noOptions">Comience a escribir para buscar.</template>
                <template slot="noResult"><em style="color:red;">No tenemos registro con lo que estas buscando</em></template>
              </multiselect>
              <span class="invalid-feedback">{{ errors.first('Empleado') }}</span>
            </div>
            <div class="col-sm-12 col-md-3">
              <label for="">Agrégalo sino esta</label>
              <button class="btn btn-secondary btn-block" type="button" data-toggle="modal" data-target="#empleadoModal">Nuevo Empleado</button>
            </div>
          </div>

          <div class="form-group row" v-if="tramite != null && tramite != 1">
            <div class="col-sm-6">
              <label for="Banco">Banco</label>
              <select class="form-control" name="Banco" v-model="banco_id" v-validate="tramite != 1 && tramite != null ? 'required': ''">
                <option v-for="banco in bancos" :key="banco.id" :value="banco.id">{{banco.nombre}}</option>
              </select>
              <span class="invalid-feedback">{{ errors.first('Banco') }}</span>
            </div>
            <div class="col-sm-6">
              <label for="tarjeta">Número Tarjeta</label>
              <input class="form-control" type="text" name="Tarjeta" v-model="tarjeta" v-validate="tramite != 1 && tramite != null ? 'required|min:11|max:16': ''">
              <span class="invalid-feedback">{{ errors.first('Tarjeta') }}</span>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <label for="clave">Clave Presupuestal:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-dif text-white">
                    <i class="fa fa-file-text-o"></i>
                  </span>
                </div>
                <input class="form-control" type="text" v-model="clavePresupuestal" disabled name="Clave Presupuestal" v-validate="'required'">
              </div>
              <span class="invalid-feedback">{{ errors.first('Clave Presupuestal') }}</span>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <label class="col-form-label" for="appendedInputButton">Programa:</label>
              <multiselect v-model="programa_id" :options="programas" name="Programa" v-validate="'required'" label="nombre" :internal-search="false" :preserve-search="false" :clear-on-select="true" @search-change="buscarPrograma" selectLabel="Enter para seleccionar" deselectLabel="Enter para deseleccionar" :showNoOptions="false" placeholder="Selecciona">
                <template slot="noOptions">Comience a escribir para buscar.</template>
                <template slot="noResult"><em style="color:red;">No tenemos registro con lo que estas buscando</em></template>
              </multiselect>
              <span class="invalid-feedback">{{ errors.first('Programa') }}</span>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <label for="area">Descripción:</label>
              <textarea :class="['form-control', errors.first('Descripcion') ? 'is-invalid' : '']" rows="4" v-model="descripcion" name="Descripcion" v-validate="'required|max:255'"></textarea>
              <span class="invalid-feedback">{{ errors.first('Descripcion') }}</span>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <label for="area">Autorizo:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <input :class="['form-control', errors.first('Autorizo') ? 'is-invalid' : '']" type="text" v-model="autorizo_id" readonly name="Autorizo" v-validate="'required'">
              </div>
              <span class="invalid-feedback">{{ errors.first('Autorizo') }}</span>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-sm-12">
              <label for="area">Vo Bo:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user-circle-o"></i>
                  </span>
                </div>
                <input :class="['form-control', errors.first('Visto Bueno') ? 'is-invalid' : '']" type="text" v-model="vobo_id" readonly name="Visto Bueno" v-validate="'required'">
              </div>
              <span class="invalid-feedback">{{ errors.first('Visto Bueno') }}</span>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="profile2" role="tabpanel">
          <div class="form-group row">
            <div class="col-sm-8">
              <label class="col-form-label" for="appendedInputButton">Partida (s):</label>
              <multiselect v-model="partida_id" :options="partidas" label="etiqueta" :internal-search="false" :preserve-search="false" :clear-on-select="true" @search-change="buscarPartida" selectLabel="Enter para seleccionar" deselectLabel="Enter para deseleccionar" :showNoOptions="false" placeholder="Selecciona">
                <template slot="noOptions">Comience a escribir para buscar.</template>
                <template slot="noResult"><em style="color:red;">No tenemos registro con lo que estas buscando</em></template>
              </multiselect>
            </div>
            <div class="col-sm-4">
              <label class="col-form-label" for="appendedInputButton">Monto:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-usd"></i>
                  </span>
                </div>
                <input class="form-control" type="text" v-model="cantidad_partida" v-validate="tramite == 1 ?'max:2000': ''" name="monto">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-8">
              <label for="area">Descripción:</label>
              <textarea class="form-control" rows="6" v-model="partida_id.concepto"></textarea>
            </div>
            <div class="col-sm-4 d-flex flex-column">
              <label class="w-100" for="">Agregar:</label>
              <button class="btn btn-primary w-100" @click="agregarGasto"><i class="fa fa-plus"></i> Gasto</button>
            </div>
          </div>
          <input type="hidden" v-model="gastos" name="Gastos" v-validate="'required'">
          <span class="invalid-feedback">{{ errors.first('Gastos') }}</span>
          <span class="invalid-feedback">{{sumatoria}}</span>
          <table :class="['table', 'table-responsive-sm', 'table-bordered', errors.first('Gastos') ? 'table-invalid' : '']" :style="errors.first('Gastos') ? 'border: 2px solid #f86c6b;' : ''" v-if="gastos.length > 0">
            <thead>
              <tr>
                <th width="10%">#</th>
                <th width="60%">Partida</th>
                <th width="15%">Monto</th>
                <th width="15%">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="gasto in gastos" :key="gasto.id">
                <td>{{gasto.partida_id}}</td>
                <td>{{gasto.partida}}</td>
                <td>{{gasto.monto}}</td>
                <td>
                  <button class="btn btn-danger btn-sm" @click="eliminarGasto(gasto.partida_id)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <notifications group="foo"/>
    <div class="col-sm-12 my-2 d-flex flex-row-reverse" v-if="this.$store.getters.has(['ADMINISTRADOR', 'ENLACE', 'CAPTURISTA'])">
      <button class="btn btn-primary" @click="enviar" :disabled="imprimiendo">
        <i class="fa fa-save" v-show="!imprimiendo"></i>
        <span v-show="!imprimiendo">Guardar y Terminar</span>
        <i class="fa fa-spinner fa-pulse fa-fw" v-show="imprimiendo"></i>
        <span class="sr-only" v-show="imprimiendo">Creando reporte...</span>
        <span v-show="imprimiendo">Creando reporte...</span>
      </button>
    </div>
    <!-- <pre>
      {{errors.all()}}
    </pre> -->
  </div>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import jsreport from 'jsreport-browser-client-dist';
import EventBUS from './../eventBUS';
import Empleado from './ext/Empleado';

export default {
  name: 'CrearVale',
  components: { Empleado },
  data: () => ({
    tipopago: 'VALE',
    empleado_id: null,
    empleados: [],
    clave: null,
    programa_id: null,
    programas: [],
    cantidad: null,
    autorizo_id: null,
    autorizo: null,
    puesto: null,
    areapuesto: null,
    vobo_id: null,
    vobo: null,
    descripcion: null,
    partida_id: { concepto: null },
    cantidad_partida: null,
    partidas: [],
    gastos: [],
    tramites: [{id: 1, nombre: 'FONDO ROTATORIO'}],
    tramite: null,
    area: null,
		imprimiendo: false,
		areaFondo:null,
		respFondo:null,
    banco_id: null,
    tarjeta: null,
    bancos: []
  }),
  mounted(){
    axios.defaults.headers.common["bancadif-token"] = sessionStorage.getItem("bancadif_token");
    jsreport.serverUrl = sessionStorage.getItem('reporter_url');
    this.cargarTramites(sessionStorage.getItem('area_id'));
    this.cargarFondo(sessionStorage.getItem('area_id'));
    this.cargarBancos();
    EventBUS.$on('Empleado:Created', empleado => {
      console.log(empleado);
      this.empleado_id = empleado;
      $('#empleadoModal').modal('hide');
    });
  },
  watch: {
    empleado_id(val){
      if(val != null)
			
        // axios.get(`/fondorotatorio/firmas/${sessionStorage.getItem('area_id')}`).then(response => { 
					axios.get(`/fondorotatorio/firmas/${sessionStorage.getItem('area_id')}/${this.empleado_id.id}`).then(response => { 
						console.log(response.data)
					this.autorizo_id = response.data.data.autorizo.nombre ? `${response.data.data.autorizo.nombre} ${response.data.data.autorizo.primer_apellido} ${response.data.data.autorizo.segundo_apellido}` :response.data.data.autorizo.responsable_nombre;
          this.autorizo = response.data.data.autorizo.empleado_id;
          this.puesto = `${response.data.data.autorizo.cargo}`;
          this.vobo_id = response.data.data.respFondo
          this.vobo = response.data.data.respIdEmpleado; 
          this.clave = response.data.data.clave;
					this.area = response.data.data.area;
        }).catch(error => { console.log(error) }); 
    }
  },
  computed: {
    nivelResponsable(){
      if(this.puesto == 'JEFE DE UNIDAD') return `JEFE DE LA ${this.areapuesto}`;
      if(this.puesto == 'DIRECTOR') return `DIRECTOR DE LA ${this.areapuesto}`;
      return '';
    },
    clavePresupuestal(){
      return this.clave != null ? this.clave.unidad.ur + '' + this.clave.unidad.ue : null
    },
    sumatoria(){
      let total = 0;
      for(let i = 0; i < this.gastos.length; i++){
        total += parseFloat(this.gastos[i].monto);
      }
      return total;
    }
  },
  methods: {
    autoguardado(){
      let tramite = {
        // solicitante_empleado_id: empleado_id.id, 
        // monto_total: cantidad,
        // descripcion: descripcion,
        // metodopago_id: metodopago_id.id,
        // tipopago_id: 1,
        // autorizo: autorizo_id,
        // vobo: vobo_id,
        // programa_id: programa_id,
        // detalle: gastos,
        // tranferencia: transferencia,
        // titular: titular,
        num_tarjeta: this.num_tarjeta,
        banco_id: this.banco_id,
        estado_programa_id: 1,
        viatico: false
      };
      console.log(JSON.parse(tramite));
    },
    cargarFondo(area_id){
      axios.get(`/fondorotatorio/fondo/${area_id}`).then(response => {
        this.fondo = response.data.data;
      }).catch(error => {
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'No pudimos cargar el Fondo. Recargue la pagina o avise a Sistemas',
          text: `${error}.`
        });
      });
    },
    cargarTramites(area_id){
      axios.get(`/fondorotatorio/pagos/tramites/${area_id}/2`).then(response => {
        if(response.data.data.asignaciones.length > 0){
          this.$notify({
            group: 'foo',
            type: 'success',
            duration: 10000,
            title: 'Tiene disponible Gastos a Comprobar',
            text: `Si tiene dudas, contacte a Finanzas.`
          });
        }
        for(let i = 0; i < response.data.data.asignaciones.length; i++){
          this.tramites.push({id: response.data.data.asignaciones[i].id, nombre: response.data.data.asignaciones[i].gasto.nombre});
        }
      }).catch(error => {
        console.log(error);
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'Algo salio mal',
          text: `${error}.`
        });
      });
    },
    cargarBancos() {
      axios.get(`/fondorotatorio/banco`).then(response => {
        this.bancos = response.data.data;
      }).catch(error => {
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'Algo salio mal',
          text: `${error.response.data.message ? error.response.data.message : error}.`
        });
      });
    },
    buscarEmpleado(search){
      if(search.length < 3) return;
      axios.get(`/fondorotatorio/empleados/${search}`).then(response => { 
        this.empleados = response.data.data.map(item => {
          item.nombre_completo = `${item.persona.nombre} ${item.persona.primer_apellido} ${item.persona.segundo_apellido}`
          return item;
        }); 
      }).catch(error => { console.log(error) });
    },
    buscarPrograma(search){
      if(search.length < 3) return;
      let url = `/fondorotatorio/programas/${search}`;
      if(sessionStorage.getItem('area_id') == 15) url += '/true'
      axios.get(url).then(response => { 
        this.programas = response.data.data;
      }).catch(error => { console.log(error) });
    },
    buscarPartida(search){
      if(search.length < 3) return;
      axios.get(`/fondorotatorio/partidas/${search}`).then(response => { 
        this.partidas = response.data.data.map(item => {
          item.etiqueta = `${item.partida_especifica_c} - ${item.partida_especifica}`;
          return item;
        });
      }).catch(error => { console.log(error) });
    },
    asyncArray(){
      let vm = this;
      return new Promise(function (fulfill, reject){
        vm.gastos.push({id: vm.partida_id.id, partida: vm.partida_id.etiqueta, monto: vm.cantidad_partida});
        fulfill();
      });
    },
    comprobarGastos(){
      if(this.gastos.length >= 1){ 
        this.$notify({ group: 'foo', type: 'error', duration: 10000, title: 'Solo una partida por vale.', text: `No puedes agregar más de una partida.` }); 
        return true;
      }
      if(this.partida_id.id == null || this.cantidad_partida == null){
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'Seleccione primero la partida',
          text: `Despues agregue el monto.`
        });
        return true;
      }
      if(this.cantidad_partida > 2000 && this.tramite == 1){
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'El monto supera el maximo permitido',
          text: ``
        });
        return true;
      }
      for(let i = 0; i < this.gastos.length; i++){
        if(this.gastos[i].partida_id == this.partida_id.id){
          this.$notify({
            group: 'foo',
            type: 'error',
            duration: 10000,
            title: 'Partida ya existente',
            text: `Si lo requiere elimine y agregue nuevamente.`
          });
          return true;
        }
      }
    },
    async agregarGasto(){
      if(await this.comprobarGastos()){
        return;
      }
      await this.gastos.push({partida_id: this.partida_id.id, partida: this.partida_id.etiqueta, monto: this.cantidad_partida});
      this.partida_id = { concepto: null };
      this.cantidad_partida = null;
    },
    eliminarGasto(partida_id){
      for(let i = 0; i < this.gastos.length; i++){
        if (this.gastos[i].partida_id == partida_id && i > -1) {
          this.gastos.splice(i, 1);
        }
      }
    },
    enviar(){
      this.$validator.validate().then(valid => {
        if (!valid) {
          this.$notify({
            group: 'foo',
            type: 'error',
            duration: 10000,
            title: 'Campos inválidos',
            text: `Revise los campos porfavor.`
          });
          return;
        }
        this.imprimiendo = true;
        let datos = {
          asignacion_id: this.tramite != 1 ? this.tramite : 1,
          area_id: sessionStorage.getItem('area_id'),
          solicitante_empleado_id: this.empleado_id.id,
          clavepresupuestal_id: this.clave.id,
          monto_total: this.cantidad,
          descripcion: this.descripcion.toUpperCase(),
          metodopago_id: null,
          tipopago_id: 2,
          autorizo: this.autorizo,
          vobo: this.vobo,
          programa_id: this.programa_id.id,
          detalle: this.gastos,
          estado_programa_id: 1,
          monto_total: this.sumatoria,
          fondo_id: this.fondo.id,
          tramite: this.tramite != 1 ? this.tramite : 1
        };
        if(this.tramite != 1){
          datos.tarjeta = this.tarjeta;
          datos.banco_id = this.banco_id;
        }
        axios.post('/fondorotatorio/pagos', datos).then(response => {
          this.$notify({
            group: 'foo',
            type: 'success',
            duration: 10000,
            title: 'Vale guardado',
            text: `Ya puede PAGAR su Vale.`
          });
          // this.imprimirVale(response.data.data);
          this.imprimiendo = false;
          this.limpiar();
        }).catch(error => {
          this.$notify({
            group: 'foo',
            type: 'error',
            duration: 10000,
            title: 'Oops! Algo salio mal',
            text: `${error}.`
          });        
          this.imprimiendo = false;
        });
      });
    },
    imprimirVale(data){
      let request = {
        template:{
          shortid: this.tramite == 1 ? "SJgqB93IAN" : "B1gufHR_XH" //fondorotatorio/pago
        },
        header: {
          Authorization : "Basic YWRtaW46MjFxd2VydHk0Mw=="
        },
        data:{
          pago: {
            folio: data.pago.folio,
						num_viatico: null,
            // nombre_responsable: this.autorizo_id,
						// nivel_responsable: this.nivelResponsable,
						nombre_responsable: this.respFondo,
            nivel_responsable:  this.areaFondo,
            nombre_solicitante: this.empleado_id.nombre_completo,
            nivel_solicitante: this.empleado_id.nivel.nivel,
            rfc_solicitante: this.empleado_id.rfc,
            area_solicitante: this.empleado_id.area.nombre,
            viaticos: this.gastos.map((item) => { return { partida: { partida_especifica: `${item.partida}` }, monto: item.monto} }),
            total: this.sumatoria,
            fecha: moment(data.pago.fecha_elaboracion).format('DD [DE] MMMM [DE] YYYY').toUpperCase(),
            cantida_letras: convertir.NumerosALetras(this.sumatoria).toUpperCase(),
            descripcion: data.pago.descripcion,
            // vobo_nombre: this.vobo_id,
						// vobo_area: this.area.nombre
						vobo_nombre: this.autorizo_id,
            vobo_area: this.areapuesto
          },
        }
      };
      // jsreport.download(`recibo-${data.pago.folio}.pdf`, request);
      jsreport.renderAsync(request).then((res) => {
        res.download(`vale-${data.pago.folio}.pdf`)
        this.limpiar();
        this.imprimiendo = false;
      });
    },
    limpiar(){
      this.empleado_id = null;
      this.cantidad = null;
      this.descripcion = null;
      this.metodopago_id = null;
      this.autorizo = null;
      this.autorizo_id = null;
      this.vobo = null;
      this.vobo_id = null;
      this.programa_id = null;
      this.tramite = null;
      this.banco_id = null;
      this.num_tarjeta = null;
      this.programas = [];
      this.gastos = [];
      this.empleados = [];
      this.origenes = [];
      this.destinos = [];
      this.partidas = [];
      this.$validator.reset();
    }
  }
}
</script>

<style>
.table-bordered .table-invalid{
  border-color: 1px solid #f86c6b;
}
</style>