<template>
  <div class="enlaces-financieros">
    <div  v-if="datosArea === null" class="loader">
      <div style="width:100%;height:100%" class="lds-ripple">
        <div></div>
        <div></div>
      </div>
    </div>
    <div v-else>
      <h2>{{datosArea.area}}</h2>
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-info card-color-1">
            <div class="card-body">
              <button class="btn btn-transparent p-0 float-right" type="button">
                <i class="fa fa-usd"></i>
              </button>
              <div v-if="cargando"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></div>
              <div v-else class="text-value">{{formatPesos(total_techo)}}</div>
              <div>Total Techo Presupuestal</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-info card-color-2">
            <div class="card-body">
              <button class="btn btn-transparent p-0 float-right" type="button">
                <i class="fa fa-usd"></i>
              </button>
              <div v-if="cargando"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></div>
              <div v-else class="text-value">{{formatPesos(total_asignaciones)}}</div>
              <div>Total Asignaciones</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-info card-color-3">
            <div class="card-body">
              <button class="btn btn-transparent p-0 float-right" type="button">
                <i class="fa fa-usd"></i>
              </button>
              <div class="text-value">{{enlacesA}}</div>
              <div>Enlaces Asignados</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-info card-color-4">
            <div class="card-body">
              <button class="btn btn-transparent p-0 float-right" type="button">
                <i class="fa fa-building"></i>
              </button>
              <div v-if="cargando"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></div>
              <div v-else class="text-value">{{this.datosArea.hijos.length}}</div>
              <div>Areas Fondo Rotatorio</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-accent-primary">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Areas Fondo Rotatorio
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <v-client-table
                    v-if="!cargando"
                    :data="tableData"
                    :columns="columns"
                    :options="options"
                    ref="areasFondo"
                  >
                    <button
                      slot="id"
                      slot-scope="props"
                      @click="agregarEnlace(props.row.id)"
                      class="btn btn-brand btn-sm btn-primary"
                      type="button"
                      style="margin-bottom: 4px"
                    >
                      <i class="fa fa-share-square-o"></i>
                    </button>
                    <span
                      slot="enlace"
                      slot-scope="props"
                      v-if="props.row.enlace == '' || props.row.enlace == null"
                      class="badge badge-warm"
                    >Pendiente</span>
                    <span slot="enlace" slot-scope="props" v-else>{{props.row.enlace}}</span>
                    <span slot="techo" slot-scope="props">$ {{formatPesos(props.row.techo)}}</span>
                    <span slot="disponible" slot-scope="props">$ {{formatPesos(props.row.disponible)}}</span>
                  </v-client-table>
                  <div v-else class="loader">
                    <div style="width:100%;height:100%" class="lds-ripple">
                      <div></div>
                      <div></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="md-modal" v-bind:class="{ 'md-show': showModal }">
        <div class="md-content">
          <CrearEnlace v-bind:id="idFondo"></CrearEnlace>
        </div>
      </div>
      <div class="md-overlay"></div>
      <notifications group="foo"/>
    </div>
  </div>
</template>

<script>
import EventBUS from "../eventBUS.js";
import axios from "axios";
import CrearEnlace from "./CrearEnlace";

export default {
  name: 'EnlacesFinancieros',
  components:{CrearEnlace},
  data: () => ({
    showModal: false,
    cargando: false,
    area_id: null,
    datosArea: null,
    options: {
      headings: {
        area: "Area",
        techo: "Techo Presupuestal",
        enlace: "Enlace Financiero",
        disponible: "Saldo",
        id: "Opciones"
      },
      sortIcon: {
        is: "fa-sort",
        base: "fa",
        up: "fa-sort-asc",
        down: "fa-sort-desc"
      },
      texts: {
        count:
          " {from} a {to} de {count} registros|{count} Registros|Un Registro",
        first: "First",
        last: "Last",
        filter: "Filtrar:",
        filterPlaceholder: "Buscar",
        limit: "Registros:",
        page: "Pagina:",
        noResults: "No se encontraron registros",
        filterBy: "Filtro por {column}",
        loading: "Cargando...",
        defaultOption: "Seleccionado {column}",
        columns: "Columnas"
      },
      columnsClasses: {
        id: "center-cl"
      },
      sortable: ["area", "enlace", "techo"],
      filterable: ["area", "enlace"]
    },
    columns: ["area", "techo", "disponible" ,"enlace","id"],
    tableData: [],
    total_techo: 0,
    total_asignaciones: 0,
    enlacesA: 0,
    idFondo: 0
  }),
  created() {
    axios.defaults.headers.common["bancadif-token"] = sessionStorage.getItem("bancadif_token");
    this.area_id = sessionStorage.getItem("area_id");
  },
  mounted() {
    this.cargarAreas();
    EventBUS.$on("ModalCrearEnlace:Open", () => {
      this.openModalCrearEnlace();
    });
    EventBUS.$on("ModalCrearEnlace:Close", () => {
      this.closeModalCrearEnlace();
    });
    EventBUS.$on("DatosArea:Refresh", () => {
      this.cargarAreas();
    });
  },
  methods: {
    cargarAreas(){
      this.cargando = true;
      axios.get(`/fondorotatorio/areas/${this.area_id}/enlaces`).then(r => {
        if( r.status === 200){
          this.datosArea = r.data.data;
          this.tableData = this.datosArea.hijos.map(e => ({id:e.idfondo,area:e.nombre,techo:e.techo,enlace:e.enlacefinanciero,disponible:e.saldo_disponible}));
          this.total_techo = this.datosArea.hijos.map(e=>Number.parseInt(e.techo)).reduce((vO,vN,i,v)=>vO+vN)
          this.total_asignaciones = this.datosArea.hijos.map(e=>e.asignaciones).filter(e=>e.length).map(e=>e.map(e=> Number.parseFloat(e.monto))).flat().reduce((vA,vI,i,v)=>vA+vI);
          this.enlacesA = this.datosArea.hijos.map(e=>e.enlacefinanciero).filter(e=>e!=null).length;
          this.cargando = false;
          // console.log(this.datosArea);
        }
      }).catch(e => {console.log(e)});
    },
    formatPesos(n) {
      return new Intl.NumberFormat("en-ES").format(n);
    },
    agregarEnlace(id){
      this.idFondo = id;
      this.openModalCrearEnlace();
    },
    openModalCrearEnlace() {
      this.showModal = true;
    },
    closeModalCrearEnlace() {
      this.showModal = false;
    },
  }
}
</script>

<style lang="scss" scoped>
.enlaces-financieros {
  color: black;

   .md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    z-index: 9100;
    height: auto;
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .md-show {
    visibility: visible;
  }

  .md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 9000;
    opacity: 0;
    background: rgba(47, 53, 58, 0.85);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
  }

  .md-modal .md-content {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .md-show .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  .loader {
    display: flex;
    justify-content: center;
  }

  @keyframes lds-ripple {
    0% {
      top: 92px;
      left: 92px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -4px;
      left: -4px;
      width: 192px;
      height: 192px;
      opacity: 0;
    }
  }
  @-webkit-keyframes lds-ripple {
    0% {
      top: 92px;
      left: 92px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -4px;
      left: -4px;
      width: 192px;
      height: 192px;
      opacity: 0;
    }
  }
  .lds-ripple {
    position: relative;
  }
  .lds-ripple div {
    box-sizing: content-box;
    position: absolute;
    border-width: 8px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    -webkit-animation: lds-ripple 1.1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation: lds-ripple 1.1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(1) {
    border-color: #98579b;
  }
  .lds-ripple div:nth-child(2) {
    border-color: #d12654;
    -webkit-animation-delay: -0.55s;
    animation-delay: -0.55s;
  }
  .lds-ripple {
    width: 100px !important;
    height: 100px !important;
    -webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
    transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
  }

}
</style>