<template>
  <div class="admin-enlace">
    <div v-show="cargando" class="loader">
      <div style="width:100%;height:100%" class="lds-interwind">
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="modal fade" id="reintegroModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Crear reintegro</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <form action="#" @submit.prevent="crearReintegro">
            <div class="modal-body">
              <div class="col-sm-12 col-md-6">
                <label for="Folio">Folio Pago</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-dif text-white">
                      <i class="fa fa-hashtag"></i>
                    </span>
                  </div>
                  <input class="form-control" type="text" v-model="reintegro.folio" name="Folio" v-validate="'required'" readonly>
                </div>
              </div>
              <div class="col-sm-6">
                <label for="area">Cantidad:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-dif text-white">
                      <i class="fa fa-file-text-o"></i>
                    </span>
                  </div>
                  <input class="form-control" type="text" v-model="reintegro.cantidad" name="Cantidad" v-validate="'required'">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
              <button class="btn btn-success d-flex flex-wrap align-items-center" type="submit" :disabled="impresionReintegro">
                <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw" v-if="impresionReintegro"></i>
                <span v-text="impresionReintegro ? 'Imprimiendo ...' : 'Crear'"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-info card-color-1">
            <div class="card-body">
              <button class="btn btn-transparent p-0 float-right" type="button">
                <i class="fa fa-usd"></i>
              </button>
              <div v-if="2 === 1"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></div>
              <div class="text-value">{{totalPagos}}</div>
              <div>Total de Pagos</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-info card-color-2">
            <div class="card-body">
              <button class="btn btn-transparent p-0 float-right" type="button">
                <i class="fa fa-usd"></i>
              </button>
              <div v-if="2 === 1"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></div>
              <div v-else class="text-value">{{cajaPagados}}</div>
              <div>Banco Pagados</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-info card-color-3">
            <div class="card-body">
              <button class="btn btn-transparent p-0 float-right" type="button">
                <i class="fa fa-usd"></i>
              </button>
              <div class="text-value">{{pagadosCaja}}</div>
              <div>Reembolso Banco</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-info card-color-4">
            <div class="card-body">
              <button class="btn btn-transparent p-0 float-right" type="button">
                <i class="fa fa-usd"></i>
              </button>
              <div v-if="2 === 1"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></div>
              <div v-else class="text-value">{{pendientes}}</div>
              <div>Pendientes por Pagar</div>
            </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-accent-primary">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Pagos Bancos
            <!-- <div class="card-header-actions">
              <button class="card-header-action btn-setting" @click.prevent="newComprobacion">
                <i class="fa fa-plus-square"></i> Agregar Comprobación
              </button>
            </div> -->
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-8"></div>
              <div class="col-md-4">
                <div>
                  <div class="input-group">
                    <input
                      class="form-control"
                      id="input-buscar"
                      type="text"
                      name="input-buscar"
                      v-model="search"
                      @input="searchquery"
                      :disabled="cargando"
                    >
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-search"></i>&nbsp; Buscar
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <v-client-table 
                    :data="dataPagos"
                    :columns="columnsTable"
                    :options="optionsTable"
                    ref="dataPagos">
                    <span slot="id" slot-scope="props">{{props.index}}</span>
                    <span slot="monto" slot-scope="props">$ {{formatPesos(props.row.monto)}}</span>
                    <span slot="fecha" slot-scope="props">{{formatFecha(props.row.fecha)}}</span>
                    <span slot="estatus" slot-scope="props" :class="props.row.estatus == 'RECHAZADO'?'badge badge-danger badge-pill': props.row.estatus == 'ENVIADO A COMPROBACION' ? 'badge badge-success badge-pill':'badge badge-light badge-pill'">{{props.row.estatus}}</span>
                    <template slot="opciones" slot-scope="props">
                      <!-- <button
                        v-if="$store.getters.has(['CAJA','ADMINISTRADOR']) && props.row.tipo == 'COMPROBACION'"
                        class="btn btn-brand btn-sm btn-primary"
                        type="button"
                        style="margin-bottom: 4px"
                        title="Imprimir"
                        @click.prevent="ordenPago(props.row)"
                      >
                        <i class="fa fa-print"></i>
                      </button>   -->
                      <!-- <button
                        v-if="$store.getters.has(['BANCO','ADMINISTRADOR']) && props.row.estatus == 'EN CAJA' && props.row.tipo == 'COMPROBACION'"
                        class="btn btn-brand btn-sm btn-primary"
                        type="button"
                        style="margin-bottom: 4px"
                        title="Pagar"
                        @click.prevent="changeStatus('PAGADO',props.row.id)"
                      >
                        <i class="fa fa-check"></i>
                      </button>   -->
											<button
                        v-if="$store.getters.has(['BANCOS','ADMINISTRADOR']) && props.row.estatus == 'ENVIADO' && props.row.tipo == 'PAGO'"
                        class="btn btn-brand btn-sm btn-primary"
                        type="button"
                        style="margin-bottom: 4px"
                        title="Pagar"
                        @click.prevent="pagar(props.row)"
                      >
                        <i class="fa fa-check"></i>
                      </button> 
                      <button
                        v-if="$store.getters.has(['FINANCIERO','ADMINISTRADOR']) && props.row.estatus == 'ENVIADO'"
                        class="btn btn-brand btn-sm btn-primary"
                        type="button"
                        style="margin-bottom: 4px"
                        title="Enviar a caja"
                        @click.prevent="cambiarPago(props.row.id)"
                      >
                        <i class="fa fa-exchange"></i>
                      </button>
                      <!-- <button
                      v-if="$store.getters.has(['CAJA','ADMINISTRADOR']) && props.row.estatus == 'PAGADO' && props.row.tipo != 'COMPROBACION'" 
                      class="btn btn-success btn-sm"
                      type="button"
                      style="margin-bottom: 4px"
                      title="Crear reintegro"
                      @click.prevent="mostrarModal(props.row)">
                        <i class="fa fa-plus"></i>
                      </button> -->
											<!-- <button
												v-if="props.row.estatus == 'PAGADO'"
                        @click="reintegroTotal(props.row.id)"
                        class="btn btn-brand btn-sm btn-primary"
                        type="button"
                        style="margin-bottom: 4px"
                        title="Reintegro total"
                      >
                        <i class="fa fa-mail-reply"></i>
                      </button> -->
                      
                    </template>
                  </v-client-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- inicio modal -->
		<div class="modal modal-primary fade" id="modalPago" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Pago</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
									<p><b>Folio : </b>{{detalle.folio}} - <b>Nombre : </b>{{detalle.area}}</p>
									<label class="col-form-label" for="appendedInputButton">Cuenta:</label>
									<multiselect v-model="cuenta" :options="cuentas" label="concepto" :internal-search="true" :preserve-search="false" :clear-on-select="true" selectLabel="Enter para seleccionar" deselectLabel="Enter para deseleccionar" :showNoOptions="false" :block-keys="['Delete']" placeholder="Selecciona"  @search-change="buscarCuenta">
										<template slot="noOptions">Comience a escribir para buscar.</template>
										<template slot="noResult"><em style="color:red;">No tenemos registro con lo que estas buscando</em></template>
									</multiselect>
									<br>
									<div class="col-md-12" v-if="cuenta">
										<p><b>Numero de cuenta: </b>{{cuenta.num_cuenta}} - <b>Concepto: </b>{{cuenta.concepto}}</p>
									</div>
									<br>
									<div class="form-group row">
										<div class="col-sm-12">
											<label for="Fecha">Fecha</label>
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text bg-dif text-white">
														<i class="fa fa-calendar"></i>
													</span>
												</div>
												<input type="text" :class="['form-control', errors.first('Fecha') ? 'is-invalid' : '']" placeholder="YYYY-MM-DD" v-model="fecha" name="Fecha" v-validate="'required'">
											</div>
											<span class="invalid-feedback">{{ errors.first('Fecha') }}</span>
										</div>
									</div>
									
									<br>
									<div class="col-md-12"  v-if="cuenta && fecha">
										<button class="btn btn-primary" type="button" @click.prevent="pagarPago">Pagar</button>
									</div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
<!-- Fin modal -->
  </div>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import toastr from 'toastr';
import Swal from 'sweetalert2';
import jsreport from 'jsreport-browser-client-dist';
export default {
  name: "PagosCaja",
  data: () => ({  
    area_id: null,
    cargando:true,
    datosArea: {},
    total_asignaciones: 0,
    total_caja: 0,
    search:null,
    optionsTable: {
      headings: {
        id: "#",
        monto: "Monto",
        fecha: "Fecha"
      },
      sortIcon: {
        is: "fa-sort",
        base: "fa",
        up: "fa-sort-asc",
        down: "fa-sort-desc"
      },
      texts: {
        count:
          " {from} a {to} de {count} registros|{count} Registros|Un Registro",
        first: "First",
        last: "Last",
        filter: "Filtrar:",
        filterPlaceholder: "Buscar",
        limit: "Registros:",
        page: "Pagina:",
        noResults: "No se econtraron coincidencias",
        filterBy: "Filtro por {column}",
        loading: "Cargando...",
        defaultOption: "Seleccionado {column}",
        columns: "Columnas"
      },
      columnsClasses: {
        id: "center-cl"
      },
      sortable: ["folio", "monto", "fecha","viatico","area","estatus"],
      filterable: ["folio", "monto", "fecha","viatico","area","estatus"]
    }, 
    columnsTable: ["folio","area","estatus","monto", "fecha","opciones"],
    dataPagos:[],
    totalPagos:0,
    cajaPagados:0, // pagos que ya pago caja a las areas
    pagadosCaja:0, // finanzas pago ah caja
    pendientes:0, // pendientes por pagar
    impresionReintegro: false,
    reintegro: {
      id: null,
      folio: null,
      cantidad: 0.0
		},
		cuenta:null,
		cuentas:[],
		detalle:{},
		fecha:null
  }),
  computed: {
    
  },
  created(){
    axios.defaults.headers.common["bancadif-token"] = sessionStorage.getItem("bancadif_token");
    this.area_id = sessionStorage.getItem("area_id");
  },
  mounted(){
    jsreport.serverUrl = sessionStorage.getItem('reporter_url');
    this.listPagos();
    moment.locale('es-mx');
  },
  methods: {
    listPagos(){
      let me = this;
      axios.get("/fondorotatorio/banco/lista").then(r => {
        this.dataPagos = r.data.data;
        this.totalPagos = this.dataPagos.length;
        this.pagadosCaja = this.dataPagos.filter(p => p.estatus == 'REEMBOLSO CAJA').length; //REEMBOLSO CAJA
        this.cajaPagados = this.dataPagos.filter(p => p.estatus == 'PAGADO').length; // CAJA pago a las areas
        this.pendientes = this.dataPagos.filter(p => p.estatus == 'EN CAJA').length; // CAJA pago a las areas
        this.cargando = false;
      }).catch(e => {
        toastr.error(e, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
        this.cargando = false;
      });
    },
    ordenPago(datos){ 
      let me = this;
      me.cargando = true;
      var request = {
          template:{
              shortid:"HJglZgU8MH" //fondorotatorio/ordendepago
          },
          header: {
              Authorization : "Basic YWRtaW46MjFxd2VydHk0Mw=="
          },
          data:{
						pago: {
							folio: datos.folio,
							responsable_caja: 'AMADA DE LA CRUZ SANTIAGO MORA',
							caja_area:'OFICINA DE CAJA GENERAL',
							responsable_fondo:datos.responsable,
							area_fondo:datos.area,
							cargo:datos.nivel,
							fecha:moment(datos.fecha).format('LL').toUpperCase(),//me.formatFecha(me.comprobacion.created_at),  //
							total:datos.monto,
							total_letra: convertir.NumerosALetras(datos.monto),
						},
          }
      };
      jsreport.renderAsync(request).then((res) => {
        res.download(`OrdenPago-${datos.folio}.pdf`)
        me.cargando = false;
      });
    },
    changeStatus(status,id){
			// return console.log(status);
      let me = this;
      Swal.fire({
        title: 'Estas seguro',
        text:  `Enviar Pago a: ${status}`,
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si'
      }).then((result) => {
        if (result.value) {
          this.cargando =true;
          axios.post(`/fondorotatorio/caja/cambioEstatus`,{status:status,id:id}).then(r => {
            this.cargando = false;
            if(r.status === 200)
            {
              me.listPagos();
              return toastr.success(r.data.message, 'Bien', {timeOut: 5000, preventDuplicates: true,progressBar: true})
            }
            else
              return toastr.error(r.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
          }).catch(e => {
            toastr.error(e.response.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
            this.cargando = false;
          })
        }
      })  
		},
		buscarCuenta(search){
			if(search != null && search.length < 3) return;
      axios.get(`/fondorotatorio/banco/cuentas/${search}`).then(response => {
        this.cuentas = response.data;
      }).catch(error => { 
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'No pudimos cargar las entidades',
          text: `${response.data.message}.`
        });
      });
		},
		pagar(row){
			let me = this;
			me.detalle = row
			me.cuenta = null
			me.cuentas = []
			me.fecha = null
			$('#modalPago').modal('show');
		},
		pagarPago(){
			let me = this;
			if(me.cuenta == null || me.fecha ==null) return toastr.error('Existen campos vacios', 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
      Swal.fire({
        title: 'Estas seguro',
        text:  `Enviar el pago a: Pagado`,
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si'
      }).then((result) => {
        if (result.value) {
          this.cargando =true;
          axios.put(`/fondorotatorio/banco/pago/${me.detalle.id}/${me.cuenta.id}/${me.fecha}/${sessionStorage.getItem("usuario_id")}`).then(r => {
            this.cargando = false;
						me.listPagos();
						$('#modalPago').modal('hide');
						return toastr.success(r.data.message, 'Bien', {timeOut: 5000, preventDuplicates: true,progressBar: true})
          }).catch(e => {
						console.log(e)
						toastr.error(e.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
            this.cargando = false;
          })
        }
      })  
		},
    formatPesos(n) {
      return new Intl.NumberFormat("en-ES").format(n);
    },
    formatFecha(date){
      return moment(date).format('DD/MM/YYYY');
    },
    searchquery() {
      this.$refs.dataPagos.setFilter(this.search);
    },
    mostrarModal(pago){
      $('#reintegroModal').modal('show');
      this.reintegro.id = pago.id;
      this.reintegro.folio = pago.folio;
    },
    crearReintegro(){
      this.impresionReintegro = true;
      axios.post(`/fondorotatorio/pagos/${this.reintegro.id}/reintegro`, { tipo: 'CAJA', cantidad: this.reintegro.cantidad }).then(response => {
        this.$notify({
          group: 'foo',
          type: 'success',
          duration: 10000,
          title: 'Reintegro creado correctamente',
          text: `Su folio es: ${response.data.data.reintegro.folio}`
        });
        this.imprimirReintegro(response.data.data);
      }).catch(error => {
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'Ocurrio un error',
          text: `${error}`
        });
      });
    },
    imprimirReintegro(data){
      let request = {
        template:{
          shortid: 'rJlvu3DvMH'
        },
        header: {
          Authorization : "Basic YWRtaW46MjFxd2VydHk0Mw=="
        },
        data:{
          folio: data.reintegro.folio,
          direccion: data.area[0].nombreD,
          empleado: `${data.pago.empleado.persona.nombre} ${data.pago.empleado.persona.primer_apellido} ${data.pago.empleado.persona.segundo_apellido}`,
          area: data.pago.empleado.area.nombre,
          cantidad: data.reintegro.cantidad,
          recibo: this.reintegro.folio,
          fecha: moment(data.pago.fecha_elaboracion).format('DD [DE] MMMM [DE] YYYY').toUpperCase(),
          total: Number(data.pago.monto_total).toFixed(2),
          responsable: `AMADA DE LA CRUZ SANTIAGO MORA`,
          fecha_actual: moment().format('DD [DE] MMMM [DE] YYYY').toUpperCase()
        }
      };
      jsreport.renderAsync(request).then((res) => {
        res.download(`Reintegro-${data.reintegro.folio}.pdf`)
        this.reintegro.folio = null;
        this.reintegro.cantidad = 0;
        this.reintegro.id = null;
        this.impresionReintegro = false;
        $('#reintegroModal').modal('hide');
      }).catch(error => { console.log(error);
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'Ocurrio un error',
          text: `${error}`
        });
      });
		},
		reintegroTotal(id){
			let me = this;
      Swal.fire({
      title: 'Esta seguro?',
      text: "Se realizara el reintegro total",
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Si, enviar'
      }).then((result) => {
        if (result.value) {
          me.cargando = true;
          axios.put(`/fondorotatorio/pagos/reintegroT/${id}/CAJA`).then(r => {
            me.cargando = false;
            if(r.status === 200)
            {
							Swal.fire({position: 'top-end', type: 'success', title: `Se reintegro la cantidad de $ ${r.data.data.reintegro.cantidad}`, showConfirmButton: true,})
							let request = {
								template:{
									shortid: 'rJlvu3DvMH'
								},
								header: {
									Authorization : "Basic YWRtaW46MjFxd2VydHk0Mw=="
								},
								data:{
									folio: r.data.data.reintegro.folio,
									direccion: r.data.data.area[0].nombreD,
									empleado: r.data.data.empleado,
									area: r.data.data.areaE,
									cantidad: r.data.data.reintegro.cantidad,
									recibo: r.data.data.pago.folio,
									fecha: moment(r.data.data.pago.fecha_elaboracion).format('DD [DE] MMMM [DE] YYYY').toUpperCase(),
									total: Number(r.data.data.pago.monto_total).toFixed(2),
									responsable: 'AMADA DE LA CRUZ SANTIAGO MORA',
									fecha_actual: moment().format('DD [DE] MMMM [DE] YYYY').toUpperCase()
								}
							};
							jsreport.renderAsync(request).then((res) => {
								res.download(`Reintegro-${r.data.data.reintegro.folio}.pdf`)
							}).catch(error => { console.log(error);
								this.$notify({
									group: 'foo',
									type: 'error',
									duration: 10000,
									title: 'Ocurrio un error',
									text: `${error}`
								});
							});
            }
            else
              Swal.fire('Error',r.message,'error')
          }).catch(e => {
            toastr.error(e.response.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
            me.cargando = false;
          });
        }
      })
		},
		cambiarPago(id){
			let me = this;
      Swal.fire({
      title: 'Esta seguro?',
      text: "Se enviara el pago a caja",
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Si, enviar'
      }).then((result) => {
        if (result.value) {
          me.cargando = true;
          axios.put(`/fondorotatorio/pagos/${id}/metodopago`).then(r => {
            me.cargando = false;
            if(r.status === 200)
            {
							toastr.success(r.data.message, 'Bien', {timeOut: 5000, preventDuplicates: true,progressBar: true})
							me.listPagos();
            }
            else
              Swal.fire('Error',r.data.message,'error')
          }).catch(e => {
            toastr.error(e.response.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
            me.cargando = false;
          });
        }
      })
		},
  },

}
</script>

<style lang="scss" scoped>
.admin-enlace {
  color: black;
  button.card-header-action.btn-setting {
    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .loader {
    display: flex;
    justify-content: center;
    z-index: 9999;
  }

  @keyframes lds-interwind {
      0%,
      100% {
        animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
      }
      50% {
        animation-timing-function: cubic-bezier(0, 0.2, 1, 0.8);
      }
      0% {
        -webkit-transform: rotate(0deg) translate(0, -20px) scale(0);
        transform: rotate(0deg) translate(0, -20px) scale(0);
      }
      50% {
        -webkit-transform: rotate(180deg) translate(0, -20px) scale(1);
        transform: rotate(180deg) translate(0, -20px) scale(1);
      }
      100% {
        -webkit-transform: rotate(360deg) translate(0, -20px) scale(0);
        transform: rotate(360deg) translate(0, -20px) scale(0);
      }
    }
    @-webkit-keyframes lds-interwind {
      0%,
      100% {
        animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
      }
      50% {
        animation-timing-function: cubic-bezier(0, 0.2, 1, 0.8);
      }
      0% {
        -webkit-transform: rotate(0deg) translate(0, -20px) scale(0);
        transform: rotate(0deg) translate(0, -20px) scale(0);
      }
      50% {
        -webkit-transform: rotate(180deg) translate(0, -20px) scale(1);
        transform: rotate(180deg) translate(0, -20px) scale(1);
      }
      100% {
        -webkit-transform: rotate(360deg) translate(0, -20px) scale(0);
        transform: rotate(360deg) translate(0, -20px) scale(0);
      }
    }
    div.lds-interwind {
      position: relative;
    }
    div.lds-interwind div {
      position: absolute;
      top: 70px;
      left: 70px;
      -webkit-animation: lds-interwind 1s linear infinite;
      animation: lds-interwind 1s linear infinite;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #d12654;
    }
    div.lds-interwind div:last-child {
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
      background: #98579b;
    }
    .lds-interwind {
      width: 76px !important;
      height: 76px !important;
      -webkit-transform: translate(-38px, -38px) scale(0.38)
        translate(38px, 38px);
      transform: translate(-38px, -38px) scale(0.38) translate(38px, 38px);
    }
}
</style>