@import "./../css/coreui.css";
@import "./../css/pace.min.css";
@import "~@coreui/icons/css/coreui-icons.min.css";
@import "~font-awesome/css/font-awesome.min.css";
// @import "~flag-icon-css/css/flag-icon.min.css";
// @import "~simple-line-icons/css/simple-line-icons.css";
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

body {
  background-color: white;
}

.sidebar .nav-link.active .nav-icon {
  color: #D12654;
}

.app-header.navbar{
  background-color: #1a2226;
}

.sidebar-minimized .sidebar .nav-item:hover > .nav-link {
  background: #D12654;
}

.card-accent-primary {
  border-top-color: #D12654;
}
.navbar-brand-full{
  width: 9em;
}

.card-header-action:hover {
  color: #D12654cd;
}

.sidebar .nav-link:hover{
  background: #D12654;
}

.bg-primary {
  background-color: #D12654 !important;
}

.bg-dif {
  background-color: #98579B !important;
}

.bg-info {
  background-color: #71DBD4 !important;
}

#app{
  background-color: #fff;
}

.btn:focus, .btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(253, 52, 99, 0.19);
}


element.style {
  margin-bottom: 4px;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: pointer;
}

.btn-primary {
  background-color: #D12654;
  border-color: #D12654;
  &:hover{
    background-color: rgb(168, 13, 54);
    border-color: rgb(168, 13, 54);
  }
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: #D12654;
  border-color: #D12654;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(253, 52, 99, 0.19);
}

.page-item.active .page-link {
  background-color: #d12654;
  border-color: #a71e43;
}

.page-link {
  color: #d12654;
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(253, 52, 99, 0.19);
}

.page-link:hover {
  color: #a71e43;
}

.form-control:focus {
  color: #5c6873;
  background-color: #fff;
  border-color: #a33b57;
  box-shadow: 0 0 0 0.2rem rgba(253, 52, 99, 0.19);
}

.multiselect__option--highlight {
  background: #D12654 !important;
}

.multiselect__option--selected.multiselect__option--highlight {
  background: #FF585D !important;
}

.multiselect__option--highlight:after {
  content: attr(data-select);
  background: rgba(87, 87, 87, 0.2) !important;
  color: #fff;
}

.VueTables__search {
  display: none !important;
}

.VueTables__limit {
  display: none !important;
}

.VuePagination {
  justify-content: flex-end !important;
  margin: 0 !important;
  padding: 0 !important;
}

.card-color-1 {
  background-color: #E58BAD !important;
  border-color: rgb(167, 60, 101) !important;
}
.card-color-2 {
  background-color: #EF426F !important;
  border-color: rgb(160, 22, 59) !important;
}
.card-color-3 {
  background-color: #D12654 !important;
  border-color: rgb(126, 21, 49) !important;
}
.card-color-4 {
  background-color: #98579B !important;
  border-color: rgb(98, 49, 100) !important;
}
.badge-warm{
  color: white !important;
  background-color: #E68E1B !important;
  font-weight: 400 !important;
  letter-spacing: 1px;
}

.sidebar .nav-link:hover > .nav-icon{
  color: #FFF;
}
.notifications {
  z-index: 9999 !important;
}

.vue-notification.success {
  background: #2EBAB0 !important;
  border-left-color: #21857E !important;
}
.vue-notification {
  margin-top: 5px !important;
}

.is-invalid .multiselect__tags {
  border: 1px solid #f86c6b;
}

.is-valid .multiselect__tags {
  border: 1px solid #4dbd74;
}

.multiselect__spinner:after, .multiselect__spinner:before {
  border-top-color: #D12654 !important;
}

// .is-invalid~.input-group-append .input-group-text{
//   border-color:#f86c6b;
//   color: #f86c6b;
// }