<template>
  <div>
    <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h3 class="box-title">Lista de donativos</h3>
      </div>
      <div class="box-body">
        <div style="margin-bottom: 20px;">
          <div class="row">
            <div class="col-md-5">
              <label for="buscar">Buscar:</label>
              <div class="input-group input-group-sm" style="width: 220px;">
                <input type="text" name="table_search" class="form-control pull-right" placeholder="Folio" v-model="busqueda" @keyup.enter="buscarDonativo">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search" @click.prevent="buscarDonativo()"></i></button>
                </div>
                <div class="input-group-btn">
                    <button style="margin-left: 4px;" type="button" class="btn btn-warning outline" @click.prevent="listado()">
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                  </div>
              </div>
            </div>            
            <div class="col-md-2 col-md-offset-5">
              <label for="items">Elementos por Página:</label>
              <v-select :searchable="false" :clearable="false" v-model="pagination.per_page" :options="itemsPerPage" @input="listado()">
								<div slot="no-options">No hay opciones!</div>
							</v-select>
            </div>
          </div>
        </div>
        <div class="box-body table-responsive no-padding">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th>Folio general</th>
								<th>Folio</th>
                <th>Fecha solicitud</th>
                <th>Fecha entrega</th>
                <th>Estatus</th>
                <th>Opciones</th>
              </tr>
              <tr v-for="(item, index) in tableData" :key="index">
								<td>{{item.foliogeneral}}</td>
                <td>{{item.solicitud.folio}}</td>
                <td>{{formatFecha(item.solicitud.fecha_solicitud)}}</td>
                <td>{{formatFecha(item.solicitud.fecha_entrega)}}</td>
                <td ><span :class="item.etiqueta">{{(item.solicitud.estatus.nombre)}}</span></td>
                <td>
                  <button class="btn btn-primary btn-xs" @click.prevent="verDetalles(item.id)"><i class="fa fa-eye"></i> Ver</button>
                  <button class="btn btn-success btn-xs" @click="mostrarpdf(item.solicitud.id)"><i class="fa fa-file-pdf-o"></i></button>
                  <button  v-show="item.elaborar" class="btn btn-primary btn-xs" @click.prevent="nuevaProduccion(item)"><i class="fa fa-arrow-right"></i> Elaborar</button>
                  <button title="Entregar" v-show="item.entregar" class="btn btn-success btn-xs" @click.prevent="entregar(item.solicitudgeneral_id,item.solicitud.id)"><i class="fa fa-check"></i></button>
<!--                   <button v-show="item.cancelar" title="Cancelar" class=" btn btn-danger btn-xs" @click.prevent="cancelar(item,3)"><i class="fa fa-times"></i></button>
 -->                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12" align="center">
          <nav aria-label="navigation">
            <ul class="pagination">
              <li v-if="pagination.current_page > 1">
                <a href="#" @click.prevent="changePage(pagination.current_page - 1)">
                  <span>Atras</span>
                </a>
              </li>
              <li v-for="(page,index) in pagesNumber" :key="index" v-bind:class="[ page == isActived ? 'active' : '']">
                <a href="#" @click.prevent="changePage(page)">
                  {{ page }}
                </a>
              </li>

              <li v-if="pagination.current_page < pagination.last_page">
                <a href="#" @click.prevent="changePage(pagination.current_page + 1)">
                  <span>Siguiente</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- modal-detalle -->
    <div class="modal fade" id="modal-detalle" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
            <h4 class="modal-title" id="modal-detalle-title">Detalles del donativo</h4>
          </div>
          <div class="modal-body" id="modal-body-detalle">
            <div class="box box-primary shadow">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th style="width:30%"><i class="fa fa-id-card margin-r-5"></i>Folio:</th>
                          <td>{{detalleDonativo.solicitud.folio}}</td>
                        </tr>
												<tr>
                          <th style="width:30%"><i class="fa fa-id-card margin-r-5"></i>Folio general:</th>
                          <td>{{detalleDonativo.solicitudGeneral.folio}}</td>
                        </tr>
                        <tr>
                          <th><i class="fa fa-calendar margin-r-5"></i>Fecha de solicitud: </th>
                          <td>{{formatFecha(detalleDonativo.solicitud.fecha_solicitud)}}</td>
                        </tr>
                        <tr>
                          <th><i class="fa fa-user margin-r-5"></i>Remitente:</th>
                          <td>{{detalleDonativo.remitente}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th style="width:30%"><i class="fa fa-flag margin-r-5"></i>Estatus:</th>
                          <td><span :class="etiqueta">{{detalleDonativo.estatus}}</span></td>
                        </tr>
                        <tr>
                          <th><i class="fa fa-calendar margin-r-5"></i>Fecha de entrega:</th>
                          <td>{{formatFecha(detalleDonativo.solicitud.fecha_entrega)}}</td>
                        </tr>
                        <tr>
                          <th><i class="fa fa-file-text-o margin-r-5"></i>Tipo remitente:</th>
                          <td>{{detalleDonativo.tipo}}</td>
                        </tr>
                        <tr>
                          <th><i class="fa fa-file-text-o margin-r-5"></i>Justificación:</th>
                          <td>{{detalleDonativo.justificacion}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="box box-primary shadow">
              <div class="box box-default">
                <div class="box-header">
                  <h4>Lista de productos</h4>
                </div>
                <div class="box-body table-responsive no-padding">
                  <table class=" text-center table table-striped">
                    <tbody>
                      <tr>
                        <th>Cantidad</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Subtotal</th>
                      </tr>
                      <tr v-for="(item, index) in detalleDonativo.detalles" :key="index">
                        <td>{{item.pivot.cantidad}}</td>
                        <td>{{item.nombre}}</td>
                        <td>${{(item.pivot.precio_unitario).toFixed(2)}}</td>
                        <td>${{(item.pivot.subtotal).toFixed(2)}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer" id="modal-footer-detalle">
           <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment';

export default {
  mounted() {
    axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");
    this.listado();
  },
  data() {
    return { 
      busqueda:'',
      etiqueta:'',    
      total: 0,
      remitente:'',
      beneficios:[],
      beneficiossolicitud:[],
      donativos : [],
      detalleDonativo:{'solicitud_id':'','id':'','folio':'','fecha_solicitud':'','fecha_entrega':'','justificacion':'','estatus':'','remitente':'','tipo':'','solicitud':{},'detalles':[],'solicitudGeneral':{},'personas':{},'municipios':{},'regiones':{},'instituciones':{}},            
      tableData: [],   
      itemsPerPage: [10, 25, 50],
      pagination: {
        'total': 0,
        'current_page': 1,
        'per_page': 10,
        'last_page': 0,
        'from': 0,
        'to': 0
      },
      offset: 3,                       
    }
  },
  methods: {
    listado(page) {
      block()
      this.donativos=[];
      this.tableData=[];
      
      var url = '/panaderia/api/donativo/seguimiento?page' + page + '&per_page=' + this.pagination.per_page;
      axios.get(url).then(respuesta => {        
        this.donativos = respuesta.data.donativos.data;
        this.pagination.from = respuesta.data.donativos.from;
        this.pagination.last_page = respuesta.data.donativos.last_page;
        this.pagination.per_page = respuesta.data.donativos.per_page;
        this.pagination.to = respuesta.data.donativos.to;
        this.pagination.total = respuesta.data.donativos.total;
        this.donativos.forEach(element => {
          const donativo = {
            id: element.id,
						solicitudgeneral_id : element.solicitudgeneral_id,
						foliogeneral:element.solicitud_general.folio,
            folio:element.folio,
            justificacion:element.justificacion,
            solicitud: element.solicitud,
            elaborar:true,
            cancelar:true,
            entregar:true,
            etiqueta:''
          }
          this.tableData.push(donativo);
        });
        this.tableData.forEach(element => {      
          if(element.solicitud.estatus.id===3){
            element.elaborar=false;  
            element.cancelar=false;  
            element.entregar=false;  
            element.etiqueta= 'badge badge-danger';                    
          }   
          if(element.solicitud.estatus.id===5){
            element.elaborar=false;  
            element.cancelar=false;  
            element.entregar=false;  
            element.etiqueta= 'badge badge-success';                    
          }       
          if(element.solicitud.estatus.id===8){
            element.elaborar = false;
            element.entregar = true;
            element.cancelar = false;
            element.etiqueta= 'badge badge-secondary'; 
          }
          if(element.solicitud.estatus.id === 7){
            element.elaborar = false;
            element.entregar=false;
            element.etiqueta= 'badge badge-primary'; 
          }
          if(element.solicitud.estatus.id === 9){
            element.elaborar = true;
            element.entregar = false;
            element.cancelar=true;
            element.etiqueta= 'badge badge-warning'; 
          }
     
        });
      
        unblock()
      }).catch(error => {
        console.log('surgio un error ' + error)
      });
    },
    actualizarBeneficios(id){
      this.beneficiossolicitud = []; 
      block()
      axios.get('/panaderia/api/donativos/'+id).then(respuesta => {
        this.beneficiossolicitud = respuesta.data;   
        this.beneficiossolicitud.forEach(element=>{
          if(element.laststatus.id===5){
            console.log(element)
            this.actualizarSolicitudGeneral(element.id,8);
          } 
        })                  
        unblock()
      }).catch(error => {
        console.log(error)
        unblock()
      })
    },  
    actualizarSolicitudGeneral(id, status) {
        block();
        console.log('Enviando formulario');
        axios.put('/panaderia/api/donativos/'+ id, {
          estatus: status
        }).then(respuesta => {
          console.log('Creado');
          unblock();             
        }).catch(error => {
          console.log(error);
          unblock();
        });       
      },
    
    verDetalles(id) {
      block()
      axios.get('/panaderia/api/donativo/seguimiento/' + id).then(respuesta => {
      
        this.detalleDonativo.justificacion = respuesta.data.justificacion;
        this.detalleDonativo.estatus = respuesta.data.solicitud.estatus.nombre;
        this.detalleDonativo.detalles = respuesta.data.solicitud.detalles;
        this.detalleDonativo.solicitud = respuesta.data.solicitud; 
        this.detalleDonativo.personas = respuesta.data.donativo_beneficiarios;
        this.detalleDonativo.municipios = respuesta.data.donativo_municipios;
        this.detalleDonativo.regiones = respuesta.data.donativo_regiones;
        this.detalleDonativo.instituciones = respuesta.data.donativos_dependencias;
        this.detalleDonativo.solicitudGeneral=respuesta.data.solicitud_general;
        this.detalleDonativo.tipo=respuesta.data.solicitud_general.tiposremitente.tipo;
        this.etiquetasEstatus(this.detalleDonativo.estatus);
        if(respuesta.data.solicitud_general.tiposremitente_id===4){          
          this.detalleDonativo.personas.forEach(element=>{
            this.detalleDonativo.remitente=element.nombre_completo;
          })
        }
                if(respuesta.data.solicitud_general.tiposremitente_id===3){          
          this.detalleDonativo.instituciones.forEach(element=>{
            this.detalleDonativo.remitente=element.nombre;
          })
        }
                if(respuesta.data.solicitud_general.tiposremitente_id===2){          
          this.detalleDonativo.municipios.forEach(element=>{
            this.detalleDonativo.remitente=element.nombre;
          })
        }
                if(respuesta.data.solicitud_general.tiposremitente_id===1){          
          this.detalleDonativo.regiones.forEach(element=>{
            this.detalleDonativo.remitente=element.nombre;
          })
        }
          console.log(this.detalleDonativo)
        unblock()
        $('#modal-detalle').modal("show");
      }).catch(error => {
        console.log('error en ' + error)
        unblock()
      })

      $('#modal-detalle').modal('show');
    },
    cerrarModal() {
      $('#modal-detalle').modal("hide");
    },
    actualizarEstatus(id) {
      block();
      console.log('Enviando formulario');
      axios.put('/panaderia/api/donativo/seguimiento/' + id, {
        estatus: '7'
      }).then(respuesta => {
        console.log('Creado');
        unblock();
        this.listado();       
      }).catch(error => {
        console.log('Ocurrio un error');
        console.log(error);s
        unblock();       
      });
    },
    nuevaProduccion(obj) {
      console.log('Enviando formulario');
      axios.post('/panaderia/api/producciones', {
        id: obj.solicitud.id,
      }).then(respuesta => {
        console.log('Creado');
        this.actualizarEstatus(obj.solicitud.id);
        obj.elaborar=false;
        //this.tableData=[];
        this.listado();        
				swal({type: 'success',title: 'Producción iniciada correctamente.', confirmButtonText:'Aceptar'});
      }).catch(error => {
        console.log('Ocurrio un error');
        console.log(error);
        unblock();        
				swal({type: 'warning',title: 'Ocurrió un error, no se puede elaborar este donativo.', confirmButtonText:'Aceptar'});
      });
     
    },
    cancelar(donativo, estatus) {
      Swal.fire({
        title: '¿Desea cancelar el pedido?',
        text: "una vez finalizada no podra revertir!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, Cancelar!',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.value) {
          block();
          axios.put('/panaderia/api/donativo/seguimiento/' + donativo.solicitud.id, {
            estatus: estatus,
          }).then(respuesta => {
            unblock();
            donativo.elaborar=false;
            donativo.cancelar=false;
            this.listado();            
						swal({type: 'success',title: 'Se canceló correctamente.', confirmButtonText:'Aceptar'});
          }).catch(error => {
            console.log(error);
            unblock();            
						swal({type: 'error',title: 'Ocurrió un error, no se pudo cancelar el pedido.', confirmButtonText:'Aceptar'});
          });
        }
      })
    },
    botonEntregar(donativo) {
      donativo.forEach(element => {
        if (element.laststatus.id === 5) {
          this.actualizarSolicitudGeneral(element.id,8);
          //donativo.entregar = false;
        }
      });
    },
    entregar(solicitud,donativo) {
      Swal.fire({
        title: '¿El donativo fue entregado?',
        text: "una vez finalizada no podra revertir!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, Entrego!',
        cancelButtonText: 'No'
      }).then((result) => {
        if (result.value) {
          block();
          axios.put('/panaderia/solicitudes/entregar/' + donativo, {
            estatus: 5,
          }).then(respuesta => {
            unblock();					
					  this.actualizarBeneficios(solicitud);					
            this.listado();            
						swal({type: 'success',title: 'Este donativo fue entregado.', confirmButtonText:'Aceptar'});
          }).catch(error => {
            console.log(error);
            unblock();           
						swal({type: 'error',title: 'Ocurrió un error, no se puede registrar la entrega.', confirmButtonText:'Aceptar'});
          });
        }
      })
    }, 
    changePage(page) {
      this.pagination.current_page = page;
      this.listado(page);
    },
    buscarDonativo() {
      block();
      if (this.busqueda == '') {
        return
      }
      axios.get('/panaderia/donativos/buscardonativo/' + this.busqueda).then(respuesta => {
        this.tableData = [];
        this.busqueda = null
        if (respuesta.data === "") {
          swal({
            type: 'warning',
            title: 'No se encontraron resultados!'
          });
          unblock();
          return;
        }
        this.donativos = respuesta.data;        
        this.donativos.forEach(element => {
          const donativo = {
            id: element.id,
						solicitudgeneral_id : element.solicitudgeneral_id,
						foliogeneral:element.solicitud_general.folio,
            folio:element.folio,
            justificacion:element.justificacion,
            solicitud: element.solicitud,
            elaborar:true,
            cancelar:true,
            entregar:true,
          }
          this.tableData.push(donativo);
        });
        this.tableData.forEach(element => {
          if(element.solicitud.estatus.id===7){
            element.elaborar=false; 
            element.entregar=false;  
            element.etiqueta= 'badge badge-primary';         
          }
          if(element.solicitud.estatus.id===3){
            element.elaborar=false;  
            element.cancelar=false;  
            element.entregar=false;   
            element.etiqueta= 'badge badge-danger';                 
          }   
          if(element.solicitud.estatus.id===5){
            element.elaborar=false;  
            element.cancelar=false;  
            element.entregar=false; 
            element.etiqueta= 'badge badge-success';                   
          }         
          if(element.solicitud.estatus.id===8){
            element.elaborar = false;
            element.entregar = true;
            element.cancelar = false;
            element.etiqueta= 'badge badge-secondary';
          }          
          if(element.solicitud.estatus.id === 9){
            element.elaborar = true;
            element.entregar = false;
            element.cancelar=true;
            element.etiqueta= 'badge badge-warning';
          }
     
        });
        this.pagination.total = 1;
        this.pagination.current_page = 1;
        this.pagination.per_page = 10;
        this.pagination.last_page = 0;
        this.pagination.from = 0;
        this.pagination.to = 0;
        unblock();
      }).catch(error => {
        console.log(error);
        swal({
          type: 'warning',
          title: 'No se encontraron resultados!'
        });
        unblock()
      });
    },
    formatFecha(date){
      return moment(date).format('DD/MM/YYYY');
    },
    mostrarpdf(id) {
      var url = "/panaderia/donativos/productossolicitados/" + id;
      var win = window.open(url, '_blank');
      win.focus();
    },
    etiquetasEstatus(estatus){     
      if(estatus=='PENDIENTE')
      this.etiqueta='badge badge-warning';
      if(estatus=='ENTREGADO')
      this.etiqueta='badge badge-success';
      if(estatus=='TERMINADO')
      this.etiqueta='badge badge-primary';
      if(estatus=='EN PRODUCCION')
      this.etiqueta='badge badge-secondary';
      if(estatus=='CANCELADO')
      this.etiqueta='badge badge-danger';
      return this.etiqueta;
    }
  },
  computed: {
    isActived: function () {
      return this.pagination.current_page;
    },
    pagesNumber: function () {
      if (!this.pagination.to) {
        return [];
      }

      var from = this.pagination.current_page - this.offset;
      if (from < 1) {
        from = 1;
      }

      var to = from + (this.offset * 2);
      if (to >= this.pagination.last_page) {
        to = this.pagination.last_page;
      }

      var pagesArray = [];
      while (from <= to) {
        pagesArray.push(from);
        from++;
      }
      return pagesArray;
    }
  },                                           
}

</script>
<style scoped>
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color:#1B96B8;
  color: #fff;
}
.validacion {
  color: rgb(255, 0, 0);
}
</style>