<template>
  <div>
    <div v-if="donativos">
      <div class="box box-primary shadow">
        <div class="box-header with-border">
          <h3 class="box-title">Lista de solicitudes</h3>
        </div>
        <div class="box-body">
          <div style="margin-bottom: 20px;">
            <div class="row">
              <div class="col-md-5">
                <label for="buscar">Buscar:</label>
                <div class="input-group input-group-sm" style="width: 220px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Folio" v-model="busqueda" @keyup.enter="buscarSolicitud">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search" @click.prevent="buscarSolicitud()"></i></button>
                  </div>
                  <div class="input-group-btn">
                    <button style="margin-left: 4px;" type="button" class="btn btn-warning outline" @click.prevent="listado()">
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-md-offset-5">
                <label for="items">Elementos por Página:</label>
                <v-select :searchable="false" :clearable="false" v-model="pagination.per_page" :options="itemsPerPage" @input="listado()">
									<div slot="no-options">No hay opciones!</div>
								</v-select>
              </div>
            </div>
          </div>
          <div class="box-body no-padding table-responsive">
            <table class="table text-center">
              <tbody>
                <tr>
                  <th>Folio</th>
                  <th>Fecha recepción</th>
                  <th>Recepción</th>
                  <th>Tipo</th>
                  <th>Asunto</th>
                  <th>Estatus</th>
                  <th>Consultar</th>
                  <th>Seguimiento</th>
                </tr>
                <tr v-for="(item, index) in tableData" :key="index">
                  <td>{{item.folio}}</td>
                  <td>{{formatFecha(item.fecharecepcion)}}</td>
                  <td>{{item.tiposrecepcion.tipo}}</td>
                  <td>{{item.tiposremitente.tipo}}</td>
                  <td>{{item.asunto}}</td>
                  <td>{{item.estatus.status}}</td>
                  <td>
                    <button class="btn btn-primary btn-xs" @click.prevent="verDetalles(item)">Ver <i class="fa fa-eye"></i></button>
                  </td>
                  <td>
                    <button v-if="item.vistobueno" class="btn btn-primary btn-xs" @click.prevent="actualizarEstatus(item,9)"><i class="fa fa-check"></i>Vo.Bo.</button>
                    <button v-if="item.seguimiento" class="btn btn-danger btn-xs" @click.prevent="seguimiento(item)">Seguimiento <i class="fa fa-sign-in"></i></button>
                    <span class="badge badge-pill badge-success" v-if="!item.vistobueno && !item.seguimiento">Solicitud Atendida</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12" align="center">
            <nav aria-label="navigation">
              <ul class="pagination">
                <li v-if="pagination.current_page > 1">
                  <a href="#" @click.prevent="changePage(pagination.current_page - 1)">
                    <span>Atras</span>
                  </a>
                </li>
                <li v-for="(page,index) in pagesNumber" :key="index" v-bind:class="[ page == isActived ? 'active' : '']">
                  <a href="#" @click.prevent="changePage(page)">
                    {{ page }}
                  </a>
                </li>
                <li v-if="pagination.current_page < pagination.last_page">
                  <a href="#" @click.prevent="changePage(pagination.current_page + 1)">
                    <span>Siguiente</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <form v-on:submit.prevent="registrarProductos">
        <div class="box box-primary shadow">
          <div class="box-header with border">
            <h4>Información del donativo</h4>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <th style="width:30%"><i class="fa fa-id-card margin-r-5"></i>Folio:</th>
                      <td>{{solicitud.folio}}</td><!--  -->
                    </tr>
                    <tr>
                      <th><i class="fa fa-user margin-r-5"></i>Remitente:</th>
                      <td>{{getRemitente()}}</td>
                    </tr>
                    <tr>
                      <th><i class="fa fa-flag margin-r-5"></i>Tipo:</th>
                      <td>{{solicitud.tiporemitente}}</td>
                    </tr>
                    <tr>
                      <th><i class="fa fa-signal margin-r-5"></i>Estatus general:</th>
                      <td><span class="label label-success badge badge-warning">{{solicitud.estatus.status}}</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <th style="width:30%"><i class="fa fa-calendar margin-r-5"></i>Fecha de recepción:</th>
                      <td>{{formatFecha(solicitud.fecharecepcion)}}</td>
                    </tr>
                    <tr>
                      <th><i class="fa fa-file-text-o margin-r-5"></i>Asunto</th>
                      <td>{{solicitud.asunto}}</td>
                    </tr>
                    <tr>
                      <th><i class="fa fa-building margin-r-5"></i>Recibido en:</th>
                      <td>{{solicitud.tiporecepcion}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="box box-primary shadow">
          <div class="box-header with-border">
            <h4>Beneficios solicitados</h4>
          </div>
          <div class="box-body">
            <div class="col-md-12">
              <div class="box box-default">
                <div class="box-body no-padding table-responsive">
                  <table class="text-center table table-striped">
                    <tbody>
                      <tr>
                        <th>Folio</th>
                        <th>Beneficio</th>
                        <th>Cantidad</th>
                        <th>Opciones</th>
                      </tr>
                      <tr v-for="(item, index) in beneficiosseguimiento" :key="index">
                        <td>{{item.folio}}</td>
                        <td class="text-uppercase">{{item.nombre}}</td>
                        <td>{{item.cantidad}}</td>
                        <td>
                          <button v-show="item.cancelar" title="Cancelar" class=" btn btn-danger btn-xs" @click.prevent="cancelar(item,7)"><i class="fa fa-times"></i>Cancelar</button>
                          <button v-show="item.agregar" title="Agregar productos" @click.prevent="modalAgregar(item)" class=" btn btn-success btn-xs"><i class="fa fa-check"></i>Agregar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-if="listaGeneral.length>0">
          <div class="box box-primary shadow">
            <div class="box-header with-border">
              <h4>Lista de productos</h4>
            </div>
            <div class="box-body">
              <div class="form-group col-md-12">
                <label for="fecha">Fecha de entrega: </label><br>
                <date-picker required :editable="false" :disabled-days="disableWeekends" :not-before="fechaActual" style="width:300px;" v-model="fecha_entrega" lang="es" valueType="format" format="DD-MM-YYYY"></date-picker>
              </div>
              <div class="col-md-12">
                <div class="box box-default">
                  <div class="box-body no-padding table-responsive">
                    <table class="text-center table table-striped">
                      <tbody>
                        <tr>
                          <th>Beneficio</th>
                          <th>Producto</th>
                          <th>Precio</th>
                          <th>Cantidad</th>
                          <th>Subtotal</th>
                          <th>Eliminar</th>
                        </tr>
                        <tr v-for="(item, index) in listaGeneral" :key="index">
                          <td>{{item.beneficios.nombre}}</td>
                          <td>{{item.nombre}}</td>
                          <td>${{(item.precio).toFixed(2)}}</td>
                          <td>
                            <input required class="form-control text-center" v-model="item.cantidad" type="number" name="cantidad" id="" min="1" step="1" @change="modificarCantidadGeneral(index)">
                          </td>
                          <td>${{(item.precio*item.cantidad).toFixed(2)}}</td>
                          <td>
                            <button type="button" class="btn btn-danger btn-xs" @click.prevent="eliminarProducto"><i class="fa fa-minus margin-r-5"></i>Quitar</button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <button type="submit" v-show="listagral" class=" btn btn-primary pull-right"><i class="fa fa-save"></i> Guardar</button>
          <button class="btn btn-primary pull-left" @click.prevent="regresar"><i class="fa fa-arrow-circle-left"></i> Regresar</button>
        </div>
      </form>
    </div>
    <!--modal ver detalle-->
    <div class="modal fade" id="modal-detalle" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
            <h4 class="modal-title" id="modal-detalle-title">Información del donativo</h4>
          </div>
          <div class="modal-body" id="modal-body-detalle">
            <div class="box box-primary shadow">

              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="tect-uppercase table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th style="width:30%"><i class="fa fa-id-card margin-r-5"></i>Folio:</th>
                          <td> {{solicitud.folio}} </td>
                        </tr>
                        <tr>
                          <th><i class="fa fa-user margin-r-5"></i>Remitente</th>
                          <td>{{getRemitente()}}</td>
                        </tr>
                        <tr>
                          <th><i class="fa fa-flag margin-r-5"></i>Tipo:</th>
                          <td>{{solicitud.tiporemitente}}</td>
                        </tr>
                        <tr>
                          <th><i class="fa fa-signal margin-r-5"></i>Estatus:</th>
                          <td>{{solicitud.estatus.status}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th style="width:30%"><i class="fa fa-calendar margin-r-5"></i>Fecha de recepción:</th>
                          <td>{{solicitud.fecharecepcion}}</td><!--  -->
                        </tr>
                        <tr>
                          <th><i class="fa fa-file-text-o margin-r-5"></i>Asunto</th>
                          <td>{{solicitud.asunto}}</td><!--  -->
                        </tr>
                        <tr>
                          <th><i class="fa fa-building margin-r-5"></i>Recibido en:</th>
                          <td>{{solicitud.tiporecepcion}}</td><!-- {{modal.recepcion}} -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="box box-primary shadow">
              <div class="box-header with border">
                <h5>Beneficios solicitados</h5>
              </div>
              <div class="box-body table-responsive no-padding">
                <table class="text-center table table-striped">
                  <tbody>
                    <tr>
                      <th>Folio</th>
                      <th>Beneficio</th>
                      <th>Cantidad</th>
                      <th>Estatus</th>
                    </tr>
                    <tr v-for="(item, index) in solicitud.beneficios" :key="index">
                      <td>{{item.folio}}</td>
                      <td class="text-uppercase">{{item.beneficios.nombre}}</td>
                      <td>{{item.cantidad}}</td>
                      <td>{{item.laststatus.status}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer" id="modal-footer-detalle">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    <!--modal agregar-->
    <div class="modal fade" id="modal-agregar" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg" style="height: 150%;">
        <div class="modal-content">
          <form v-on:submit.prevent="agregar(beneficio)" autocomplete="off">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
              <h4 class="modal-title">Agregar productos</h4>
            </div>
            <div class="modal-body">
              <div class="box-body">
                <div class="row">
                  <div class="form-group col-md-8">
                    <label for="">Beneficio: </label>
                    <span class="text-uppercase">{{beneficioactual.nombre}}</span>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="">Cantidad: </label>
                    <span>{{beneficioactual.cantidad}}</span>
                  </div>
                </div>
                <form v-on:submit.prevent="agregarProductos" autocomplete="off">
                  <div class="row">
                    <div class="form-group col-md-4">
                      <label for="producto">Tipo producto: </label>
                      <v-select :options="tiposproductos" label="nombre" @input="verProductos" v-model="key">
												<div slot="no-options">No hay opciones!</div>
                        <template #search="{attributes, events}">
                          <input class="vs__search" :required="!key" v-bind="attributes" v-on="events" />
                        </template>
                      </v-select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="producto">Producto: </label>
                      <v-select v-model="pro_id" :options="productosportipo" label="nombre" :filterable='true'>
												<div slot="no-options">No hay opciones!</div>
                        <template #search="{attributes, events}">
                          <input class="vs__search" :required="!pro_id" v-bind="attributes" v-on="events" />
                        </template>
                      </v-select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="cantidad">Cantidad: </label>
                      <input required type="number" min="1" step="1" class="form-control" id="cantidad" name="cantidad" v-model="cantidad">
                      <span class="validacion">{{ errors.first('cantidad') }}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-12">
                      <button type="submit" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Agregar
                      </button>
                    </div>
                  </div>
                </form>
                <div class="row">
                  <div v-if="lista.length>0" class="col-md-12">
                    <div class="box box-default">
                      <div class="box-header">
                        <h4>Lista de productos</h4>
                      </div>
                      <div class="box-body table-responsive no-padding">
                        <table class="text-center table table-striped">
                          <tbody>
                            <tr>
                              <th>Producto</th>
                              <th>Cantidad</th>
                              <th>Precio</th>
                              <th>Subtotal</th>
                              <th>Eliminar</th>
                            </tr>
                            <tr v-for="(item, index) in lista" :key="index">
                              <td>{{item.nombre}}</td>
                              <td>
                                <input required class="form-control text-center" v-model="item.cantidad" type="number" name="cantidad" id="" min="1" step="1" @change="modificarCantidad(index)">
                              </td>
                              <td>${{(item.precio).toFixed(2)}}</td>
                              <td>${{(item.precio*item.cantidad).toFixed(2)}}</td>
                              <th>
                                <button type="button" class="btn btn-danger btn-xs" @click.prevent="eliminarProductoLista"><i class="fa fa-minus margin-r-5"></i>Quitar</button></th>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success"> Aceptar</button>
              <button class="btn btn-danger" value="Cancelar" data-dismiss="modal">Cerrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
  import moment from 'moment';

  export default {
    mounted() {
      axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");
      this.listado();
      this.listadoProductos();
      this.fechaActual = new Date();
    },
    data() {
      return {
        estatus: '',
        busqueda: '',
        fechaActual: '',
        busqueda: '',
        key: '',
        pro_id: '',
        fecha_entrega: '',
        cantidad: 1,
        total: 0,
        donativos: true,
        listagral: false,
        tablaproductos: false,
        beneficios: [],
        beneficiosseguimiento: [],
        beneficioProporcionados: [],
        estatusGeneral: [],
        solicitudes: [],
        productos: [],
        productosportipo: [],
        tiposproductos: [],
        lista: [],
        listaGeneral: [],
        tableData: [],
        remitente: {
          id: ' ',
          nombre: ' '
        },
        beneficioactual: {
          'id': '',
          'nombre': '',
          'cantidad': '',
          'solicitud': '',
          'cancelar': true,
          'agregar': true
        },
        solicitud: {
          'id': null,
          'folio': null,
          'fechaoficio': null,
          'fecharecepcion': null,
          'tiporecepcion': '',
          'tiporemitente': '',
          'remitente_id': '',
          'estatus': [],
          'asunto': null,
          'beneficios': [],
          'personas': [],
          'municipios': [],
          'regiones': [],
          'instituciones': [],
        },
        itemsPerPage: [10, 25, 50],
        pagination: {
          'total': 0,
          'current_page': 1,
          'per_page': 10,
          'last_page': 0,
          'from': 0,
          'to': 0
        },
        offset: 3,
      }
    },
    methods: {
      listado(page) {
        block()
       //this.solicitudes = [];
        this.tableData = [];
        axios.get('/panaderia/api/donativos?page=' + page + '&per_page=' + this.pagination.per_page).then(respuesta => {
          unblock()
          this.solicitudes = respuesta.data.peticiones.data;
          this.pagination.from = respuesta.data.peticiones.from;
          this.pagination.last_page = respuesta.data.peticiones.last_page;
          this.pagination.per_page = respuesta.data.peticiones.per_page;
          this.pagination.to = respuesta.data.peticiones.to;
          this.pagination.total = respuesta.data.peticiones.total;
          this.solicitudes.forEach(element => {
            const donativo = {
              id: element.id,
              folio: element.folio,
              fecharecepcion: element.fecharecepcion,
              fechaoficio: element.fechaoficio,
              asunto: element.asunto,
              tiposrecepcion: element.tiposrecepcion,
              tiposremitente: element.tiposremitente,
              beneficiossolicitados: element.beneficiossolicitados,
              solicitudesmunicipios: element.solicitudesmunicipios,
              solicitudespersonales: element.solicitudespersonales,
              solicitudesregiones: element.solicitudesregiones,
              solicitudesinstituciones: element.solicitudesinstituciones,
              estatus: this.getEstatus(element.id),
              vistobueno: true,
              seguimiento: true

            }
            this.tableData.push(donativo);
            this.tableData.forEach(element => {
              if (element.estatus.status == 'VINCULADO') {
                element.seguimiento = false;
              }
              if (element.estatus.status == 'LISTA DE ESPERA' || element.estatus.status == 'CANCELADO' || element.estatus.status == 'FINALIZADO') {
                element.vistobueno = false;
                element.seguimiento = false;
              }
              if (element.estatus.status == 'Vo. Bo.') {
                element.seguimiento = true;
                element.vistobueno = false;
							}
							
            });
          });
        }).catch(error => {
          console.log('surgio un error ' + error)
          unblock()
        });
      },
      listadoProductos() {
        axios.get('/panaderia/api/productos').then(respuesta => {
          this.productos = respuesta.data.productos;
          this.tiposproductos = respuesta.data.tipos;
        }).catch(error => {
          console.log(error);
        });
      },
      formatFecha(date) {
        return moment(date).format('DD/MM/YYYY');
      },
      verProductos() {
        this.productosportipo = this.productos.filter(p => p.tipoproducto_id === this.key.id);
      },
      getNombreProducto(id) {
        return this.productos.find(productos => productos.id === id).nombre;
      },
      getPrecio(id) {
        return this.productos.find(productos => productos.id === id).precio;
      },
      eliminarProducto(id) {
        this.listaGeneral.splice(id, 1);
        if (this.listaGeneral.length === 0)
          this.listagral = false;
      },
      modificarCantidadGeneral(index) {
        this.listaGeneral[index].subtotal = this.listaGeneral[index].precio * this.listaGeneral[index].cantidad;
      },
      modificarCantidad(index) {
        this.lista[index].subtotal = this.lista[index].precio * this.lista[index].cantidad;
      },
      calcularTotal() {
        this.total = 0;
        this.listaGeneral.forEach(producto => {
          this.total += producto.subtotal;
        });
        return this.total;
      },
      eliminarProductoLista(id) {
        this.lista.splice(id, 1);
        if (this.lista.length === 0) {
          this.tablaproductos = false;
        }
      },
      agregarProductos() {
        const result = this.lista.filter(pro => pro.id === this.pro_id.id);
        if (result.length === 0) {
          if (this.pro_id != '') {
            this.tablaproductos = true;
            this.lista.push({
              id: this.pro_id.id,
              nombre: this.pro_id.nombre,
              precio: this.pro_id.precio,
              cantidad: this.cantidad,
              subtotal: this.cantidad * this.pro_id.precio,
              beneficio_id: this.beneficioactual.id,
              beneficios: this.beneficioactual
            });
            this.resetDatosAgregar();
          } else {
            swal({
              type: 'warning',
              title: '¡Seleccione un producto!',
              confirmButtonText: 'Aceptar'
            });
          }
        } else {
          swal({
            type: 'warning',
            title: '¡El producto ya se encuentra en la lista!',
            confirmButtonText: 'Aceptar'
          });
          this.resetDatos();
        }
      },
      registrarProductos() {
        this.calcularTotal();
        if (this.fecha_entrega != '') {
          block();
          console.log('Enviando formulario');
          axios.post('/panaderia/api/donativo/seguimiento', {
            solicitudes: this.solicitud,
            fecha_entrega: this.fecha_entrega,
            total: this.total,
            tiporemitente: this.solicitud.tiporemitente,
            remitente: this.remitente.id,
            lista: this.listaGeneral
          }).then(respuesta => {
            console.log('Creado');
            unblock();
            this.actualizarListaEspera();
            this.resetDatos();
            this.listaGeneral = '';
            //this.regresar();          
            swal({
              type: 'success',
              title: 'Registro agregado correctamente.',
              confirmButtonText: 'Aceptar'
            });
          }).catch(error => {
            console.log('Ocurrio un error');
            console.log(error);
            unblock();
            swal({
              type: 'error',
              title: 'Ocurrió un error.',
              confirmButtonText: 'Aceptar'
            });
          });
        } else {
          swal({
            type: 'warning',
            title: 'Ingrese la fecha de entrega.',
            confirmButtonText: 'Aceptar'
          });
        }

      },
      regresar() {
        block();
        this.donativos = true;
        this.resetDatos();
        this.listado();
        unblock();
      },
      getEstatus(id) {
        this.beneficios = [];
        this.beneficios = this.solicitudes.find(solicitud => solicitud.id === id).beneficiossolicitados;
        var status = [];
        var id = 0;
        this.estatusGeneral = [];
        this.beneficios.forEach(b => {
          this.estatusGeneral.push(b.laststatus)
        })
        this.estatusGeneral.forEach(element => {
          status.push(element.id);
        })
        if (status.includes(5)) {
          id = 5;
        } else {
          id = Math.max.apply(null, status);
        }
        this.estatusGeneral.forEach(element => {
          if (element.id === id)
            this.estatus = element;
        })
        id = Math.max.apply(null, status);
        return this.estatus;
      },
      getRemitente() {
        if (this.solicitud.remitente_id === 4) {
          this.solicitud.personas.forEach(r => {
            if (r.pivot.solicitud_id === this.solicitud.id) {
              this.remitente.id = r.id;
              this.remitente.nombre = r.nombre_completo;
            }
          });
          return this.remitente.nombre;
        }
        if (this.solicitud.remitente_id === 3) {
          this.solicitud.instituciones.forEach(r => {
            if (r.pivot.solicitud_id === this.solicitud.id) {
              this.remitente.id = r.pivot.institucion_id;
              this.remitente.nombre = r.encargado;
            }
          });
          return this.remitente.nombre;
        }
        if (this.solicitud.remitente_id === 2) {
          this.solicitud.municipios.forEach(r => {
            if (r.pivot.solicitud_id === this.solicitud.id) {
              this.remitente.id = r.pivot.municipio_id;
              this.remitente.nombre = r.nombre;
            }
          });
          return this.remitente.nombre;
        }
        if (this.solicitud.remitente_id === 1) {
          this.solicitud.regiones.forEach(r => {
            if (r.pivot.solicitud_id === this.solicitud.id) {
              this.remitente.id = r.pivot.region_id;
              this.remitente.nombre = r.nombre;
            }
          });
          return this.remitente.nombre;
        }
      },
      getDatos(obj) {
        this.solicitud.id = obj.id;
        this.solicitud.asunto = obj.asunto;
        this.solicitud.folio = obj.folio;
        this.solicitud.tiporemitente = obj.tiposremitente.tipo;
        this.solicitud.tiporecepcion = obj.tiposrecepcion.tipo;
        this.solicitud.remitente_id = obj.tiposremitente.id;
        this.solicitud.fechaoficio = obj.fechaoficio;
        this.solicitud.fecharecepcion = obj.fecharecepcion;
        this.solicitud.personas = obj.solicitudespersonales;
        this.solicitud.municipios = obj.solicitudesmunicipios;
        this.solicitud.instituciones = obj.solicitudesinstituciones;
        this.solicitud.regiones = obj.solicitudesregiones;
        this.solicitud.beneficios = obj.beneficiossolicitados;
        this.solicitud.estatus = obj.estatus;
      },
      verDetalles(obj) {
        this.getDatos(obj);
        //this.getRemitente();
        $('#modal-detalle').modal('show');
      },
      seguimiento(obj) {
        block()
        this.getDatos(obj);
        this.solicitud.beneficios.forEach(beneficio => {
          const b = {
            id: beneficio.id,
            folio: beneficio.folio,
            solicitud_id: beneficio.solicitud_id,
            nombre: beneficio.beneficios.nombre,
            laststatus: beneficio.laststatus,
            cantidad: beneficio.cantidad,
            agregar: true,
            cancelar: true,
          }
          this.beneficiosseguimiento.push(b);
        })

        this.donativos = false;
        unblock();
      },
      modalAgregar(obj) {
        this.beneficio = obj;
        this.lista = [];
        this.beneficioactual.id = obj.id;
        this.beneficioactual.nombre = obj.nombre;
        this.beneficioactual.cantidad = obj.cantidad;

        $('#modal-agregar').modal('show');
      },
      agregar(obj) {
        if(this.lista.length){
				obj.agregar = false;
        obj.cancelar = false;
        this.lista.forEach(producto => {
          this.listaGeneral.push(producto)
        });
        $('#modal-agregar').modal("hide");
        this.eliminarBeneficiosDuplicados(this.listaGeneral, 'beneficio_id');
        this.lista = [];
				this.listagral = true;
				}
				else{
					swal({
              type: 'warning',
              title: 'Debe agregar los productos.',
              confirmButtonText: 'Aceptar'
            });
				}
      },
      eliminarBeneficiosDuplicados(lista, atributo) {
        var beneficios = {};
        for (var i in lista) {
          beneficios[lista[i][atributo]] = lista[i];
        }
        for (i in beneficios) {
          this.beneficioProporcionados.push(beneficios[i]);
          console.log('b ' + beneficios[i]);
        }

        return this.beneficioProporcionados;
      },
      actualizarEstatus(item, estatus) {
        if (item.estatus.id === 3) {
          item.beneficiossolicitados.forEach(b => {
            this.actualizar(b.id, estatus);
          })
        }
      },
      actualizarListaEspera() {
        this.beneficioProporcionados.forEach(element => {
          this.actualizar(element.beneficio_id, 5);
        })
      },
      actualizarCancelar(id, status) {
        block();
        console.log('Enviando formulario');
        axios.put('/panaderia/api/donativos/' + id, {
          estatus: status
        }).then(respuesta => {
          console.log('Creado');
          unblock();
          swal({
            type: 'success',
            title: 'Estatus actualizado.',
            confirmButtonText: 'Aceptar'
          });
        }).catch(error => {
          console.log(error);
          unblock();
          swal({
            type: 'error',
            title: 'Ocurrió un error al actualizar el estatus.',
            confirmButtonText: 'Aceptar'
          });
        });
      },
      cancelar(obj, status) {
        this.beneficioactual.id = obj.id;
        this.beneficioactual.nombre = obj.nombre;
        this.beneficioactual.cantidad = obj.cantidad;
        this.beneficioactual.solicitud = obj.solicitud_id;
        this.beneficioactual.agregar = obj.agregar;
        this.beneficioactual.cancelar = obj.cancelar;
        Swal.fire({
          title: '¿Desea cancelar este beneficio?',
          text: "una vez cancelado no podra revertir!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Si, cancelar!',
          cancelButtonText: 'Cancelar'
        }).then((result) => {
          if (result.value) {
            block();
            this.actualizarCancelar(obj.id, status);
            obj.agregar = false;
            obj.cancelar = false;
            //this.donativos=true; 
            //this.listado();        
            console.log(obj.id);
            unblock();
          }
        })
      },
      actualizar(id, status) {
        block();
        console.log('Enviando formulario');
        axios.put('/panaderia/api/donativos/' + id, {
          estatus: status
        }).then(respuesta => {
          console.log('Creado');
          unblock();
          this.listado();
          //this.resetDatos(); */
          this.donativos = true;
          //this.beneficiosprogramassolicitudes=[];                           
          swal({
            type: 'success',
            title: 'Estatus actualizado correctamente.',
            confirmButtonText: 'Aceptar'
          });
        }).catch(error => {
          console.log(error);
          unblock();
          swal({
            type: 'error',
            title: 'Ocurrio un error.',
            confirmButtonText: 'Aceptar'
          });
        });
      },
      resetDatosAgregar() {
        this.subtotal = 0;
        this.cantidad = 1;
        this.pro_id = '';
        this.key = '';
        this.productosportipo = [];
      },
      resetDatos() {

        this.beneficiosseguimiento = [];
        //this.listagral = false;
        this.fecha_entrega = '';
        this.productosportipo = [];
        this.beneficioProporcionados = [];
        this.estatusGeneral = [];
        this.listaGeneral = [];
        this.beneficiosprogramassolicitudes = [];
        //this.beneficioss = [];           
      },
      buscarSolicitud() {
        this.tableData = [];
        this.solicitudes = [];
        block();
        if (this.busqueda == '') {
          return
        }
        var url = '/panaderia/solicitudes/buscar/' + this.busqueda.replace(/\//g, '-');
        axios.get(url).then(respuesta => {
          this.tableData = [];
          this.busqueda = null
          //console.log(respuesta)
          if (respuesta.data === "") {
            swal({
              type: 'warning',
              title: 'NO se encontraron resultados!'
            });
            unblock();
            return;
          }
          //console.log(respuesta.data)
          this.solicitudes.push(respuesta.data);
          this.solicitudes.forEach(element => {
            const donativo = {
              id: element.id,
              folio: element.folio,
              fecharecepcion: element.fecharecepcion,
              fechaoficio: element.fechaoficio,
              asunto: element.asunto,
              tiposrecepcion: element.tiposrecepcion,
              tiposremitente: element.tiposremitente,
              beneficiossolicitados: element.beneficiossolicitados,
              solicitudesmunicipios: element.solicitudesmunicipios,
              solicitudespersonales: element.solicitudespersonales,
              solicitudesregiones: element.solicitudesregiones,
              solicitudesinstituciones: element.solicitudesinstituciones,
              estatus: this.getEstatus(element.id),
              vistobueno: true,
              seguimiento: true

            }
            this.tableData.push(donativo);
            this.tableData.forEach(element => {
              if (element.estatus.status == 'VINCULADO') {
                element.seguimiento = false;
              }
              if (element.estatus.status == 'LISTA DE ESPERA' || element.estatus.status == 'CANCELADO' || element.estatus.status == 'FINALIZADO') {
                element.vistobueno = false;
                element.seguimiento = false;
              }
              if (element.estatus.status == 'Vo. Bo.') {
                element.seguimiento = true;
                element.vistobueno = false;
              }
            });
          });

          this.pagination.total = 1;
          this.pagination.current_page = 1;
          this.pagination.per_page = 10;
          this.pagination.last_page = 0;
          this.pagination.from = 0;
          this.pagination.to = 0;
          unblock();
        }).catch(error => {
          console.log(error);
          swal({
            type: 'warning',
            title: 'NO se encontraron resultados!'
          });
          unblock()
        });
      },
      changePage(page) {
        this.pagination.current_page = page;
        this.listado(page);
			},
			disableWeekends (date) {
      const day = new Date(date).getDay()
      return day === 0 || day === 6
    	}
    },
    computed: {
      isActived: function () {
        return this.pagination.current_page;
      },
      pagesNumber: function () {
        if (!this.pagination.to) {
          return [];
        }

        var from = this.pagination.current_page - this.offset;
        if (from < 1) {
          from = 1;
        }

        var to = from + (this.offset * 2);
        if (to >= this.pagination.last_page) {
          to = this.pagination.last_page;
        }

        var pagesArray = [];
        while (from <= to) {
          pagesArray.push(from);
          from++;
        }
        return pagesArray;
      }
    },
  }
</script>
<style scoped>
  .modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #1B96B8;
    color: #fff;
  }

  .validacion {
    color: rgb(255, 0, 0);
  }
</style>