<template>
  <div>
    <!------------------------Listado de Cursos------------------------->
    <div v-show="!verCurso" class="">
      <div class="box box-primary shadow">
        <div class="box-header with-border">
          <h3 class="box-title">Cursos del Taller de Panaderia</h3>
          <button type="button" class="btn btn-success pull-right" @click="modalCrearCurso">
            <i class="fa fa-plus"></i> Agregar Curso
          </button>
        </div>
        <div class="box-body">
          <div class="">
            <div class=" box-boy no-padding">
              <v-client-table :data="tableData1" :columns="columns1" :options="options1">
                <div slot="nombre" slot-scope="props">
                  {{props.row.beneficio.nombre}}
                </div>
                <div slot="status" slot-scope="props">
                  {{props.row.estatus.status}}
                </div>
                <div slot="fechaEvento" slot-scope="props">
                  {{formatFecha(props.row.fechaEvento)}}
                </div>
                <div slot="ver" slot-scope="props">
                  <button class="btn btn-primary btn-xs" @click.prevent="getCurso(props.row.id)"><i class="fa fa-eye"></i> Ver</button>
                </div>
                <div slot="opciones" slot-scope="props">
                  <button class="btn btn-warning btn-xs" @click.prevent="modalEditarCurso(props.row.id)"><i class="fa fa-pencil"></i> Editar</button>
									<a  title="Imprimir PDF" @click="pdf(props.row.id)" class="btn btn-success btn-xs"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</a>
                </div>
              </v-client-table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-------------------------Modal Agregar y Editar Curso------------->
    <div id="modalCurso" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalAgregar" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <form method="POST" v-on:submit.prevent="datosModalCurso.nuevo?crearCurso():actualizarCurso()" data-vv-scope="curso" autocomplete="off">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
              <h4 class="modal-title" v-if="datosModalCurso.nuevo">Crear Curso</h4>
              <h4 class="modal-title" v-if="!datosModalCurso.nuevo">Editar Curso</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="Fecha">Fecha:</label>
                    <date-picker :editable="false" :not-before="fechaActual" v-model="datosModalCurso.fecha" style="width: 100%;" v-validate="'required'" name="Fecha" lang="es" valueType="format" format="DD-MM-YYYY"></date-picker>
                    <span class="validacion">{{ errors.first('curso.Fecha') }}</span>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="Nombre">Nombre:</label>
                    <v-select v-model="datosModalCurso.beneficio" name="Nombre" v-validate="{required:true}" :options="listaBeneficios" label="beneficio" :filterable='true'>
											<div slot="no-options">No hay opciones!</div>
										</v-select>
                    <span class="validacion">{{ errors.first('curso.Nombre') }}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="Municipio">Municipio:</label>
                    <v-select @input="getLocalidades" v-model="datosModalCurso.municipio" name="Municipio" v-validate="{required:true}" :options="listaMunicipios" label="nombre" :filterable='true'>
											<div slot="no-options">No hay opciones!</div>
										</v-select>
                    <span class="validacion">{{ errors.first('curso.Municipio') }}</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="Localidad">Localidad:</label>
                    <v-select v-model="datosModalCurso.localidad" name="Localidad" v-validate="{required:true}" :options="listaLocalidades" label="nombre" :filterable='true'>
											<div slot="no-options">No hay opciones!</div>
										</v-select>
                    <span class="validacion">{{ errors.first('curso.Localidad') }}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="Colonia">Colonia:</label>
                    <input v-model="datosModalCurso.colonia" class="form-control" v-validate="'required'" name="Colonia" type="text">
                    <span class="validacion">{{ errors.first('curso.Colonia') }}</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="Código Postal">Codigo Postal:</label>
                    <input v-model="datosModalCurso.codigo_postal" class="form-control" v-validate="{required:true, length:5}" type="text" name="Código Postal">
                    <span class="validacion">{{ errors.first('curso.Código Postal') }}</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="Calle">Calle:</label>
                    <input v-model="datosModalCurso.calle" class="form-control" v-validate="'required'" name="Calle" type="text">
                    <span class="validacion">{{ errors.first('curso.Calle') }}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="Número Interiror">Número Int.:</label>
                    <input v-model="datosModalCurso.numeroInterior" class="form-control" name="Número Interiror" type="text" v-validate="{required:false, regex: /^([0-9]+-[A-Z|a-z]+|[0-9]+){1}$/}">
                    <span class="validacion">{{ errors.first('curso.Número Interiror') }}</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="Número Exterior">Número Ext.:</label>
                    <input v-model="datosModalCurso.numeroExterior" class="form-control" name="Número Exterior" type="text" v-validate="{required:true, regex: /^([0-9]+-[A-Z|a-z]+|[0-9]+){1}$/}">
                    <span class="validacion">{{ errors.first('curso.Número Exterior') }}</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="Tipo Evento">Tipo Evento:</label>
                    <v-select v-model="datosModalCurso.tipoEvento" name="Tipo Evento" v-validate="{required:true}" :options="listaTiposEventos" label="nombre" :filterable='true'>
											<div slot="no-options">No hay opciones!</div>
										</v-select>
                    <span class="validacion">{{ errors.first('curso.Tipo Evento') }}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="Descripcion">Descripcion:</label>
                    <textarea v-validate="'required'" v-model="datosModalCurso.descripcion" name="Descripcion" class="form-control" rows="4" placeholder="Descripcion del curso *Obligatorio*"></textarea>
										<span class="validacion">{{ errors.first('curso.Descripcion') }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button v-if="datosModalCurso.nuevo" type="submit" class="btn btn-success">Agregar</button>
              <button v-if="!datosModalCurso.nuevo" type="submit" class="btn btn-success">Actualizar</button>
              <button class="btn btn-danger" value="Cancelar" data-dismiss="modal" @click="resetDatosModalCurso()">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-------------------------Listado de Participantes del Curso Seleccionado---------------------------->
    <!-- <div v-if="verCurso" class=""> -->
    <div v-if="verCurso" class="">
      <div class="box box-primary shadow">
        <div class="box-header with-border">
          <h4 class="box-title">Datos del Curso</h4>
          <button type="button" class="btn btn-danger pull-right" @click="verCurso=false">
            <i class="fa fa-window-close"></i>
          </button>
        </div>
        <div class="box-body">
          <!---Informacion del curso----->
          <div class="box box-widget widget-user">
            <div class="widget-user-header bg-teal-active">
              <h3 class="widget-user-username"> {{datosCurso.beneficio.nombre}}</h3>
              <h5 class="widget-user-desc"> {{datosCurso.descripcionEvento}}</h5>
              <h6 class="widget-user-desc"> {{datosCurso.folio}}</h6>
            </div>

            <div class="box-footer">
              <div class="row">
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header"> <i class="fa fa-calendar"></i> {{formatFecha2(datosCurso.fechaEvento)}}</h5>
                  </div>
                </div>

                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header"><i class="fa fa-users"></i> {{datosCurso.participantes.length}}</h5>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="description-block">
                    <h5 class="description-header"><span :class="datosCurso.estatus.descripcion"> {{datosCurso.estatus.status}}</span></h5>
                  </div>
                </div>
                <hr>

                <div class="col-sm-4">
                  <div class="description-block">
                    <h5 class="description-header">Municipio: <br>{{datosCurso.municipio.nombre}}</h5>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="description-block">
                    <h5 class="description-header">Localidad: <br> {{datosCurso.localidad.nombre}}</h5>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="description-block">
                    <h5 class="description-header">Calle:<br> {{datosCurso.calle}}</h5>
                  </div>
                </div>

                <div class="col-sm-2">
                  <div class="description-block">
                    <h5 class="description-header">Numero Ext. <br> {{datosCurso.numExt}}</h5>
                  </div>
                </div>

                <div class="col-sm-2">
                  <div class="description-block">
                    <h5 class="description-header">Numero Int. <br> {{datosCurso.numInt}}</h5>
                  </div>
                </div>

                <div class="col-sm-2">
                  <div class="description-block">
                    <h5 class="description-header">Codigo Postal:<br> {{datosCurso.codigoPostal}}</h5>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="description-block">
                    <h5 class="description-header">Colonia: <br> {{datosCurso.colonia}}</h5>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="description-block">
                    <h5 class="description-header">Tipo evento: <br>{{datosCurso.tipo_evento.nombre}}</h5>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-success pull-left" @click="modalAgregarParticipante" style="margin-bottom: 15px;">
              <i class="fa fa-user-plus"></i>
            </button>
          </div>
          <!---Lista de Participantes---------->
          <div class="">
            <div class=" box-boy no-padding">
              <v-client-table :data="tableData2" :columns="columns2" :options="options2" autofocus>
                <div slot="fecha_nacimiento" slot-scope="props">
                  {{formatFecha(props.row.fechaNacimiento)}}
                </div>
                <div slot="genero" slot-scope="props">
                  {{genero(props.row.genero)}}
                </div>
                <div slot="opciones" slot-scope="props">
                  <button class="btn btn-xs btn-warning" title="Editar" @click.prevent="modalEditarParticipante(props.row)"><i class="glyphicon glyphicon-pencil"></i></button>
                  <button class="btn btn-xs btn-danger" title="Eliminar" @click.prevent="eliminarParticipante(props.row.id)"><i class="glyphicon glyphicon-trash"></i></button>
                </div>
              </v-client-table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-------------------------Modal Agregar Participantes-------------------->
    <div id="modalParticipante" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalAgregar">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <form method="POST" v-on:submit.prevent="datosModalParticipante.nuevo?agregarParticipante():actualizarParticipante()" data-vv-scope="participante" autocomplete="off">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" @click="resetDatosModalParticipante()">
                <span>&times;</span>
              </button>
              <h4 class="modal-title" v-if="datosModalParticipante.nuevo">Agregar Participante Curso</h4>
              <h4 class="modal-title" v-if="!datosModalParticipante.nuevo">Editar Participante</h4>
            </div>
            <div class="modal-body">
              <div class="row" v-if="datosModalParticipante.nuevo">
                <div class="col-md-12">
                  <div class="form-group">
                    <form v-on:submit.prevent="buscarPersona()" autocomplete="off">
                    <label for="Buscar">Buscar Persona</label>
                    <div class="input-group input-group-sm" style="width: 100%;">
                      <input v-model="buscar" type="text" minlength="3" name="Buscar" class="form-control pull-right" placeholder="Nombre de la persona" required>
                      <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                    </form>
                  </div>
                  <div class="" v-show="listaPersonas.length>0">
                    <div class=" box-boy no-padding">
                      <table class="table table-hover table-bordered">
                        <thead>
                          <th>Nombre</th>
                          <th>Primer Apellido</th>
                          <th>Segundo Apellido</th>
                          <th>Fecha de Nacimiento</th>
                          <th>Seleccionar</th>
                        </thead>
                        <tbody>
                          <tr v-for="(item, index) in listaPersonas" :key="index">
                            <td><label for="">{{item.nombre}}</label></td>
                            <td><label for="">{{item.primer_apellido}}</label></td>
                            <td><label for="">{{item.segundo_apellido}}</label></td>
                            <td><label for="">{{formatFecha(item.fecha_nacimiento)}}</label></td>
                            <td><button class="btn btn-success btn-xs" @click.prevent="seleccionarPersona(item)">Seleccionar</button></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-12" align="center" v-show="listaPersonas.length>0">
                    <nav aria-label="navigation">
                      <ul class="pagination">
                        <li v-if="pagination.current_page > 1">
                          <a href="#" @click.prevent="changePage(pagination.current_page - 1)">
                            <span>Atras</span>
                          </a>
                        </li>
                        <li v-for="(page,index) in pagesNumber" :key="index" v-bind:class="[ page == isActived ? 'active' : '']">
                          <a href="#" @click.prevent="changePage(page)">
                            {{ page }}
                          </a>
                        </li>

                        <li v-if="pagination.current_page < pagination.last_page">
                          <a href="#" @click.prevent="changePage(pagination.current_page + 1)">
                            <span>Siguiente</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input class="form-control" v-model="datosModalParticipante.nombre" type="text" name="Nombre" id="" required v-validate="{required:true, regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}" title="No dejar espacio al inicio ni al final solo se aceptan letras">
										<span class="validacion">{{ errors.first('participante.Nombre') }}</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="primer apellido">Primer Apellido:</label>
                    <input class="form-control" v-model="datosModalParticipante.apPaterno" type="text" name="Primer Apellido" id="" v-validate="{required:true, regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}" title="No dejar espacio al inicio ni al final solo se aceptan letras">
										<span class="validacion">{{ errors.first('participante.Primer Apellido') }}</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="segundo apellido">Segundo Apellido:</label>
                    <input class="form-control" v-model="datosModalParticipante.apMaterno" type="text" name="Segundo Apellido" id="" v-validate="{required:false, regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}" title="No dejar espacio al inicio ni al final solo se aceptan letras">
										<span class="validacion">{{ errors.first('participante.Segundo Apellido') }}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="fecha nacimiento">Fecha Nacimiento:</label>
                    <date-picker v-validate="'required'" v-model="datosModalParticipante.fechaNacimiento" style="width: 100%;" name="Fecha Nacimiento" lang="es" valueType="format" format="DD-MM-YYYY" required></date-picker>
										<span class="validacion">{{ errors.first('participante.Fecha Nacimiento') }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="telefono">Telefono:</label>
                    <input v-validate="{required:true, regex: /^[0-9]{10}$/}" type="text" class="form-control" placeholder="Telefono" v-model="datosModalParticipante.telefono" name="Telefono">
										<span class="validacion">{{ errors.first('participante.Telefono') }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="genero">Genero:</label>
                    <select v-validate="'required'" class="form-control" v-model="datosModalParticipante.genero" name="Genero">
                      <option value="M">Masculino</option>
                      <option value="F">Femenino</option>
                    </select>
										<span class="validacion">{{ errors.first('participante.Genero') }}</span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="correo">Correo:</label>
                    <input type="text" v-validate="'email'" data-vv-as="email" name="Correo" v-model="datosModalParticipante.correo" class="form-control">
										<span class="validacion">{{ errors.first('participante.Correo') }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <Button v-if="datosModalParticipante.nuevo" type="submit" class="btn btn-success">Agregar</Button>
              <Button v-if="!datosModalParticipante.nuevo" type="submit" class="btn btn-success">Actualizar</Button>
              <button class="btn btn-danger" value="Cancelar" data-dismiss="modal" @click="resetDatosModalParticipante()">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment';
  export default {
    data() {
      return {
        fechaActual: null,
        buscar: '',
        verCurso: false,
        listaMunicipios: [],
        listaLocalidades: [],
        listaTiposEventos: [],
        listaBeneficios: [],
        listaPersonas: [],
        datosModalCurso: {
          id: '',
          nuevo: null,
          fecha: '',
          beneficio: null,
          municipio: null,
          localidad: null,
          colonia: '',
          codigo_postal: '',
          calle: '',
          numeroInterior: '',
          numeroExterior: '',
          tipoEvento: null,
          descripcion: ''
        },
        datosCurso: null,
        datosModalParticipante: {
          id: null,
          nuevo: null,
          nombre: '',
          apPaterno: '',
          apMaterno: '',
          fechaNacimiento: '',
          telefono: '',
          genero: '',
          correo: ''
        },
        //propiedades de la tabla1          
        columns1: ['nombre', 'folio', 'fechaEvento', 'status', 'ver', 'opciones'],
        tableData1: [],
        //opciones de la tabla donde se puede modificar las etiquetas de los elementos
        options1: {
          headings: {
            nombre: 'Nombre',
            folio: 'Folio',
            fechaEvento: 'Fecha Inicio',
            status: 'Estatus',
            ver: 'Ver',
            opciones: 'Opciones'
          },
          sortable: ['nombre', 'folio', 'fechaEvento', 'status'],
          filterable: ['nombre', 'folio', 'estatus'],
          pagination: {
            dropdown: false,
            chunk: 10,
            edge: false,
            align: 'center',
            nav: 'fixed'
          },
          perPageValues: [10, 25, 50, 100],
          texts: {
            count: "Mostrando {from} a {to} de {count} resultados|{count} resultados|Un resultado",
            first: 'First',
            last: 'Last',
            filter: "Buscar: ",
            filterPlaceholder: "Busqueda",
            limit: "Resultados: ",
            page: "Page:",
            noResults: "No hay resultados",
            filterBy: "Filter by {column}",
            loading: 'Loading...',
            defaultOption: 'Select {column}',
            columns: 'Columns'
          }
        },
        //propiedades de la tabla2          
        columns2: ['nombre', 'primer_apellido', 'segundo_apellido', 'fecha_nacimiento', 'genero', 'numero_local', 'opciones'],
        tableData2: [],
        //opciones de la tabla donde se puede modificar las etiquetas de los elementos
        options2: {
          headings: {
            nombre: 'Nombre',
            primer_apellido: 'Primer Apellido',
            segundo_apellido: 'Segundo Apellido',
            fecha_nacimiento: 'Fecha Nacimiento',
            genero: 'Genero',
            numero_local: 'Telefono',
            opciones: 'Opciones'
          },
          sortable: ['nombre', 'genero'],
          filterable: ['nombre', 'genero'],
          pagination: {
            dropdown: false,
            chunk: 10,
            edge: false,
            align: 'center',
            nav: 'fixed'
          },
          perPageValues: [10, 25, 50, 100],
          texts: {
            count: "Mostrando {from} a {to} de {count} resultados|{count} resultados|Un resultado",
            first: 'First',
            last: 'Last',
            filter: "Buscar: ",
            filterPlaceholder: "Busqueda",
            limit: "Resultados: ",
            page: "Page:",
            noResults: "No hay resultados",
            filterBy: "Filter by {column}",
            loading: 'Loading...',
            defaultOption: 'Select {column}',
            columns: 'Columns'
          }
        },
        //propiedades de la paginacion tabla personasEncontradas    
        pagination: {
          'total': 0,
          'current_page': 1,
          'per_page': 10,
          'last_page': 0,
          'from': 0,
          'to': 0
        },
        offset: 3,
      }
    },
    methods: {
      listadoBeneficios() {
        axios.get('/panaderia/beneficios/listado').then(respuesta => {
          this.listaBeneficios = respuesta.data;
        }).catch(error => {
          console.log('surgio un error al consultar los beneficios de panaderia' + error)					 
					 swal({type: 'error',title: 'Ocurrió un error al cargar los beneficios.', confirmButtonText:'Aceptar'});
        });
      },
      listadoCursos() {
        console.log('listando cursos de Panaderia.....')
        block();
        axios.get('/panaderia/api/cursos').then(respuesta => {
          this.tableData1 = respuesta.data;
          unblock();
        }).catch(error => {
          console.log('surgio un error al cargar los cursos ' + error)
          unblock();					 
					 swal({type: 'error',title: 'Ocurrió un error al cargar los cursos.', confirmButtonText:'Aceptar'});
        });
      },
      listadoMunicipios() {
        console.log('listando municipios de oaxaca')
        var url = '/panaderia/municipios'
        axios.get(url).then(respuesta => {
          console.log(respuesta.data)
          this.listaMunicipios = respuesta.data;
        }).catch(error => {
          console.log('error al consultar municipios ' + error)					 
					 swal({type: 'error',title: 'Ocurrió un error al cargar municipios.', confirmButtonText:'Aceptar'});
        });
      },
      listaEventos() {
        axios.get('/panaderia/eventos/listado').then(respuesta => {
          this.listaTiposEventos = respuesta.data;
        }).catch(error => {
          console.log('surgio un error al consultar los beneficios de panaderia' + error)					 
					 swal({type: 'error',title: 'Ocurrió un error al cargar los beneficios.', confirmButtonText:'Aceptar'});
        });
      },
      getLocalidades() {
        console.log('buscando las localidades de dicho municipio')
        this.datosModalCurso.localidad = '';
        this.listaLocalidades = [];
        if (this.datosModalCurso.municipio == null)
          return
        var url = '/panaderia/localidades/' + this.datosModalCurso.municipio.id;
        axios.get(url).then(respuesta => {
          this.listaLocalidades = respuesta.data;
        }).catch(error => {
          console.log('surgio un error al obtener las localidades del municipio ' + error)					 
					 swal({type: 'error',title: 'Ocurrió un error al obtener localidades.', confirmButtonText:'Aceptar'});
        });

      },
      genero(gen) {
        return gen === 'M' ? 'Masculino' : gen === 'F' ? 'Femenino' : 'Masculino';
      },
      buscarPersona(page) {
        console.log('buscando si existe la persona')
        if (this.buscar != null) {
          block();
          var url = '/panaderia/cursos/beneficiarios/buscar/persona?page=' + page + '&curp=' + this.buscar;
          axios.get(url).then(respuesta => {
            unblock();
            if (respuesta.data.data.length > 0) {
              this.listaPersonas = respuesta.data.data
              this.pagination.from = respuesta.data.from;
              this.pagination.last_page = respuesta.data.last_page;
              this.pagination.per_page = respuesta.data.per_page;
              this.pagination.to = respuesta.data.to;
              this.pagination.total = respuesta.data.total;
            } else {
              this.listaPersonas = [];
            }

          }).catch(error => {
            unblock();
            console.log('error en ' + error)						 
						 swal({type: 'error',title: 'Ocurrió un error al realizar la busqueda.', confirmButtonText:'Aceptar'});
          })
        }
      },
      modalCrearCurso() {
        this.resetDatosModalCurso();
         this.$validator.reset();
        console.log('modal para crear un curso')
        this.datosModalCurso.nuevo = true;
        $('#modalCurso').modal('show');
      },
      modalEditarCurso(id) {       
        this.resetDatosModalCurso();
         this.$validator.reset();
        this.datosModalCurso.id = id;
        var url = '/panaderia/api/cursos/' + id;
        console.log('modal para editar un curso')
        this.datosModalCurso.nuevo = false;
        block()
        axios.get(url).then(respuesta => {
          this.datosModalCurso.fecha = this.formatFecha2(respuesta.data.fechaEvento);
          this.datosModalCurso.beneficio = {
            id: respuesta.data.beneficio.id,
            beneficio: respuesta.data.beneficio.nombre
          };
          this.datosModalCurso.municipio = respuesta.data.municipio;
          this.datosModalCurso.localidad = respuesta.data.localidad;
          this.datosModalCurso.colonia = respuesta.data.colonia;
          this.datosModalCurso.codigo_postal = respuesta.data.codigoPostal;
          this.datosModalCurso.calle = respuesta.data.calle;
          this.datosModalCurso.numeroExterior = respuesta.data.numExt;
          this.datosModalCurso.numeroInterior = respuesta.data.numInt;
          this.datosModalCurso.tipoEvento = respuesta.data.tipo_evento;
          this.datosModalCurso.descripcion = respuesta.data.descripcionEvento;
          unblock()
          $('#modalCurso').modal('show');
        }).catch(error => {
          unblock()
          console.log('error en ' + error)					 
					 swal({type: 'error',title: 'Ocurrió un error al consultar los datos del curso.', confirmButtonText:'Aceptar'});
        });

      },
      modalAgregarParticipante() {				
        console.log('agregando nueva personal al curso de panaderia')
				this.resetDatosModalParticipante();
				this.$validator.reset();
        this.datosModalParticipante.nuevo = true;        
        $('#modalParticipante').modal('show');
      },
      modalEditarParticipante(persona) {
				this.$validator.reset();
        console.log('editar persona del curso de panaderia')
        this.datosModalParticipante = {
          id: persona.id,
          nuevo: false,
          nombre: persona.nombre,
          apPaterno: persona.primer_apellido,
          apMaterno: persona.segundo_apellido,
          fechaNacimiento: this.formatFecha2(persona.fecha_nacimiento),
          telefono: persona.numero_local,
          genero: persona.genero,
          correo: persona.email
        }
        $('#modalParticipante').modal('show');
      },
      crearCurso() {
        var url = '/panaderia/api/cursos'
        this.$validator.validateAll('curso').then(valid => {
          if (valid) {
            block();
            axios.post(url, {
              curso: this.datosModalCurso
            }).then(respuesta => {
              console.log(respuesta)
              unblock()              
              $('#modalCurso').modal('hide');
              Swal.fire({
                position: 'center',
                type: 'success',
                title: 'Curso Creado Correctamente',
                showConfirmButton: false,
                timer: 1500
              });
              this.listadoCursos();              
            }).catch(error => {
              console.log('surgio un error al guardar los datos ' + error)
              unblock();							 
							 swal({type: 'error',title: 'Ocurrió un error al guardar los datos.', confirmButtonText:'Aceptar'});           
            });
          }
        })
      },
      getCurso(id) {
        console.log('obteniendo datos del curso seleccionado')
        var url = '/panaderia/api/cursos/' + id;
        block()
        axios.get(url).then(respuesta => {
          this.datosCurso = respuesta.data;
          this.tableData2 = respuesta.data.participantes;
          this.verCurso = true;
          unblock();
        }).catch(error => {
          unblock()
          console.log('error al obtener datos del curso ' + error)					 
					 swal({type: 'error',title: 'Ocurrió un error al obtener los datos del curso.', confirmButtonText:'Aceptar'});
        });
      },
      actualizarCurso() {
        var url = '/panaderia/api/cursos/' + this.datosModalCurso.id;
        this.$validator.validateAll('curso').then(valid=>{
          if(valid){
            block()
        axios.put(url, {
          curso: this.datosModalCurso
        }).then(respuesta => {
          unblock()          
          $('#modalCurso').modal('hide');          
					swal({type: 'success',title: 'Datos actualizados correctamente.', confirmButtonText:'Aceptar'});
          this.listadoCursos()
        }).catch(error => {
          unblock()
          console.log('error al actualizar ' + error)          
					swal({type: 'error',title: 'Error al actualizar los datos.', confirmButtonText:'Aceptar'});
        });
          }
        })
      },
      eliminarCurso(id) {}, ///////pendiente al parecer no se eliminan los cursos
      seleccionarPersona(persona) {
        this.datosModalParticipante.id = persona.id;
        this.datosModalParticipante.nombre = persona.nombre;
        this.datosModalParticipante.apPaterno = persona.primer_apellido;
        this.datosModalParticipante.apMaterno = persona.segundo_apellido;
        this.datosModalParticipante.fechaNacimiento =this.formatFecha(persona.fecha_nacimiento);
        this.datosModalParticipante.telefono = persona.numero_local;
        this.datosModalParticipante.genero = persona.genero;
        this.datosModalParticipante.correo = persona.email;
        this.listaPersonas=[];
        this.buscar=null;
      },
      agregarParticipante() {
        var url = '/panaderia/api/cursos/beneficiarios'        
				this.$validator.validateAll('participante').then(valid=>{					
					if(valid){
						block()
        axios.post(url, {
          id: this.datosCurso.id,
          participante: this.datosModalParticipante
        }).then(respuesta => {
          console.log(respuesta)
          this.getCurso(this.datosCurso.id)
          unblock()
          $('#modalParticipante').modal('hide');
          this.resetDatosModalParticipante();					
					swal({type: 'success',title: 'Agregado correctamente.', confirmButtonText:'Aceptar'});
        }).catch(error => {
          console.log('error en ' + error)
          unblock()					 
					 swal({type: 'error',title: 'Ocurrió un error al agregar al participante.', confirmButtonText:'Aceptar'});
        });
					}
				});        
      },
      actualizarParticipante() {
        var url = '/panaderia/api/cursos/beneficiarios/' + this.datosModalParticipante.id        
				this.$validator.validateAll('participante').then(valid=>{					
					if(valid){
						block()
        axios.put(url,{
          id: this.datosCurso.id,
          participante: this.datosModalParticipante
        }).then(respuesta => {
          console.log(respuesta)
          this.getCurso(this.datosCurso.id)
          unblock()
          $('#modalParticipante').modal('hide');
          this.resetDatosModalParticipante();					
					swal({type: 'success',title: 'Actualizado correctamente.', confirmButtonText:'Aceptar'});
        }).catch(error => {
          console.log('error en ' + error)
          unblock()					 
					 swal({type: 'error',title: 'Ocurrió un error al actualizar al participante.', confirmButtonText:'Aceptar'});
        });
					}
				});        
      },
      eliminarParticipante(id) {
        Swal.fire({
          title: '¿Desea eliminar al Participante?',
          text: "una vez eliminado no podra revertir la acción!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Si, eliminar!',
          cancelButtonText: 'Cancelar'
        }).then((result) => {
          if (result.value) {
            block();
            axios.delete('/panaderia/api/cursos/beneficiarios/delete/persona/' + id + '/' + this.datosCurso.id).then(respuesta => {
              unblock();
              console.log(respuesta)
              Swal.fire(
                'Eliminado!',
                'el participante ha sido eliminado.',
                'success'
              )
              this.getCurso(this.datosCurso.id)
            }).catch(error => {
              unblock();
              console.log(error);							 
							 swal({type: 'error',title: 'Ocurrió un error al eliminar al participante.', confirmButtonText:'Aceptar'});
            });
          }
        })
      },
      resetDatosModalCurso() {
        this.datosModalCurso = {
          id: '',
          nuevo: null,
          fecha: '',
          beneficio: null,
          municipio: null,
          localidad: null,
          colonia: '',
          codigo_postal: '',
          calle: '',
          numeroInterior: '',
          numeroExterior: '',
          tipoEvento: null,
          descripcion: ''
        }
      },
      resetDatosModalParticipante() {
        this.buscar = null;
        this.listaPersonas = []
        this.datosModalParticipante = {
          id: null,
          nuevo: null,
          nombre: '',
          apPaterno: '',
          apMaterno: '',
          fechaNacimiento: '',
          telefono: '',
          genero: '',
          correo: ''
        }
        this.pagination = {
          'total': 0,
          'current_page': 1,
          'per_page': 10,
          'last_page': 0,
          'from': 0,
          'to': 0
        }
      },
      changePage(page) {
        this.pagination.current_page = page;
        this.buscarPersona(page);
      },
      formatFecha(date) {
        return moment(date).format('DD/MM/YYYY');
      },
      formatFecha2(date) {
        return moment(date).format('DD-MM-YYYY');
			},
			pdf(id){
				var url="/panaderia/reportes/cursos/cursoPdf/"+id;
				var win = window.open(url, '_blank');
				win.focus();
			}
    },
    mounted() {
      axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");
      this.$validator.reset();
      this.listadoCursos();
      this.listadoMunicipios();
      this.listadoBeneficios();
      this.listaEventos();
      this.fechaActual = new Date();      
    },
    computed: {
      isActived: function () {
        return this.pagination.current_page;
      },
      pagesNumber: function () {
        if (!this.pagination.to) {
          return [];
        }

        var from = this.pagination.current_page - this.offset;
        if (from < 1) {
          from = 1;
        }

        var to = from + (this.offset * 2);
        if (to >= this.pagination.last_page) {
          to = this.pagination.last_page;
        }

        var pagesArray = [];
        while (from <= to) {
          pagesArray.push(from);
          from++;
        }
        return pagesArray;
      }
    },
  }
</script>
<style scoped>
  .modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #1B96B8;
    color: #fff;
  }

  input,
  select {
    border-radius: 4px;
  }

  .validacion {
    color: rgb(255, 0, 0);
  }
</style>
