<template>
  <!-- nombre, primer apellido, etnia_id, rfc, nivel_id, tiposempleado_id -->
  <form @submit.prevent="guardarEmpleado">

    <!-- <div class="form-group row">
      <div class="col-md-12">
        <label for="rfc">RFC</label>
        <multiselect v-model="empleado.rfc" label="nombreCompleto" value="'rfc'" @search-change="buscarEmpleado" :options="empleados.map(tipo => tipo.rfc)" :custom-label="opt => empleados.find(x => x.rfc == opt).nombreCompleto" selectLabel="Enter para seleccionarlo" deselectLabel="Enter para deseleccionar" :taggable="true" tag-placeholder="Enter para agregar el rfc" @tag="agregarRFC">
          <template slot="noOptions">Escriba el RFC.</template>
          <template slot="noResult"><em>Puede agregar al empleado</em></template>
        </multiselect>
        <span></span>
      </div>
    </div> -->

    <h3 class="breadcrumb">Datos personales</h3>
    <div class="form-group row">
      <div class="col-md-4">
        <label for="Nombre">Nombre</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-dif text-white">
              <i class="fa fa-user-circle"></i>
            </span>
          </div>
          <input :class="['form-control', errors.first('Nombre') ? 'is-invalid' : '']" type="text" v-model="empleado.nombre" name="Nombre" v-validate="'required'">
        </div>
        <span class="invalid-feedback">{{ errors.first('Nombre') }}</span>
      </div>
      <div class="col-md-4">
        <label for="Primer Apellido">Primer Apellido</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-dif text-white">
              <i class="fa fa-user-circle"></i>
            </span>
          </div>
          <input :class="['form-control', errors.first('Primer Apellido') ? 'is-invalid' : '']" type="text" v-model="empleado.primerApellido" name="Primer Apellido" v-validate="'required'">
        </div>
        <span class="invalid-feedback">{{ errors.first('Primer Apellido') }}</span>
      </div>
      <div class="col-md-4">
        <label for="Segundo Apellido">Segundo Apellido</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-dif text-white">
              <i class="fa fa-user-circle"></i>
            </span>
          </div>
          <input :class="['form-control', errors.first('Segundo Apellido') ? 'is-invalid' : '']" type="text" v-model="empleado.segundoApellido" name="Segundo Apellido" v-validate="">
        </div>
        <span class="invalid-feedback">{{ errors.first('Segundo Apellido') }}</span>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4">
        <label for="CURP">CURP</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-dif text-white">
              <i class="fa fa-user-circle"></i>
            </span>
          </div>
          <input :class="['form-control', errors.first('CURP') ? 'is-invalid' : '']" type="text" v-model="empleado.curp" name="CURP" v-validate="'required'">
        </div>
        <span class="invalid-feedback">{{ errors.first('CURP') }}</span>
      </div>
      <div class="col-md-4">
        <label for="Fecha Nac">FechaNacimiento</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-dif text-white">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
          <datepicker :language="es" v-model="empleado.fechaNacimiento" :format="customFormatter" name="FechaNacimiento" v-validate="'required'"></datepicker>
        </div>
        <span class="invalid-feedback">{{ errors.first('FechaNacimiento') }}</span>
      </div>
      <div class="col-md-4">
        <label for="Género">Género</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-dif text-white">
              <i class="fa fa-venus-mars"></i>
            </span>
          </div>
          <select :class="['form-control', errors.first('Género') ? 'is-invalid' : '']" type="text" v-model="empleado.genero" name="Género" v-validate="'required'">
            <option value="M">Hombre</option>
            <option value="F">Mujer</option>
          </select>
        </div>
        <span class="invalid-feedback">{{ errors.first('Género') }}</span>
      </div>

    </div>

    <h3 class="breadcrumb">Datos contacto</h3>
    <div class="form-group row">
      <div class="col-md-6">
        <label for="Calle">Calle</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-dif text-white">
              <i class="fa fa-street-view"></i>
            </span>
          </div>
          <input :class="['form-control', errors.first('Calle') ? 'is-invalid' : '']" type="text" v-model="empleado.calle" name="Calle" v-validate="'required'">
        </div>
        <span class="invalid-feedback">{{ errors.first('Calle') }}</span>
      </div>
      <div class="col-md-3">
        <label for="NoInterior">No. Int</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-dif text-white">
              <i class="fa fa-street-view"></i>
            </span>
          </div>
          <input type="text" :class="['form-control', errors.first('No. Int') ? 'is-invalid' : '']" v-model="empleado.int" name="No. Int" v-validate="">
        </div>
        <span class="invalid-feedback">{{ errors.first('No. Int') }}</span>
      </div>
      <div class="col-md-3">
        <label for="NoExterior">No. Ext</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-dif text-white">
              <i class="fa fa-street-view"></i>
            </span>
          </div>
          <input type="text" :class="['form-control', errors.first('No. Ext') ? 'is-invalid' : '']" v-model="empleado.ext" name="No. Ext" v-validate="'required'">
        </div>
        <span class="invalid-feedback">{{ errors.first('No. Ext') }}</span>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <label for="Colonia">Colonia</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-dif text-white">
              <i class="fa fa-street-view"></i>
            </span>
          </div>
          <input type="text" :class="['form-control', errors.first('Colonia') ? 'is-invalid' : '']" v-model="empleado.colonia" name="Colonia" v-validate="'required'">
        </div>
        <span class="invalid-feedback">{{ errors.first('Colonia') }}</span>
      </div>
      <div class="col-md-6">
        <label for="Código Postal">Código Postal</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-dif text-white">
              <i class="fa fa-street-view"></i>
            </span>
          </div>
          <input type="text" :class="['form-control', errors.first('Código Postal') ? 'is-invalid' : '']" v-model="empleado.cp" name="Código Postal" v-validate="'required'">
        </div>
        <span class="invalid-feedback">{{ errors.first('Código Postal') }}</span>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4">
        <label for="Celular">Telefono Celular</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-dif text-white">
              <i class="fa fa-mobile"></i>
            </span>
          </div>
          <input type="text" :class="['form-control', errors.first('Celular') ? 'is-invalid' : '']" v-model="empleado.celular" name="Celular" v-validate="'required|digits:10'">
        </div>
        <span class="invalid-feedback">{{ errors.first('Celular') }}</span>
      </div>
      <div class="col-md-4">
        <label for="Telefono Local">Telefono Local</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-dif text-white">
              <i class="fa fa-phone"></i>
            </span>
          </div>
          <input type="text" :class="['form-control', errors.first('Telefono Local') ? 'is-invalid' : '']" v-model="empleado.local" name="Telefono Local" v-validate="'digits:10'">
        </div>
        <span class="invalid-feedback">{{ errors.first('Telefono Local') }}</span>
      </div>
      <div class="col-md-4">
        <label for="Email">Email</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-dif text-white">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
          <input type="text" :class="['form-control', errors.first('Email') ? 'is-invalid' : '']" v-model="empleado.email" name="Email" v-validate="'email'">
        </div>
        <span class="invalid-feedback">{{ errors.first('Email') }}</span>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <label for="Localidad">Localidad y Municipio</label>
        <multiselect v-model="empleado.localidad_id" label="displayName" value="'id'" @search-change="buscarLocalidad" :block-keys="['Delete']" :options="localidades.map(tipo => tipo.id)" :custom-label="opt => localidades.find(x => x.id == opt).displayName" name="Localidad" v-validate="'required'" placeholder="Escribe para comenzar a buscar">
          <template slot="noOptions">Escriba para empezar a buscar.</template>
          <template slot="noResult"><em>Puede agregar al empleado</em></template>
        </multiselect>
        <span class="invalid-feedback">{{ errors.first('Localidad') }}</span>
      </div>
    </div>

    <h3 class="breadcrumb">Datos laborales</h3>
    <div class="form-group row">
      <div class="col-md-12">
        <label for="RFC">RFC</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-dif text-white">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <input type="text" :class="['form-control', errors.first('RFC') ? 'is-invalid' : '']" v-model="empleado.rfc" name="RFC" v-validate="'required|min:13|max:13'">
        </div>
        <span class="invalid-feedback">{{ errors.first('RFC') }}</span>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <label for="nivel">Nivel</label>
        <multiselect v-model="empleado.nivel_id" label="nivel" value="'id'" :internal-search="true" :options="niveles.map(tipo => tipo.id)" :custom-label="opt => niveles.find(x => x.id == opt).nivel" name="Nivel" v-validate="'required'" placeholder="Escribe para comenzar a buscar">
          <template slot="noOptions">Puede escribir para buscar</template>
          <template slot="noResult"><em>No encontramos coincidencias</em></template>
        </multiselect>
        <span class="invalid-feedback">{{ errors.first('Nivel') }}</span>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <label for="tipoempleado">Tipo empleado</label>
        <multiselect v-model="empleado.tipoempleado_id" label="tipo" value="'id'" :options="tiposempleados.map(tipo => tipo.id)" :custom-label="opt => tiposempleados.find(x => x.id == opt).tipo" name="Tipo Empleado" v-validate="'required'" placeholder="Escribe para comenzar a buscar">
          <template slot="noOptions">Escriba para buscar.</template>
          <template slot="noResult"><em>Puede agregar al empleado</em></template>
        </multiselect>
        <span class="invalid-feedback">{{ errors.first('Tipo Empleado') }}</span>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <label for="area">Area</label>
        <multiselect v-model="empleado.area_id" label="nombre" value="'id'" :options="areas.map(area => area.id)" :custom-label="opt => areas.find(x => x.id == opt).nombre" @search-change="buscarAreas" :internal-search="false" name="Area" v-validate="'required'" placeholder="Selecciona el area">
          <template slot="noOptions">Comience a escribir para buscar.</template>
          <template slot="noResult"><em style="color:red;">No tenemos registro con lo que estas buscando</em></template>
        </multiselect>
        <span class="invalid-feedback">{{ errors.first('Area') }}</span>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <label for="Persona Emergencia">En emergencia avisar a</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-dif text-white">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <input type="text" :class="['form-control', errors.first('Persona Emergencia') ? 'is-invalid' : '']" v-model="empleado.personaEmergencia" name="Persona Emergencia" v-validate="'required'">
        </div>
        <span class="invalid-feedback">{{ errors.first('Persona Emergencia') }}</span>
      </div>
      <div class="col-md-6">
        <label for="Telefono Emergencia">Telefono emergencia</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-dif text-white">
              <i class="fa fa-phone"></i>
            </span>
          </div>
          <input type="text" :class="['form-control', errors.first('Telefono Emergencia') ? 'is-invalid' : '']" v-model="empleado.telefonoEmergencia" name="Telefono Emergencia" v-validate="'required'">
        </div>
        <span class="invalid-feedback">{{ errors.first('Telefono Emergencia') }}</span>
      </div>
    </div>

    <div class="form-group row flex-row-reverse">
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Guardar</button>
      </div>
    </div>

    <!-- <div class="form-group row">
      <div class="input-prepend input-group">
        <label class="col-form-label" for="prependedInput"><strong>Empleado</strong></label>
        <multiselect 
          data-vv-as="Destinatario Externo"
          :block-keys="['Delete']"
          v-validate="tipocorrespondencia=='EXTERNO' ? 'required' : ''" 
          name="destinatarioExterno" 
          :class="errors.first('formdocumento.destinatarioExterno') ? 'is-invalid': (destinatario!=null ? 'is-valid': '')" 
          :internal-search="false" 
          :preserve-search="false" 
          :clear-on-select="true" 
          :taggable="true" 
          v-model="destinatario" 
          selectLabel="Presione enter para seleccionar" 
          deselectLabel="Presione enter para eliminar" 
          placeholder="Selecciona un remitente" 
          tagPlaceholder="Presione enter para agregar nuevo remitente" 
          :options="encargados" 
          value="'id'" 
          label = "responsable"
          @search-change="buscarInstitucion" 
          @tag="openModalAgregarDependencia">
            <template slot="noOptions">Comience a escribir para buscar.</template>
        </multiselect>                        
        <span style="font-size: 80%; color: #f86c6b;">{{ errors.first('formdocumento.destinatarioExterno') }}</span>
      </div>
    </div> -->
  </form>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import Datepicker from 'vuejs-datepicker';
import {es} from 'vuejs-datepicker/dist/locale';
import EventBUS from './../../eventBUS'

export default {
  name: 'Empleado',
  props: { },
  components: { Datepicker},
  data: () => ({
    es: es,
    empleados: [],
    localidades: [],
    niveles: [],
    tiposempleados: [],
    areas: [],
    busqueda: null,
    empleado: {
      rfc: null,
      nombre: null,
      primerApellido: null,
      segundoApellido: null,
      fechaNacimiento: null,
      genero: null,
      calle: null,
      int: null,
      ext: null,
      colonia: null,
      cp: null,
      celular: null,
      local: null,
      email: null,
      localidad_id: null,
      nivel_id: null,
      tiposempleado_id: null,
      area_id: null,
      personaEmergencia: null,
      telefonoEmergencia: null
    }
  }),
  computed: {
  },
  mounted(){
    this.styleFecha();
    axios.defaults.headers.common["bancadif-token"] = sessionStorage.getItem("bancadif_token");
    this.cargarNiveles();
    this.cargarTipoempleado();
  },
  methods: {
    buscarEmpleado(search){
      if(search.length < 3) return;
      axios.get(`/fondorotatorio/empleados/rfc/${search}`).then(response => { 
        this.empleados = response.data.data;
      }).catch(error => { console.log(error) });
    },
    agregarRFC(newTag){
      const tag = {
        rfc: newTag,
        id: Math.floor((Math.random() * 10000000)),
        nombreCompleto: newTag,
        nuevo: true
      };
      this.empleados.push(tag);
      this.empleado.rfc = tag.rfc;
    },
    buscarLocalidad(search){
      if(search.length < 5) return;
      axios.get(`/fondorotatorio/utils/localidades/${search}`).then(response => {
        this.localidades = response.data.data;
      }).catch(error => console.log(error));
    },
    cargarNiveles(){
      axios.get(`/fondorotatorio/utils/empleados/niveles`).then(response => {
        this.niveles = response.data.data;
      }).catch(error => console.log(error));
    },
    cargarTipoempleado(){
      axios.get(`/fondorotatorio/utils/empleados/tipoempleado`).then(response => {
        this.tiposempleados = response.data.data;
      }).catch(error => console.log(error));
    },
    buscarAreas(search){
      axios.get(`/fondorotatorio/utils/areas/${search}`).then(response => {
        this.areas = response.data.data;
      }).catch(error => { console.log(error)});
    },
    customFormatter(date) {
      return moment(date).format('YYYY-MM-DD');
    },
    guardarEmpleado(){
      console.log('enviado');
      this.$validator.validate().then(valid => {
        if (!valid) {
          this.$notify({
            group: 'foo',
            type: 'error',
            duration: 10000,
            title: 'Campos inválidos',
            text: `Revise los campos requeridos porfavor.`
          });
          return;
        }
        axios.post(`/fondorotatorio/empleados`, this.empleado).then(response => {
          console.log(response);
          this.$notify({
            group: 'foo',
            type: 'success',
            duration: 10000,
            title: 'Empleado agregado correctamante',
            text: ``
          });
          EventBUS.$emit('Empleado:Created', response.data.data);
        }).catch(error => {
          console.log(error);
          this.$notify({
            group: 'foo',
            type: 'error',
            duration: 10000,
            title: 'Algo salio mal',
            text: `${error.response.data.message}`
          });
        })
      });
    },
    styleFecha(){
      $('input[name=FechaNacimiento]').addClass('form-control');
      $('input[name=FechaNacimiento]')[0].style.backgroundColor = '#fff';
    }
  }
}
</script>

<style lang="sass" scoped>

</style>
