<template>
  <div class="crear-enlace">
    <div class="card">
      <div class="card-header">
        <strong style="color: #2f353a;">
          <i class="fa fa-address-card-o" aria-hidden="true"></i> Enlace Financiero
        </strong>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <div class="col-sm-12">
            <label for="area">Empleado:</label>
            <multiselect
              :class="errors.first('Empleado') ? 'is-invalid': ''"
              v-model="valueEmpleado"
              name="Empleado"
              :options="empleados"
              :loading="isLoading"
              label="nombre_completo"
              selectLabel
              deselectLabel="Eliminar"
              selectedLabel="Seleccionado"
              placeholder
              :internal-search="false"
              :preserve-search="false"
              :clear-on-select="true"
              @search-change="buscarEmpleado"
              v-validate="'required'"
            >
            <span slot="noResult">No se encontraron coincidencias.</span>
            <span slot="noOptions">Buscar Empleado...</span>
            </multiselect>
            <span class="invalid-feedback">{{ errors.first('Empleado') }}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <label class="col-form-label" for="appendedInputButton">Nombre Cuenta:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user-circle"></i>
                </span>
              </div>
              <input
                class="form-control"
                name="Nombre Cuenta"
                type="text"
                v-model="datos.nombre_cuenta"
                placeholder="Nombre de la cuenta"
                v-validate="'required'"
              >
              <span class="invalid-feedback">{{ errors.first('Nombre Cuenta') }}</span>
            </div>
          </div>
          <div class="col-sm-6">
            <label class="col-form-label" for="appendedInputButton">Fecha Asignacion:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
              <datetime format="YYYY-MM-DD H:i:s" v-model="datos.fecha_asignacion" name="Fecha Asignacion" v-validate="'required'"></datetime>                
              <span class="invalid-feedback">{{ errors.first('Fecha Asignacion') }}</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 col-lg-6">
            <label class="col-form-label" for="appendedInputButton">Clabe</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-credit-card-alt"></i>
                </span>
              </div>
              <input
                class="form-control"
                type="text"
                name="Clabe"
                placeholder="Clabe de la cuenta"
                v-model="datos.clabe"
                v-validate="'required|numeric'"
              >
              <span class="invalid-feedback">{{ errors.first('Clabe') }}</span>
            </div>
          </div>
          <div class="col-sm-12 col-lg-6">
            <label for="area">Banco:</label>
            <multiselect
              :class="errors.first('Banco') ? 'is-invalid': ''"
              v-model="valueBanco"
              name="Banco"
              :options="bancos"
              label="nombre"
              selectLabel
              deselectLabel="Eliminar"
              selectedLabel="Seleccionado"
              placeholder
              v-validate="'required'"
            >
            </multiselect>
            <span class="invalid-feedback">{{ errors.first('Banco') }}</span>
          </div>
        </div>
      </div>
      <div class="card-footer" style="text-align: end;">
        <button class="btn btn-primary" type="submit" @click="guardar()">
          <i class="fa fa-check"></i> Aceptar
        </button>
        <button class="btn btn-danger" type="reset" @click="closeModalCrearEnlace()">
          <i class="fa fa-times"></i> Cerrar
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import EventBUS from "../eventBUS.js";
import axios from "axios";
import datetime from 'vuejs-datetimepicker';

export default {
  name: "CrearEnlace",
  components: { datetime },
  props: {
    id: {
      type: Number,
      required: true
    }
  },
  data: () => ({
    valueEmpleado: null,
    valueBanco: null,
    empleados: [],
    bancos: [],
    isLoading: false,
    guardando: false,
    datos: {
      empleado_id: null,
      nombre_cuenta: null,
      clabe: null,
      banco_id: null,
      fondorotatorioarea_id: null,
      fecha_asignacion: null,
      usuario_id: null
    }
  }),
  mounted() {
    axios.defaults.headers.common["bancadif-token"] = sessionStorage.getItem("bancadif_token");
    this.cargarBancos();
  },
  methods: {
    closeModalCrearEnlace(){
      this.limpiar();
      EventBUS.$emit("ModalCrearEnlace:Close");
    },
    buscarEmpleado(search) {
      if (search.length < 3) return;
      this.isLoading = true;
      axios
        .get(`/fondorotatorio/empleados/${search}`)
        .then(response => {
          this.empleados = response.data.data.map(item => {
            item.nombre_completo = `${item.persona.nombre} ${
              item.persona.primer_apellido
            } ${item.persona.segundo_apellido}`;
            return item;
          });
          this.isLoading = false;
        })
        .catch(error => {
          console.log(error);
        });
    },
    async cargarBancos() {
      let datos = await axios.get("/fondorotatorio/bancos").then(r => r).catch(e => e);
      console.log(datos);
      if(datos.status === 200){
        this.bancos = datos.data.data;
      } else {
        console.log(datos);
        alert("Algo salio mal al cargar las areas");
      }
    },
    guardar() {
      this.guardando = true;
      this.$validator.validate().then( valid => {
        if(valid){
          this.datos.empleado_id = this.valueEmpleado.id;
          this.datos.banco_id =  this.valueBanco.id;
          this.datos.fondorotatorioarea_id = this.id;
          this.datos.usuario_id = sessionStorage.getItem("usuario_id");
          axios.post('/fondorotatorio/enlaceFinanciero/save', this.datos).then(r => {
            if(r.status === 200) {
              this.$notify({
                group: 'foo',
                type: 'success',
                duration: 9000,
                title: 'Asignacion Agregada',
                text: `Registro Completo.`
              });
              this.guardando = false;
              EventBUS.$emit("DatosArea:Refresh");
              this.closeModalCrearEnlace();
            }
          }).catch(e => {
            this.guardando = false;
            console.log(e);
          });
          console.log(this.datos);
          this.guardando = false;
        } else {
          alert('Los Datos no son validos.');
          this.guardando = false;
        }
      })
    },
    limpiar() {
      this.datos.empleado_id = null;
      this.datos.banco_id =  null;
      this.datos.fondorotatorioarea_id = null;
      this.datos.nombre_cuenta = null;
      this.datos.clabe = null;
      this.valueEmpleado = null;
      this.valueBanco = null;
      this.$validator.reset();
    }
  }
};
</script>

<style lang="scss">
.crear-enlace {
  color: black;
}
</style>
