<template>
  <div class="row home-page">
    <img src="/images/bancadif/money-2180330_1280.jpg" alt="" class="img-fluid home-image">
    <h1 class="titulo">BIENVENIDO AL SISTEMA DE VIÁTICOS, VALES Y GASTOS EN COMISIÓN.</h1>
  </div>
</template>

<script>
export default {
  
}
</script>

<style>
#app{
  background: none;
}
.row.home-page{
  position: relative;
}
img.home-image{
  position: absolute;
  width: 100%;
  z-index: -1;
}
.titulo{
  background: none;
  width: 50%;
  margin-left: 1em;
  margin-top: 1em;
  color: #78457B;
}
</style>
