<template>
  <div class="subir-comprobacion row flex-row-reverse">
    <notifications group="foo"/>
    <div class="col-sm-12 row">
      <div class="col-sm-3">
        <div class="callout callout-info">
          <small class="text-muted">Total a comprobar</small>
          <br>
          <strong class="h4">${{archivo != null ? Number(archivo.monto_total).toFixed(2) : 0}}</strong>
          <div class="chart-wrapper">
            <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="callout callout-success">
          <small class="text-muted">Cargado</small>
          <br>
          <strong class="h4">${{Number(sumatoria).toFixed(2)}}</strong>
          <div class="chart-wrapper">
            <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="callout callout-warning">
          <small class="text-muted">Reintegros</small>
          <br>
          <strong class="h4">${{Number(reintegrado).toFixed(2)}}</strong>
          <div class="chart-wrapper">
            <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-3" v-if="archivo != null && sumatoria + reintegrado == archivo.monto_total">
        <div :class="['callout', archivo != null && sumatoria + reintegrado == archivo.monto_total ? 'callout-success' : 'callout-warning']">
          <small class="text-muted">Estado</small>
          <br>
          <strong class="h4">OK</strong>
          <div class="chart-wrapper">
            <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">

      <div class="card">
        <div class="card-header bg-dark">Datos del documento</div>
        <form @submit.prevent="validarFormulario">
          <div class="card-body">
            <div class="form-group row">
              <div class="col-sm-12">
                <label for="Beneficiario">Beneficiario</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-dif text-white">
                      <i class="fa fa-user"></i>
                    </span>
                  </div>
                  <input type="text" :class="['form-control', errors.first('Beneficiario') ? 'is-invalid' : '']" v-model="datos.beneficiario" :disabled="validado" name="Beneficiario" v-validate="'required'" :readonly="beneficiarioBlock">
                </div>
                <span class="invalid-feedback">{{ errors.first('Beneficiario') }}</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <label for="Folio Comprobación">Folio Comprobación</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-dif text-white">
                      <i class="fa fa-folder-open-o"></i>
                    </span>
                  </div>
                  <input type="text" :class="['form-control', errors.first('Folio Comprobacion') ? 'is-invalid' : '']" v-model="datos.folio" :disabled="validado" name="Folio Comprobacion" v-validate="'required'" :readonly="beneficiarioBlock">
                </div>
                <span class="invalid-feedback">{{ errors.first('Folio Comprobacion') }}</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <label for="Fecha Comprobación">Fecha Comprobación</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-dif text-white">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
                  <input type="text" :class="['form-control', errors.first('Fecha Comprobacion') ? 'is-invalid' : '']" placeholder="YYYY-MM-DD" v-model="datos.fecha" :disabled="validado" name="Fecha Comprobacion" v-validate="'required'" :readonly="beneficiarioBlock">
                </div>
                <span class="invalid-feedback">{{ errors.first('Fecha Comprobacion') }}</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <label for="Importe">Importe</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-dif text-white">
                      <i class="fa fa-usd"></i>
                    </span>
                  </div>
                  <input type="text" :class="['form-control', errors.first('Importe') ? 'is-invalid' : '']" v-model="datos.importe" :disabled="validado" name="Importe" v-validate="'required'" :readonly="beneficiarioBlock">
                </div>
                <span class="invalid-feedback">{{ errors.first('Importe') }}</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <label for="Reintegro">Reintegro ?</label>
                <label class="switch switch-label switch-outline-success-alt">
                  <input class="switch-input" type="checkbox" checked="" v-model="reintegro">
                  <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
                </label>
              </div>
            </div>
            <transition name="fade" mode="out-in">
            <div class="form-group row" v-if="reintegro">
              <div class="col-sm-12">
                <label for="Cantidad Reintegro">Cantidad Reintegro</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-dif text-white">
                      <i class="fa fa-usd"></i>
                    </span>
                  </div>
                  <input type="text" :class="['form-control', errors.first('Reintegro') ? 'is-invalid' : '']" v-model="datos.reintegro" :disabled="validado" name="Reintegro" v-validate="reintegro ? 'required' : ''">
                </div>
                <span class="invalid-feedback">{{ errors.first('Reintegro') }}</span>
              </div>
            </div>
            </transition>
            <div class="form-group row">
              <div class="col-sm-12">
                <label for="ISR">ISR</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-dif text-white">
                      <i class="fa fa-plus-circle"></i>
                    </span>
                  </div>
                  <input type="text" :class="['form-control', errors.first('ISR') ? 'is-invalid' : '']" placeholder="0" v-model="datos.isr" :disabled="validado" name="ISR" v-validate="'required|decimal'" >
                </div>
                <span class="invalid-feedback">{{ errors.first('ISR') }}</span>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex flex-row-reverse">
            <button class="btn btn-primary btn-sm" type="submit" :disabled="validado">
              Siguiente <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </form>
      </div>

      <div class="card">
        <div class="card-header bg-dark">Subir Comprobación
          <div class="card-header-actions">
            <a class="card-header-action btn-setting" href="#" data-toggle="tooltip" data-original-title="Hola">
              <i class="fa fa-wrench"></i>
            </a>
            <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true">
              <i class="fa fa-angle-double-up"></i>
            </a>
            <a class="card-header-action btn-close" href="#">
              <i class="fa fa-close"></i>
            </a>
          </div>
        </div>
        <div class="collapse show">
          <div class="card-body">
            <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" @vdropzone-success="successDropzone" @vdropzone-error="errorDropzone" :useCustomSlot="true" v-on:vdropzone-sending="agregarBody" v-if="!tipoVale">
              <div class="dropzone-custom-content">
                <h5 class="dropzone-custom-title">Selecciona o arrastra tu archivo aquí</h5>
                <i class="fa fa-cloud-upload fa-2x"></i>
              </div>
            </vue-dropzone>
          </div>
          <div class="card-footer d-flex flex-row-reverse">
            <button class="btn btn-primary btn-sm" :disabled="!modificable || guardando || !validado" @click="subirArchivo" v-if="!tipoVale">
              <i class="fa fa-send" v-show="!guardando"></i><i class="fa fa-spinner fa-spin" v-show="guardando"></i> {{guardando ? 'Enviando...' : 'Subir archivo'}}
            </button>
            <button class="btn btn-primary btn-sm" :disabled="!modificable || guardando || !validado" @click="guardarComprobacion" v-else>
              <i class="fa fa-send" v-show="!guardando"></i><i class="fa fa-spinner fa-spin" v-show="guardando"></i> {{guardando ? 'Enviando...' : 'Guardar Cambios'}}
            </button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header bg-dark">Terminar</div>
        <div class="card-body">
          <button class="btn btn-block btn-outline-custom" :disabled="!modificable" @click="enviarComprobacion">Terminar a comprobación</button>
        </div>
      </div>

    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header bg-dark">Partidas</div>
        <div class="card-body">
          <p class="h6">De la lista, selecciona la partida a afectar, completa el formulario y arrastra(selecciona) tu archivo. Si ya existen archivos aparece otro combo para visualizarlos</p>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select1">Selecciona</label>
            <div class="col-md-9">
              <select class="form-control" id="select1" name="select1" v-model="datos.partida">
                <option disabled>Selecciona ...</option>
                <option v-for="(partida, index) in partidas" :key="index" :value="partida.partida_id">{{partida.partida.partida_especifica}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row" v-if="archivos.length > 0">
            <label class="col-md-3 col-form-lable" for="">Archivo</label>
            <div class="col-md-9">
              <select class="form-control" v-model="datos.archivo">
                <option disabled>Selecciona el archivo</option>
                <option v-for="(archivo, index) in archivos" :key="index" :value="archivo.id">{{archivo.beneficiario}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header bg-primary">Previsualización
          <div class="card-header-actions">
            <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true">
              <i class="fa fa-angle-double-up"></i>
            </a>
            <a id="eliminar" class="card-header-action btn-close" href="#" @click.prevent="eliminar" :disabled="!modificable">
              <i class="fa fa-close"></i>
            </a>
          </div>
        </div>
        <div class="collapse show" id="collapseExample">
          <div class="card-body">
            <div class="row" v-if="datosArchivo.beneficiario != null">
              <div class="col">
                <div class="row card p-1">
                  <p>Datos cargados</p>
                  <div class="col">
                    <p>Beneficiario: <strong>{{datosArchivo.beneficiario}}</strong></p>
                    <p>Folio Comprobación: <strong>{{datosArchivo.folio}}</strong></p>
                  </div>
                  <div class="col">
                    <p>Fecha: <strong>{{datosArchivo.fecha}}</strong></p>
                    <p>Importe: <strong>{{datosArchivo.importe}}</strong></p>
                    <p>ISR: <strong>{{datosArchivo.isr}}</strong></p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card p-1">
                  <p>Reintegros</p>
                  <table class="table text-center" v-if="reintegros.length > 0">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Importe ($)</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="reintegro in reintegros" :key="reintegro.id">
                        <td>{{reintegro.id}}</td>
                        <td>{{reintegro.cantidad}}</td>
                        <td><button class="btn btn-warning btn-sm" @click="eliminarReintegro(reintegro)"><i class="fa fa-trash"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
                  <p v-else>Esta partida no tiene reintegros</p>
                </div>
              </div>
            </div>
            <iframe width="100%" height="600px" v-if="url != null && !tipoVale" :src="url"></iframe>
          </div>
        </div>
      </div>
      <!-- Card mensaje de tipo vale -->
      <div class="card" v-if="tipoVale">
        <div class="card-body">
          <div class="alert alert-warning">
            El tipo vale solo necesita la siguiente información. (El archivo digital no).
            {{reintegrado}}
          </div>
        </div>
      </div>
      <!-- Fin de mensaje tipo vale -->
    </div>
  </div>
</template>

<script>
import vue2Dropzone from 'vue2-dropzone'
import Swal from 'sweetalert2';
import axios from 'axios';
import moment from 'moment';
import jsreport from 'jsreport-browser-client-dist';

export default {
  name: 'SubirComprobacion',
  props: ['idpago'],
  components: {
    vueDropzone: vue2Dropzone,
  },
  data: () => ({
    guardando: false,
    validado: false,
    archivo: null,
    url: null,
    archivos: [],
    reintegros: [],
    datos: {
      archivo: null,
      partida: null,
      beneficiario: null,
      folio: null,
      fecha: null,
      importe: null,
      isr: 0
    },
		beneficiarioBlock: false,
		partidaActual:null,
    datosArchivo: {
      beneficiario: null,
      folio: null,
      fecha: null,
      importe: null,
      reintegro: null,
      isr: 0
    },
    reintegro: false,
  }),
  computed: {
    tipoVale() {
      return this.archivo != null ? this.archivo.tipopago_id == 2 : false;
    },
    dropzoneUrl(){
      return `/fondorotatorio/comprobacion/pagos/${this.idpago}/archivos/${this.datos.partida}`;
    },
    dropzoneOptions(){
      return {
        url: this.dropzoneUrl,
        thumbnailWidth: 150,
        maxFilesize: 8,
        maxFiles: 1,
        acceptedFiles: 'application/pdf',
        autoProcessQueue: false,
        // dictDefaultMessage: '<i class="fa fa-cloud-upload"></i> Selecciona o arrastra tu archivo aquí',
        addRemoveLinks: true,
        dictRemoveFile: 'Eliminar',
        dictMaxFilesExceeded: 'No puedes subir más de un archivo',
        headers: { 'bancadif-token': sessionStorage.getItem('bancadif_token') }
      }
    },
    // partidas(){
    //   return this.archivo != null ? this.archivo.detalles.filter(item => item.archivo == null) : [];
    // },
    partidas(){
      return this.archivo != null ? this.archivo.detalles : [];
    },
    modificable(){
      return this.archivo != null ? this.archivo.estatuslast.estado_programa_id != this.archivo.estatusPagado[0].id : false;
    },
    sumatoria(){
      if(this.archivo == null || this.archivo.detalles.length <= 0 ) return 0;
      let suma = 0;
      for(let i = 0; i < this.archivo.detalles.length; i++)
        for(let j = 0; j < this.archivo.detalles[i].archivos.length; j++) {
          suma += parseFloat(this.archivo.detalles[i].archivos[j].importe);
        }
      return suma;
    },
    reintegrado() {
      if(this.archivo == null || this.archivo.detalles.length <= 0 ) return 0;
      let suma = 0;
      for(let i = 0; i < this.archivo.detalles.length; i++)
        for(let j = 0; j < this.archivo.detalles[i].reintegros.length; j++){
          suma += parseFloat(this.archivo.detalles[i].reintegros[j].cantidad);
        }
      return suma;
    }
  },
  watch: {
    dropzoneOptions(){
      if(!this.tipoVale)
        this.$refs.myVueDropzone.setOption('url', this.dropzoneUrl);
    },
    'datos.partida'(val){
      if(val == null) return;
      this.validado = false;
      this.$validator.reset();
      let item = this.partidas.find(element => element.partida_id == val);
      console.log(item)
      this.archivos = item.archivos;
			this.url = null;
			this.partidaActual = val;   // this.partidaActual == 121 || this.partidaActual == 125
      if(val == 121 || (val == 125 && this.archivo.tipo.nombre != 'VALE')){
        this.beneficiarioBlock = true;
        this.datos.beneficiario = `${this.archivo.empleado.persona.nombre} ${this.archivo.empleado.persona.primer_apellido} ${this.archivo.empleado.persona.segundo_apellido}`;
        this.datos.folio = this.archivo.folio;
        this.datos.fecha = this.archivo.viatico.fecha_salida;
        if(val == 121)
          this.datos.importe = Number(this.archivo.detalles.find( element => element.partida_id == 121 ).monto).toFixed(2);
        else
          this.datos.importe = Number(this.archivo.detalles.find( element => element.partida_id == 125 ).monto).toFixed(2);
      }else{
        this.beneficiarioBlock = false;
        this.datos.beneficiario = null;
        this.datos.folio = null;
        this.datos.fecha = null;
        this.datos.importe = null;
        this.datos.reintegro = null;
        this.reintegro = false;
      }
    },
    'datos.archivo'(val){
      console.log(val);
      if(val == null) return;
      this.datos.beneficiario = null;
      this.datos.folio = null;
      this.datos.fecha = null;
      this.datos.importe = null;
      this.$validator.reset();
      let item = this.archivos.find(element => element.id == val);
      this.url = item.url.replace('public', 'storage');
      this.datosArchivo.beneficiario = item.beneficiario;
      this.datosArchivo.folio = item.folio_comprobante;
      this.datosArchivo.fecha = item.fecha;
      this.datosArchivo.importe = item.importe;
      this.datosArchivo.isr = item.isr;
      this.reintegros = this.archivo.detalles.find(element => element.id == item.detallespago_id).reintegros || [];
    },
    'tipoVale'(val){
      if(this.tipoVale) {
        this.$refs.myVueDropzone.disable();
      }
    }
  },
  mounted(){
    moment.locale('es-mx');
    axios.defaults.headers.common['bancadif-token'] = sessionStorage.getItem('bancadif_token');
    jsreport.serverUrl = sessionStorage.getItem('reporter_url');
    this.cargarArchivo();
  },
  methods: {
    cargarArchivo(){
      axios.get(`/fondorotatorio/comprobacion/pagos/${this.idpago}/archivos`).then(response => {
        this.archivo = response.data.data;
      }).catch(error => {
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'Algo salio mal.',
          text: `${error}`
        });
      })
    },
    validarFormulario(){
      this.$validator.validate().then(valid => {
        if (!valid) {
          this.$notify({
            group: 'foo',
            type: 'error',
            duration: 10000,
            title: 'Campos inválidos',
            text: `Revise los campos porfavor.`
          });
          return;
        }
        this.validado = true;
      });
    },
    guardarComprobacion() {
      let postData = {
        partida: this.datos.partida,
        beneficiario: this.datos.beneficiario,
        folio: this.datos.folio,
        fecha: this.datos.fecha,
        importe: this.datos.importe,
        isr: this.datos.isr
      }
      if(this.datos.reintegro && this.datos.reintegro > 0) {
        console.log('reintegro')
        postData.reintegro = this.datos.reintegro;
      }
      axios.post(`/fondorotatorio/comprobacion/pagos/${this.idpago}/sinarchivos/${this.datos.partida}`, postData).then(response => {
        this.archivo = response.data.data;
        if(response.data.data.reintegro) {
					console.log('Impresion');
          let data = {
            folio: this.archivo.reintegro.folio,
            direccion: this.archivo.direccion.nombreD,
            empleado: `${ this.archivo.empleado.persona.nombre } ${ this.archivo.empleado.persona.primer_apellido} ${ this.archivo.empleado.persona.segundo_apellido }`,
            area:  this.archivo.empleado.area.nombre,
            cantidad:  this.archivo.reintegro.cantidad,
            recibo:  this.archivo.folio,
            fecha: moment( this.archivo.fecha_elaboracion).format('DD [DE] MMMM [DE] YYYY').toUpperCase(),
            total: Number( this.archivo.monto_total).toFixed(2),
            responsable: `${ this.archivo.fondo.historialenlace.empleado.persona.nombre } ${ this.archivo.fondo.historialenlace.empleado.persona.primer_apellido } ${ this.archivo.fondo.historialenlace.empleado.persona.segundo_apellido }`,
            fecha_actual: moment().format('DD [DE] MMMM [DE] YYYY').toUpperCase()
          }
          this.imprimirReintegro(data);
        }else
          this.confirmacion(response.data.message);
      }).catch(error => {
        console.log(error);
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'Ocurrio un error',
          text: ``
        });
      });
    },
    agregarBody (file, xhr, formData) {
      formData.append('partida', this.datos.partida);
      formData.append('beneficiario', this.datos.beneficiario);
      // if(this.archivo.tipo.nombre == 'VIATICO') 
      if(this.partidaActual == 121 || this.partidaActual == 125) 
        formData.append('beneficiario', `${this.archivo.empleado.persona.nombre} ${this.archivo.empleado.persona.primer_apellido} ${this.archivo.empleado.persona.segundo_apellido}`)
      formData.append('folio', this.datos.folio);
      formData.append('fecha', this.datos.fecha);
      formData.append('importe', this.datos.importe);
      if(this.datos.reintegro && this.datos.reintegro > 0)
        formData.append('reintegro', this.datos.reintegro);
      formData.append('isr', this.datos.isr);
    },
    subirArchivo(){
      console.log('Archivo');
      if(this.$refs.myVueDropzone.getAcceptedFiles().length == 0){
        this.$notify({
          group: 'foo',
          type: 'warn',
          duration: 10000,
          title: 'Oops!',
          text: `No tienes archivos para subir.`
        });
        return;
      }
      if(this.$refs.myVueDropzone.getRejectedFiles().length > 0){
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'Oops!',
          text: `Solo puedes subir un archivo.`
        });
        return;
      }
      Swal.fire({
        title: 'Estás seguro?',
        text: 'Esta acción actualizará tu archivo anterior',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si! Enviar'
      }).then((result) => {
        if (result.value) {
          this.guardando = true;
          this.$refs.myVueDropzone.processQueue();
        }
      }).catch(error => {
        console.log(error);
      })
    },
    successDropzone(file, response){
      this.confirmacion(response.message);
      this.$refs.myVueDropzone.removeAllFiles();
      this.archivo = response.data;
      if(response.data.reintegro && response.data.reintegro != null) {
        console.log('Impresion');
        let data = {
          folio: this.archivo.reintegro.folio,
          direccion: this.archivo.direccion.nombreD,
          empleado: `${ this.archivo.empleado.persona.nombre } ${ this.archivo.empleado.persona.primer_apellido} ${ this.archivo.empleado.persona.segundo_apellido }`,
          area:  this.archivo.empleado.area.nombre,
          cantidad:  this.archivo.reintegro.cantidad,
          recibo:  this.archivo.folio,
          fecha: moment( this.archivo.fecha_elaboracion).format('DD [DE] MMMM [DE] YYYY').toUpperCase(),
          total: Number( this.archivo.monto_total).toFixed(2),
          responsable: `${ this.archivo.fondo.historialenlace.empleado.persona.nombre } ${ this.archivo.fondo.historialenlace.empleado.persona.primer_apellido } ${ this.archivo.fondo.historialenlace.empleado.persona.segundo_apellido }`,
          fecha_actual: moment().format('DD [DE] MMMM [DE] YYYY').toUpperCase()
        }
        this.imprimirReintegro(data);
      }
    },
    errorDropzone(file, message, xhr){
      console.log(file);
      console.log(message);
      console.log(xhr);
      this.$notify({
        group: 'foo',
        type: 'error',
        duration: 10000,
        title: this.toString(message),
        text: ``
      });
      this.guardando = false;
    },
    confirmacion(message) {
      this.notify('success', message, ``);
      this.guardando = false;
      this.validado = false;
      this.datos.partida = null;
      this.datos.beneficiario = null;
      this.datos.folio = null;
      this.datos.fecha = null;
      this.datos.importe = null;
      this.datos.reintegro = null;
      this.datos.isr = 0;
      this.datos.detallepago_id = null;
      this.reintegro = false;
      this.$validator.reset();
    },
    toString(message){
      if(typeof message === 'string') return message;
      if(typeof message === 'object') return this.toString(message.message);
      if(typeof message === 'array') return this.concatArray(message);
      return message;
    },
    concatArray(array){
      let msg = '';
      for(let i = 0; i < array.length; i++){
        msg += array[i];
      }
      return msg;
    },
    eliminar(){
      if(!this.modificable || this.archivos.length <= 0){
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'No se puede modificar o No hay archivos',
          text: ``
        });
        return;
      } 
      Swal.fire({
        title: 'Estás seguro?',
        text: 'Esta acción eliminara el archivo guardado',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si! Eliminar'
      }).then((result) => {
        if (result.value) {
          axios.delete(`/fondorotatorio/comprobacion/pagos/${this.idpago}/archivos/${this.datos.archivo}`).then(response => {
            this.$notify({
              group: 'foo',
              type: 'success',
              duration: 10000,
              title: 'Eliminado correctamente.',
              text: `${response.data.message}`
            });
            this.archivos = this.archivos.filter( e => e.id !== this.datos.archivo );
            this.url = null;
          }).catch(error => {
            this.$notify({
              group: 'foo',
              type: 'error',
              duration: 10000,
              title: 'Algo salio mal.',
              text: `${error}`
            });
          })
        }
      })
    },
    enviarComprobacion(){
      axios.put(`/fondorotatorio/comprobacion/pagos/${this.archivo.id}`).then(response => {
        this.$notify({
          group: 'foo',
          type: 'success',
          duration: 10000,
          title: 'Actualización correcta.',
          text: `${response.data.message}`
        });
        this.archivo.estatuslast.estado_programa_id = this.archivo.estatusPagado[0].id;
        this.$validator.reset();
      }).catch(error => {
        console.log(error);
        this.notify('warn', 'Ocurrio un error', `${error.response.data.message}`)
      })
    },
    eliminarReintegro(reintegro) {
      axios.delete(`/fondorotatorio/comprobacion/reintegro/${reintegro.id}`)
        .then(response => {
          this.reintegros = this.reintegros.filter(item => item.id != reintegro.id);
          this.notify('success', 'Reintegro eliminado', '');
        }).catch(error => {
          this.notify('warn', 'Algo salio mal', error.response.data.message)
        });
    },
    notify(type, title, text) {
      this.$notify({
        group: 'foo',
        type: type,
        duration: 10000,
        title: title,
        text: text
      });
    },
    imprimirReintegro(data){
      let request = {
        template:{
          shortid: 'rJlvu3DvMH'
        },
        header: {
          Authorization : "Basic YWRtaW46MjFxd2VydHk0Mw=="
        },
        data: data
      };
      jsreport.renderAsync(request).then((res) => {
        res.download(`Reintegro-${data.folio}.pdf`)
      }).catch(error => { console.log(error);
        this.$notify({
          group: 'foo',
          type: 'error',
          duration: 10000,
          title: 'Ocurrio un error',
          text: `${error}`
        });
      });
    },
  }
}
</script>

<style lang="scss">
.vue-dropzone>.dz-preview .dz-details {
  background-color: #98579B !important;
}
</style>

<style lang="scss" scoped>
@import "~vue2-dropzone/dist/vue2Dropzone.min.css";
// .fab-wrapper{
//   bottom: 6vh !important;
//   right: 2vh !important;
// }
.dropzone-custom-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.dropzone-custom-title {
  margin-top: 0;
  color: #D12654;
}
.subtitle {
  color: #314b5f;
}
.notifications{
  top: 55px !important;
}
.card-header-action{
  color: white;
}
.btn-outline-custom{
  color: #00b782;
  border-color: #00b782;
}
.btn-outline-custom:hover{
  color: #fff;
  background-color: #00b782;
  border-color: #00b782;
}
.btn-outline-custom.disabled, .btn-outline-custom:disabled {
  color: #00b782;
  background-color: transparent;
}
.switch {
  display: block;
}
</style>
