<template>
  <div class="admin-enlace">
    <div v-show="cargando" class="loader">
      <div style="width:100%;height:100%" class="lds-interwind">
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-brand btn-sm btn-primary" type="button" style="margin-bottom: 4px" title="Regresar" @click.prevent="$router.push({name: 'ComprobacionFinancieros'})" v-if="this.$store.getters.has(['FINANCIERO','ADMINISTRADOR'])">
          <i class="fa fa-arrow-left"></i>
        </button>
        <button class="btn btn-brand btn-sm btn-primary" type="button" style="margin-bottom: 4px" title="Regresar" @click.prevent="$router.push({name: 'AdminEnlace'})" v-if="this.$store.getters.has(['ENLACE'])">
          <i class="fa fa-arrow-left"></i>
        </button>
      </div>
      <div class="col-md-12">
        <div class="card card-accent-primary">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Folio:  <b>{{comprobacion.folio}}</b>
              <div class="card-header-actions">
                <button class="card-header-action btn-setting" @click.prevent="print()">
                  <i class="fa fa-print"></i> Imprimir
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="row text-center">
                <div class="col-md-2">
                  <p><b>Monto :</b> $ {{formatPesos(comprobacion.monto_total) }}</p>
                  <hr>
                </div>
								<div class="col-md-2">
                  <!-- <p><b>Comprobado :</b> $</p> -->
                  <p><b>Comprobado :</b> $ {{ formatPesos( sumatoria(comprobacion.pagos)) }}</p>
                  <hr>
                </div>
                <div class="col-md-1">
                  <p><b>Fecha :</b> {{formatFecha(comprobacion.created_at) }}</p>
                  <hr>
                </div>
                <div class="col-md-2">
                  <p><b>Estatus :</b> {{comprobacion.estatus.estatus.nombre}}</p>
                  <hr>
                </div>
                <div class="col-md-2">
                   <p><b>Asignacion :</b> {{comprobacion.asignacion.nombre}}</p>
                  <hr>
                </div>
                <div class="col-md-3">
                   <p><b>Enlace :</b> {{`${comprobacion.respFondo}`}}</p>
                  <hr>
                </div>
              </div>
              <div class="col-md-12">
                <v-client-table 
                  :data="listPagos"
                  :columns="columnsTable"
                  :options="optionsTable"
                  ref="vales">
                  <span slot="id" slot-scope="props">{{props.index}}</span>
                  <span slot="monto" slot-scope="props">$ {{formatPesos(props.row.monto)}}</span>
                  <span slot="reintegro" slot-scope="props">$ {{formatPesos(props.row.reintegro)}}</span>
                  <!-- <span slot="fecha" slot-scope="props">{{formatFecha(props.row.fecha)}}</span> -->

									<span slot="fecha" slot-scope="props" v-if="!props.row.edit">
										{{props.row.fecha}}
									</span>
									<div slot="fecha" slot-scope="props" v-else>
										<div class="input-group">
											<input class="form-control" id="input2-group2" type="text" placeholder="YYYY-MM-DD" v-model="nuevaFecha">
											<span class="input-group-append">
												<button class="btn btn-primary" type="button" @click.prevent="enviarFecha(props.row)">
													<i class="fa fa-check"></i>
												</button>
											</span>
										</div>
									</div>

                  <span slot="estatus" slot-scope="props" v-if="props.row.estatus == 'RECHAZADO'" class="badge badge-danger badge-pill">{{props.row.estatus}}</span>
                  <span slot="estatus" slot-scope="props" v-else class="badge badge-success badge-pill">{{props.row.estatus}}</span>
                  <template slot="opciones" slot-scope="props">
										<button class="btn btn-warning btn-sm" v-if="$store.getters.has(['ENLACE','ADMINISTRADOR']) && comprobacion.estatus.estatus.nombre=='RECHAZADO'" @click.prevent="cambiarFecha(props.row)">
											<i class="fa fa-edit"></i>
										</button>
                    <button
                      v-if="$store.getters.has(['FINANCIERO','ADMINISTRADOR','PRESUPUESTAL']) && comprobacion.estatus.estatus.nombre == 'REVISION' && props.row.estatus == 'REVISION'"
                      @click="rechazar(props.row.id)"
                      class="btn btn-brand btn-sm btn-primary"
                      type="button"
                      style="margin-bottom: 4px"
                      title="Rechazar"
                    >
                      <i class="fa fa-times"></i>
                    </button>
                    <button
                      @click="detalle(props.row.id)"
                      class="btn btn-brand btn-sm btn-primary"
                      type="button"
                      style="margin-bottom: 4px"
                      title="Detalle"
                    >
                      <i class="fa fa-edit"></i>
                    </button>
                    <button
                      v-if="$store.getters.has(['ENLACE','ADMINISTRADOR']) && comprobacion.estatus.estatus.nombre=='RECHAZADO'"
                      @click="eliminar(props.row.id)"
                      class="btn btn-brand btn-sm btn-primary"
                      type="button"
                      style="margin-bottom: 4px"
                      title="Eliminar"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
                  </template>
                </v-client-table>

								<div class="box box-primary">
									<div class="box-header ui-sortable-handle" style="cursor: move;">
										<i class="ion ion-clipboard"></i>
										<h3 class="box-title">Observaciones</h3>            
									</div>
									<div class="box-body">
										<ul class="todo-list ui-sortable">
											<div v-for="p in listPagos" :key="p.id">
												<!-- <h1>{{p}}</h1> -->
												<template  v-if="p.observacion.length">
													<li v-for="ob in p.observacion" :key="ob.id">
														<h4><b>Folio: </b> {{p.folio}}</h4>
														<h5><b>Observación : </b> {{ob.observacion}} <small  class="label label-default"><i class="fa fa-clock-o"></i> {{ formatFecha(ob.fecha) }}</small></h5>														
													</li>
												</template>
												<template v-else></template>
											</div>
										</ul>
									</div>
							</div>
								
              </div>
              <template v-if="this.$store.getters.has(['FINANCIERO','ADMINISTRADOR','PRESUPUESTAL'])">
                <!-- <button v-if="comprobacion.estatus.estatus.nombre == 'NUEVO' || comprobacion.estatus.estatus.nombre == 'RECHAZADO'" class="btn btn-sm btn-primary" type="button" @click.prevent="guardarComp()" :disabled="comprobacion.estatus.estatus.nombre == 'RECHAZADO'">Guardar</button> -->
                <button class="btn btn-sm btn-primary" type="button" @click.prevent="changeStatus('REVISION')" v-if="comprobacion.estatus.estatus.nombre == 'NUEVO'">REVISION</button>
                <button class="btn btn-sm btn-primary" type="button" @click.prevent="changeStatus('RECHAZADO')" v-if="comprobacion.estatus.estatus.nombre == 'REVISION'">RECHAZAR</button>
                <button class="btn btn-sm btn-primary" type="button" @click.prevent="changeStatus('ACEPTADO')" v-if="comprobacion.estatus.estatus.nombre == 'REVISION'">ACEPTADO</button>
                <button class="btn btn-sm btn-primary" type="button" @click.prevent="ordenPago()" v-if="['FINALIZADO'].includes(comprobacion.estatus.estatus.nombre)">Orden de Pago</button>
                <button class="btn btn-sm btn-primary" type="button" @click.prevent="changeStatus('FINALIZADO')" v-if="comprobacion.estatus.estatus.nombre == 'ACEPTADO'">FINALIZADO</button>
              </template>
            </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal modal-primary fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#pago" role="tab" aria-controls="pago">Pago</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#detalles" role="tab" aria-controls="detalles">Detalles</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#documento" role="tab" aria-controls="documento">Documento</a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="pago" role="tabpanel">
                      <div class="row">
                        <div class="col-md-3 text-center"><p><b> Fecha</b><br> <i class="fa fa-calendar"></i> {{formatFecha(pago.fecha_elaboracion)}}</p></div>
                        <div class="col-md-3 text-center"><p><b> Total</b><br> <i class="fa fa-dollar"></i> {{formatPesos(pago.monto_total)}}</p></div>
                        <div class="col-md-3 text-center"><p><b> Metodo</b><br> {{pago.metodo.nombre}}</p></div>
                        <div class="col-md-3 text-center"><p><b> Tipo</b><br> {{pago.tipo.nombre}}</p></div>
                        <div class="col-md-6 text-center"><p><b> Solicitante</b><br> <i class="fa fa-user"></i> {{`${pago.empleado.persona.nombre} ${pago.empleado.persona.primer_apellido} ${pago.empleado.persona.segundo_apellido}`}}</p></div>
                        <div class="col-md-6 text-center"><p><b> Programa</b><br> <i class="fa fa-tag"></i> {{pago.programa.nombre}}</p></div>
                        <div class="col-md-6 text-center"><p><b> Autoriza</b><br> <i class="fa fa-check"></i> {{`${pago.autoriza.persona.nombre} ${pago.autoriza.persona.primer_apellido} ${pago.autoriza.persona.segundo_apellido}`}}</p></div>
                        <div class="col-md-6 text-center"><p><b> Vo.Bo.</b><br> <i class="fa fa-check-square-o"></i> {{`${pago.vobo.responsable}`}}</p></div>
                        <div class="col-md-12 text-justify"><p><b> Justificación</b><br> <i class="fa fa-file-text-o"></i> {{pago.descripcion}}</p></div>
                      </div>
                    </div>
                    <div class="tab-pane" id="detalles" role="tabpanel">
                      <div class="row">
                        <template v-if="pago.tipo.nombre != 'VALE'">
                          <div class="col-md-4 text-center"><p><b> Tipo</b><br> <i class="fa fa-map-o"></i> {{pago.viatico.tipo}}</p></div>
                          <div class="col-md-4 text-center"><p><b> Salida</b><br> <i class="fa fa-calendar-plus-o"></i> {{formatFecha(pago.viatico.fecha_salida)}}</p></div>
                          <div class="col-md-4 text-center"><p><b> Regreso</b><br> <i class="fa fa-calendar-minus-o"></i> {{formatFecha(pago.viatico.fecha_regreso)}}</p></div>
                          <div class="col-md-6 text-center"><p><b> Num. Comidas</b><br> <i class="fa fa-calendar-minus-o"></i> {{pago.viatico.num_comidas}}</p></div>
                          <div class="col-md-6 text-center"><p><b> Gastos Alimentarios</b><br> <i class="fa fa-dollar"></i> {{formatPesos(pago.viatico.gastos_alimentarios)}}</p></div>
                        </template>
                        <div class="col-md-12">
                          <table class="table text-center responsive">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Partida</th>
                                <th>Monto</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="d in pago.detalles" :key="d.id">
                                <td>{{d.partida.partida_especifica_c}}</td>
                                <td>{{d.partida.partida_especifica}}</td>
                                <td>$ {{formatPesos(d.monto)}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="documento" role="tabpanel">
                      <div class="row">
                        <div class="col-md-12" v-for="d in pago.detalles" :key="d.id">
                          <br>
                          <template v-if="d.archivos.length">
                            <div v-for="p in d.archivos" :key="p.id">
                              <p class="text-center">{{d.partida.partida_especifica}} - {{p.folio_comprobante}} - ${{formatPesos(p.importe)}}</p>
                              <iframe :src="p.url != undefined ? formatRuta(p.url) : ''" width="100%" height= "650px" ></iframe>
                            </div>
                          </template>
                          <br>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  <!-- Fin modal -->
  </div>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import toastr from 'toastr';
import Swal from 'sweetalert2';
import jsreport from 'jsreport-browser-client-dist';
export default {
  name: "VistaComprobacion",
  props: ['idcomprobacion'],
  data: () => ({
    cargando:true,
    editar:false,
    comprobacion:{asignacion:{},usuario:{persona:{}},estatus:{estatus:{}},cambio:'',pagos:[]},
    listPagos:[],
    optionsTable: {
      headings: {
        id: "#",
        monto: "Monto",
        fecha: "Fecha"
      },
      sortIcon: {
        is: "fa-sort",
        base: "fa",
        up: "fa-sort-asc",
        down: "fa-sort-desc"
      },
      texts: {
        count:
          " {from} a {to} de {count} registros|{count} Registros|Un Registro",
        first: "First",
        last: "Last",
        filter: "Filtrar:",
        filterPlaceholder: "Buscar",
        limit: "Registros:",
        page: "Pagina:",
        noResults: "No se econtraron coincidencias",
        filterBy: "Filtro por {column}",
        loading: "Cargando...",
        defaultOption: "Seleccionado {column}",
        columns: "Columnas"
      },
      columnsClasses: {
        id: "center-cl"
      },
      sortable: ["folio", "monto", "fecha","viatico","estatus","reintegro"],
      filterable: ["folio", "monto", "fecha","viatico","estatus","reintegro"]
    }, 
    columnsTable: ["folio","estatus","reintegro","monto", "fecha","opciones"],
    titulo:null,
    pago:{metodo:{},tipo:{},empleado:{persona:{}},programa:{},autoriza:{persona:{}},vobo:{persona:{}},viatico:{},detalle:{},archivos:{}},    
    area:null,
		direccion:null,
		nuevaFecha:null
  }),
  computed: {
    
  },
  created(){
    axios.defaults.headers.common["bancadif-token"] = sessionStorage.getItem("bancadif_token");
    this.area_id = sessionStorage.getItem("area_id");
  },
  mounted(){
    this.viewComprobacion();
    jsreport.serverUrl = sessionStorage.getItem('reporter_url');
    moment.locale('es-mx');
  },
  methods: {
    viewComprobacion(){
      axios.get(`/fondorotatorio/comprobacion/show/${this.idcomprobacion}`).then(r => {
        this.comprobacion = r.data.data
        this.listPagos = r.data.data.pagos.map(e=>({id:e.id,reintegro:e.reintegro,monto: e.monto_total,fecha:moment(e.fecha_elaboracion).format('Y-MM-D'),folio:e.folio,estatus:e.estatuslast.estado_modulo.estatus.nombre, edit:false, 'observacion':e.observaciones}));
        this.area = r.data.area;
        this.direccion = r.data.direccion;
        // this.comprobacion.monto_total = this.listPagos.map(e => Number.parseFloat(e.monto)).reduce((valAnt,ValAct) => valAnt + ValAct) 
        this.cargando = false;
      }).catch(e => {
        toastr.error(e.response.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
        this.cargando = false;
      });
    },
    async eliminar(id){
			console.log(id)
      let me = this;
      if(me.listPagos.length - 1 == 0) return toastr.warning('No puede quedar vacia la lista de pagos', 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true});
			const swalWithBootstrapButtons = Swal.mixin({
				customClass: {
					confirmButton: 'btn btn-success',
					cancelButton: 'btn btn-danger'
				},
				buttonsStyling: false,
			})

			swalWithBootstrapButtons.fire({
				title: 'Estas Seguro?',
				text: "No se podra revertir esta accion",
				type: 'warning',
				showCancelButton: true,
				confirmButtonText: 'Si, eliminar!',
				cancelButtonText: 'No, cancelar!',
				reverseButtons: true
			}).then((result) => {
				if (result.value) {
					me.cargando = true;
					// axios.post(`/fondorotatorio/comprobacion/quitarPago/${id}/${this.idcomprobacion}/${sessionStorage.getItem('usuario_id')}`).then(r => {
						axios.post(`/fondorotatorio/comprobacion/quitarPago`,{idPago:id,idcomprobacion:me.idcomprobacion}).then(r => {
						const index = me.listPagos.findIndex(c => c.id === id);
						me.listPagos.splice(index,1);
						me.comprobacion.monto_total = me.listPagos.length ? me.listPagos.map(e => Number.parseFloat(e.monto)).reduce((valAnt,ValAct) => valAnt + ValAct) : 0;
						toastr.success('Se quito el pago', 'Bien', {timeOut: 5000, preventDuplicates: true,progressBar: true})
						me.cargando = false;
					}).catch(e => {
						toastr.error(e.response.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
						me.cargando = false;
					})
					// swalWithBootstrapButtons.fire('Eliminado!','Se elimino correctamente','success')
				} else if (
					result.dismiss === Swal.DismissReason.cancel
				) {
					swalWithBootstrapButtons.fire('Cancelado','No se realizo ningun cambio :)',	'error')
				}
			})
    },
    async rechazar(id){
      let me = this;
      this.titulo= "Rechazar";
      const {value: text} = await Swal.fire({
        title: 'Estas seguro de rechazar?',
        input: 'textarea',
        inputPlaceholder: 'Motivo de la cancelacion',
        showCancelButton: true
      });
      if (text) {
        // Swal.fire(text)
        me.cargando = true;
        axios.post(`/fondorotatorio/pagos/rechazar`,{id:id,estatus:"RECHAZADO",comentario:text}).then(r => {
          me.viewComprobacion();
          toastr.success(r.data.data.folio, 'Bien', {timeOut: 5000, preventDuplicates: true,progressBar: true})
          me.cargando = false;
        }).catch(e => {
          toastr.error(e.response.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
          me.cargando = false;
        })
      }      
    },
    detalle(id){
      let me = this;
      me.cargando=true;
      axios.get(`/fondorotatorio/pagos/show/${id}`).then(r => {
        me.pago = r.data.data
        me.titulo = `Folio: ${me.pago.folio}`;
        me.cargando = false;
        $('#modal').modal('show');
      }).catch(e => {
        toastr.error(e.response.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
        me.cargando = false;
      })
    },
    guardarComp(){
      let me = this;
      const resultado = me.listPagos.find( c => c.estatus === 'PAGADO' );
      Swal.fire({
        title: 'Estas seguro',
        text: resultado ? `Rechazar comprobacion con folio: ${me.comprobacion.folio}`: `Validar comprobacion con folio: ${me.comprobacion.folio}`,
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si'
      }).then((result) => {
        if (result.value) {
          this.cargando =true;
          me.comprobacion.cambio = resultado ? 'RECHAZADO' : 'ACEPTADO'
          axios.post(`/fondorotatorio/comprobacion/change`,me.comprobacion).then(r => {
            this.cargando = false;
            if(r.status === 200)
            {
              me.comprobacion.estatus.estatus.nombre = r.data.data
              return toastr.success(r.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
            }
            else
              return toastr.error(r.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
          }).catch(e => {
            toastr.error(e.response.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
            this.cargando = false;
          })
        }
      })  
    },
    print(){
      let me = this;
			me.cargando = true;
			// return console.log(me.comprobacion.pagos);
      var fecha = (me.formatFecha(me.comprobacion.created_at)).split("/")
      var request = {
          template:{
              shortid: me.comprobacion.tipopago_id == 1 ? "rygT97ijWS" :  "ryxJXDCmeS" //fondorotatorio/viaticos - vales rygT97ijWS
          },
          header: {
              Authorization : "Basic YWRtaW46MjFxd2VydHk0Mw=="
          },
          data:{
              comp: {
                folio: me.comprobacion.folio,
                numPagos: me.comprobacion.pagos.length,
                pagos:me.comprobacion.pagos,
                fecha:me.formatFecha(me.comprobacion.created_at),
                total:me.comprobacion.monto_total,
                tipoAsignacion:me.comprobacion.asignacion.nombre,
                area:me.area,
                nombre_enlace:me.comprobacion.respFondo,
								nivel_enlace:me.comprobacion.areaFondo,
								direccion:me.direccion,
								// sumatoria: me.sumatoria(me.comprobacion.pagos),
                // direccion:{nombre:'JOSE ESTEBAN', primer_apellido:'BOLAÑOS',segundo_apellido:'GUZMAN',cargo:'SUBDIRECTOR',nombreD:'SUBDIRECTOR GENERAL'},
								unidade: me.comprobacion.tipopago_id = 1 ? null :me.comprobacion.unidad_ejecutora.clave,
								tRegistros : me.sumatoriaR(me.comprobacion.pagos)
              },
          }
      };
      jsreport.renderAsync(request).then((res) => {
        res.download(`comprobacion-${me.comprobacion.folio}.pdf`)
        me.cargando = false;
      });
      // jsreport.render('_blank', request);
    },
    changeStatus(status){
      let me = this;
			var total = me.sumatoria(me.comprobacion.pagos)
			console.log(total);
      Swal.fire({
        title: 'Estas seguro',
        text:  status == 'FINALIZADO' ? `Finalizar y Enviar a caja` : `Enviar la comprobacion a: ${status}`,
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si'
      }).then((result) => {
        if (result.value) {
          this.cargando =true;
          axios.post(`/fondorotatorio/comprobacion/cambioEstatus`,{id:me.idcomprobacion,status:status,total:total}).then(r => {
            this.cargando = false;
            if(r.status === 200)
            {
              me.viewComprobacion();
              return toastr.success(r.data.message, 'Bien', {timeOut: 5000, preventDuplicates: true,progressBar: true})
            }
            else
              return toastr.error(r.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
          }).catch(e => {
            toastr.error(e.response.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
            this.cargando = false;
          })
        }
      })  
    },
    ordenPago(){ // falta guardar el pago para que regrese el folio
      let me = this;
			me.cargando = true;
			
      axios.get(`/fondorotatorio/caja/busqueda/${me.comprobacion.id}`).then(r => {
        if(r.status === 200)
        {
					// var fecha = (me.formatFecha(me.comprobacion.created_at)).split("/")
					let totalF = me.sumatoria(me.comprobacion.pagos);
					// console.log(totalF);
					// return;
          var request = {
              template:{
                  shortid:"HJglZgU8MH" //fondorotatorio/ordendepago
              },
              header: {
                  Authorization : "Basic YWRtaW46MjFxd2VydHk0Mw=="
              },
              data:{
                  pago: {
                    folio: r.data.data.folio,
                    responsable_caja: 'AMADA DE LA CRUZ SANTIAGO MORA',
                    caja_area:'OFICINA DE CAJA GENERAL',
                    responsable_fondo:me.comprobacion.respFondo,
                    area_fondo:me.comprobacion.areaFondo,
                    // cargo:me.area.cargo,
                    fecha:moment(r.data.data.created_at).format('LL'),//me.formatFecha(me.comprobacion.created_at),  //
                    total:totalF,
                    total_letra: convertir.NumerosALetras(totalF),
                  },
              }
          };
          jsreport.renderAsync(request).then((res) => {
            res.download(`OrdenPago-${me.comprobacion.folio}.pdf`)
            me.cargando = false;
          });
        }
        else
          return toastr.error(r.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
      }).catch(e => {
        toastr.error(e.response.data.message, 'Error', {timeOut: 5000, preventDuplicates: true,progressBar: true})
        this.cargando = false;
      })
		},
		cambiarFecha(pago){
			let nuevoPago = this.listPagos.find(element => element.id == pago.id);
      nuevoPago.edit = !nuevoPago.edit;
      this.nuevaFecha = nuevoPago.fecha_elaboracion;
		},
		enviarFecha(pago){
      axios.put(`/fondorotatorio/pagos/${pago.id}/fecha`, { fecha_elaboracion: this.nuevaFecha}).then(response => {
				pago.fecha = moment(response.data.data.fecha_elaboracion).format('Y-MM-D');
				let nuevoPago = this.listPagos.find(element => element.id == pago.id);
        nuevoPago.edit = false;
        nuevoPago.fecha = this.nuevaFecha;
				this.nuevaFecha = null;
        toastr.success('Se actualizo correctamente', 'Bien', {timeOut: 5000, preventDuplicates: true,progressBar: true})
      }).catch(error => {
        this.$notify({group: 'foo', type: 'error', duration: 10000, title: 'Ocurrio un error', text: `No pudimos actualizar la fecha. ${error.response.data.message}`});
      });
    },
    formatPesos(n) {
      return new Intl.NumberFormat("en-ES",{minimumFractionDigits: 2}).format(n);
    },
    formatFecha(date){
      return moment(date).format('DD/MM/YYYY');
    },
    formatRuta(ruta){
      return ruta.replace("public", "storage");
		},
		sumatoria(registros){
		 var total = 0;
		//  console.log("aqui")
		  // console.log(registros);
      if(registros.length <= 0 ) return 0;
		 	let suma = 0;
			for(let r = 0; r < registros.length; r++){
			for(let i = 0; i < registros[r].detalles.length; i++)
				for(let j = 0; j < registros[r].detalles[i].archivos.length; j++) {
					suma += parseFloat(registros[r].detalles[i].archivos[j].importe);
				}
			}
     return suma;
   
    //   registros.forEach(function(p) {
    //       p.detalles.forEach(function(a) {
    //          a.archivos.forEach(function(g) {
    //           total = total + g.importe
    //       });
    //     });
    //   });
    // return total;
	},
	sumatoriaR(registros){
     var total = 0;
      registros.forEach(function(p) {
          p.detalles.forEach(function(a) {
						total += a.archivos.length
        });
      });
    return total > 30 ? false : true;
	}
  },

}
</script>

<style lang="scss" scoped>
.admin-enlace {
  color: black;
  button.card-header-action.btn-setting {
    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .loader {
    display: flex;
    justify-content: center;
    z-index: 9999;
  }

  @keyframes lds-interwind {
      0%,
      100% {
        animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
      }
      50% {
        animation-timing-function: cubic-bezier(0, 0.2, 1, 0.8);
      }
      0% {
        -webkit-transform: rotate(0deg) translate(0, -20px) scale(0);
        transform: rotate(0deg) translate(0, -20px) scale(0);
      }
      50% {
        -webkit-transform: rotate(180deg) translate(0, -20px) scale(1);
        transform: rotate(180deg) translate(0, -20px) scale(1);
      }
      100% {
        -webkit-transform: rotate(360deg) translate(0, -20px) scale(0);
        transform: rotate(360deg) translate(0, -20px) scale(0);
      }
    }
    @-webkit-keyframes lds-interwind {
      0%,
      100% {
        animation-timing-function: cubic-bezier(0.2, 0, 0.8, 1);
      }
      50% {
        animation-timing-function: cubic-bezier(0, 0.2, 1, 0.8);
      }
      0% {
        -webkit-transform: rotate(0deg) translate(0, -20px) scale(0);
        transform: rotate(0deg) translate(0, -20px) scale(0);
      }
      50% {
        -webkit-transform: rotate(180deg) translate(0, -20px) scale(1);
        transform: rotate(180deg) translate(0, -20px) scale(1);
      }
      100% {
        -webkit-transform: rotate(360deg) translate(0, -20px) scale(0);
        transform: rotate(360deg) translate(0, -20px) scale(0);
      }
    }
    div.lds-interwind {
      position: relative;
    }
    div.lds-interwind div {
      position: absolute;
      top: 70px;
      left: 70px;
      -webkit-animation: lds-interwind 1s linear infinite;
      animation: lds-interwind 1s linear infinite;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #d12654;
    }
    div.lds-interwind div:last-child {
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
      background: #98579b;
    }
    .lds-interwind {
      width: 76px !important;
      height: 76px !important;
      -webkit-transform: translate(-38px, -38px) scale(0.38)
        translate(38px, 38px);
      transform: translate(-38px, -38px) scale(0.38) translate(38px, 38px);
    }
}
</style>