@font-face {
    font-family: 'DIF';
    src: url('../fonts/dif.eot');
    src: url('../fonts/dif.eot') format('embedded-opentype'), url('../fonts/dif.woff2') format('woff2'), url('../fonts/dif.woff') format('woff'), url('../fonts/dif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "DIF";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    /* width: 1em; */
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dif:before {
    content: '\e814';
}

.icon-dif.tiny {
    font-size: 1rem;
}

.icon-dif.small {
    font-size: 2rem;
}

.icon-dif.medium {
    font-size: 4rem;
}

.icon-dif.large {
    font-size: 6rem;
}