<template>
  <v-app id="inspire">
    <v-content>
      <v-card>
        <v-card-title>
          <h4>Solicitudes</h4>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Buscar"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="peticiones"
          :search="search"
          :expand="expand"
          :pagination.sync="pagination"
          :rows-per-page-items="[10, 20, 30, 50,100]"
        >
          <template v-slot:items="props">
            <tr @click="props.expanded = !props.expanded">
              <td>
                <strong>{{ props.item.folio }}</strong>
              </td>
              <td>{{ props.item.via }}</td>
              <td>{{ props.item.addressfull }}</td>
              <td>
                <span
                  v-if="props.item.anonymous == 'false'"
                  class="grey--text"
                >({{props.item.relationship}})</span>
                {{ props.item.name? props.item.namefull: "Anónimo" }}
              </td>

              <!-- *******************************Inicio ETIQUETAS *****************************-->
              <td>
                <v-chip v-if="props.item.completed" :color="'red lighten-5'" label small>Finalizado</v-chip>
                <v-chip v-else-if="props.item.changed" :color="'yellow accent-2'" label>
                  <v-icon small>warning</v-icon>Revisión
                </v-chip>
                <template v-else-if="props.item.process != 'sin_asignar'">
                  <v-chip :color="'yellow lighten-5'" label small>Proceso</v-chip>
                  <template v-if="timeelapsed( props.item ) === 'mas1mes'">
                    <v-tooltip top>
                      <template v-slot:activator="{ on }">
                        <v-btn icon v-on="on">
                          <v-icon small color="red darken-2">fiber_manual_record</v-icon>
                        </v-btn>
                      </template>
                      <span>¿Que significa? Rojo: El abogado lleva mas de un mes sin agregar información</span>
                    </v-tooltip>
                  </template>
                  <template v-else-if="timeelapsed( props.item ) === 'menor1mes'">
                    <v-tooltip top>
                      <template v-slot:activator="{ on }">
                        <v-btn icon v-on="on">
                          <v-icon small color="yellow darken-2">fiber_manual_record</v-icon>
                        </v-btn>
                      </template>
                      <span>¿Que significa? Amarillo: El abogado lleva mas de una semana sin agregar información </span>
                    </v-tooltip>
                  </template>
                  <template v-else-if="timeelapsed( props.item ) === 'menor1semana'">
                    <v-tooltip top>
                      <template v-slot:activator="{ on }">
                        <v-btn icon v-on="on">
                          <v-icon small color="green darken-2">fiber_manual_record</v-icon>
                        </v-btn>
                      </template>
                      <span>¿Que significa? Verde: El abogado lleva esta al día agregando información</span>
                    </v-tooltip>
                  </template>
                  
                </template>
                <v-chip
                  v-else-if="props.item.assignedaffair"
                  :color="'green lighten-5'"
                  label
                  small
                >Asignado</v-chip>
                <v-chip v-else :color="'blue lighten-5'" label small>Nueva</v-chip>
              </td>
              <td>
                <v-tooltip
                  top
                  v-if="$can('petitions.editlawer') && !props.item.assignedaffair && rol.trim() === 'subprocurador' "
                >
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                      <v-icon color="grey darken-3" @click.stop="selectLawerItem(props.item)">face</v-icon>
                    </v-btn>
                  </template>
                  <span>Asignar Abogado</span>
                </v-tooltip>

                <!-- *******************************Inicio LAWER *****************************-->
                <v-tooltip top v-if="isAdvisor(props.item)">
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                      <v-icon
                        color="grey darken-2"
                        @click.stop="goAdvisor(props.item)"
                      >record_voice_over</v-icon>
                    </v-btn>
                  </template>
                  <span>Editar Asesoría</span>
                </v-tooltip>

                <v-tooltip top v-else-if="isEntailment(props.item)">
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                      <v-icon
                        color="grey darken-2"
                        @click.stop="goEntailment(props.item)"
                      >account_balance</v-icon>
                    </v-btn>
                  </template>
                  <span>Editar Mediación</span>
                </v-tooltip>

                <v-tooltip top v-else-if="isExpedient(props.item)">
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                      <v-icon color="grey darken-2" @click.stop="goExpedient(props.item)">assignment</v-icon>
                    </v-btn>
                  </template>
                  <span>Editar Expediente</span>
                </v-tooltip>

                <v-tooltip top v-else-if="islawer(props.item)">
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                      <v-icon
                        color="grey darken-2"
                        @click.stop="selectProcess(props.item)"
                      >call_split</v-icon>
                    </v-btn>
                  </template>
                  <span>Seleccionar Seguimiento</span>
                </v-tooltip>
                <!-- *******************************FIN LAWER *****************************-->

                <v-tooltip top v-if="$can('petitions.show')">
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                      <v-icon
                        color="grey darken-2"
                        @click.stop="showItem(props.item)"
                      >remove_red_eye</v-icon>
                    </v-btn>
                  </template>
                  <span>Ver Solicitud</span>
                </v-tooltip>

                <v-tooltip top v-if="$can('petitions.edit')">
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                      <v-icon color="grey darken-2" @click.stop="editItem(props.item)">edit</v-icon>
                    </v-btn>
                  </template>
                  <span>Editar Solicitud</span>
                </v-tooltip>

                <v-tooltip top v-if="$can('petitions.destroy')">
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                      <v-icon color="grey darken-2" @click.stop="deleteItem(props.item)">delete</v-icon>
                    </v-btn>
                  </template>
                  <span>Eliminar Solicitud</span>
                </v-tooltip>
              </td>
            </tr>
          </template>
          <template v-slot:no-results>
            <v-alert
              :value="true"
              color="error"
              icon="warning"
            >La busqueda "{{ search }}" no dio ningun resultado.</v-alert>
          </template>
          <template v-slot:expand="props">
            <v-card flat>
              <v-card-text>
                <p>Observaciones: {{props.item.description}}</p>
                <p>Ultima actualizacion solicitud: {{getDate(props.item.updated_at)}}</p>
                <template v-if="props.item.affair">
                  <p>Ultima actualizacion caso: {{getDate(props.item.affair.updated_at)}}</p>
                  <template v-if="props.item.affair.expedient">
                    <p>Ultima actualizacion del expediente: {{getDate(props.item.affair.expedient.updated_at)}}</p>
                  </template>
                </template>
              </v-card-text>
            </v-card>
          </template>
          <template slot="no-data">
            <v-alert :value="true" color="error" icon="warning">No hay Solicitudes para mostrar :(</v-alert>
          </template>
        </v-data-table>
      </v-card>
    </v-content>
  </v-app>
</template>
<script>
import moment from "moment";
import "moment-timezone";

export default {
  props: ["rol_actual", "petitions"],
  data() {
    return {
      search: "",
      peticiones: this.petitions,
      rol: this.rol_actual,
      expand: false,
      transition: "slide-y-reverse-transition",

      headers: [
        { text: "Folio", value: "folio" },
        { text: "Via", value: "via" },
        { text: "Direccion", value: "addressfull" },
        { text: "Denunciante", value: "namefull" },
        { text: "Seguimiento", value: "id" },
        { text: "Acciones", value: "id" }
      ],
      pagination: {
        sortBy: "folio",
        descending: true
      }
    };
  },
  methods: {
    selectLawerItem(item) {
      window.location.href = "/petitions/" + item.id + "/editlawer/";
    },
    selectProcess(item) {
      window.location.href = "/affairs/" + item.id + "/types/";
    },
    showItem(item) {
      window.location.href = "/petitions/" + item.id + "";
    },
    editItem(item) {
      window.location.href = "/petitions/" + item.id + "/edit/";
    },
    deleteItem(item) {
      console.log("Agregar al final despues de todo ;)");
    },

    goAdvisor(solicitud) {
      window.location.href = "/advisors/" + solicitud.id + "";
    },
    goEntailment(solicitud) {
      window.location.href = "/mediations/" + solicitud.id + "";
    },
    goExpedient(solicitud) {
      window.location.href = "/expedients/" + solicitud.id + "";
    },

    /* ************************* validaciones *******************************************/
    islawer(solicitud) {
      return this.rol.trim() === "abogado" && !solicitud.changed;
    },
    issub() {
      return this.rol.trim() === "subprocurador";
    },

    isAdvisor(solicitud) {
      return (
        this.rol.trim() === "abogado" &&
        solicitud.process == "advisor" &&
        !solicitud.changed
      );
    },
    isEntailment(solicitud) {
      return (
        this.rol.trim() === "abogado" &&
        solicitud.process == "mediation" &&
        !solicitud.changed
      );
    },
    isExpedient(solicitud) {
      return (
        this.rol.trim() === "abogado" &&
        solicitud.process == "expedient" &&
        !solicitud.changed
      );
    },
    getDate(date) {
      return moment(date).fromNow();
    },

    timeelapsed( item ){
      if( item.affair ){
        if( item.affair.expedient )
        {
          if( moment().diff(moment( item.affair.expedient.updated_at )) < 604800000 ){
            return "menor1semana"
          } 
          
          else if( moment().diff(moment( item.affair.expedient.updated_at )) < 2678400000 ){
            return "menor1mes"
          }

          else if( moment().diff(moment( item.affair.expedient.updated_at )) > 2678400000 ){
            return "mas1mes"
          }
        }
      }
      return false;
      //
    }
  },
  created: function() {
    moment.locale("es");
  }
};
</script>



