<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4" style="height: 100%;">
          <div class="box box-primary shadow">
            <div class="box-header with-border">
              <span class="box-title">Selección</span>
            </div>
            <div class="box-body">
              <label>AÑO</label>
              <v-select v-model="anio" id="v-select" :options="anios" label="anio"></v-select>
              <label>SUBPROGRAMA</label>
              <select v-model="tiposervicio" name class="form-control" @change="recargar()">
                <option value="2">TODO</option>
                <option value="0">REPARACIÓN DE IMPLEMENTOS AUXILIARES DE MARCHA</option>
                <option value="1">DON MECÁNICO</option>
              </select><!--
              <br />
              <label class="radio-inline">
                <input type="radio" name="optradio" checked />TODO
              </label>
              <label class="radio-inline">
                <input type="radio" name="optradio" />BIENESTAR
              </label>
              <label class="radio-inline">
                <input type="radio" name="optradio" />TAESIR
              </label>
-->
              <div class="checkbox">
                <label>
                  <input v-model="bienestar" type="checkbox" />BIENESTAR
                </label>
              </div>

              <label>TIPO DE REPORTE</label>
              <select v-model="tipo" name class="form-control">
                <option value="semestral">SEMESTRAL</option>
                <option value="mensual">MENSUAL</option>
                <option value="trimestral">TRIMESTRAL</option>
                <option value="anual">ANUAL</option>
              </select>
              <br />

              <div v-if="tipo==='semestral'">
                <label>SECCIÓN</label>
                <select name id class="form-control" v-model="semestre" @change="recargar()">
                  <option value="sem1">1ER SEMESTRE</option>
                  <option value="sem2">2DO SEMESTRE</option>
                </select>
              </div>

              <div v-if="tipo==='trimestral'">
                <label>SECCIÓN</label>
                <select class="form-control" v-model="trimestre" @change="recargar()">
                  <option value="t1">1ER TRIMESTRE</option>
                  <option value="t2">2DO TRIMESTRE</option>
                  <option value="t3">3ER TRIMESTRE</option>
                  <option value="t4">4TO TRIMESTRE</option>
                </select>
              </div>

              <div v-if="tipo==='mensual'">
                <label>MES</label>
                <select class="form-control" v-model="mes" @change="recargar()">
                  <option value="1">Enero</option>
                  <option value="2">Febrero</option>
                  <option value="3">Marzo</option>
                  <option value="4">Abril</option>
                  <option value="5">Mayo</option>
                  <option value="6">Junio</option>
                  <option value="7">Julio</option>
                  <option value="8">Agosto</option>
                  <option value="9">Septiembre</option>
                  <option value="10">Octubre</option>
                  <option value="11">Noviembre</option>
                  <option value="12">Diciembre</option>
                </select>
              </div>
              <br />
              <button class="btn btn-primary" @click="recargar()">
                <i class="fa fa-refresh" aria-hidden="true"></i> ACTUALIZAR
              </button>
              <button v-show="servicios.length" class="btn btn-primary" @click="enviar">
                <i class="fa fa-print" aria-hidden="true"></i> IMPRIMIR
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="box box-primary shadow">
            <div class="box-header with-border">
              <span class="box-title">Vista Previa</span>
            </div>
            <div class="box-body">
              <div class="echarts" v-if="rend===0 && servicios.length">
                <br />
                <IEcharts ref="grafica" :option="bar" id="graficas" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import IEcharts from "vue-echarts-v3/src/full.js";
export default {
  mounted() {
    //this.cargar();
    
    this.getAnios();
    this.recargar();
  },
  components: {
    IEcharts
  },
  data: () => ({
    anios: [],
    anio: 2019,
    trimestre: "t1",
    semestre: "sem1",
    tiposervicio: 2,
    tipo: "anual",
    mes: "1",
    bienestar: false,

    servicios: [],
    loading: true,
    rend: 0,
    base64: "",

    bar: {
      title: {
        text: "SERVICIOS DEL PERIODO 2019",
        subtext: "",
        x: "left",
        y: "bottom"
      },
      tooltip: {
        trigger: "item",
        formatter: "{b} : {c} ({d}%)"
      },
      legend: {
        orient: "vertical",
        left: "left"
      },
      series: [
        {
          label: {
            formatter: "${c} ({d}%)",
            position: "inside"
          },
          // name: 'SERVICIO',
          type: "pie",
          radius: "70%",
          center: ["70%", "60%"],
          data: [],
          itemStyle: {
            emphasis: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: "rgba(0, 0, 0, 0.5)"
            }
          }
        }
      ]
    }
  }),
  methods: {
    recargar() {
     // block();
      axios
        .post("/taesir/reportesganancias", {
          tipo: this.tipo,
          trimestre: this.trimestre,
          semestre: this.semestre,
          mes: this.mes,
          bienestar: this.bienestar,
          tiposervicio: this.tiposervicio
        })
        .then(response => {
          this.servicios = response.data.datos;
          console.log(response.data);
          this.bar.text="SERVICIOS DEL PERIODO "+this.anio;
          let data = [];
          this.bar.series[0].data = [];
          var i = 0;
          for (i in this.servicios) {
            data.push({
              name: this.servicios[i].nombre,
              value: this.servicios[i].ganancia
            });
          }

          this.bar.series[0].data = data;
        //  unblock();
          if (!this.servicios.length) {
            Swal.fire({
              position: "center",
              type: "info",
              title: "No Hay elementos para mostrar",
              showConfirmButton: true
            });
          }
        });
      this.rend = 0;
     // unblock();
    },

    cargar() {
      axios
        .get("/taesir/reportesganancias", {
          //tipo: this.tipo,
          //trimestre: this.trimestre
        })
        .then(response => {
          this.servicios = response.data;
          //console.log(response.data);
          let data = [];
          this.bar.series[0].data = [];
          var i = 0;
          for (i in this.servicios) {
            data.push({
              name: this.servicios[i].nombre,
              value: this.servicios[i].ganancia
            });
          }

          this.bar.series[0].data = data;
        });
      this.rend = 0;
    },
    getAnios() {
      axios.get("/taesir/aniosReparaciones").then(response => {
        this.anios = response.data;
      });
    },
    imagen() {
      var myChart = this.$refs["grafica"];
      var img = new Image();
      img.src = myChart.getDataURL({
        pixelRatio: 2,
        backgroundColor: "#fff"
      });
      //imagengraf.innerHTML = '<img src="' + img.src + '" class="img-responsive">';
      // this.rend = 1;
      this.base64 = img.src;
    },
    alertaEspere() {
      let timerInterval;
      Swal.fire({
        title: "Espere un momento",
        html: "Estamos procesando su solicitud",
        timer: 2500,
        onBeforeOpen: () => {
          Swal.showLoading();
          timerInterval = setInterval(() => {
            Swal.getContent().querySelector("strong");
          }, 100);
        },
        onClose: () => {
          clearInterval(timerInterval);
        }
      }).then(result => {
        if (
          // Read more about handling dismissals
          result.dismiss === Swal.DismissReason.timer
        ) {
        }
      });
    },
    enviar() {
      this.imagen();
      this.alertaEspere();
      axios({
        method: "post",
        url: "/taesir/reportes",
        responseType: "arraybuffer",
        data: {
          base64: this.base64,
          beneficios: this.servicios,
          bienestar: this.bienestar,
          mes: this.mes,
          tipo:this.tipo
        },
        headers: {
          Accept: "application/pdf"
        }
      }).then(response => {
        console.log(response);
        let blob = new Blob([response.data], {
          type: "application/pdf"
        });

        let link = document.createElement("a");
        link.href = window.URL.createObjectURL(blob);
        link.download = "Reporte.pdf";
        link.click();
      });
    }
  }
};
</script>

<style scoped>
.echarts {
  width: 700px;
  height: 400px;
}
</style>
