<template>
<div>
  <input hidden type="text" ref="myid" :value="$route.params.id"/>
  <div>
    <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h4 class="box-title">AGREGAR SERVICIOS</h4>
      </div>
      <div class="box-body">
        <div class="col-md-8">

          <div class="col-md-12">
            <div class="input-group">
              <v-select v-model="servicioloc" id="v-select" :options="servicio" label="nombre"></v-select>
              <span class="input-group-btn">
                <button id="boton" @click="agregarServicio" class="btn btn-primary" type="button"><i class="glyphicon glyphicon-plus"></i>Agregar</button>
              </span>
              <br>
            </div>
            </div>

          </div>
        </div>
      </div>

      <!-- box donde iran los servicios agregados -->
      <div class="box box-primary shadow">
        <div class="box-header with-border">
          <h4 class="box-title">SERVICIOS AGREGADOS</h4>
        </div>
        <form>
          <div class="box-body">
            <div class="col-md-12 table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Precio Unitario</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                    <th>Quitar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(serv,index) in servagregados" :key=index>
                    <td>{{serv.id}}</td>
                    <td>{{serv.nombre}}</td>
                    <td>${{serv.precio}}</td>
                    <td><input type="number" id="spinner" min=1 max=9  v-model="serv.cantidad" @change="multiplicar(index)" class="form-control"></td>
                    <td>${{serv.subtotalservicio}}</td>
                    <td>
                      <button @click.prevent="quitarServicio(index)"  class="btn btn-xs bg-danger"><i class="glyphicon glyphicon-minus"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="col-md-offset-4" v-if="!servagregados.length">
                <span>NO HAY ELEMENTOS AGREGADOS</span>
              </div>
              <div class="col-md-offset-11">
                <label id="texto">TOTAL</label>
                <div class="input-group">
                  <span class="input-group-addon" id="peso">$</span>
                  <input id="otropeso" type="text" name="msg" disabled v-model="subtotal" class="form-control">
                  
               </div>
                </div>

              </div>

            </div>
            <div class="box-footer">
              <input type="submit" value="Actualizar" class="btn btn-success col-md-offset-9" @click.prevent="actualizarServicios" :disabled="!servagregados.length">
              <!--<input type="button" value="Anterior" class="btn btn-danger" @click="anterior">-->
            </div>
        </form>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.cargar();
  },
  data() {
    return {
      id: "Seleccione",
      diagnostico_id:"",
      servicio: [],
      subtotal: 0.0,
      serviciosrecuperados: [],
      servagregados: [],
      servicioloc: [{
        id: 0,
        nombre: "",

      }],
      reparacion: {
        num_orden: "000000",
        caracteristicas: "",
        observaciones: "",
        total: "",
        descuento: "",
        usuario_id: 73,
        operativo_id: 1
      }

    }
  },
  methods: {
    cargar() {

      this.id = this.$refs["myid"].value;
      axios
        .get("/taesir/getbeneficios")
        .then(respuesta => {
          this.servicio = respuesta.data.servicios;
          //this.subapoyos=respuesta.data.apoyofuncional.catapoyofuncional;

        })
        .catch(error => {
          //console.log(error);
        });

        this.obtenerAgregados();

    },
    agregarServicio() {
      if (this.servicioloc.nombre) {
        var i = 0;
        var estatus = false;
        for (i in this.servagregados) {
          if (this.servagregados[i].id === this.servicioloc.serviciosbeneficios.id) {
            estatus = true;
            break;
          } else {
            estatus = false;
          }

        }
        if (estatus === false) {
          this.servagregados.push({
            id: this.servicioloc.serviciosbeneficios.id,
            nombre: this.servicioloc.nombre,
            cantidad: 1,
            precio: this.servicioloc.serviciosbeneficios.precio,
            subtotalservicio: this.servicioloc.serviciosbeneficios.precio
          });
          this.subtotal += this.servicioloc.serviciosbeneficios.precio;
        } else {
          Swal.fire({
            position: "center",
            type: "warning",
            title: "Elemento ya agregado",
            showConfirmButton: false,
            timer: 1000
          });
        }
        //this.servicio.pop(this.servicioloc.indice);
      }else{
                  Swal.fire({
            position: "center",
            type: "warning",
            title: "Selecciona algun elemento",
            showConfirmButton: false,
            timer: 1000
          });
      }
    },
    quitarServicio(indice) {
      console.log(this.servagregados[indice]);
      //this.subtotal -= this.servagregados[indice].precio;
      //this.servagregados.pop(indice);

      this.servagregados.splice(indice, 1);
      var i = 0;
      this.subtotal = 0;
      for (i in this.servagregados) {
        this.subtotal += this.servagregados[i].subtotalservicio;
      }

    },
    multiplicar(indice) {
      this.servagregados[indice].subtotalservicio = this.servagregados[indice].precio * this.servagregados[indice].cantidad;
      var i = 0;
      this.subtotal = 0;
      for (i in this.servagregados) {
        this.subtotal += this.servagregados[i].subtotalservicio;
      }
    },
    obtenerAgregados() {
      axios.get('taesir/obtenerserviciosagregados/' + this.id).then(response => {
        this.serviciosrecuperados = response.data.servicios;
        this.diagnostico_id=response.data.diagnostico_id;
        this.subtotal=response.data.subtotal;
        this.recuperar();
      })
    },
    recuperar() {
      var i = 0;
      for (i in this.serviciosrecuperados) {
        this.servagregados.push({
          id: this.serviciosrecuperados[i].id,
          nombre: this.serviciosrecuperados[i].beneficiosprogramas.nombre,
          cantidad: this.serviciosrecuperados[i].pivot.cantidad,
          precio: parseInt(this.serviciosrecuperados[i].precio,10),
          subtotalservicio: parseInt(this.serviciosrecuperados[i].pivot.costo,10)
        });
  
      }
    },
    actualizarServicios(){
      axios.put('/taesir/controlreparaciones/'+this.diagnostico_id,{
        servicios: this.servagregados,
        subtotal: this.subtotal,
        reparacion_id: this.id
      }).then(respuesta=>{
        Swal.fire({
            position: "center",
            type: "success",
            title: "SERVICIOS ACTUALIZADOS CORRECTAMENTE",
            showConfirmButton: false,
            timer: 1000
          });
        window.location.assign('taesir/reciboreparacion/' + this.id);
        window.location.assign("taesir#/servicios/reparacion/listado");
      })
    }
  },
}
</script>

<style scoped>
#boton {
  height: 31px;
}
#otropeso{
  width:60px;
}
</style>
