<template>
  <div>
    <input hidden type="text" ref="myid" :value="$route.params.id" />
    <div class="box box-primary shadow">
      <div class="box-header with-border">
      <h4 class="box-title">AGREGAR MATERIAL UTILIZADO</h4>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          MATERIAL
          <div class="input-group">
            <v-select
              id="v-select"
              v-model="materialseleccionado"
              :options="materiales"
              label="nombre"
            ></v-select>
            <span class="input-group-btn">
              <button id="boton" @click.prevent="agregar" class="btn btn-success" type="button">
                <i class="glyphicon glyphicon-plus"></i>AGREGAR
              </button>
            </span>
            <br />
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="box box-primary shadow">
      <div class="box-header with-border">
      <h4 class="box-title">MATERIALES AGREGADOS</h4>
      </div>
      <div class="panel-body">
        <div class="col-md-12 table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>NOMBRE</th>
                <th>EXISTENCIA</th>
                <th>CANTIDAD</th>
                <th>RESTANTE</th>
                <th>QUITAR</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(materiales,index) in materialesagregados" :key="index">
                <td>{{materiales.nombre}}</td>
                <td>{{materiales.existencia}}</td>
                <td>
                  <input
                    type="number"
                    id="spinner"
                    min="1"
                    :max="materiales.existencia"
                    v-model="materiales.cantidad"
                    @change="descontar(index)"
                    v-validate="'between:1,11'"
                    class="form-control"
                  />
                </td>
                <td>{{materiales.restante}}</td>
                <td>
                  <button @click.prevent="quitarMaterial(index)" class="btn btn-xs bg-danger">
                    <i class="glyphicon glyphicon-minus"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-offset-4" v-if="!materialesagregados.length">
            <span>NO HAY ELEMENTOS AGREGADOS</span>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button
          class="col-md-offset-11 btn btn-success"
          v-if="materialesagregados.length"
          @click.prevent="actualizar"
        >Guardar</button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      id: "",
      materialseleccionado: "",
      materiales: [],
      materialesagregados: []
    };
  },
  mounted() {
    this.cargar();
  },
  methods: {
    descontar(indice) {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.materialesagregados[indice].restante =
            this.materialesagregados[indice].existencia -
            this.materialesagregados[indice].cantidad;
        } else {
          Swal.fire({
            position: "center",
            type: "info",
            title: "ingresa solo numeros positivos",
            showConfirmButton: false,
            timer: 1000
          });
        }
      });
    },
    cargar() {
      this.getMateriales();
      this.id = this.$refs["myid"].value;
    },
    getMateriales() {
      axios.get("/taesir/materiap").then(response => {
        this.materiales = response.data.materiales;
      });
    },
    agregar() {
      if(this.materialseleccionado===""){
         Swal.fire({
          position: "center",
          type: "warning",
          title: "SELECCIONE UN MATERIAL",
          showConfirmButton: false,
          timer: 1000
        });
      }else{
      var i = 0;
      var estatus = false;
      for (i in this.materialesagregados) {
        if (this.materialesagregados[i].id === this.materialseleccionado.id) {
          estatus = true;
          break;
        } else {
          estatus = false;
        }
      }
      if (estatus === false) {
        this.materialesagregados.push({
          id: this.materialseleccionado.id,
          nombre: this.materialseleccionado.nombre,
          cantidad: 1,
          existencia: this.materialseleccionado.existencia,
          restante: this.materialseleccionado.existencia - 1
        });
      } else {
        Swal.fire({
          position: "center",
          type: "warning",
          title: "ELEMENTO YA AGREGADO",
          showConfirmButton: false,
          timer: 1000
        });
      }
      this.materialseleccionado="";
    }
    },
    quitarMaterial(indice) {
      this.materialesagregados.splice(indice, 1);
    },
    actualizar() {
      this.$validator.validateAll().then(result => {
        if (result) {
          axios
            .post("/taesir/descontarmaterial", {
              materiales: this.materialesagregados,
              reparacion_id: this.id
            })
            .then(response => {
              Swal.fire({
                position: "center",
                type: "success",
                title: "Informacion Actualizada",
                showConfirmButton: false,
                timer: 1000
              });

              
            });
            window.location.assign('taesir#/servicios/reparacion/listado');
        } else {
          Swal.fire({
            position: "center",
            type: "info",
            title: "ingresa solo numeros positivos",
            showConfirmButton: false,
            timer: 1000
          });
        }
      });
    }
  }
};
</script>
<style>
#boton {
  height: 31px;
}
</style>
