<template>
<div>

  <!--Inicia formulario de los datos de la persona-->
  <div class="box box-primary shadow " v-if="valor===1">
    <div class="box-header with-border">
      <h4>Datos del Beneficiario</h4>
      <label id="fesha" class="col-md-offset-10">{{fecha_diag}}</label>
    </div>
    <form method="post" v-on:submit.prevent="confirmar">
      <div class="box-body">
        <div class="col-md-6">
          <label for="nombre">NOMBRE (S):</label>
          <input type="text" name="nombre" class="form-control" v-model="beneficiario.nombre" required v-validate="{regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}">
          <span class="badge badge-warning" v-if="errors.first('nombre')==='The nombre field format is invalid.'">REVISA TU FORMATO DE ENTRADA</span>
          <label for="curp">CURP:</label>
          <input type="text" required class="form-control" name="curp" v-model="beneficiario.curp">
          <label for="a_paterno">APELLIDO PATERNO:</label>
          <input type="text" required name="a_paterno" class="form-control" v-model="beneficiario.a_paterno">
          <label for="a_materno">APELLIDO MATERNO: </label>
          <input type="text" name="a_materno" class="form-control" v-model="beneficiario.a_materno">
          <label for="telefono">TELEFONO: </label>
          <input type="text" name="telefono" class="form-control" v-model="beneficiario.telefono">
        </div>
          <div class="col-md-6">
            <div class="col-md-6">
              <label required for="fecha_nacimiento">FECHA DE NACIMIENTO</label>
              <input type="text" class="form-control" placeholder="AAAA/MM/DD" name="fecha_nacimiento" v-model="beneficiario.fecha_nace" v-validate="'date_format:yyyy/MM/dd'">
              <span>{{errors.first('fecha_nacimiento')}}</span>
            </div>
            <div class="col-md-6">
              <label for="genero">GENERO:</label>
              <select title ="Es necesario seleccionar un genero" name="genero" v-model="beneficiario.genero" class="form-control" required>
                  <option value="F">FEMENINO</option>
                  <option value="M">MASCULINO</option>
                </select>
            </div>
            <label for="municipio">MUNICIPIO: </label>
            <v-select v-model="beneficiario.municipio" id="vselect" :options="municipios" :reduce="municipio_codigo=>municipio_codigo.id" label="nombre"></v-select>
            <label for="colonia">COLONIA: </label>
            <input type="text" name="colonia" class="form-control" v-model="beneficiario.colonia">
            <label for="calle">CALLE: </label>
            <input type="text" name="calle" class="form-control" v-model="beneficiario.calle">
            <div class="col-md-4">
              <label for="num_exterior">NUM. EXTERIOR</label>
              <input type="text" class="form-control" name="num_exterior" v-model="beneficiario.num_ext">
          </div>
              <div class="col-md-4">
                <label for="num_interior">NUM. INTERIOR</label>
                <input type="text" class="form-control" name="num_interior" v-model="beneficiario.num_int">
          </div>
                <div class="col-md-4">
                  <label for="codigo_postal">CÓDIGO POSTAL</label>
                  <input type="text" name="codigo_postal" class="form-control" v-model="beneficiario.cod_postal">
          </div>
                </div>

              </div>
              <div class="col-md-12 box">

                <div class="col-md-12 box-header with-border">
                  <h4>Otros Datos</h4>
                  <div class="box-body">
                    <div class="col-md-6">
                      <label for="responsable">RESPONSABLE</label>
                      <input v-model="formatos.responsable" type="text" name="responsable" class="form-control">
                    </div>
                      <div class="col-md-12">
                        <div class="checkbox"><label><input type="checkbox" v-model="formatos.acta"> ACTA DE NACIMIENTO</label></div>
                        <div class="checkbox"><label><input type="checkbox" v-model="formatos.curp">CURP</label></div>
                        <div class="checkbox"><label><input type="checkbox" v-model="formatos.comprobante"> COMPROBANTE DE DOMICILIO</label></div>
                        <div class="checkbox"><label><input type="checkbox" v-model="formatos.acuse"> ACUSE</label></div>
                      </div>

                    </div>

                  </div>
                </div>
                <div class="box-footer">
                  <input type="submit" class="btn btn-success col-md-offset-11" value="Continuar">
                  <!-- <input type="button" class="btn btn-success" value="Prueba swal" @click="siguiente">-->
                </div>
    </form>
  </div>
  <!-- Termina parte del componente de los datos del beneficiario-->
  <!-- INICIA FORMULARIO DE PRESUPUESTO-->
  <div v-if="valor===2">
    <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h4>Agregar Servicios</h4>
      </div>
      <div class="box-body">
        <div class="col-md-6">

          <div class="col-md-2">
            <h4>Servicio</h4>
          </div>
          <div class="col-md-6">
            <select class="form-control" v-model="servicioloc">
                    <option  v-for="(serv, index) in servicio"
                  :key="index"
                  v-bind:value="{id:serv.id,nombre:serv.nombre,precio:serv.precio,indice:index}">{{serv.nombre}}</option>
        </select>
          </div>
          <div class="col-md-4">
            <button value="Agregar" @click="agregarServicio" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>Agregar</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-4">
            <h4>Diagnosticó</h4>

          </div>
          <div class="col-md-8">
            <select class="form-control" v-model="reparacion.operativo_id">
                    <option  v-for="(operado, index) in operador"
                  :key="index" v-bind:value="operado.id"
                  >{{operado.nombre+" "+operado.primer_apellido+" "+operado.segundo_apellido}}</option>
        </select>
          </div>
        </div>
      </div>
    </div>

    <!-- box donde iran los servicios agregados -->
    <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h4>Servicios agregados</h4>
      </div>
      <form>
        <div class="box-body">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Quitar</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(serv,index) in servagregados" :key=index>
                  <td>{{serv.id}}</td>
                  <td>{{serv.nombre}}</td>
                  <td>{{serv.precio}}</td>
                  <td>
                    <button @click="quitarServicio(index)"  class="btn btn-xs bg-danger"><i class="glyphicon glyphicon-minus"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="col-md-offset-11">
              <label id="texto">SUBTOTAL</label>
              <div class="input-group">
                <span class="input-group-addon" id="peso">$</span>
                <input id="peso" type="text" name="msg" disabled v-model="subtotal" class="form-control">
        </div>
              </div>

            </div>
          </div>
          <div class="box-footer">
            <input type="submit" value="Continuar" class="btn btn-success col-md-offset-9" @click.prevent="crearDiagnostico">
            <!--<input type="button" value="Anterior" class="btn btn-danger" @click="anterior">-->
          </div>
      </form>

    </div>
  </div>

  <!-- GENERALIDADES DEL PPROYECTO-->
  <div v-if="valor===3">
    <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h4>GENERALIDADES</h4>
      </div>
      <DIV class="box-body">
        <div class="col-md-6">
          <label for="caracteristicas">CARACTERISTICAS</label>
          <textarea name="caracteristicas" v-model="reparacion.caracteristicas" class="form-control" rows="4"></textarea>
        </div>
        <div class="col-md-6">
          <label for="observaciones">OBSERVACIONES</label>
          <textarea name="observaciones" rows=4 class="form-control" v-model="reparacion.observaciones"></textarea>
        </div>

      </DIV>
      <div class="box-footer">
        <div class="col-md-6">
          <label for="reparador">REPARADOR</label>

          <select class="form-control" v-model="reparacion.operativo_id">
                    <option  v-for="(operado, index) in operador"
                  :key="index" v-bind:value="operado.id"
                  >{{operado.nombre+" "+operado.primer_apellido+" "+operado.segundo_apellido}}</option>
        </select>
        </div>
        <div class="col-md-6">
          <br>
          <button class="btn btn-success col-md-offset-10" @click.prevent="crearReparacion" >Generar</button>
        </div>

      </div>
    </div>
  </div>
  <!-- FIN DE PRESUPUESTO-->
</div>
</template>

<script>
export default {
  mounted() {
    this.cargar();
  },
  methods: {
    cargar() {
      axios
        .get("/taesir/munici")
        .then(respuesta => {
          this.municipios = respuesta.data.municipio;
        })
        .catch(error => {
          //console.log(error);
        });

      axios
        .get("/taesir/catservicio")
        .then(respuesta => {
          this.servicio = respuesta.data.servicios;
          //this.subapoyos=respuesta.data.apoyofuncional.catapoyofuncional;
        })
        .catch(error => {
          //console.log(error);
        });

      this.fechaActual();
      this.getOperador();
    },
    //metodos para el control de pasos
    siguiente() {
      this.valor++;
    },
    anterior() {
      this.valor--
    },

    getOperador() {
      axios.get('/taesir/tsrtrabajador').then(
        respuesta => {
          this.operador = respuesta.data.operador;
        })
    },
    //fin de los metodos para el control de pasos

    //metodo para el control de datos del beneficiario
    crearPersona() {
      block();
      axios
        .post("/taesir/altapersona", {
          curp: this.beneficiario.curp,
          nombre: this.beneficiario.nombre,
          a_paterno: this.beneficiario.a_paterno,
          a_materno: this.beneficiario.a_materno,
          numero_celular: this.beneficiario.telefono,
          municipio: this.beneficiario.municipio,
          colonia: this.beneficiario.colonia,
          calle: this.beneficiario.calle,
          num_ext: this.beneficiario.num_ext,
          num_int: this.beneficiario.num_int,
          cod_postal: this.beneficiario.cod_postal,
          fecha_nace: this.beneficiario.fecha_nace,
          genero: this.beneficiario.genero
        })
        .then(respuesta => {
          Swal.fire({
            position: "center",
            type: "success",
            title: "Agreado",
            showConfirmButton: false,
            timer: 1000
          });

          //beneficiario.id= respuesta.data;
          unblock();
          this.beneficiario.persona_id = respuesta.data.persona;
          this.crearBeneficiario();
          this.siguiente();

        })
        .catch(error => {
          console.log(error);
          unblock();
          Swal.fire({
            position: "center",
            type: "error",
            title: "Verificar sus campos",
            showConfirmButton: false,
            timer: 1000
          });

        });
    },
    crearBeneficiario() {
      axios.post('/taesir/tsrbeneficiarios', {
        acuse: this.formatos.acuse,
        acta: this.formatos.acta,
        curp: this.formatos.curp,
        comprobante: this.formatos.comprobante,
        persona_id: this.beneficiario.persona_id,
        responsable: this.formatos.responsable
      }).then(respuesta => {
        this.beneficiario_id = respuesta.data.beneficiario_id;
        console.log("se agrego el beneficiario");

      })
    },
    agregarServicio() {
      if (this.servicioloc.nombre) {
        var i = 0;
        var estatus = false;
        for (i in this.servagregados) {
          if (this.servagregados[i].id === this.servicioloc.id) {
            estatus = true;
            break;
          } else {
            estatus = false;
          }

        }
        if (estatus === false) {
          this.servagregados.push({
            id: this.servicioloc.id,
            nombre: this.servicioloc.nombre,
            precio: this.servicioloc.precio
          });
          this.subtotal += this.servicioloc.precio;
        } else {
          Swal.fire({
            position: "center",
            type: "warning",
            title: "Elemento ya agregado",
            showConfirmButton: false,
            timer: 1000
          });
        }
        //this.servicio.pop(this.servicioloc.indice);
      }
    },
    quitarServicio(indice) {
      this.subtotal -= this.servagregados[indice].precio;
      this.servagregados.pop(indice);
    },

    crearDiagnostico() {
      axios.post('/taesir/diagcontrol', {
        beneficiario_id: this.beneficiario_id,
        fecha: this.fecha_diag,
        operativo_id: this.reparacion.operativo_id,
        usuario_id: 73,
        subtotal: this.subtotal,
        servicios: this.servagregados
      }).then(respuesta => {
        this.diagnostico_id = respuesta.data.diagnostico_id;
        console.log(respuesta.data);
        Swal.fire({
          position: "center",
          type: "success",
          title: "Generado Correctamente",
          showConfirmButton: false,
          timer: 1000
        });
        this.siguiente();

      })

    },

    fechaActual() {
      this.fecha_diag = (this.fecha.getFullYear()) + "/" + (this.fecha.getMonth() + 1) + "/" + this.fecha.getDate();
    },
    confirmar() {
      Swal.fire({
        title: "¿Estas seguro?",
        text: "Una vez aceptados los cambios no podras editar",
        type: "question",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Sí",
        cancelButtonText: "No"
      }).then(result => {
        if (result.value) {
          this.crearPersona();
        }
      });
    },

    crearReparacion() {
      axios.post('taesir/controlreparaciones', {
        num_orden: this.reparacion.num_orden,
        caracteristicas: this.reparacion.caracteristicas,
        observaciones: this.reparacion.observaciones,
        total: this.subtotal,
        descuento: 0,
        usuario_id: 73,
        operativo_id: this.reparacion.operativo_id,
        diagnostico_id: this.diagnostico_id
      }).then(respuesta => {
        Swal.fire({
          position: "center",
          type: "success",
          title: "Generado Correctamente",
          showConfirmButton: false,
          timer: 1000
        });
        this.valor = 1;
        window.location.assign("taesir#/servicios/reparacion/listado");
      })
    }
  },

  //fin de las funciones del control de beneficiario

  //inicio de las funciones del servicio

  data() {
    return {
      //datos para el control de beneficiario
      fecha: new Date(),
      fecha_diag: "",

      formatos: {
        acuse: false,
        acta: false,
        curp: false,
        comprobante: false,
        responsable: ""
      },
      municipios: [],
      valor: 1,
      beneficiario: {
        persona_id: "",
        curp: "",
        nombre: "",
        a_paterno: "",
        a_materno: "",
        telefono: "",
        municipio: "",
        colonia: "",
        calle: "",
        num_ext: "",
        num_int: "",
        cod_postal: "",
        fecha_nace: "",
        genero: ""
      },

      //fin de los datos para el control de beneficiario

      //datos del  diagnostico
      servicio: [],
      operador: [],
      subtotal: 0.0,
      servagregados: [],
      servicioloc: [{
        id: 0,
        nombre: "",
        precio: "",
      }],
      indices: "",
      beneficiario_id: "",

      //fin de los datos del diagnostico

      //datos para la reparacion
      diagnostico_id: "",
      reparacion: {
        num_orden: "000000",
        caracteristicas: "",
        observaciones: "",
        total: "",
        descuento: "",
        usuario_id: 73,
        operativo_id: 1
      }
    }
  },
}
</script>

<style scoped>
input {
  border-radius: 4px !important;
}

select {
  border-radius: 4px !important;
}

label {
  font-size: 13px !important;
}

#fesha {
  font-size: 15px !important;
  color: #00968C;
}

#peso {
  border: #FFF;
  background-color: #EEEEEE;
  border-radius: 0px;
}

textarea {
  resize: none;
}
</style>
