<template>
<div>
  <div class="col-md-offset-9" v-if="valor===0||valor==1">
    <span>Tipo de Beneficiario</span>
    <select name="existe" id="" @change="cambiar" v-model="cambio" class="form-control">
    <option value="nuevo">Nuevo</option>
    <option value="existente">Existente</option>
  </select><br>
  </div>
  <!--Inicia formulario de los datos de la persona-->
  <div class="box box-primary shadow " v-if="valor===1">
    <div class="box-header with-border">
      <h4 class="box-title">DATOS DEL BENEFICIARIO</h4>
          </div>
          <label id="fesha" class="col-md-offset-10">{{fecha_diag}}</label>
    <form method="post" v-on:submit.prevent="confirmar">
      <div class="box-body">
        <div class="col-md-6">
          <label for="nombre">NOMBRE (S):</label>
          <input type="text" style="text-transform:uppercase;" name="nombre" class="form-control" v-model="beneficiario.nombre" required v-validate="{regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}">
          <span  class="errordecampo" v-if="errors.first('nombre')==='The nombre field format is invalid.'">REVISA TU FORMATO DE ENTRADA<br/></span>
          <label for="curp">CURP:</label>
          <input maxlength="18" type="text" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" required class="form-control" name="curp" v-model="beneficiario.curp" v-validate="{regex: /^([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)$/}">
          <span class="errordecampo" v-if="errors.first('curp')==='The curp field format is invalid.'">LA CURP INGRESADA NO ES VALIDA<br/></span>
          <label for="a_paterno">APELLIDO PATERNO:</label>
          <input type="text" style="text-transform:uppercase;" required name="a_paterno" class="form-control" v-model="beneficiario.a_paterno" v-validate="{regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}">
          <span class="errordecampo"  v-if="errors.first('a_paterno')==='The a_paterno field format is invalid.'">REVISA TU FORMATO DE ENTRADA<br/></span>
          <label for="a_materno">APELLIDO MATERNO: </label>
          <input type="text" name="a_materno" required class="form-control" style="text-transform:uppercase;" v-model="beneficiario.a_materno" v-validate="{regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}">
          <span class="errordecampo"  v-if="errors.first('a_materno')==='The a_materno field format is invalid.'">REVISA TU FORMATO DE ENTRADA<br/></span>
          <label for="telefono">TELEFONO: </label>
          <input type="text" maxlength="10" name="telefono" class="form-control" v-model="beneficiario.telefono" v-validate="'digits:10'">
          <span class="errordecampo" v-if="errors.first('telefono')==='The telefono field must be numeric and exactly contain 10 digits.'">CAMPO SOLO VALIDO CON NUMEROS Y UNA LONGITUD DE 10</span>
        </div>
          <div class="col-md-6">
            <div class="col-md-6">
              <label required for="fecha_nacimiento">FECHA DE NACIMIENTO</label>
              <input type="text" class="form-control" placeholder="DD/MM/YYYY" name="fecha_nacimiento" v-model="beneficiario.fecha_nace" required v-validate="'date_format:dd/MM/yyyy'">
              <span></span>
            </div>
            <div class="col-md-6">
              <label for="genero">GENERO:</label>
              <select title ="Es necesario seleccionar un genero" name="genero" v-model="beneficiario.genero" class="form-control" required>
                  <option value="F">FEMENINO</option>
                  <option value="M">MASCULINO</option>
                </select>
            </div>
            <div class="col-md-12">
            <label for="municipio">MUNICIPIO: </label>
            <v-select v-model="beneficiario.municipio" id="vselect" :options="municipios" :reduce="municipio_codigo=>municipio_codigo.id" label="nombre"></v-select>
            <label for="colonia">COLONIA: </label>
            <input type="text" name="colonia" class="form-control" v-model="beneficiario.colonia" style="text-transform:uppercase;" required v-validate="{regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}">
            <span class="errordecampo"  v-if="errors.first('colonia')==='The colonia field format is invalid.'">REVISA TU FORMATO DE ENTRADA<br/></span>
            <label for="calle">CALLE: </label>
            <input type="text" name="calle" class="form-control" v-model="beneficiario.calle">
            </div>
            <div class="col-md-4">
              <label for="num_exterior">NUM. EXTERIOR</label>
              <input type="text" class="form-control" name="num_exterior" v-model="beneficiario.num_ext">
          </div>
              <div class="col-md-4">
                <label for="num_interior">NUM. INTERIOR</label>
                <input type="text" class="form-control" name="num_interior" v-model="beneficiario.num_int">
          </div>
                <div class="col-md-4">
                  <label for="codigo_postal">CÓDIGO POSTAL</label>
                  <input type="text" name="codigo_postal" class="form-control" v-model="beneficiario.cod_postal"  required v-validate="'digits:5'" maxlength="5">
          </div>
          <span  class="errordecampo" v-if="errors.first('codigo_postal')==='The codigo_postal field must be numeric and exactly contain 5 digits.'">ESTE CAMPO SOLO PUEDE CONTENER 5 NUMEROS</span>
                </div>

              </div>
                  <div class="box-header with-border">
                  <h4 class="box-title">OTROS DATOS</h4>
                  </div>
                  <div class="col-md-12">
                  <div class="box-body">
                    <div class="col-md-6">
                      <label for="responsable">RESPONSABLE</label>
                      <input v-model="formatos.responsable" style="text-transform:uppercase;" type="text" name="responsable" class="form-control" required v-validate="{regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}">
                    <span class="errordecampo"  v-if="errors.first('responsable')==='The responsable field format is invalid.'">REVISA TU FORMATO DE ENTRADA<br/></span>
                    </div>
                      <div class="col-md-12">
                        <div class="checkbox"><label><input type="checkbox" v-model="formatos.acta"> ACTA DE NACIMIENTO</label></div>
                        <div class="checkbox"><label><input type="checkbox" v-model="formatos.curp">CURP</label></div>
                        <div class="checkbox"><label><input type="checkbox" v-model="formatos.comprobante"> COMPROBANTE DE DOMICILIO</label></div>
                        <div class="checkbox"><label><input type="checkbox" v-model="formatos.acuse"> ACUSE</label></div>
                      </div>

                    </div>

                  </div>
                
                <div class="box-footer">
                  <button type="submit" class="btn btn-success col-md-offset-10" value="Continuar">CONTINUAR</button>
                  <!-- <input type="button" class="btn btn-success" value="Prueba swal" @click="siguiente">-->
                </div>
    </form>
  </div>
  <!-- Termina parte del componente de los datos del beneficiario-->
  <!-- INICIA FORMULARIO DE PRESUPUESTO-->
  <div v-if="valor===2">
    <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h4 class="box-title">AGREGAR SERVICIOS</h4>
      </div>
      <div class="box-body">
        <div class="col-md-6">

          <div class="col-md-12">
            <div class="form-group">
              <h4>SERVICIO</h4>
              <!-- <v-select v-model="servicioloc1" id="v-select" :options="servicio" label="nombre" :reduce="codigo_servicio=>codigo_servicio.serviciosbeneficios.id"></v-select>-->
              <v-select v-model="servicioloc" id="v-select" :options="servicio" label="nombre"></v-select>
              <!--   <select class="form-control" v-model="servicioloc">
                    <option  v-for="(serv, index) in servicio"
                  :key="index"
                  v-bind:value="{id:serv.id,nombre:serv.nombre,indice:index}">{{serv.nombre}}</option>
        </select>-->
              <br>
              <button value="Agregar" @click="agregarServicio" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>Agregar</button>
            </div>

          </div>

        </div>
        <div class="col-md-6">

          <div class="col-md-12">
            <h4>DIAGNOSTICÓ</h4>
            <select class="form-control" v-model="reparacion.operativo_id">
                    <option  v-for="(operado, index) in operador"
                  :key="index" v-bind:value="operado.operativo[0].id"
                  >{{operado.nombre+" "+operado.primer_apellido+" "+operado.segundo_apellido}}</option>
        </select>
          </div>
        </div>
      </div>
    </div>

    <!-- box donde iran los servicios agregados -->
    <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h4 class="box-title">SERVICIOS AGREGADOS</h4>
      </div>
      <form>
        <div class="box-body">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Nombre</th>
                  <th>Precio Unitario</th>
                  <th>Cantidad</th>
                  <th>Subtotal</th>
                  <th>Quitar</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(serv,index) in servagregados" :key=index>
                  <td>{{serv.id}}</td>
                  <td>{{serv.nombre}}</td>
                  <td>${{serv.precio}}</td>
                  <td><input type="number" id="spinner" min=1 max=9  v-model="serv.cantidad" @change="multiplicar(index)" class="form-control"></td>
                  <td>${{serv.subtotalservicio}}</td>
                  <td>
                    <button @click.prevent="quitarServicio(index)"  class="btn btn-xs bg-danger"><i class="glyphicon glyphicon-minus"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="col-md-offset-4" v-if="!servagregados.length">
              <span>NO HAY ELEMENTOS AGREGADOS</span>
            </div>
            <div class="col-md-offset-11">
              <label id="texto">TOTAL</label>
              <div class="input-group">
                <span class="input-group-addon" id="peso">$</span>
                <input id="peso" type="text" name="msg" disabled v-model="subtotal" class="form-control">
        </div>
              </div>

            </div>

          </div>
          <div class="box-footer">
            <button type="submit" value="Continuar" class="btn btn-success col-md-offset-9" @click.prevent="crearDiagnostico" :disabled="!servagregados.length" >CONTINUAR</button>
            <!--<input type="button" value="Anterior" class="btn btn-danger" @click="anterior">-->
          </div>
      </form>

    </div>
  </div>

  <!-- GENERALIDADES DEL PPROYECTO-->
  <div v-if="valor===3">
    <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h4 class="box-title">GENERALIDADES</h4>
      </div>
      <DIV class="box-body">
        <div class="col-md-6">
          <label for="caracteristicas">CARACTERISTICAS</label>
          <textarea name="caracteristicas" v-model="reparacion.caracteristicas" class="form-control" rows="4"></textarea>
        </div>
        <div class="col-md-6">
          <label for="observaciones">OBSERVACIONES</label>
          <textarea name="observaciones" rows=4 class="form-control" v-model="reparacion.observaciones"></textarea>
        </div>

      </DIV>
      <div class="box-footer">
        <div class="col-md-6">
          <label for="reparador">REPARADOR</label>

          <select class="form-control" v-model="reparacion.operativo_id">
                    <option  v-for="(operado, index) in operador"
                  :key="index" v-bind:value="operado.id"
                  >{{operado.nombre+" "+operado.primer_apellido+" "+operado.segundo_apellido}}</option>
        </select>
        </div>
        <div class="col-md-6">
          <br>
          <button class="btn btn-success col-md-offset-10" @click.prevent="crearReparacion" >Generar</button>
        </div>

      </div>
    </div>
  </div>

      <div class="panel panel-default" v-if="valor===0">
      <div class="panel-heading">
        <div class="input-group col-md-5 col-md-offset-7">
          <input v-model="busqueda" required type="text" placeholder="BUSCAR BENEFICIARIO" name="buscabeneficiario" class="form-control" >
          <span class="input-group-btn">
        <button class="btn btn-info" style="display: inline;" type="button" @click.prevent="buscar"><i class="fa fa-search"></i> Buscar</button>
      </span>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-md-12 table-responsive">
          <table class="table table-striped ">
            <thead>
              <tr>
                <th>Curp</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Selección</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(bene,index) in beneficiarios" :key=index>
                <td>{{bene.curp}}</td>
                <td>{{bene.nombre}}</td>
                <td>{{bene.primer_apellido}}</td>
                <td>{{bene.segundo_apellido}}</td>
                <td><button @click.prevent="getBeneficiario(bene.id)" class="btn btn-success">&#x2714;</button></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  <!-- FIN DE PRESUPUESTO-->
</div>
</template>

<script>
export default {
  mounted() {
    this.cargar();
  },
  methods: {
        cambiar() {
      if (this.cambio === "nuevo") {
        this.valor = 1;
      } else {
        this.valor = 0;
      }
    },
        buscar() {
      let me = this;
      var url = "/taesir/buscarpersona";
      block();
      axios.post(url, {
        curp: me.busqueda
      }).then(function (response) {

        me.beneficiarios = response.data.data

        unblock();
      }).catch(function (error) {
        console.log('Problemas de conexion, intente de nuevo')
      })
    },
    cargar() {
      axios
        .get("/taesir/munici")
        .then(respuesta => {
          this.municipios = respuesta.data.municipio;
        })
        .catch(error => {
          //console.log(error);
        });

      axios
        .get("/taesir/getbeneficios")
        .then(respuesta => {
          this.servicio = respuesta.data;
          //this.subapoyos=respuesta.data.apoyofuncional.catapoyofuncional;
        })
        .catch(error => {
          //console.log(error);
        });

      this.fechaActual();
      this.getOperador();
    },
    getBeneficiario(persona_id) {
      this.folio=persona_id;
      
      block();
      axios.post("/taesir/ordenbeneficiario",{buscar:this.folio})
      .then(response => {
        this.benes = response.data.beneficiario;
        console.log(this.benes);
        this.beneficiario_id=this.benes[0].id;
                unblock();
        this.valor=2;
      })
      .catch(error=>{    
        console.log(error);    
     });
      unblock();

    },
    //metodos para el control de pasos
    siguiente() {
      this.valor++;
    },
    anterior() {
      this.valor--
    },

    getOperador() {
      axios.get('/taesir/tsrtrabajador').then(
        respuesta => {
          this.operador = respuesta.data.operador;
        })
    },
    //fin de los metodos para el control de pasos

    //metodo para el control de datos del beneficiario
    crearPersona() {
      block();
      axios
        .post("/taesir/altapersona", {
          curp: this.beneficiario.curp,
          nombre: this.beneficiario.nombre,
          a_paterno: this.beneficiario.a_paterno,
          a_materno: this.beneficiario.a_materno,
          numero_celular: this.beneficiario.telefono,
          municipio: this.beneficiario.municipio,
          colonia: this.beneficiario.colonia,
          calle: this.beneficiario.calle,
          num_ext: this.beneficiario.num_ext,
          num_int: this.beneficiario.num_int,
          cod_postal: this.beneficiario.cod_postal,
          fecha_nace: this.beneficiario.fecha_nace,
          genero: this.beneficiario.genero
        })
        .then(respuesta => {
          Swal.fire({
            position: "center",
            type: "success",
            title: "Agreado",
            showConfirmButton: false,
            timer: 1000
          });

          //beneficiario.id= respuesta.data;
          unblock();
          this.beneficiario.persona_id = respuesta.data.persona;
          this.crearBeneficiario();
          this.siguiente();

        })
        .catch(error => {
          console.log(error);
          unblock();
          Swal.fire({
            position: "center",
            type: "error",
            title: "Verificar sus campos",
            showConfirmButton: false,
            timer: 1000
          });

        });
    },
    crearBeneficiario() {
      axios.post('/taesir/tsrbeneficiarios', {
        acuse: this.formatos.acuse,
        acta: this.formatos.acta,
        curp: this.formatos.curp,
        comprobante: this.formatos.comprobante,
        persona_id: this.beneficiario.persona_id,
        responsable: this.formatos.responsable
      }).then(respuesta => {
        this.beneficiario_id = respuesta.data.beneficiario_id;
        console.log("se agrego el beneficiario");

      })
    },
    impresionprueba() {
      console.log(this.servicioloc.serviciosbeneficios.precio);
    },
    agregarServicio() {
      if (this.servicioloc.nombre) {
        var i = 0;
        var estatus = false;
        for (i in this.servagregados) {
          if (this.servagregados[i].id === this.servicioloc.serviciosbeneficios.id) {
            estatus = true;
            break;
          } else {
            estatus = false;
          }

        }
        if (estatus === false) {
          this.servagregados.push({
            id: this.servicioloc.serviciosbeneficios.id,
            nombre: this.servicioloc.nombre,
            cantidad: 1,
            precio: this.servicioloc.serviciosbeneficios.precio,
            subtotalservicio: this.servicioloc.serviciosbeneficios.precio
          });
          this.subtotal += this.servicioloc.serviciosbeneficios.precio;
        } else {
          Swal.fire({
            position: "center",
            type: "warning",
            title: "Elemento ya agregado",
            showConfirmButton: false,
            timer: 1000
          });
        }
        //this.servicio.pop(this.servicioloc.indice);
      }
      else{
                 Swal.fire({
            position: "center",
            type: "warning",
            title: "Seleccione un elemento",
            showConfirmButton: false,
            timer: 1000
          });
      }
    },
    quitarServicio(indice) {
      console.log(this.servagregados[indice]);
      //this.subtotal -= this.servagregados[indice].precio;
      //this.servagregados.pop(indice);

      this.servagregados.splice(indice, 1);
      var i = 0;
      this.subtotal = 0;
      for (i in this.servagregados) {
        this.subtotal += this.servagregados[i].subtotalservicio;
      }

    },
    multiplicar(indice) {
      this.servagregados[indice].subtotalservicio = this.servagregados[indice].precio * this.servagregados[indice].cantidad;
      var i = 0;
      this.subtotal = 0;
      for (i in this.servagregados) {
        this.subtotal += this.servagregados[i].subtotalservicio;
      }
    },

    crearDiagnostico() {
      axios.post('/taesir/diagcontrol', {
        beneficiario_id: this.beneficiario_id,
        fecha: this.fecha_diag,
        operativo_id: this.reparacion.operativo_id,
        usuario_id: 73,
        subtotal: this.subtotal,
        servicios: this.servagregados
      }).then(respuesta => {
        this.diagnostico_id = respuesta.data.diagnostico_id;
        console.log(respuesta.data);
        Swal.fire({
          position: "center",
          type: "success",
          title: "Generado Correctamente",
          showConfirmButton: false,
          timer: 1000
        });
        this.siguiente();

      })

    },

    fechaActual() {
      this.fecha_diag = (this.fecha.getFullYear()) + "/" + (this.fecha.getMonth() + 1) + "/" + this.fecha.getDate();
    },
    confirmar() {
      Swal.fire({
        title: "¿Estas seguro?",
        text: "Una vez aceptados los cambios no podras editar",
        type: "question",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Sí",
        cancelButtonText: "No"
      }).then(result => {
        if (result.value) {
          this.crearPersona();
        }
      });
    },

    crearReparacion() {
      axios.post('taesir/controlreparaciones', {
        num_orden: this.reparacion.num_orden,
        caracteristicas: this.reparacion.caracteristicas,
        observaciones: this.reparacion.observaciones,
        total: this.subtotal,
        acuse: this.acuse,
        descuento: 0,
        usuario_id: 73,
        operativo_id: this.reparacion.operativo_id,
        diagnostico_id: this.diagnostico_id,
        servicios: this.servagregados,
      }).then(respuesta => {
        Swal.fire({
          position: "center",
          type: "success",
          title: "Generado Correctamente",
          showConfirmButton: false,
          timer: 1000
        });
        window.location.assign('taesir/reciboreparacion/' + respuesta.data);
        window.location.assign("taesir#/servicios/reparacion/listado");
      })
    }
  },

  //fin de las funciones del control de beneficiario

  //inicio de las funciones del servicio

  data() {
    return {
      //datos para el control de beneficiario
      cambio: "nuevo",
      busqueda: "",
      fecha: new Date(),
      fecha_diag: "",
      servicioloc1: "",
      formatos: {
        acuse: false,
        acta: false,
        curp: false,
        comprobante: false,
        responsable: ""
      },
      municipios: [],
      beneficiarios: [],
      valor: 1,
      beneficiario: {
        persona_id: "",
        curp: "",
        nombre: "",
        a_paterno: "",
        a_materno: "",
        telefono: "",
        municipio: "",
        colonia: "",
        calle: "",
        num_ext: "",
        num_int: "",
        cod_postal: "",
        fecha_nace: "",
        genero: ""
      },
      folio:"",

      //fin de los datos para el control de beneficiario

      //datos del  diagnostico
      servicio: [],
      operador: [],
      subtotal: 0.0,
      servagregados: [],
      servicioloc: [{
        id: 0,
        nombre: "",

      }],
      indices: "",
      beneficiario_id: "",
      benes:"",

      //fin de los datos del diagnostico

      //datos para la reparacion
      diagnostico_id: "",
      reparacion: {
        num_orden: "000000",
        caracteristicas: "",
        observaciones: "",
        total: "",
        descuento: "",
        usuario_id: 73,
        operativo_id: 1
      }
    }
  },
}
</script>

<style scoped>
input {
  border-radius: 4px !important;
}

select {
  border-radius: 4px !important;
}

label {
  font-size: 13px !important;
}

#fesha {
  font-size: 15px !important;
  color: #00968C;
}

#peso {
  border: #FFF;
  background-color: #EEEEEE;
  border-radius: 0px;
}

textarea {
  resize: none;
}

#spinner {
  width: 55px;
  height: 42px;
}

.errordecampo{
color: red;
}

input:focus{
  border-color: #00968C !important
}

select:focus{
  border-color: #00968C !important
}
/*
input:valid{
  background-color: #CCFEC8;
}
*/

</style>
