<template>
<div>
  <div class="col-md-9 col-md-offset-1 margen">
    <div class="">
      <div class="panel-body">
        <div align="center">
          <img src="images/logo_color.png" alt="" width="450"/>
          <h1 id="error"><strong>:( ERROR 404</strong>{{$route.params.id}}</h1>
         </div>
        <div align="center">
          <br>
          <p id="mensaje"><strong>
          El recurso al que está tratando
          acceder no existe o no se encuentra
          disponible
          </strong>
          </p>

          <a href="">VOLVER A INICIO</a>
        </div>

      </div>
    </div>
  </div>
</div>
</template>

<style scoped>
.margen {
  margin-top: 4%;
}

#error {
  color: #00968C;
  font-family: "Courier New", Courier, monospace !important;
  font-size: 50px
}

.err {
  color: darkorange
}

#mensaje {
  font-size: 18px;
  font-family: "Courier New", Courier, monospace !important
}
</style>
