<template>
<div>
  <!--Informacion para realizar la venta-->
  <form action="" v-on:submit.prevent="generarVenta">
    <div class="">
      <div class="box box-primary shadow">
        <div class="box-header with-border">
          <h3 class="box-title">Venta</h3>
        </div>
        <div class="box-body">
          <div class="box-boy no-padding">
            <div class="row">
              <div class="col-md-2 col-md-offset-10" style="margin-bottom: 10px">
                <button type="button" class="btn btn-success" @click="ventas">
                  <i class="fa fa-money"></i> Ventas
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="fecha">Fecha:</label>
                  <input class="form-control" disabled type="text" v-model="fecha">
                  <!-- <th><i class="fa fa-calendar margin-r-5"></i>Fecha de entrega:</th>
                      <td>{{formatFecha(pedido.fecha_entrega)}}</td> -->
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="totalProductos:">Productos:</label>
                  <input class="form-control" disabled type="number" v-model="getTotalProductos">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="Total">Total:</label>
                  <input class="form-control" disabled type="number" v-model="getTotal">
                </div>
              </div>            
            </div>
            <form action="" v-on:submit.prevent="agregarProducto">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="productos">Agregar Producto:</label>
                  <v-select v-model="producto" :options="productosPanaderia" label="nombre" :filterable='true'></v-select>
                </div>
                <div class="form-group col-md-6">
                  <label for="cantidad">Cantidad:</label>
                  <input class="form-control" v-model="cantidad" type="number" name="cantidad" ref="cantidadProducto" min="1" :max="producto==null?1:producto.stock" step="1">
                </div>               
              </div>              
              <div class="row">
                 <div class="form-group col-md-2 col-md-offset-10">
                  <button type="submit" class="btn btn-success">
                          <i class="fa fa-plus"></i> Agregar</button>  
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="box-body">
          <!--Producto Seleccionados para realizar la Venta-->
          <div class="" v-show="listaProductos.length>0">
            <div class="box box-default">
              <div class="container">
                <div class="box-header with-border">
                  <h3 class="box-title">LISTA DE PRODUCTOS</h3>
                </div>
              </div>
              <div class="box-body no-padding">
                <table class="table table-striped" align="center">
                  <tbody>
                    <tr>
                      <th style="width:auto">Producto</th>
                      <th style="width: 60px">Cantidad</th>
                      <th style="width: 90px">Precio</th>
                      <th>Subtotal</th>
                      <th>Quitar</th>
                    </tr>
                    <tr v-for="(pro,index) in listaProductos" :key="index">
                      <td>{{pro.nombre}}</td>
                      <td>
                        <input class="form-control" v-model="pro.cantidad" type="number" name="cantidad" id="" min="1" :max="pro.stockMaximo" step="1" @change="modificarCantidad(index)" required>
                      </td>
                      <td>${{formatPesos(pro.precioU)}}</td>
                      <td>${{formatPesos(pro.subtotal)}}</td>
                      <td>
                        <button class="btn btn-xs btn-danger" title="Quitar" @click.prevent="quitarProducto(index)"><i class="fa fa-minus"></i> Quitar</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="" v-show="listaProductos.length>0">
        <button class="btn btn-success" type="submit">Generar Venta</button>
        <button class="btn btn-warning" @click.prevent="cancelar">Cancelar</button>
      </div>
    </div>
  </form>
</div>
</template>

<script>
export default {   
    data() {
        return {
            fecha:'',
            producto:{id:'',nombre:'',stock:1},
            cantidad:1,            
            total:0.0,
            totalProductos:0,
            productosPanaderia:[],
            listaProductos: [],
        }
    },
    methods: {   
      listado() {
            var url='/panaderia/productos/ventas';
            axios.get(url).then(respuesta => {
                this.productosPanaderia = respuesta.data.productos;                                                
            }).catch(error => {
                console.log(error);
            });
        },    
      agregarProducto(){
        try {
         if(this.producto.nombre==''||this.producto==null)
        return 
        } catch (error) {
          return
        }        
        console.log("Boton agregar Producto");              
        var sub=this.cantidad*this.producto.precio;
         const product={
           id:this.producto.id,
           nombre:this.producto.nombre,
           cantidad:this.cantidad,
           precioU:this.producto.precio,
           subtotal:sub,
           stockMaximo:this.producto.stock,        
         };
         if(this.agregado(this.producto.id)){					 
					 swal({type: 'info',title: 'Este producto ya fue agregado.', confirmButtonText:'Aceptar'});
           return
         }
         this.listaProductos.push(product);
         this.resetDatos();
      },
      generarVenta(){
        var url='/panaderia/api/ventas';
        console.log("Boton generar Venta");
        block();
        axios.post(url,{
          total:this.total,
          totalProductos:this.totalProductos,
          lista:this.listaProductos,          
        }).then(respuesta=>{
          this.listado();
          unblock();            
          swal({type: 'success', title:'Venta Realizada con Éxito Folio: ' + respuesta.data.folio,confirmButtonText:'Aceptar'})              
          this.imprimir(respuesta.data.id)  
          this.listaProductos=[];         
        }).catch(error=>{
          unblock();
          console.log(error)
          swal({type: 'warning', title:'Surgió un imprevisto al realizar la venta'})
        });
      },
      cancelar(){
        console.log("Boton Cancelar Venta");
          this.producto=null;
          this.cantidad=1;
          this.total=0.0;          
          this.listaProductos=[];       
      },
            quitarProducto(index){
        console.log("Boton quitar Producto");
        this.listaProductos.splice(index,1);
      },
      modificarCantidad(index){        
        this.listaProductos[index].subtotal=this.listaProductos[index].precioU*this.listaProductos[index].cantidad;
      },
      agregado(id){
        const result = this.listaProductos.filter(pro => pro.id === id);
        if(result.length===0)
        return false
        return true
      },
      ventas(){
        console.log('crear nueva venta...')
        window.location.assign("/panaderia#/ventas/listado");
      },
      resetDatos(){
        this.producto=null;        
        this.cantidad=1;         
      },
      formatPesos(n){
        return new Intl.NumberFormat("en-ES").format(n);
      },
      formatFecha(date){
        return moment(date).format('DD/MM/YYYY');
      },
      alertaStock(){
        if(this.cantidad>this.producto.stock){
          swal.fire({type:'error', title:'Stock Rebasado'});          
        }
      }, 
      imprimir(id){        
      var url="/panaderia/venta/ticket/"+id;
      var win = window.open(url,"_blank", 
      "toolbar=no,scrollbars=yes,resizable=no,top=100,left=250,width=800,height=400");   
      win.print();   
      win.focus();    
      }     
    },
    computed: {
      getTotal(){ 
        this.total=0.0;       
        this.listaProductos.forEach(pro => {
          this.total+=pro.subtotal;
        });
        return this.total;
      },
      getTotalProductos(){
        this.totalProductos=0;
        this.listaProductos.forEach(pro=>{
          this.totalProductos+=parseInt(pro.cantidad);          
        });
        return this.totalProductos;
      }

    },
    mounted() {
        let f=new Date();
        this.listado();
        this.fecha=f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear();       
        axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");
    },

}
</script>

<style scoped>
/* .fondoP{
  background-color: rgb(15, 201, 145) !important;  
}
.box-solid{
  border-color: rgb(15, 201, 145) !important; 
} */
input{
  border-radius: 4px;
}
</style>
