<template>
  <v-app id="inspire">
    <v-content>
      <v-container>
        <v-layout wrap>
          <v-flex xs2>
            <v-select
              v-model="filtrar_seguimiento"
              :items="seguimientos"
              item-text="name"
              item-value="id"
              label="Seguimiento"
            ></v-select>
          </v-flex>
          <v-flex xs2>
            <v-switch v-model="switchs.nuevo.model" label="Nuevos"></v-switch>
          </v-flex>
          <v-flex xs2>
            <v-switch v-model="switchs.asignado.model" label="asignada"></v-switch>
          </v-flex>
          <v-flex xs2>
            <v-switch v-model="switchs.proceso.model" label="proceso"></v-switch>
          </v-flex>
          <v-flex xs2>
            <v-switch v-model="switchs.revision.model" label="revision"></v-switch>
          </v-flex>
          <v-flex xs2>
            <v-switch v-model="switchs.finalizado.model" label="finalizada"></v-switch>
          </v-flex>
        </v-layout>

        <v-btn @click="obtenerReporte">
          Filtrar 
          <v-icon right dark>filter_list</v-icon>
        </v-btn>
        <div>
          {{filtrar_seguimiento}} 
          {{peticiones.length}} Resultado(s)
        </div>

        <v-card>
          <v-card-title>
            <h4>Solicitudes</h4>
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Buscar detalles de denuncia"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="peticiones"
            :search="search"
            :expand="expand"
            :pagination.sync="pagination"
            :rows-per-page-items="[10, 20, 30, 50,100]"
          >
            <template v-slot:items="props">
              <tr @click="props.expanded = !props.expanded">
                <td>
                  <strong>{{ props.item.folio }}</strong>
                </td>
                <td>{{ props.item.via }}</td>
                <td>{{ props.item.addressfull }}</td>
                <td>
                  <span
                    v-if="props.item.anonymous == 'false'"
                    class="grey--text"
                  >({{props.item.relationship}})</span>
                  {{ props.item.name? props.item.namefull: "Anónimo" }}
                </td>

                <!-- *******************************Inicio ETIQUETAS *****************************-->
                <td>
                  <v-chip
                    v-if="props.item.completed"
                    :color="'red lighten-5'"
                    label
                    small
                  >Finalizado</v-chip>
                  <v-chip v-else-if="props.item.changed" :color="'yellow accent-2'" label>
                    <v-icon small>warning</v-icon>Revisión
                  </v-chip>
                  <v-chip
                    v-else-if="props.item.process != 'sin_asignar'"
                    :color="'yellow lighten-5'"
                    label
                    small
                  >Proceso</v-chip>
                  <v-chip
                    v-else-if="props.item.assignedaffair"
                    :color="'green lighten-5'"
                    label
                    small
                  >Asignado</v-chip>
                  <v-chip v-else :color="'blue lighten-5'" label small>Nueva</v-chip>
                </td>
                <td>
                  <v-tooltip top v-if="$can('petitions.show')">
                    <template v-slot:activator="{ on }">
                      <v-btn icon v-on="on">
                        <v-icon
                          color="grey darken-2"
                          @click.stop="showItem(props.item)"
                        >remove_red_eye</v-icon>
                      </v-btn>
                    </template>
                    <span>Ver Solicitud</span>
                  </v-tooltip>
                </td>
              </tr>
            </template>
            <template v-slot:no-results>
              <v-alert
                :value="true"
                color="error"
                icon="warning"
              >La busqueda "{{ search }}" no dio ningun resultado.</v-alert>
            </template>
            <template v-slot:expand="props">
              <v-card flat>
                <td>Descripción de la solicitud: {{ props.item.description }}</td>
              </v-card>
            </template>
            <template slot="no-data">
              <v-alert :value="true" color="error" icon="warning">No hay Solicitudes para mostrar :(</v-alert>
            </template>
          </v-data-table>
        </v-card>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>
export default {
  props: ["rol_actual", "petitions"],
  data() {
    return {
      search: "",
      peticiones: this.petitions,
      rol: this.rol_actual,
      expand: false,

      seguimientos: [
        { id: "advisor", name: "Asesoría" },
        { id: "mediation", name: "Mediación" },
        { id: "expedient", name: "Expediente" },
        { id: "sin_asignar", name: "Sin asignar" },
      ],
      filtrar_seguimiento: "",

      switchs: {
        nuevo: { model: false },
        asignado: { model: false },
        proceso: { model: false },
        revision: { model: false },
        finalizado: { model: false }
      },

      headers: [
        { text: "Folio", value: "folio" },
        { text: "Via", value: "via" },
        { text: "Direccion", value: "addressfull" },
        { text: "Denunciante", value: "namefull" },
        { text: "Seguimiento", value: "id" },
        { text: "Acciones", value: "id" }
      ],
      pagination: {
        sortBy: "folio",
        descending: true
      }
    };
  },
  methods: {
    obtenerReporte() {
      this.peticiones = this.petitions;
      var result = this.peticiones;
      

      if (this.filtrar_seguimiento != null && this.filtrar_seguimiento != "") {
        result = result.filter(v => v.process == this.filtrar_seguimiento);
      }

      if (this.switchs.finalizado.model != false) {
        result = result.filter(v => v.completed);
      }
      if (this.switchs.revision.model != false) {
        result = result.filter(v => v.changed && !v.completed);
      }
      if (this.switchs.proceso.model != false) {
        result = result.filter(
          v => v.process != "sin_asignar" && !v.changed && !v.completed
        );
      }
      if (this.switchs.asignado.model != false) {
        result = result.filter(
          v =>
            v.assignedaffair &&
            v.process == "sin_asignar" &&
            !v.changed &&
            !v.completed
        );
      }
      if (this.switchs.nuevo.model != false) {
        result = result.filter(
          v =>
            !v.assignedaffair &&
            v.process == "sin_asignar" &&
            !v.changed &&
            !v.completed
        );
      }

      this.peticiones = result;
    },

    showItem(item) {
      window.location.href = "/petitions/" + item.id + "";
    },

    /* ************************* validaciones *******************************************/
    islawer(solicitud) {
      return this.rol.trim() === "abogado" && !solicitud.changed;
    },

    isAdvisor(solicitud) {
      return (
        this.rol.trim() === "abogado" &&
        solicitud.process == "advisor" &&
        !solicitud.changed
      );
    },
    isEntailment(solicitud) {
      return (
        this.rol.trim() === "abogado" &&
        solicitud.process == "mediation" &&
        !solicitud.changed
      );
    },
    isExpedient(solicitud) {
      return (
        this.rol.trim() === "abogado" &&
        solicitud.process == "expedient" &&
        !solicitud.changed
      );
    }
  }
};
</script>



