<template>
  <v-flex xs12>
    <v-card>
      <v-icon color="indigo" v-if="cita_individual.report_complet">spellcheck</v-icon>
      <v-icon color="indigo" v-else>query_builder</v-icon>
      <strong>Cita número {{cita_individual.id}}</strong>

      <span v-if="cita_individual.report_complet">Con reporte realizado</span>
      <span v-else>Incompleto</span>
      <v-list two-line>
        <v-list-tile>
          <v-list-tile-action>
            <v-icon color="indigo">today</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>{{cita_individual.dateappointment}}</v-list-tile-title>
            <v-list-tile-sub-title>Fecha y hora de la cita + {{cita.numero}}{{cita.tiempo}} aproximado</v-list-tile-sub-title>
            
            <v-list-tile-sub-title>{{ cita_individual.reason }}</v-list-tile-sub-title>
            <v-list-tile-sub-title> {{ cita_individual.observations }}</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile v-if="!cita_individual.report_complet && fecha_ahora > prueba_fecha">
          <v-list-tile-action>
            <v-icon color="indigo">help</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-sub-title>Al llegar a la fecha debe subir su reporte en menos de una semana
              SU TIEMPO ACTUAL PARA REPORTAR: {{expire_report}}  </v-list-tile-sub-title>
            
          </v-list-tile-content>
        </v-list-tile>


        <v-list-tile>
          <v-list-tile-action>
            <v-icon color="indigo">backup</v-icon>
          </v-list-tile-action>

          <v-list-tile-content v-if="cita_individual.report_complet">
            <v-list-tile-title>
              <a
                :href="'/storage/' + String(cita.url_reporte).slice(7)"
                target="_blanck"
              >{{cita.report_name}} > {{cita_individual.report_name}}</a>
            </v-list-tile-title>
            <v-list-tile-sub-title>{{ cita_individual.conclusion }}</v-list-tile-sub-title>
          </v-list-tile-content>

          <template v-else>
            <template v-if="fecha_ahora > prueba_fecha" >
              
              <input
                class="pr-5"
                type="file"
                accept=".pdf"
                id="file"
                ref="file"
                v-on:change.prevent="getReport"
              />

              <v-text-field v-model="input" label="Agrega información"></v-text-field>
              <v-btn @click="subirReportePorCita">Subir</v-btn>
            </template>
            <template v-else>
              La cita será en :<Countdown :end="this.cita.dateappointment"></Countdown>
            </template>
          </template>
        </v-list-tile>
      </v-list>
    </v-card>


    <v-divider></v-divider>
  </v-flex>
</template>

<script>

import Countdown from 'vuejs-countdown'
import * as Moment from "moment";
import { extendMoment } from "moment-range";

const moment = extendMoment(Moment);
export default {
  components: { Countdown },
  props: ["cita"],
  data() {
    return {
      cita_individual: this.cita,
      archivo: null,
      input: null,

      fecha_ahora: new Date(),
      prueba_fecha: new Date(this.cita.dateappointment),
      
      expire_report: moment(this.cita.dateappointment).add(7,'d').fromNow(),
    };
  },
  methods: {
    subirReportePorCita() {
      var data = new FormData();
      data.append("reporte", this.archivo);
      data.append("name", this.archivo.name);
      data.append("conclusion", this.input);
      data.append("_method", "PUT");
      axios
        .post("/meeting/update/report/" + this.cita_individual.id + "", data)
        .then(response => {
          this.$swal({
            icon: "success",
            title: "El reporte " + this.archivo.name +" se anexó a la cita con éxito"
          }).then(value => {
            location.reload();
          });
        })
        .catch(error => {
          console.log("error actualizando cita");
        });
    },

    getReport(event) {
      this.archivo = event.target.files[0];
    },

  },
  create: function(){
    moment.locale('es');
  }
};
</script>