<template>
  <v-flex xs12>
    <v-form ref="formdates">
      <v-menu
        ref="menuss"
        v-model="citas.menu"
        :close-on-content-click="false"
        :nudge-right="40"
        :return-value.sync="citas.dateappointmentappointment"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="citas.dateappointment"
            :rules="rulescitas.dateappointment"
            label="Seleccione Fecha"
            prepend-icon="event"
            readonly
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker
          :min="citas.today"
          :max="citas.later"
          v-model="citas.dateappointment"
          no-title
          scrollable
        >
          <v-spacer></v-spacer>
          <v-btn flat color="primary" @click="citas.menu = false">Cancel</v-btn>
          <v-btn flat color="primary" @click="$refs.menuss.save(citas.dateappointment)">OK</v-btn>
        </v-date-picker>
      </v-menu>

      <v-menu
        ref="menu"
        v-model="menu2"
        :close-on-content-click="false"
        :nudge-right="40"
        :return-value.sync="citas.timeappointment"
        transition="scale-transition"
        offset-y
        full-width
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            v-model="citas.timeappointment"
            :rules="rulescitas.timeappointment"
            label="Seleccione la hora"
            prepend-icon="access_time"
            readonly
            v-on="on"
          ></v-text-field>
        </template>
        <v-time-picker
          v-if="menu2"
          v-model="citas.timeappointment"
          :landscape="true"
          full-width
          min="8:00"
          max="21:00"
          @click:minute="$refs.menu.save(citas.timeappointment)"
        ></v-time-picker>
      </v-menu>

      <v-layout wrap>
        <v-flex>
          <v-select
            v-model="citas.tiempo"
            :items="tiempos"
            item-text="name"
            item-value="id"
            label="Tiempo de la cita(Formato)"
            @input="cambiarnumeros()"
          ></v-select>
        </v-flex>
        <v-flex>
          <v-select
            :disabled="numeros.length < 1"
            v-model="citas.numero"
            :items="numeros"
            label="Tiempo"
          ></v-select>
        </v-flex>
      </v-layout>

      <razon-component :relationship.sync="citas.reason"></razon-component>

      <v-textarea
        v-model="citas.description"
        :rules="rulescitas.description"
        label="Descripción/Detalles/anotaciones"
        placeholder="Describa razones, anotaciones para la cita"
        hint="Describa detalles de la cita"
      ></v-textarea>
      <v-btn color="primary " @click="validatedate">Generar Cita</v-btn>
    </v-form>
  </v-flex>
</template>
<script>
import { VueEditor } from "vue2-editor";
import * as Moment from "moment";
import { extendMoment } from "moment-range";

const moment = extendMoment(Moment);

var fecha_despues = new Date();
fecha_despues.setMonth(fecha_despues.getMonth() + 2);

export default {
  props: ["action_id", "actions"],

  components: {
    VueEditor
  },
  data() {
    return {
      menu2: false,
      numeros: [],
      tiempos: [{ id: "m", name: "Minutos" }, { id: "h", name: "Horas" }],

      citas: {
        today: new Date().toJSON().slice(0, 10),
        later: fecha_despues.toJSON().slice(0, 10),
        menu: false,
        dateappointment: "",
        timeappointment: "",
        reason: "",
        description: "",
        state: 0,
        numero: "",
        tiempo: ""
      },
      acciones: this.actions,

      rulescitas: {
        dateappointment: [v => !!v || "Es obligatorio escribir la fecha"],
        timeappointment: [v => !!v || "Es obligatorio escribir la hora"],
        reason: [v => !!v || "debe especificar el motivo de la cita"],
        description: [v => !!v || "Es obligatorio describir la Razón"]
      }
    };
  },
  methods: {
    validatedate() {
      if (this.$refs.formdates.validate()) {
        var cita_empate = null;
        var date_complete =
          this.citas.dateappointment + " " + this.citas.timeappointment;

        var date1 = [
          moment(date_complete),
          moment(date_complete).add("30", "m")
        ];
        var range = moment.range(date1);

        this.acciones.forEach(accion => {
          accion.meetings.forEach(cita => {
            var inicio = moment(cita.dateappointment);
            var fin = moment(cita.dateappointment).add(
              cita.numero,
              cita.tiempo
            );
            var date2 = [inicio, fin];
            var range2 = moment.range(date2);
            if (range.overlaps(range2)) {
              cita_empate = cita;
            }
          });
        });

        if (cita_empate == null) {
          axios
            .post("/meetings/store/" + this.action_id + "", {
              dateappointment: this.citas.dateappointment,
              timeappointment: this.citas.timeappointment,
              reason: this.citas.reason,
              observations: this.citas.description,
              numero: this.citas.numero,
              tiempo: this.citas.tiempo
            })
            .then(response => {
              this.$swal({
                icon: "success",
                title:
                  "Cita programada para la fecha: " + this.citas.dateappointment
              }).then(value => {
                location.reload();
              });
            })
            .catch(e => {
              this.$swal("Por favor revise sus datos algo salio Mal");
            });
        } else {
          var nodo = document.createElement("div");
          nodo.innerHTML =
            "cita: 0000" +
            cita_empate.id +
            "<br>" +
            "" +
            moment(cita_empate.dateappointment).format("LLLL") +
            "<br>al " +
            moment(cita_empate.dateappointment)
              .add(cita_empate.numero, cita_empate.tiempo)
              .format("LLLL") +
            "<br>por el motivo:" +
            cita_empate.reason +
            " con las siguientes observaciones: " +
            cita_empate.observations;

          this.$swal({
            icon: "error",
            title: "Fechas en uso",
            text: "La cita a agendar tiene conflicto con la siguiente:",
            content: nodo
          });
        }
      }
    },
    cambiarnumeros: function() {
      if (this.citas.tiempo === "h") {
        this.numeros = ["1", "2", "3", "4"];
      } else if (this.citas.tiempo === "m") {
        this.numeros = ["30", "45"];
      }
    }
  },
  created: function() {
    moment.locale("es");
  }
};
</script>



