<template>
  <v-flex xs12>
    <span>Tome en cuenta que solo se admite imagenes con formato jpg</span>
    <input type="file" accept=".jpg" multiple id="attachments" @change="evi_uploadFieldChange" />
    <hr />
    <div>
      <div
        class="attachment-holder animated fadeIn"
        v-cloak
        v-for="(attachment, index) in evidencia.attachments"
        :key="index"
      >
        <span
          class="label label-primary"
        >{{ attachment.name + ' (' + Number((attachment.size / 1024 / 1024).toFixed(1)) + 'MB)'}}</span>
        <span
          class
          style="background: red; cursor: pointer;"
          @click="evi_removeAttachment(attachment)"
        >
          <button class="btn btn-xs btn-danger">Descartar</button>
        </span>
      </div>
    </div>

    <v-textarea
      v-model="evidencia.description"
      label="Descripción"
      hint="Describa en pocas palabras la evidencia"
      placeholder="Describa la evidencia que subirá, si selecciona varios archivos, la descripción será la misma para todos"
    ></v-textarea>
    <v-btn class="primary" @click="validateevidence">Subir evidencia</v-btn>
  </v-flex>
</template>
<script>
export default {
  props: ["action_id"],
  data() {
    return {
      evidencia: {
        description: "",
        attachments: [],
        data: new FormData()
      }
    };
  },
  methods: {
    evi_getAttachmentSize() {
      this.upload_size = 0;
      this.evidencia.attachments.map(item => {
        this.upload_size += parseInt(item.size);
      });
      this.upload_size = Number(this.upload_size.toFixed(1));
      this.$forceUpdate();
    },
    evi_prepareFields() {
      if (this.evidencia.attachments.length > 0) {
        for (var i = 0; i < this.evidencia.attachments.length; i++) {
          let attachment = this.evidencia.attachments[i];
          this.evidencia.data.append("attachments[]", attachment);
        }
      }
    },
    evi_removeAttachment(attachment) {
      this.evidencia.attachments.splice(
        this.evidencia.attachments.indexOf(attachment),
        1
      );

      this.evi_getAttachmentSize();
    },

    evi_uploadFieldChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      for (var i = files.length - 1; i >= 0; i--) {
        this.evidencia.attachments.push(files[i]);
      }
      document.getElementById("attachments").value = [];
    },
    evi_resetData() {
      this.evidencia.data = new FormData();
      this.evidencia.attachments = [];
    },

    validateevidence() {
      if (this.evidencia.attachments.length == 0) {
        this.$swal("Por favor seleccione un Archivo");
        return;
      }
      if (this.evidencia.description.length == 0) {
        this.$swal("Por favor Escriba su descripcion");
        return;
      }
      this.evi_prepareFields();
      var config = {
        headers: { "Content-Type": "multipart/form-data" }
      };

      this.evidencia.data.append("observations", this.evidencia.description);
      swal({
        title: "Desea continuar?",
        text:
          "Tome en cuenta que sus imagenes seran redimensionadas a una resolucion de 1280×720 Pixeles",
        icon: "warning",
        buttons: true,
        dangerMode: true
      }).then(willDelete => {
        if (willDelete) {
          axios
            .post(
              "/files/store/" + this.action_id + "",
              this.evidencia.data,
              config
            )
            .then(
              function(response) {
                this.$swal({
                  icon: "success",
                  title:
                    "Evidencia anexada a la accion: 0000" + this.action_id
                }).then(value => {
                  location.reload();
                });
              }.bind(this)
            )
            .catch(function(error) {
              this.$swal("Revisa los datos por favor!!");
              console.log(error);
            });
        }
      });
    }
  }
};
</script>