<template>
  <v-flex xs12>
    <v-tabs fixed-tabs>
      <v-tab href="#tab-1">Reporte PDF</v-tab>
      <v-tab href="#tab-2">Reporte Escrito</v-tab>

      <v-tab-item value="tab-1">
        <v-timeline dense clipped v-if="citas.length > 0">
          <v-timeline-item
            v-for="cita in citas"
            v-bind:key="cita.id"
            fill-dot
            class="white--text mb-5"
            color="orange"
            large
          >
            <template v-slot:icon>
              <span>CT</span>
            </template>
            <reporte-citas :cita="cita"></reporte-citas>
          </v-timeline-item>

          <v-slide-x-transition group>
            <v-timeline-item
              v-for="event in timeline"
              :key="event.id"
              class="mb-3"
              color="pink"
              small
            >
              <v-layout justify-space-between>
                <v-flex xs7 v-text="event.text"></v-flex>
                <v-flex xs5 text-xs-right v-text="event.time"></v-flex>
              </v-layout>
            </v-timeline-item>
          </v-slide-x-transition>
        </v-timeline>
        <strong
          v-else
        >Aún no hay citas, programe una cita espere el tiempo indicado y aqui podrá subir su reporte correspondiente</strong>
      </v-tab-item>

      <v-tab-item style="height: 700px;" value="tab-2">
        <v-form ref="formreports">
          <strong>Reporte:</strong>
          <v-btn class="primary" @click="validatereport">Subir Reporte</v-btn>
          <vue-editor style="height: 500px;" id="responsibilityEdit" v-model="reporte.description"></vue-editor>
        </v-form>
      </v-tab-item>
    </v-tabs>

    <!-- Pestañas
    1.- Mostrar las citas con la opcion de subir reporte-->
  </v-flex>
</template>

<script>
export default {
  props: ["action_id"],
  data() {
    return {
      citas: [],
      events: [],
      nonce: 0,

      reporte: {
        description: ""
      },

      rulesreportes: {
        description: [
          v => !!v || "Es obligatorio describir el contenido del reporte"
        ]
      }
    };
  },
  methods: {
    loadMeetings() {
      return "Lista de citas";
    },

    validatereport() {
      if (this.$refs.formreports.validate()) {
        if (
          this.reporte.description.length != 0 &&
          this.reporte.description.length > 25
        ) {
          axios
            .post("/accounts/store/" + this.action_id + "", {
              observations: this.reporte.description
            })
            .then(
              function(response) {
                this.$swal({
                  icon: "success",
                  title:
                    "El reporte se anexó a la acción"
                }).then(value => {
                  location.reload();
                });
              }.bind(this)
            )
            .catch(function(error) {
              swal("Revisa los datos por favor!!");
            });
        } else {
          this.$swal("Escriba por favor el contenido con mas de 25 caracteres");
        }
      }
    }
  },

  computed: {
    timeline() {
      return this.events.slice().reverse();
    }
  },

  created() {
    axios
      .post("/actions/meetings/" + this.action_id + "")
      .then(response => {
        this.citas = response.data;
      })
      .catch(e => {
        console.log("Error al traer citas de ésta acción");
      });
  }
};
</script>