  .alert-danger {
    color: red;
    background-color: white;
  }

  .has-error {
    border-color: red;
  }

  .custom{
    font-size: 125%;
  }

  .division{
    padding-top: 20px;
  }

  .input-group-addon span{
    cursor: default;
    padding: 4px;
    border: 1px solid black;
  }

  .glyphicon.glyphicon-calendar {
    font-size: 31px;
	}

	.navbar-nav > li > a {
		text-decoration: none;
		color: #fff;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.nav > li > a:focus, .nav > li > a:hover {
		cursor: pointer;
    background-color: #D12654 !important;
	}

	.modal-backdrop {
			opacity:0.5 !important;
	}

	.dropzone-custom-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
	
	.dropzone-custom-title {
		margin-top: 0;
		color: #d12654;
	}
	
	.subtitle {
		color: #314b5f;
	}
	
	.vue-dropzone > .dz-preview .dz-details {
		background-color: #d12654 !important;
	}
	
	.dz-progress {
		display: none !important;
	}