<template>
  <v-app>
    <v-content>
      <v-card>
        <v-card-title>
          <h4>Usuarios</h4>
          <v-spacer></v-spacer>
        </v-card-title>
        <v-data-table :headers="headers" :items="users" :rows-per-page-items="[20, 10, 30, 40]">
          <template v-slot:items="props">
            <tr>
              <td>
                <strong>{{ props.item.id }}</strong>
              </td>
              <td>{{ props.item.name }}</td>
              <td>{{ props.item.rfc }}</td>
              <td>{{ props.item.email }}</td>
              <td>{{props.item.subprocuracy_id? props.item.subprocuracy_id: "General" }}</td>
              <td>{{props.item.position}}</td>
              <!-- *******************************Inicio ETIQUETAS *****************************-->
              <td>
                <v-tooltip top>
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                      <v-icon color="grey darken-2">remove_red_eye</v-icon>
                    </v-btn>
                  </template>
                  <span>Ver usuario</span>
                </v-tooltip>

                <v-tooltip top>
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                      <v-icon color="grey darken-2" @click.stop="deleteItem(props.item)">delete</v-icon>
                    </v-btn>
                  </template>
                  <span>Eliminar usuario</span>
                </v-tooltip>
              </td>
            </tr>
          </template>
          <template v-slot:no-results>
            <v-alert
              :value="true"
              color="error"
              icon="warning"
            >La busqueda "{{ search }}" no dio ningun resultado.</v-alert>
          </template>
          <template slot="no-data">
            <v-alert :value="true" color="error" icon="warning">No hay usuarios para mostrar :(</v-alert>
          </template>
        </v-data-table>
      </v-card>
    </v-content>
  </v-app>
</template>
<script>
export default {
  props: ["users"],
  data() {
    return {
      headers: [
        { text: "Id", value: "id" },
        { text: "Nombre", value: "name" },
        { text: "RFC", value: "rfc" },
        { text: "Correo", value: "email" },
        { text: "Area", value: "string" },
        { text: "Rol", value: "position" },
        { text: "Acciones", value: "id" }
      ]
    };
  },
  methods: {
    deleteItem(item) {
      axios
        .delete("/users/" + item.id + "")
        .then(response => {
          if (response.data.length > 0) {
            var nodo = document.createElement("div");

            response.data.forEach(function(element) {
              var el = document.createElement("a");
              el.href = "/petitions/" + element.petition_id;
              el.innerText = "caso con folio 0000" + element.petition_id;
              el.target = "_blank";
              nodo.appendChild(el);
              nodo.appendChild(document.createElement("br"));
            });

            this.$swal({
              title: "Liberar carga de trabajo del abogado",
              text:
                "Antes de eliminar al abogado avise al subprocurador " +
                item.subprocuracy_id +
                " que reasigne las solicitudes relacionadas al abogado " +
                item.name +
                " en los folios:",
              content: nodo,
              icon: "warning",
              buttons: true,
              buttons: ["Cancelar", "Enviar al subprocurador"],
              dangerMode: true
            }).then(willDelete => {
              if (willDelete) {
                axios
                  .post("/petitions/reassign/mail/" + item.id + "", {
                    email: "zombie1288@outlook.com",
                    user_id: item.id
                  })
                  .then(response => {
                    this.$swal({
                      icon: "success",
                      title: "Correo enviado exitosamente"
                    }).then(value => {
                      window.location = "http://difprodenao.test.abc/home";
                    });
                  })
                  .catch(e => {
                    console.log("Error al enviar el correo al abogado");
                  });
              }
            });
          } else {
            Swal.fire({
              title: "Estas seguro?",
              text:
                "Aunque no tenga datos relacionados, tendras que habilitar a este usuario mas tarde para que sea visible a los demas roles!",
              showCancelButton: true,
              confirmButtonText: "Si, Adelante!"
            }).then(result => {
              if (result.value) {
                axios
                  .delete("/users/definitive/" + item.id + "")
                  .then(response => {
                    this.$swal({
                      icon: "success",
                      title: "Eliminado correctamente"
                    }).then(value => {
                      location.reload();
                    });
                  })
                  .catch(e => {console.log("Error al eliminar")});
              }
            });
          }
        })
        .catch(e => {
          this.$swal(
            "Falla con la conexion del servidor, no hemos podido cargar los casos relacionados, Intentelo mas tarde"
          );
        });
    }
  }
};
</script>