<template>
  <v-form ref="formlawer">
    <h3 class>Selección de Abogado</h3>
    <p>
      abogado actual:
      <strong>{{abogado_actual_nombre}}</strong>
      nuevo: {{lawer_id}} xx: {{this.lawer_actual}}
    </p>
    <v-select
      :rules="rules.lawers"
      v-model="lawer_id"
      :items="abogados"
      item-text="name"
      item-value="id"
      label="Selecciona Abogado"
    ></v-select>

    <v-autocomplete
      v-model="description"
      :items="razones"
      :rules="[ ruleDescription ]"
      chips
      color="blue-grey lighten-2"
      label="Razones para seleccionar abogado"
      item-text="name"
      item-value="name"
      multiple
    >
      <template v-slot:selection="data">
        <v-chip
          :selected="data.selected"
          close
          class="chip--select-multi"
          @input="remove(data.item)"
        >
          <v-avatar>
            <v-icon dark>{{data.item.avatar}}</v-icon>
          </v-avatar>
          {{ data.item.name }}
        </v-chip>
      </template>
      <template v-slot:item="data">
        <template v-if="typeof data.item !== 'object'">
          <v-list-tile-content v-text="data.item"></v-list-tile-content>
        </template>
        <template v-else>
          <v-list-tile-avatar>
            <v-icon>{{data.item.avatar}}</v-icon>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
            <v-list-tile-sub-title v-html="data.item.group"></v-list-tile-sub-title>
          </v-list-tile-content>
        </template>
      </template>
    </v-autocomplete>

    <v-btn color="primary " @click="validateassing">Reasignar caso</v-btn>
  </v-form>
</template>
<script>
export default {
  props: ["lawers", "petition", "lawer_actual"],
  data() {
    return {
      description: [],
      abogado_actual: this.lawer_actual,
      abogado_actual_nombre: "",
      lawer_id: "",

      abogados: this.lawers,
      petition_id: this.petition.id,

      rules: {
        lawers: [v => !!v || "Se requiere selección"]
      },
      razones: [
        { header: "Razones" },
        { name: "Disponibilidad", group: "Razones", avatar: "event_available" },
        {
          name: "Conocimiento en el lugar del caso",
          group: "Razones",
          avatar: "map"
        },
        {
          name: "Experiencia en la afectación del caso",
          group: "Razones",
          avatar: "explicit"
        },
        { divider: true },
        { header: "otras" },
        { name: "Reasignación de caso", group: "otras", avatar: "call_split" },
        {
          name: "Incumplimiento del abogado anterior",
          group: "otras",
          avatar: "call_missed"
        },
        { divider: true },
        { header: "Específicas" },
        {
          name: "Experiencia en maltrato por violencia física",
          group: "Específicas",
          avatar: "contact_mail"
        },
        {
          name: "Experiencia en violencia sexual",
          group: "Específicas",
          avatar: "contact_mail"
        },
        {
          name: "Experiencia en acoso escolar",
          group: "Específicas",
          avatar: "contact_mail"
        },
        { name: "Otro", group: "Específicas", avatar: "contact_mail" }
      ]
    };
  },
  methods: {
    validateassing() {
      if (this.$refs.formlawer.validate()) {
        var result = "se asignó al abogado por los siguientes motivos: ";
        this.description.forEach(function(element) {
          result += element + ",";
        });
        axios
          .post("/affairs/store", {
            petition_id: this.petition_id,
            user_id: this.lawer_id,
            description: result
          })
          .then(response => {
            this.$swal({
              icon: "success",
              title: "Reasignación correcta"
            }).then(value => {
              location.reload();
            });
            axios
              .post("/petitions/assign/mail/" + this.petition_id + "", {
                email: "death_acuario@hotmail.com",
                mensaje:
                  "Le asigne un caso por el motivo de reasignación",
                emisor: "Subprocurador",
                receptor: "Abogado"
              })
              .then(response => {})
              .catch(e => {
                console.log("Error al enviar el correo al abogado");
              });
          })
          .catch(e => {
            this.$swal("Ha ocurrido un error intentelo mas tarde por favor");
          });
      }
    },

    remove(item) {
      const index = this.description.indexOf(item.name);
      if (index >= 0) this.description.splice(index, 1);
    },
    ruleDescription(value) {
      if (value.length === 0) {
        this.disabled = true;
        return "Descripción de razones obligatorias";
      } else {
        return true;
      }
    }
  },
  created: function() {
    var resc = this.abogados.filter(v => v.id == this.lawer_actual);

    this.abogados = this.abogados.filter(v => v.id != this.lawer_actual);
    this.abogado_actual_nombre = resc[0].name;
  }
};
</script>