<template>
<div>
  <div class="box box-primary shadow">
    <div class="box-header with-border">
      <h4 class="box-title">{{titulo}}</h4>
      </div>
      
    
    <div class="box-body">
      <div class="col-md-12">
        <div style="display: flex; justify-content: flex-end" >
      <button class="btn btn-success col-md-offset-9" @click="modalCrear">
          <i class="fa fa-plus-circle"></i>
          AGREGAR HERRAMIENTA
        </button>
        </div>
        <br>
      <!--inicia contenido-->
      <v-client-table :data="tableData" :columns="columns" :options="options">
        <!--Opciones-->
        <div slot="estatus" slot-scope="props">
          <span v-if="props.row.estatus ==='Bueno'" class="badge badge-success">Bueno</span>
          <span v-else-if="props.row.estatus ==='Malo'" class="badge badge-warning">Malo</span>
          <span v-else class="badge badge-danger">Regular</span>
        </div>

        <div slot="opciones" slot-scope="props">
          <button
              class="btn btn-xs bg-success"
              title="Editar"
              @click.prevent="modalEditar(props.row.id)"
            >
              <i class="glyphicon glyphicon-pencil"></i>
            </button>
          <button
              class="btn btn-xs bg-danger"
              title="Eliminar"
              @click.prevent="confirmar(props.row.id)"
            >
              <i class="glyphicon glyphicon-trash"></i>
            </button>
        </div>
      </v-client-table>
    </div>
  </div>

    <!--fin de la table-->

    <!-- formulario Modal-->

    <form method="POST" v-on:submit.prevent="enviarDatos" class="rounded">
      <div class="modal fade" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                  <span>&times;</span>
                </button>
              <h4 class="modal-title">{{modal.titulo}}</h4>
            </div>
            <div class="modal-body">
              <div class="col-md-12">
                <label for="nombre">NOMBRE:</label>
                <input
                  required
                    class="form-control"
                    type="text"
                    name="nombre"
                    v-validate="{required:true, regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}"
                    v-model="herrami.nombre"
                  />
                <span
                    id="validacion"
                    v-if="errors.first('nombre')==='The nombre field is required.'"
                  >ESTE CAMPO ES OBLIGATORIO*</span>
                <span
                    id="validacion"
                    v-else-if="errors.first('nombre')==='The nombre field format is invalid.'"
                  >REVISA TU FORMATO DE ENTRADA</span>
              </div>

              <div class="col-md-6">
                <label for="num_inventario">NÚMERO DE INVENTARIO:</label>

                <span></span>
                <input
                    required
                    type="text"
                    class="form-control"
                    name="num_inventario"
                    v-model="herrami.num_inventario"
                    v-validate="'numeric'"
                    :disabled="this.metodo == 'put'"
                  />
                <span
                    id="validacion"
                    v-if="!herrami.num_inventario||errors.first('num_inventario')=='The num_inventario field may only contain numeric characters.'"
                  >CAMPO REQUERIDO CON NÚMEROS*</span>
              </div>

              <div class="col-md-6">
                <label for="estatus">ESTATUS:</label>
                <select v-model="seleccion" class="form-control">
                    <option value="Bueno">Bueno</option>
                    <option value="Regular">Regular</option>
                    <option value="Malo">Malo</option>
                  </select>
              </div>

              <div class="col-md-12">
                <label for="observaciones">OBSERVACIONES:</label>
                <textarea
                    name="observaciones"
                    cols="30"
                    rows="5"
                    class="form-control"
                    v-model="herrami.observaciones"
                  ></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <input type="submit" class="btn btn-success" value="Aceptar" />
              <button class="btn btn-danger" value="Cancelar" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!--finaliza contenido-->
  </div>
</div>
</template>

<script>
export default {
  mounted() {
    this.listado();
  },

  data() {
    return {
      titulo: "LISTADO DE HERRAMIENTAS",
      herramie: [],
      columns: [
        "nombre",
        "num_inventario",
        "estatus",
        "observaciones",
        "opciones"
      ],
      tableData: [],
      options: {
        headings: {
          nombre: "Nombre",
          num_inventario: "Num. de inventario",
          estatus: "Estatus",
          descripcion: "Observaciones",
          opciones: "Opciones"
        },
        sortable: ["num_inventario", "nombre"],
        filterable: ["id", "nombre", "estatus", "num_inventario"],
        pagination: {
          dropdown: false,
          chunk: 10,
          edge: false,
          align: "center",
          nav: "fixed"
        },
        perPageValues: [10, 25, 50, 100],
        texts: {
          count: "Mostrando {from} a {to} de {count} resultados|{count} resultados|Un resultado",
          first: "First",
          last: "Last",
          filter: "Buscar: ",
          filterPlaceholder: "INGRESA BUSQUEDA",
          limit: "Resultados: ",
          page: "Page:",
          noResults: "No hay resultados",
          filterBy: "Filter by {column}",
          loading: "Loading...",
          defaultOption: "Select {column}",
          columns: "Columns"
        }
      },
      herrami: {
        id: "",
        nombre: "",
        num_inventario: "",
        estatus: "",
        observaciones: ""
      },
      modal: {
        titulo: "",
        boton: ""
      },
      metodo: "",
      seleccion: "Bueno"
    };
  },

  methods: {
    getHerramienta(id) {
      block();
      axios
        .get("/taesir/herra/" + id)
        .then(respuesta => {
          this.herrami.id = respuesta.data.id;
          this.herrami.nombre = respuesta.data.nombre;
          this.herrami.num_inventario = respuesta.data.num_inventario;
          this.herrami.estatus = respuesta.data.estatus;
          this.seleccion = respuesta.data.estatus;
          this.herrami.observaciones = respuesta.data.observaciones;
          unblock();
        })
        .catch(error => {
          unblock();
          console.log(error);
        });
    },
    //---------------------------------------------------------
    modalCrear() {
      this.resetDatos();
      this.metodo = "post";
      this.modal.titulo = "AGREGAR HERRAMIENTA";
      this.modal.boton = "CREAR";
      $("#modal").modal("show");
      console.log("crear");
    },
    modalEditar(id) {
      this.metodo = "put";
      this.modal.titulo = "ACTUALIZAR DATOS";
      this.modal.boton = "ACTUALIZAR";
      this.getHerramienta(id);
      $("#modal").modal("show");
    },
    //---------------------------------------------------------
    resetDatos() {
      this.herrami.id = null;
      this.herrami.nombre = null;
      this.herrami.num_inventario = null;
      this.herrami.estatus = "Bueno";
      this.herrami.observaciones = null;
    },
    //-----------------------------------------------------------
    listado() {
      axios
        .get("/taesir/herra")
        .then(respuesta => {
          this.tableData = respuesta.data.herramientas;
          this.herramie = respuesta.data;
        })
        .catch(error => {
          //console.log(error);
        });
    },
    //--------------------------------------------------------

    eliminar(id) {
      block();
      axios
        .delete("/taesir/herra/" + id, {
          id: this.herramie.id,
          nombre: this.herrami.nombre,
          num_inventario: this.herrami.num_inventario,
          estatus: "Bueno",
          observaciones: this.herrami.observaciones
        })
        .then(respuesta => {
          unblock();
          $("#modal").modal("hide");
          Swal.fire({
            position: "center",
            type: "success",
            title: "Eliminado",
            showConfirmButton: false,
            timer: 1000
          });
          this.listado();
        })
        .catch(error => {
          console.log("error al Actualizar");
          console.log(error);
          unblock();
        });
    },

    //--------------------------------------------------------
    abrirModal() {
      //this.resetDatos();
      this.metodo = "post";
      this.modal.titulo = "Agregar Herramienta";
      this.modal.boton = "Agregar";
      $("#modal").modal("show");
      //console.log('crear');
    },
    //-----------------------------------------------------------
    enviarDatos() {
      this.$validator.validateAll().then((result) => {
        if (result) {

          if (this.metodo == "post") {
            this.crearNuevo();
          } else if (this.metodo == "put") this.editarHerramienta(this.herrami.id);
        }else{
                    Swal.fire({
            position: "center",
            type: "info",
            title: "Verifica los datos ingresados",
            showConfirmButton: false,
            timer: 1000
          });
          }

        
      });

    },
    //-----------------------------------------------------------
    crearNuevo() {
      block();
      console.log("Enviando formulario");
      if (this.herrami.nombre === null) {
        unblock();
        console.log("Esta vacio");
        Swal.fire({
          position: "center",
          type: "warning",
          title: "Verifique sus datos",
          showConfirmButton: false,
          timer: 1000
        });
        return;
      }
      axios
        .post("/taesir/herra", {
          nombre: this.herrami.nombre,
          num_inventario: this.herrami.num_inventario,
          estatus: this.seleccion,
          observaciones: this.herrami.observaciones
        })
        .then(respuesta => {
          console.log("El produto se creo");
          console.log(respuesta.data);
          unblock();
          this.resetDatos();
          Swal.fire({
            position: "center",
            type: "success",
            title: "Agreado",
            showConfirmButton: false,
            timer: 1000
          });
          $("#modal").modal("hide");
          this.listado();
        })
        .catch(error => {
          console.log("Ocurrio un error");
          console.log(error);
          unblock();
          Swal.fire({
            position: "center",
            type: "warning",
            title: "Verifique sus datos",
            showConfirmButton: false,
            timer: 1000
          });
        });
      console.log("Resultado");
    },
    //---------------------------------------------------------------
    confirmar(id) {
      Swal.fire({
        title: "¿Estas seguro?",
        text: "una vez conluido no podras restaurar",
        type: "question",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Sí",
        cancelButtonText: "No"
      }).then(result => {
        if (result.value) {
          this.eliminar(id);
        }
      });
    },
    //---------------------------------------------------------------
    editarHerramienta(id) {
      block();
      axios
        .put("/taesir/herra/" + id, {
          id: this.herramie.id,
          nombre: this.herrami.nombre,
          num_inventario: this.herrami.num_inventario,
          estatus: this.seleccion,
          observaciones: this.herrami.observaciones
        })
        .then(respuesta => {
          console.log("Se Actualizo la informacion");
          console.log(respuesta.data);
          unblock();
          Swal.fire({
            position: "center",
            type: "success",
            title: "Correcto",
            showConfirmButton: false,
            timer: 1000
          });
          this.listado();
          console.log("Resultado");
          $("#modal").modal("hide");
        })
        .catch(error => {
          unblock();
          Swal.fire({
            position: "center",
            type: "error",
            title: "Verifique sus datos",
            showConfirmButton: false,
            timer: 1000
          });
        });

      $("#modal").modal("hide");
    }
  }
};
</script>

<style>
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #00968c;
  color: #fff;
}

.badge-success {
  background-color: #00a65a;
}

.badge-danger {
  background-color: #ffc107;
}

.badge-warning {
  background-color: #c62e2e;
}

#validacion {
  color: rgb(255, 0, 0);
}

input {
  border-radius: 4px !important;
}

textarea {
  border-radius: 4px !important;
}
/*
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}*/

input[type=number] {
  -moz-appearance: textfield;
}
</style>

//dompdf
//jsreport->
//protected with
