<template>
  <v-app>
    <v-content>
      <v-container>
        <v-layout>
          <v-flex xs12>
            <v-stepper v-model="step" vertical>
              <v-stepper-header>
                <v-stepper-step step="1" :complete="step > 1">Datos de Denunciante</v-stepper-step>
                <v-divider></v-divider>
                <v-stepper-step step="2" :complete="step > 2">Datos de Ubicación</v-stepper-step>
                <v-divider></v-divider>
                <v-stepper-step step="3" :complete="step > 3">Datos de Víctimas</v-stepper-step>
              </v-stepper-header>
              <v-stepper-items>
                <!-- *********************Steper 1*********************************** -->
                <v-form ref="formsolicitante">
                  <v-stepper-content step="1">
                    <h3>Datos de Denunciante</h3>

                    <v-layout class="pa-3 mb-2 justify-center">
                      <v-switch
                        v-model="registration.anonymous"
                        label="¿Solicitud Anónima?"
                        @change="SeleccionSolicitudAnonima($event)"
                      ></v-switch>
                    </v-layout>

                    <v-layout wrap>
                      <v-flex xs12 sm6>
                        <relationship-component :relationship.sync="registration.relationship"></relationship-component>
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-radio-group :rules="rules.gender" v-model="registration.gender" row>
                          <v-radio label="Hombre" value="Hombre"></v-radio>
                          <v-radio label="Mujer" value="Mujer"></v-radio>
                        </v-radio-group>
                      </v-flex>
                      <v-flex xs4>
                        <v-text-field
                          label="Nombre(s)"
                          v-model="registration.name"
                          :rules="rules.name"
                          :counter="46"
                          cleareble
                          required
                        ></v-text-field>
                      </v-flex>

                      <v-flex xs4>
                        <v-text-field
                          label="Primer apellido"
                          v-model="registration.namepaterno"
                          :rules="rules.namepaterno"
                          :counter="36"
                          required
                        ></v-text-field>
                      </v-flex>

                      <v-flex xs4>
                        <v-text-field
                          v-model="registration.namematerno"
                          :rules="rules.namematerno"
                          :counter="36"
                        >
                          <template v-slot:label>
                            <div>
                              Segundo Apellido
                              <small>(Opcional)</small>
                            </div>
                          </template>
                        </v-text-field>
                      </v-flex>

                      <v-flex xs12>
                        <v-slider
                          v-model="registration.age"
                          :rules="rules.age"
                          color="blue"
                          label="Edad"
                          min="10"
                          max="85"
                          thumb-label="always"
                        ></v-slider>
                      </v-flex>
                    </v-layout>

                    <v-text-field
                      v-model="registration.numerotelefono"
                      prepend-inner-icon="phone"
                      mask="phone"
                    >
                      <template v-slot:label>
                        <div>
                          Número Telefono
                          <small>(Opcional)</small>
                        </div>
                      </template>
                    </v-text-field>

                    <v-btn
                      v-if="petition_id"
                      color="primary "
                      @click="actaulizarsolicitante"
                    >Actalizar datos</v-btn>
                    <v-btn v-else color="primary " @click="validatesolicitante">Siguiente</v-btn>
                  </v-stepper-content>
                </v-form>

                <!-- *********************Steper 2*********************************** -->
                <v-form ref="formsolicitud">
                  <v-stepper-content step="2">
                    <h3 class>Ubicación de víctima</h3>

                    <address-component
                      :addressestado.sync="registration.addressestado"
                      :addressmunicipio.sync="registration.addressmunicipio"
                      :addresscolonia.sync="registration.addresscolonia"
                    ></address-component>

                    <v-layout wrap>
                      <v-flex xs8>
                        <v-text-field
                          prepend-inner-icon="place"
                          :rules="rules.addresscalle"
                          label="Calle"
                          v-model="registration.addresscalle"
                          required
                          class="my-input"
                        ></v-text-field>
                      </v-flex>

                      <v-flex xs4>
                        <v-text-field
                          prefix="#"
                          :rules="rules.addressnumero"
                          label="Numero"
                          v-model="registration.addressnumero"
                          mask="####"
                          required
                        ></v-text-field>
                      </v-flex>
                    </v-layout>

                    <v-radio-group v-model="registration.via" :rules="rules.via" row>
                      <v-radio v-for="(via, i) in vias" :key="i" :label="via" :value="via" required></v-radio>
                    </v-radio-group>

                    <v-textarea
                      v-model="registration.description"
                      :rules="rules.description"
                      label="Observaciones"
                      hint="Describa situaciones especiales del caso o recomendaciones de como llegar a la direccion"
                    ></v-textarea>

                    <v-btn flat @click.native="step = 1;registration.anonymous = false">Anterior</v-btn>
                    <v-btn
                      v-if="petition_id"
                      color="primary"
                      @click.prevent="actualizarsolicitud"
                    >Actaulizar datos</v-btn>
                    <v-btn v-else color="primary" @click.prevent="validatesolicitud">Siguiente</v-btn>
                  </v-stepper-content>
                </v-form>

                <!-- *********************Steper 3*********************************** -->
                <v-form ref="formvictima">
                  <v-stepper-content step="3">
                    <v-tabs centered color="white" icons-and-text>
                      <v-tabs-slider color="blue"></v-tabs-slider>

                      <v-tab href="#tab-1">
                        Agregar Victimas
                        <v-icon>person_add</v-icon>
                      </v-tab>

                      <v-tab href="#tab-2">
                        Revisar Solicitud
                        <v-icon>location_on</v-icon>
                      </v-tab>

                      <v-tab href="#tab-3">
                        Ver victimas
                        <v-badge left>
                          <template v-slot:badge>
                            <span>{{victimas.length }}</span>
                          </template>
                          <v-icon>how_to_reg</v-icon>
                        </v-badge>
                      </v-tab>

                      <v-tab-item value="tab-1">
                        <h3 class>Datos de Víctima</h3>

                        <v-layout wrap>
                          <v-flex xs4>
                            <v-text-field
                              label="Nombre(s)"
                              v-model="victims.name"
                              :rules="rules.name"
                              :counter="46"
                              cleareble
                              required
                            ></v-text-field>
                          </v-flex>

                          <v-flex xs4>
                            <v-text-field
                              label="Primer Apellido"
                              v-model="victims.namepaterno"
                              :rules="rules.namepaterno"
                              :counter="36"
                              required
                            ></v-text-field>
                          </v-flex>

                          <v-flex xs4>
                            <v-text-field
                              v-model="victims.namematerno"
                              :rules="rules.namematerno"
                              :counter="36"
                            >
                              <template v-slot:label>
                                <div>
                                  Segundo Apellido
                                  <small>(Opcional)</small>
                                </div>
                              </template>
                            </v-text-field>
                          </v-flex>

                          <v-flex xs11>
                            <v-slider
                              v-model="victims.age"
                              :rules="rules.age"
                              color="blue"
                              label="Edad"
                              min="0"
                              max="17"
                              thumb-label="always"
                            ></v-slider>
                          </v-flex>

                          <v-flex xs12>
                            <beneficios-component :beneficios.sync="victims.beneficios"></beneficios-component>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-radio-group :rules="rules.gender" v-model="victims.gender" row>
                              <v-radio label="Hombre" value="Hombre"></v-radio>
                              <v-radio label="Mujer" value="Mujer"></v-radio>
                            </v-radio-group>
                          </v-flex>
                        </v-layout>

                        <v-btn color="primary" @click.prevent="validatevictims" pb-4>Añadir Víctima</v-btn>
                        <v-btn
                          color="warning"
                          @click.prevent="finalizarProceso"
                          pb-4
                        >Enviar a subprocuraduría</v-btn>
                      </v-tab-item>
                      <v-tab-item value="tab-2">
                        <card-petition :registration="registration" :step.sync="step"></card-petition>
                      </v-tab-item>
                      <v-tab-item value="tab-3">
                        <card-victims
                          :victims="victimas"
                          @eventoactualizascionraiz="actualizarvictimasraiz"
                          direccion="Revisar datos de denunciante>ver solicitud"
                        ></card-victims>
                      </v-tab-item>
                    </v-tabs>
                  </v-stepper-content>
                </v-form>
              </v-stepper-items>
            </v-stepper>
          </v-flex>
          <v-flex xs12 md4>
            <card-petitioner :registration="registration" :id="petition_id" :victimas="victimas"></card-petitioner>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script src="./Forms-js/formcreate.js"></script>
<style>
.v-stepper__label {
  font-size: 17px !important;
}
.my-input input {
  text-transform: uppercase;
}
</style>
