<template>
<div>
  <div class="box box-primary shadow">
    <div class="box-header with-border">
      <h4 class="box-title">CATALOGO DE APOYOS FUNCIONALES</h4> 
      </div>    
      <br>
      <div class="box-body">
       <div class="col-md-12">
        <div style="display: flex; justify-content: flex-end"> 
      <a class="btn btn-success col-md-offset-9"  @click="modalCrear">
          <i class="glyphicon glyphicon-plus" ></i>AGREGAR AL CATALOGO
        </a>
        </div>
      <br>
    
      <!--inicia contenido-->
      <v-client-table :data="tableData" :columns="columns" :options="options">
     </v-client-table>
     <a href="taesir#/apoyofuncional" class="btn btn-danger col-md-offset-10">REGRESAR</a>
    </div>
     </div>
    <form method="POST" v-on:submit.prevent="crearNuevo">
          <div class="modal fade" id="modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                  </button>
                  <h4>{{modal.titulo}}</h4>
                </div>
                <div class="modal-body">
                  <p>
                    <label for="nombre">NOMBRE:</label>
                    <input   class="form-control" type="text" name="nombre" v-validate="{required:true, regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}" v-model="catalogo2.nombre"
                    >
                <span id = "validacion" v-if="errors.first('nombre')==='The nombre field is required.'">ESTE CAMPO ES OBLIGATORIO*</span>
                <span id= "validacion" v-else-if="errors.first('nombre')==='The nombre field format is invalid.'">REVISA TU FORMATO DE ENTRADA</span>
                
                  </p>    
                <p>
                    <label for="tipo">TIPO:</label>
                    <input   class="form-control" type="text" name="nombre" v-validate="{required:true, regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}" v-model="catalogo2.tipo"
                    >
                <span id = "validacion" v-if="errors.first('nombre')==='The nombre field is required.'">ESTE CAMPO ES OBLIGATORIO*</span>
                <span id= "validacion" v-else-if="errors.first('nombre')==='The nombre field format is invalid.'">REVISA TU FORMATO DE ENTRADA</span>
                
                  </p>              
                                
                </div>

                <div class="modal-footer">
                  <input type="submit" class="btn btn-success" value="Aceptar">
                  <button class="btn btn-danger" value="Cancelar" data-dismiss="modal">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        
  </div>
</div>

</template>

<script>
export default {
  mounted() {
    this.listado();
  },
  data() {
    return {
    catalogoaf: [],
      columns: [
        "id",
        "nombre",
        "tipo",
            ],
      tableData: [],
      options: {
        headings: {
          id:"Codigo",
          nombre: "Nombre",
          tipo:"Tipo"    
        },
        sortable: ["nombre","tipo"],
        filterable: [ "nombre","tipo"],
        pagination: {
          dropdown: false,
          chunk: 10,
          edge: false,
          align: "center",
          nav: "fixed"
        },
        perPageValues: [10, 25, 50, 100],
        texts: {
          count: "Mostrando {from} a {to} de {count} resultados|{count} resultados|Un resultado",
          first: "First",
          last: "Last",
          filter: "Buscar: ",
          filterPlaceholder: "INGRESA BUSQUEDA",
          limit: "Resultados: ",
          page: "Page:",
          noResults: "No hay resultados",
          filterBy: "Filter by {column}",
          loading: "Loading...",
          defaultOption: "Select {column}",
          columns: "Columns"
        }
      },
       catalogo2: {
        nombre: "",
       tipo:""
      },
      modal: { titulo: "", boton: "" },
      metodo: "",
      pagination: {}
    };
  },
  methods: {
    listado() {
      axios
        .get("/taesir/controlcataf")
        .then(respuesta => {      
         this.tableData = respuesta.data;                
        })
        .catch(error => {
        });
    },
     modalCrear() {
      this.metodo = "post";
      this.modal.titulo = "Agregar Apoyo Funcional al Catálogo";
      this.modal.boton = "AGREGAR";
      $("#modal").modal("show");
      console.log("crear");
    },
    crearNuevo() {
      block();
      if (this.catalogo2.nombre === null) {
        unblock();
        Swal.fire({
          position: "center",
          type: "warning",
          title: "Verifique sus datos",
          showConfirmButton: false,
          timer: 1000
        });
        return;
      }
      axios
        .post("/taesir/controlcataf", {
          nombre: this.catalogo2.nombre,
          tipo:this.catalogo2.tipo,
        })
        .then(respuesta => {
          console.log(respuesta.data);
          unblock();
          Swal.fire({position: "center", type: "success", title: "Correcto", showConfirmButton: false, timer: 1000});
          $("#modal").modal("hide");
          this.listado();
        })
        .catch(error => {
          console.log("Ocurrio un error");
          console.log(error);
          unblock();
          Swal.fire({
            position: "center",
            type: "warning",
            title: "Verifique sus datos",
            showConfirmButton: false,
            timer: 1000
          });
        });
    },

    }
};
</script>

<style>
.bg-success {
  background-color: #00a65a;
  color: aliceblue;
  width: 25px;
  height: 25px;
}
.bg-danger {
  color: #fff;
  background-color: #c62e2e;
  width: 25px;
  height: 25px;
}
.badge-success {background-color: #00a65a;}

.badge-danger {background-color: #FFC107;}

.badge-warning {background-color: #C62E2E;}
</style>
