<template>
  <v-app>
    <v-content>
      <v-container grid-list-md>
        <v-stepper v-model="step" vertical>
          <v-stepper-header>
            <v-stepper-step step="1" :complete="step > 1">Actualizar Denunciante {{folio}}</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="2" :complete="step > 2">Actualizar Solicitud</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="3" :complete="step > 3">Datos de victimas</v-stepper-step>
          </v-stepper-header>
          <v-stepper-items>
            <v-form ref="formsolicitante">
              <v-stepper-content step="1">
                <h3 class>Actualizar Denunciante</h3>
                <v-checkbox
                  v-model="registration.anonymous"
                  label="¿Solicitud Anonima? "
                  @change="SeleccionSolicitudAnonima($event)"
                ></v-checkbox>

                <v-layout row wrap>
                  <v-flex xs4>
                    <v-text-field
                      label="Nombre(s)"
                      v-model="registration.name"
                      :rules="rules.name"
                      :counter="46"
                      cleareble
                      required
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs4>
                    <v-text-field
                      label="Apellido Paterno"
                      v-model="registration.namepaterno"
                      :rules="rules.namepaterno"
                      :counter="36"
                      required
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs4>
                    <v-text-field
                      v-model="registration.namematerno"
                      :rules="rules.namematerno"
                      :counter="36"
                    >
                      <template v-slot:label>
                        <div>
                          Apellido Materno
                          <small>(Opcional)</small>
                        </div>
                      </template>
                    </v-text-field>
                  </v-flex>

                  <v-flex xs12>
                    <v-slider
                      v-model="registration.age"
                      :rules="rules.age"
                      color="blue"
                      label="Edad"
                      min="3"
                      max="100"
                      thumb-label
                    ></v-slider>
                  </v-flex>

                  <v-flex xs12 sm6>
                    <relationship-component :relationship.sync="registration.relationship"></relationship-component>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-radio-group :rules="rules.gender" v-model="registration.gender" row>
                      <v-radio label="Hombre" value="Hombre"></v-radio>
                      <v-radio label="Mujer" value="Mujer"></v-radio>
                    </v-radio-group>
                  </v-flex>
                </v-layout>

                <v-text-field
                  v-model="registration.numerotelefono"
                  prepend-inner-icon="phone"
                  mask="phone"
                >
                  <template v-slot:label>
                    <div>
                      Numero Telefono
                      <small>(Opcional)</small>
                    </div>
                  </template>
                </v-text-field>

                <v-text-field
                  v-model="registration.correo"
                  prepend-inner-icon="mail_outline"
                  v-validate="'email'"
                  :error-messages="errors.collect('email')"
                  data-vv-name="email"
                >
                  <template v-slot:label>
                    <div>
                      Correo Electronico
                      <small>(Opcional)</small>
                    </div>
                  </template>
                </v-text-field>
                
                <v-btn flat v-on:click="cancelar" >Cancelar</v-btn>
                <v-btn color="primary " @click="validatesolicitante">Continuar editando</v-btn>

                <card-petitioner :registration="registration"></card-petitioner>
              </v-stepper-content>
            </v-form>

            <!-- *********************STEPER 1 y Steper 2*********************************** -->
            <v-form ref="formsolicitud">
              <v-stepper-content step="2">
                <h3 class>Datos de Solicitud</h3>
                <v-radio-group v-model="registration.via" :rules="rules.via" row>
                  <v-radio
                    v-for="(via, i) in ['Oficio', 'Comparecencia', 'Telefonica','Correo']"
                    :key="i"
                    :label="via"
                    :value="via"
                    required
                  ></v-radio>
                </v-radio-group>

                <address-component
                  :addressestado.sync="registration.addressestado"
                  :addressmunicipio.sync="registration.addressmunicipio"
                  :addresscolonia.sync="registration.addresscolonia"
                ></address-component>

                <v-layout row wrap>
                  <v-flex xs8>
                    <v-text-field
                      prepend-inner-icon="place"
                      :rules="rules.addresscalle"
                      label="Calle"
                      v-model="registration.addresscalle"
                      required
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs4>
                    <v-text-field
                      prefix="#"
                      :rules="rules.addressnumero"
                      label="Numero"
                      v-model="registration.addressnumero"
                      mask="####"
                      required
                    ></v-text-field>
                  </v-flex>
                </v-layout>

                <v-textarea
                  v-model="registration.description"
                  :rules="rules.description"
                  label="Observaciones"
                  hint="Describa situaciones especiales del caso o recomendaciones de como llegar a la direccion"
                ></v-textarea>

                <v-btn flat @click.native="step = 1">Anterior</v-btn>
                <v-btn color="primary" @click.prevent="validatesolicitud">Actualizar</v-btn>

                <card-petition :registration="registration"></card-petition>
                <card-petitioner :registration="registration"></card-petitioner>
              </v-stepper-content>
            </v-form>

            <!-- *********************STEPER 2 y Steper 3*********************************** -->
            <v-form ref="formvictima">
              <v-stepper-content step="3">
                <card-petition :registration="registration"></card-petition>
                <h3 class>Datos de Victima</h3>

                <v-layout row wrap>
                  <v-flex xs4>
                    <v-text-field
                      label="Nombre(s)"
                      v-model="victims.name"
                      :rules="rules.name"
                      :counter="46"
                      cleareble
                      required
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs4>
                    <v-text-field
                      label="Primer apellido"
                      v-model="victims.namepaterno"
                      :rules="rules.namepaterno"
                      :counter="36"
                      required
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs4>
                    <v-text-field
                      v-model="victims.namematerno"
                      :rules="rules.namematerno"
                      :counter="36"
                    >
                      <template v-slot:label>
                        <div>
                          Segundo apellido
                          <small>(Opcional)</small>
                        </div>
                      </template>
                    </v-text-field>
                  </v-flex>

                  <v-flex xs12>
                    <v-slider
                      v-model="victims.age"
                      :rules="rules.age"
                      color="blue"
                      label="Edad"
                      min="3"
                      max="100"
                      thumb-label
                    ></v-slider>
                  </v-flex>

                  <v-flex xs12>
                    <beneficios-component :beneficios.sync="victims.beneficios"></beneficios-component>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-radio-group :rules="rules.gender" v-model="victims.gender" row>
                      <v-radio label="Hombre" value="Hombre"></v-radio>
                      <v-radio label="Mujer" value="Mujer"></v-radio>
                    </v-radio-group>
                  </v-flex>
                </v-layout>

                <v-btn color="primary" @click.prevent="validatevictims" pb-4>Añadir Victima</v-btn>
                <v-btn color="warning" @click.prevent="finalizarProceso" pb-4>Finalizar Solicitud</v-btn>

                <ul>
                  <li class="list-group-item" v-for="victi in victimas_l" v-bind:key="victi.id">
                    Nombre: {{ victi.name }} {{ victi.namepaterno }} {{ victi.namematerno }}
                    Edad:{{ victi.age }}
                    Sexo:{{ victi.gender }}
                  </li>
                </ul>
              </v-stepper-content>
            </v-form>
          </v-stepper-items>
        </v-stepper>
      </v-container>
    </v-content>
  </v-app>
</template>


<script>
export default {
  props: ["petition", "victimas", "folio"],
  $_veeValidate: {
    validator: "new"
  },
  data() {
    return {
      step: 1,
      petition_id: this.petition.id,
      victimas_l: this.victimas,
      victims: {
        name: "",
        namepaterno: "",
        namematerno: "",
        age: null,
        gender: null,
        beneficios: ""
      },
      registration: {
        anonymous: this.petition.anonymous,
        name: this.petition.name,
        namepaterno: this.petition.namepaterno,
        namematerno: this.petition.namematerno,
        age: this.petition.age,
        relationship: this.petition.relationship,
        gender: this.petition.gender,
        numerotelefono: this.petition.numerotelefono,
        correo: this.petition.correo,

        via: this.petition.via,
        addressestado: this.petition.addressestado,
        addressmunicipio: this.petition.addressmunicipio,
        addresscolonia: this.petition.addresscolonia,
        addresscalle: this.petition.addresscalle,
        addressnumero: this.petition.addressnumero,
        description: this.petition.description
      },
      rules: {
        name: [v => !!v || "Nombre es Obligatorio"],
        namepaterno: [v => !!v || "Apellido paterno es obligatorio"],
        age: [v => !!v || "Edad Requerida"],
        relationship: [v => !!v || "Parentesco Requerido"],
        gender: [v => !!v || "Sexo Obligatorio"],

        via: [v => !!v || "Via es obligatoria "],
        addresscalle: [v => !!v || "Calle Obligatorio"],
        addressnumero: [v => !!v || "Numero Obligatorio"],
        description: [v => !!v || "Observacion Obligatorio"]
      }
    };
  },
  methods: {
    validatesolicitante() {
      if (this.$refs.formsolicitante.validate()) {
        this.step = 2;
      }
    },
    validatesolicitud() {
      if (this.$refs.formsolicitud.validate()) {
        axios
          .put("/petitions/" + this.petition_id + "", {
            name: this.registration.name,
            namepaterno: this.registration.namepaterno,
            namematerno: this.registration.namematerno,
            age: this.registration.age,
            relationship: this.registration.relationship,
            gender: this.registration.gender,
            numerotelefono: this.registration.numerotelefono,
            correo: this.registration.correo,

            via: this.registration.via,
            addressestado: this.registration.addressestado,
            addressmunicipio: this.registration.addressmunicipio,
            addresscolonia: this.registration.addresscolonia,
            addresscalle: this.registration.addresscalle,
            addressnumero: this.registration.addressnumero,
            description: this.registration.description
          })
          .then(response => {
            console.log(this.petition_id);
            this.step = 3;
            this.$swal(
              "Exito al Actaulizar la solicitud! Ahora puede seguir añadiendo victimas"
            );
          })
          .catch(e => {
            this.$swal("No se logro actaulizar usuario revise los datos!");
          });
      }
    },
    validatevictims() {
      if (this.$refs.formvictima.validate()) {
        axios
          .post("/victims/" + this.petition_id + "/store", {
            name: this.victims.name,
            namepaterno: this.victims.namepaterno,
            namematerno: this.victims.namematerno,
            age: this.victims.age,
            gender: this.victims.gender
          })
          .then(response => {
            console.log(response.data);
            this.victimas_l.push(response.data);
            this.$swal("Exito al crear la Victima!");
          })
          .catch(e => {
            this.$swal("Verifique los datos de la Victima!");
          });
      }
    },
    SeleccionSolicitudAnonima: function(event) {
      if (event) {
        this.step = 2;
      }
    },
    finalizarProceso() {
      swal({
        title: "Deseas salir?",
        text:
          "Una vez finalizes toda la información estara Visible para el ROL correspondiente",
        icon: "warning",
        buttons: true,
        dangerMode: true
      }).then(willDelete => {
        if (willDelete) {
          window.location.href = "/petitions";
        }
      });
    },
    cancelar(){
      if( confirm("Salir sin guardar los datos?") ){
        window.location.href = "/petitions/" 
      }
    },
  }
};
</script>
