<template>
  <v-app>
    <v-content>
      <v-container grid-list-md>
        <v-stepper v-model="step" vertical>
          <v-stepper-header>
            <v-stepper-step step="1" :complete="step > 1">Solicitud {{folio}}</v-stepper-step>
          </v-stepper-header>
          <v-stepper-items>
            <v-form ref="formassign">
              <v-stepper-content step="1">
                <h3 class>Selección de Seguimiento</h3>

                <v-select
                  :rules="rules.type_name"
                  v-model="type_name"
                  :items="types"
                  item-text="name"
                  item-value="id"
                  label="Selecciona Seguimiento"
                ></v-select>

                <v-textarea
                  v-model="description"
                  :rules="rules.description"
                  label="Observaciones"
                  hint="Describa porque decidió el seguimiento"
                ></v-textarea>

                <v-btn flat v-on:click="cancelar">Anterior</v-btn>
                <v-btn color="primary " @click="validatassignprocess">Asignar</v-btn>

                <card-petition :registration="registration"></card-petition>

                <div class>Selección: {{type_name}}</div>
              </v-stepper-content>
            </v-form>
          </v-stepper-items>
        </v-stepper>
      </v-container>
    </v-content>
  </v-app>
</template>


<script>
export default {
  props: ["petition", "folio"],
  data() {
    return {
      step: 1,
      petition_id: this.petition.id,
      types: [
        { id: "advisor", name: "Asesoría" },
        { id: "mediation", name: "Mediación" },
        { id: "expedient", name: "Expediente" }
      ],
      type_name: "",
      description: "",
      registration: {
        anonymous: this.petition.anonymous,
        name: this.petition.name,
        namepaterno: this.petition.namepaterno,
        namematerno: this.petition.namematerno,
        age: this.petition.age,
        relationship: this.petition.relationship,
        gender: this.petition.gender,
        numerotelefono: this.petition.numerotelefono,
        correo: this.petition.correo,

        via: this.petition.via,
        addressestado: this.petition.addressestado,
        addressmunicipio: this.petition.addressmunicipio,
        addresscolonia: this.petition.addresscolonia,
        addresscalle: this.petition.addresscalle,
        addressnumero: this.petition.addressnumero,
        description: this.petition.description
      },
      rules: {
        type_name: [v => !!v || "Se requiere seleccion"],
        description: [v => !!v || "Observacion Obligatorio"]
      }
    };
  },
  methods: {
    validatassignprocess() {
      if (this.$refs.formassign.validate()) {
        axios
          .post("/affairs/" + this.petition_id + "/define", {
            type_name: this.type_name,
            description: this.description
          })
          .then(response => {
            this.$swal({
              icon: "success",
              title: "Asignación correcta"
            }).then(value => {
              window.location.href = "/petitions/" + this.petition_id + "";
            });
          })
          .catch(e => {
            this.$swal(
              "Por favor revise sus datos no se logro asignar el seguimiento"
            );
          });
      }
    },
    cancelar() {
      if (confirm("Salir sin guardar los datos?")) {
        window.location.href = "/petitions/";
      }
    }
  }
};
</script>
