<template>
  <v-content>
    <v-container style="max-width: 100%;">
      <v-app id="inspire">
        <v-parallax :src="'storage/aplicationimages/portada.png'"></v-parallax>
        <v-responsive>
          <v-container fill-height>
            <v-layout align-center>
              <v-flex>
                <h3 class="display-3">Bienvenido Nuevo Usuario</h3>

                <span
                  class="subheading"
                >Nos agrada mucho saber que formará parte del equipo, por favor espere a que el Procurador le autorice el rol que solicitó, usted debe compromenterse a dos cosas.</span>

                <v-expansion-panel>
                  <v-expansion-panel-content>
                    <template v-slot:header>
                      <div>Todos sus datos son verdaderos y comprobables</div>
                    </template>
                    <v-card>
                      <v-card-text>Los datos que solicitamos al crear su cuenta son necesarios para comprobar que usted es auténtificable, el procurador decide si asignarle un rol o no.</v-card-text>
                    </v-card>
                  </v-expansion-panel-content>

                  <v-expansion-panel-content>
                    <template v-slot:header>
                      <div>Seleccionó su área correspondiente</div>
                    </template>
                    <v-card>
                      <v-card-text>Si usted es capturista o no trabaja para una suprocuraduría especificamente por favor seleccione Procuraduría general.</v-card-text>
                    </v-card>
                  </v-expansion-panel-content>
                </v-expansion-panel>

                <div
                  class="title mb-3"
                >Si usted cree que sus datos son erróneos corrijalos ahora</div>

                <v-btn v-on:click.native="irCrear" outline color="indigo">Correjir</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-responsive>

        <v-timeline align-top>
          <v-timeline-item color="pink darken-2" icon="fa-user" fill-dot left>
            <v-card color="pink darken-2" dark>
              <v-card-title class="title">Usted crea su usuario</v-card-title>
              <v-card-text class="white text--primary">
                <p>Todos los datos deben ser verdaderos y comprobables, No puede crear mas de una cuenta, el procurador puede ver todos los intentos de creación de cuentas evite problemas.</p>
              </v-card-text>
            </v-card>
          </v-timeline-item>

          <v-timeline-item color="grey darken-3" icon="fa-user" fill-dot right>
            <v-card color="grey darken-3" dark>
              <v-card-title class="title">Procurador corrobora la información y le asigna un ROL</v-card-title>
              <v-card-text class="white text--primary">
                <p>El procurador revisa la información y corroborá que existan dentro de sus datos, entonces solo asi podrá acceder plenamente al sistema, Usted no puede crear mas de una cuenta, Por favor no lo haga, espere a que se le asigne su ROL.</p>
              </v-card-text>
            </v-card>
          </v-timeline-item>

          <v-timeline-item color="pink darken-2" icon="fa-user" fill-dot left>
            <v-card color="pink darken-2" dark>
              <v-card-title class="title">Usted ahora puede desempeñar sus actividades</v-card-title>
              <v-card-text class="white text--primary">
                <p>Tome en cuenta que el procurador le asignará los permisos que considere obligatoriamente necesarios para desempeñar sus labores.</p>
              </v-card-text>
            </v-card>
          </v-timeline-item>
        </v-timeline>
      </v-app>
    </v-container>
  </v-content>
</template>

<script>
export default {
  data: () => ({}),
  methods: {
  }
};
</script>

