<template>
  <v-content>
    <v-container style="max-width: 100%;">
      <v-app id="inspire">
        <v-parallax :src="'storage/aplicationimages/portada.png'"></v-parallax>
        <v-responsive>
          <v-container fill-height>
            <v-layout align-center>
              <v-flex>
                <h3 class="display-3">Bienvenido Subprocurador</h3>

                <span
                  class="subheading"
                >Como subprocurador dentro del sistema principalmente tiene la obligación de revisar cada solicitud y determinar que abogado debe continuar con ella.</span>

                <v-expansion-panel>
                  <v-expansion-panel-content >
                    <template v-slot:header>
                      <div>Gestionar solicitudes</div>
                    </template>
                    <v-card>
                      <v-card-text>Usted puede ver todas las solicitudes creadas y que fueron asignadas a usted como responsable automáticamente por el sistema, usted puede ver cada solicitud o denegarla si el administrador lo permite.</v-card-text>
                    </v-card>
                  </v-expansion-panel-content>

                  <v-expansion-panel-content >
                    <template v-slot:header>
                      <div>Asignar abogados</div>
                    </template>
                    <v-card>
                      <v-card-text>En base a su determinación puede asignar a cada solicitud un abogado que pertenesca a su subprocuraduría, pero cuidado una vez asignado no podrá reasignar un abogado a esa solicitud.</v-card-text>
                    </v-card>
                  </v-expansion-panel-content>

                  <v-expansion-panel-content >
                    <template v-slot:header>
                      <div>Ver seguimiento de solicitudes</div>
                    </template>
                    <v-card>
                      <v-card-text>Puede revisar que avances lleva su abogado en cada solicitud, con el fin de revisar su trabajo correspondiente y obtener información.</v-card-text>
                    </v-card>
                  </v-expansion-panel-content>
                </v-expansion-panel>


                <div
                  class="title mb-3"
                >Presiona ayuda desde el menú, para ver éstas recomendaciones de nuevo!</div>

                <v-btn v-on:click.native="irsolicitudes" outline color="indigo">Ir a ver las solicitudes</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-responsive>

        <v-timeline align-top>
          <v-timeline-item color="grey darken-3" icon="fa-user" fill-dot right>
            <v-card color="grey darken-3" dark>
              <v-card-title class="title">Crea solicitud</v-card-title>
              <v-card-text class="white text--primary">
                <p>Un usuario con los permisos correspondientes ha creado una nueva solicitud, el sistema ha asignado esta solicitud como parte de su supbrocuraduría.</p>
                <v-btn v-on:click.native="irSinAsignar" color="grey darken-3" class="mx-0" outline>Ir a ver nuevas solicitudes</v-btn>
              </v-card-text>
            </v-card>
          </v-timeline-item>

          <v-timeline-item color="pink darken-2" icon="fa-user" fill-dot left>
            <v-card color="pink darken-2" dark>
              <v-card-title class="title">Subprocurador revisa la solicitud</v-card-title>
              <v-card-text class="white text--primary">
                <p>Revise cuidadosamente los datos de la solicitud y determine que abogado será el responsable de llevar el proceso a cabo.</p>
                <v-btn v-on:click.native="irSinAsignar" color="pink darken-2" class="mx-0" outline>Asignar abogados</v-btn>
              </v-card-text>
            </v-card>
          </v-timeline-item>

          <v-timeline-item color="grey darken-3" icon="fa-user" fill-dot right>
            <v-card color="grey darken-3" dark>
              <v-card-title
                class="title"
              >Abogado determina su seguimiento</v-card-title>
              <v-card-text class="white text--primary">
                <p>El abogado selecciona entre sus opciones si la solicitud continúa como asesoría, mediación o expediente.</p>
              </v-card-text>
            </v-card>
          </v-timeline-item>

          <v-timeline-item color="pink darken-2" icon="fa-user" fill-dot left>
            <v-card color="pink darken-2" dark>
              <v-card-title class="title">Subprocurador revisa y recopila información</v-card-title>
              <v-card-text class="white text--primary">
                <p>Ahora puede ver toda la información relacionada con el caso y toda la evidencia que se le anexe a la solicitud.</p>
                <v-btn v-on:click.native="irProcesos" color="pink darken-2" class="mx-0" outline>Ver seguimientos</v-btn>
              </v-card-text>
            </v-card>
          </v-timeline-item>

        </v-timeline>
      </v-app>
    </v-container>
  </v-content>
</template>

<script>
export default {
  data: () => ({
    
  }),
  methods:{
    irsolicitudes(){
      window.location.href = '/petitions'
    },
    irSinAsignar(){
      window.location.href = '/section/pendients'
    },
    irProcesos(){
      window.location.href = '/section/process'
    },
  },
};
</script>

