@import "./../css/coreui.css";
@import "./../css/pace.min.css";
@import "~@coreui/icons/css/coreui-icons.min.css";
@import "~font-awesome/css/font-awesome.min.css";
// @import "~flag-icon-css/css/flag-icon.min.css";
// @import "~simple-line-icons/css/simple-line-icons.css";

.app-header.navbar{
  background-color: #1a2226;
}
.navbar-brand-full{
  width: 9em;
}
#app{
  background-color: #EF426F;
}