#DIF-CREE {
    color: #d2516d;
    color: #f75f80;
 }
 
 #VIGUERA-CD_ADMIN {
    color:#d4635f;
    color:#f77671;
 }
 
 #LLANO-MONTE_ALBAN {
    color: #54a98a;
    color: #6de6b9;
 }
 
 #LUIS_B-CD_J {
    color:#79bbb9;
    color:#96eeeb;
 }
 
 #LLANO {
    color:#e49f42;
 }
 
 #ATZOMPA-CONGRESO {
    color:#804d88;
    color:#b86ec4;
 }

 