<template>
<div>
   <form method="POST" v-on:submit.prevent="crearPersona">
 <div class="box box-primary shadow"> 
    <div class="box-header with-border">  
           
        <h4 class="box-title">INFORMACION DEL DONANTE </h4>
        </div>
         <div class="box-body"> 
         <div class="col-md-12">
          <div style="display: flex; justify-content: flex-end">
           <div class="col-md-offset-8" v-if="valor===1||valor==0">
             <span>TIPO DE DONANTE:</span>
             <select name="existe" id="" @change="cambiar" v-model="cambio" class="form-control">
               <option value="NUEVO">NUEVO</option>
               <option value="REGISTRADO">REGISTRADO</option>
               </select>
            </div>
            </div> 
            <br>
           <div v-if ="valor===1"> 
          <div class="col-md-6">           
             <label for="nombre">NOMBRE:</label>
                  <input type="text" style="text-transform:uppercase;"  class="form-control" name="nombre" v-model="persona.nombre"  required v-validate="{regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}" >
               <span  class="errordecampo" v-if="errors.first('nombre')==='The nombre field format is invalid.'">REVISA TU FORMATO DE ENTRADA<br/></span>
               </div> 
          <div class="col-md-3">
             <label for="primer_apellido">PRIMER APELLIDO:</label>
                  <input type="text" class="form-control" name="primer_apellido" v-model="persona.primer_apellido" v-validate="{regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}">
               <span  class="errordecampo" v-if="errors.first('primer_apellido')==='The primer_apellido field format is invalid.'">REVISA TU FORMATO DE ENTRADA<br/></span>
                </div>  
          <div class="col-md-3">
             <label for="segundo_apellido">SEGUNDO APELLIDO:</label>
                  <input type="text" class="form-control" name="segundo_apellido" v-model="persona.segundo_apellido" v-validate="{regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}">
               <span  class="errordecampo" v-if="errors.first('segundo_apellido')==='The segundo_apellido field format is invalid.'">REVISA TU FORMATO DE ENTRADA<br/></span>
              </div>   
          <div class="col-md-3">
             <label for="numero_celular">NUMERO CELULAR:</label>
                  <input type="text" maxlength="10" class="form-control" name="numero_celular" v-model="persona.numero_celular" v-validate="'digits:10'" >
               <span class="errordecampo" v-if="errors.first('numero_celular')==='The numero_celular field must be numeric and exactly contain 10 digits.'">CAMPO SOLO VALIDO CON NUMEROS Y UNA LONGITUD DE 10</span>
               </div> 
          <div class="col-md-3">
            <label for="municipio">MUNICIPIO: </label>
            <v-select v-model="persona.municipio" id="vselect" :options="municipios" :reduce="municipio_codigo=>municipio_codigo.id" label="nombre"></v-select>
               </div>      
               </div>  
          <div v-if ="valor===0">
           <div class="input-group col-md-5 col-md-offset-7">
          <input v-model="busqueda" required type="text" placeholder="BUSCAR DONANTE" name="buscadonante" class="form-control" >
          <span class="input-group-btn">
        <button class="btn btn-info" style="display: inline;" type="button" @click.prevent="buscar"><i class="fa fa-search"></i> BUSCAR</button>
      </span>
        </div>  
        <div class="col-md-12 table-responsive">
          <table class="table table-striped ">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Telefono</th>
                <th>Selección</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(bene,index) in donador" :key=index>
                <td>{{bene.nombre}}</td>
                <td>{{bene.primer_apellido}}</td>
                <td>{{bene.segundo_apellido}}</td>
                <td>{{bene.numero_celular}}</td>
                <td><button @click.prevent="idguardar(bene.id)" class="btn btn-success">&#x2714;</button></td>
              </tr>
            </tbody>
          </table>
        </div>
               </div>                
               </div>
              </div>  
              
              </div>  
      </form>    
                  
    <div class="box box-primary shadow">          
    <div class="box-header with-border">   
        <h4 class="box-title">INFORMACION DEL DONATIVO </h4>
         </div>
          <div class="box-body"> 
        <div>
        <br>
        <div class="col-md-6">
             <label for="nombre">NOMBRE:</label>
                  <input type="text" class="form-control" name="nombre" v-model="donativo.nombre">
               </div> 
        
        <div class="col-md-2">
             <label for="fecha">FECHA:</label>
             <input type="text" class="form-control" disabled=disabled name="fecha" v-model="fecha_diag">     
                  </div> 
        
        <div class="col-md-2">
             <label for="estatus">ESTATUS:</label>
                  <input type="text" class="form-control" disabled=disabled name="estatus" v-model="donativo.estatus">
          </div> 
               <div class="col-md-6">
              <label for="observaciones">OBSERVACIONES:</label>
                <textarea
                    name="observaciones"
                    cols="30"
                    rows="1"
                    class="form-control"
                    v-model="donativo.observaciones"
                  ></textarea>
              <br>
              
               </div>   
                   
               </div>
                <div class="col-md-4 col-md-offset-8" style="display: flex; justify-content: flex-end" >
       <input type="submit" class="btn btn-success" value="AGREGAR" @click="eleccion" >
       <a href="taesir#/servicios/donativos" class="btn btn-danger">REGRESAR</a>
       </div>
         </div> 
         
         </div>  
                  
       
     
    
</div>
</template>
<script>
 export default {
  mounted() {
    this.agregar();
  },
  data(){
    return{
      fecha: new Date(),
      fecha_diag: "",
      cambio: "",
      idguardado:0,
      busqueda:"",
      valor:"",
      persona:{
        nombre:"",
        primer_apellido:"",
        segundo_apellido:"",
        numero_celular:"",
        municipio:"" 
      },
      municipios:[],
      donador:[],
      donativo:{
         id:"",
        fecha: "",
        nombre:"",
        observaciones:"",
        estatus:"SIN REGISTRO",
        persona_id:"",
        usuario_id:73
      },
    };
  },
  methods:{
    agregar(){
      axios
        .get("/taesir/munici")
        .then(respuesta => {
          this.municipios = respuesta.data.municipio;
          this.fechaActual();
          
        })
        .catch(error => {
        });    
    },
     fechaActual() {
      this.fecha_diag = (this.fecha.getFullYear()) + "/" + (this.fecha.getMonth() + 1) + "/" + this.fecha.getDate();
    },
  crearPersona() {
      block();
      axios
        .post("/taesir/altapersonadonativo", {
          nombre: this.persona.nombre,
          primer_apellido: this.persona.primer_apellido,
          segundo_apellido: this.persona.segundo_apellido,
          numero_celular: this.persona.numero_celular,
          municipio: this.persona.municipio          
        })
        .then(respuesta => {
          unblock();
          this.donativo.persona_id = respuesta.data.persona;
          this.crearDonativo();

        })
        .catch(error => {
          console.log(error);
          unblock();
          Swal.fire({
            position: "center",
            type: "error",
            title: "Verificar sus campos",
            showConfirmButton: false,
            timer: 1000
          });

        });
    }, 
    idguardar(idguardado){
      this.donativo.persona_id=idguardado;
      Swal.fire({
            position: "center",
            type: "success",
            title: "PERSONA SELECCIONADA",
            showConfirmButton: false,
            timer: 1000
          });
         this.valor=""; 
         this.busqueda="";
         this.donador="";

    },
  eleccion(){
    if(this.cambio === "REGISTRADO"){
     
      this.crearDonativo();

    }else{
      this.crearPersona();
    }

  }, 
  buscar() {
    if(this.busqueda!=""){
      let me = this;
      var url = "/taesir/buscardonante";
      block();
      axios.post(url, {
        curp: me.busqueda
      }).then(function (response) {

        me.donador = response.data.data

        unblock();
      }).catch(function (error) {
        console.log('Problemas de conexion, intente de nuevo')
      })
   } 
   else{
     Swal.fire({
            position: "center",
            type: "info",
            title: "CAMPO VACIO",
            showConfirmButton: false,
            timer: 1000
          });
   }},  
  crearDonativo() {
      block();
      axios.post("/taesir/controldonativos", {
          fecha: this.fecha_diag,
          nombre: this.donativo.nombre,
          observaciones: this.donativo.observaciones,
          estatus: this.donativo.estatus,
          persona_id:this.donativo.persona_id,
          usuario_id: 73,
        })
        .then(respuesta => {
          unblock();
          Swal.fire({
            position: "center",
            type: "success",
            title: "Agregado",
            showConfirmButton: false,
            timer: 1000
          });
          this.limpiar();
        })
        .catch(error => {
          console.log("Ocurrio un ERROR");
          console.log(error);
          unblock();
          Swal.fire({
            position: "center",
            type: "error",
            title: "Verifique sus datos",
            showConfirmButton: false,
            timer: 1000
          });
        });
    },
    cambiar() {
      if (this.cambio === "REGISTRADO") {
        this.valor = 0;
      } else {
        this.valor = 1;
      }
    },
    limpiar(){
      this.donativo.id=null;
      this.donativo.fecha=null;
      this.donativo.observaciones=null;
       this.donativo.nombre = null;
        this.persona.nombre=null;
       this.persona.primer_apellido=null;
      this.persona.segundo_apellido=null;
      this.persona.numero_celular=null;
      this.persona.municipio=""; 

    window.location.assign("taesir#/servicios/donativos/"); 
    },
   
}
  };
  </script>
  <style scoped>
  .errordecampo{
color: red;
}

  </style>
