<template>
<div>
  <input hidden type="text" ref="myid" :value="$route.params.id"/>
  <div>
  <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h4 class="box-title">REGISTRAR MATERIALES DONADOS</h4>
      </div>
      <div class="box-body">
        <div class="col-md-6">     
          <div class="col-md-12" style="display: flex; justify-content: flex-center">
            <div class="form-group">
              <h4>LISTA DE MATERIALES REGISTRADOS</h4>
              <div class="input-group">
              <v-select id="vselect" v-model="materialseleccionado"  :options="materiales" label="nombre"></v-select>     
               <span class="input-group-btn">
              <button value="Agregar" class="btn btn-success" @click="agregaratabla"><i class="glyphicon glyphicon-plus"></i>AGREGAR</button>
             </span>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="display: flex; justify-content: flex-end">
          <div class="col-md-12" >
            <h4>AGREGAR MATERIAL SIN REGISTRO</h4>
            <button value="agregar" class="btn btn-success"  @click="modalCrear"><i class="glyphicon glyphicon-plus"></i>AGREGAR</button>
        </div>
        </div>
        </div>
        </div>
        <div >
          <form method="POST" v-on:submit.prevent="crearNuevo">
      <div class="modal fade" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                  </button>
              <h4>AGREGAR MATERIAL</h4>
            </div>
            <div class="modal-body">
              <div class="col-md-12">
                <label for="nombre">NOMBRE:</label>
                <input required  class="form-control" type="text" name="nombre" v-validate="{required:true, regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}" v-model="material2.nombre"
                    >
                <span id = "validacion" v-if="errors.first('nombre')==='The nombre field is required.'">ESTE CAMPO ES OBLIGATORIO*</span>
                <span id= "validacion" v-else-if="errors.first('nombre')==='The nombre field format is invalid.'">REVISA TU FORMATO DE ENTRADA</span>

              </div>
              <br>
              <div class="col-md-6">
                 <label for="presentacion">PRESENTACION:</label>
                  <v-select id="vselect" v-model="material2.presentacion"  :options="unidadmedidas" :reduce="unidadmedidas=>unidadmedidas.unidadmedida"  label="unidadmedida"></v-select>     
              </div>
             
                <div class="col-md-3">
                  <label for="minimo">MINIMO:</label>
                  <input
                     required
                     min="1"
                      type="number"
                      class="form-control"
                      name="minimo"
                      v-validate="'numeric'"
                      v-model="material2.minimo">
                  <span id="validacion" v-if="!material2.minimo||errors.first('minimo')=='The minimo field may only contain numeric characters.'">CAMPO REQUERIDO CON NÚMEROS*</span>

                </div>

                <div class="col-md-3">
                  <label for="existencia">EXISTENCIA:</label>

                  <input
                      required
                      type="number"
                      class="form-control"
                      name="existencia"
                      min="1"
                      v-validate="'numeric'"
                      v-model="material2.existencia"
                    >
                  <span id="validacion" v-if="!material2.existencia">CAMPO REQUERIDO*</span>
                </div>

              </div>

              <div class="modal-footer">
                <input type="submit" class="btn btn-success" value="Aceptar">
                <button class="btn btn-danger" value="Cancelar" data-dismiss="modal">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
    </form>
            </div>
            <div class="box box-primary shadow">
            <div class="box-header with-border">
      <h4 class="box-title">MATERIALES AGREGADOS</h4>
            </div>
           
      <div class="panel-body">
        <div class="col-md-12"> 
          <div  style="display: flex; justify-content: flex-end" >
        <button class="btn btn-success" :disabled ="materialesagregados.length===0" @click="pregunta">GUARDAR </button>
        <button  class=" btn btn-danger" @click="regresar">REGRESAR </button>
       
       </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>NOMBRE</th>
                <th>EXISTENCIA</th>
                <th>CANTIDAD</th>
                <th>NUEVA EXISTENCIA</th>
                <th>OPCIONES</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(materiales,index) in materialesagregados" :key=index>
                <td>{{materiales.nombre}}</td>
                <td>{{materiales.existencia}}</td>
                <td><input type="number" min="1" id="spinner" :max=100 v-model="materiales.cantidad"  @change="descontar(index)" class="form-control"></td>
                <td>{{materiales.restante}}</td>
                <td>
                  <button  @click.prevent="quitarMaterial(index)"  class="btn btn-xs bg-danger"><i class="glyphicon glyphicon-minus"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-offset-4" v-if="!materialesagregados.length">
            <span>NO HAY ELEMENTOS AGREGADOS</span>
          </div>
            <br>
        </div>     
      </div>
       
    </div>
  </div>  

          </div>
</div>
</template>
<script>
export default {
  mounted() {
    this.agregar();
    this.crear();
    this.unidades();
  },
  data() {
    return {
      materialesagregados: [],
     materialseleccionado:"",
     unidadmedidas:[],
      material2: {
        id:"",
        nombre:"",
        unidad_medida:"",
        minimo:"",
        existencia:"",
      },
     detalledonativo:{
       id:"",
       cantidad:"",
       donativo_id:"",
       material_id:"",
       usuario_id:20
     }, 
     materiales:[],
       modal: {
        titulo: "",
        boton: ""
      },
     
      
    };
  },
  methods: {
    crear(){
      this.id = this.$refs["myid"].value;
    },
    modalCrear() {
      this.modal.boton = "agre";
      $("#modal").modal("show");
      console.log("crear");
    },
    unidades(){
      axios
        .get("/taesir/unidadesp")
        .then(respuesta => {
          this.unidadmedidas = respuesta.data.unidadmedidas;          
        })
        .catch(error => {
        }); 

    },
     descontar(indice) {
       if(this.materialesagregados[indice].cantidad>=1){
      this.materialesagregados[indice].restante = parseInt(this.materialesagregados[indice].existencia) + parseInt(this.materialesagregados[indice].cantidad);
       }else{
         Swal.fire({
            position: "center",
            type: "warning",
            title: "ingrese una cantidad valida mayor a 0",
            showConfirmButton: false,
            timer: 1000
          });
          this.materialesagregados[indice].cantidad="";
       }
    },
     quitarMaterial(indice){
       this.materialesagregados.splice(indice, 1);
    },
    agregar(){
      axios
        .get("/taesir/materiap")
        .then(respuesta => {
          this.materiales = respuesta.data.materiales;          
        })
        .catch(error => {
        });    
    },
    resetDatos() {
      this.material2.id = null;
      this.material2.nombre = null;
      this.material2.unidad_medida = null;
      this.material2.minimo = null;
      this.material2.existencia = null;
    },
    agregaratabla() {
      if(this.materialseleccionado === ""){
         Swal.fire({
            position: "center",
            type: "warning",
            title: "Seleccione un material",
            showConfirmButton: false,
            timer: 1000
          });
      }
      else{
      var i = 0;
      var estatus = false;
      for (i in this.materialesagregados) {
        if (this.materialesagregados[i].id === this.materialseleccionado.id ) {
          estatus = true;
          break;
        } else {
          estatus = false;
        }
      }

        if (estatus === false) {
          this.materialesagregados.push({
            id: this.materialseleccionado.id,
            nombre: this.materialseleccionado.nombre,
            cantidad: 1,
            existencia: this.materialseleccionado.existencia,
            restante: this.materialseleccionado.existencia+1,
          });
        } else {
          Swal.fire({
            position: "center",
            type: "warning",
            title: "Elemento ya agregado",
            showConfirmButton: false,
            timer: 1000
          });
        }

      }
      this.materialseleccionado="";
    },
       crearNuevo() {
      block();
      console.log("Enviando formulario");
      if (this.material2.nombre === null) {
        console.log("Esta vacio");
        unblock();
        Swal.fire({
          position: "center",
          type: "warning",
          title: "Verifique sus datos",
          showConfirmButton: false,
          timer: 1000
        });
        return;
      }
      axios
        .post("/taesir/materiap", {
          nombre: this.material2.nombre,
          unidad_medida: this.material2.unidad_medida,
          minimo: this.material2.minimo,
          existencia: this.material2.existencia,
          usuario_id: 73
        })
        .then(respuesta => {
          console.log(respuesta.data);
          unblock();
          this.resetDatos();
         
          Swal.fire({
            position: "center",
            type: "success",
            title: "Correcto",
            showConfirmButton: false,
            timer: 1000
          }); 
          this.agregar();
          $("#modal").modal("hide");
        })
        .catch(error => {
          console.log("Ocurrio un error");
          console.log(error);
          unblock();
          Swal.fire({
            position: "center",
            type: "warning",
            title: "Verifique sus datos",
            showConfirmButton: false,
            timer: 1000
          });
        });
    },
    regresar(){
       window.location.assign("taesir#/servicios/donativos");
    },
    pregunta() {
      Swal.fire({
        title: "¿Esta seguro de continuar?",
        text: "una vez agregado, no se podrá editar",
        type: "question",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Sí",
        cancelButtonText: "No"
      }).then(result => {
        if (result.value) {
          this.actualizar();
        }
      });
    },
     actualizar(){
      axios.post('/taesir/agregarmaterial',{
        materiales: this.materialesagregados,
        donativo_id: this.id
      }).then(response=>{
                  Swal.fire({
            position: "center",
            type: "success",
            title: "Informacion Actualizada",

            showConfirmButton: true,
            timer: 1000
          });
     this.regresar();
      })
    }
   },
             }
</script>
