<template>
  <v-flex>
    <v-btn
      outline
      color="error"
      @click="dialog_revision = true"
    >Notificar al abogado que esta solicitud no puede concluirse</v-btn>
    <v-dialog v-model="dialog_revision" max-width="40%">
      <v-card>
        <v-card-title>
          <h5>Notificar al abogado que continue</h5>
        </v-card-title>
        <v-card-text>
          <v-textarea
            v-model="conclusion.mensaje"
            :rules="rules.conclusion"
            name="texto-conclusion"
            label="Describa porque considera que la solicitud no ha terminado"
            hint="Inserta las observaciones/detalles/e informacion que pueda ser de utilidad al abogado"
          ></v-textarea>
        </v-card-text>
        <v-card-actions>
          <v-btn
            outline
            color="primary"
            :loading="loading"
            :disabled="loading"
            @click="resendlawer"
          >Enviar al abogado</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-flex>
</template>
<script>
export default {
  props: ["petition"],
  data() {
    return {
      dialog_revision: false,
      petition_id: this.petition.id,

      loading: false,

      conclusion: {
        mensaje: ""
      },
      rules: {
        conclusion: [v => !!v || "Debe escribir algo para el procurador"]
      }
    };
  },
  methods: {
    resendlawer() {
      axios
        .put("/affair/demit/" + this.petition_id + "", {
          conclusion: this.conclusion.mensaje
        })
        .then(response => {
          this.loading = true;
          axios
            .post("/petitions/assign/mail/" + this.petition_id + "", {
              email: "death_acuario@hotmail.com",
              mensaje: this.conclusion.mensaje,
              emisor: "Subprocurador",
              receptor: "Abogado",
              petition_id: this.petition_id
            })
            .then(response => {
              this.$swal({
                icon: 'success',
                title:'Correo enviado exitosamente',
              }).then(value => {
                location.reload();
              });
            })
            .catch(e => {
              console.log("Error al enviar el correo al abogado");
            });
        })
        .catch(e => {
          this.$swal("Por favor revise sus datos algo salio Mal");
        });
    }
  }
};
</script>
