<template>
  <div>
    <form action="" v-on:submit.prevent="actualizar?actualizarReceta():guardarReceta()" autocomplete="off">
      <div class="box box-primary shadow">
        <div class="box-header">
          <h3 class="box-title">Receta</h3>
        </div>
        <div class="box-body">
          <div class="">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="nombre">Nombre: </label>
                  <input v-validate="{required:true, regex:/^([A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}" class="form-control" v-model="receta.nombre" type="text" name="nombre" id="inputNombre" required>
                  <span class="validacion">{{ errors.first('nombre') }}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="porciones">Porciones: </label>
                  <input v-validate="'required'" class="form-control" v-model="receta.porciones" type="number" name="porciones" id="inputPorciones" min="1" step="1" required>
                  <span class="validacion">{{ errors.first('porciones') }}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="producto">Seleccionar un Producto</label>
                  <v-select v-validate="'required'" v-model="receta.producto" :options="productosPanaderia" label="nombre" :filterable='true' name="producto">
										<div slot="no-options">No hay opciones!</div>
									</v-select>
                  <span class="validacion">{{ errors.first('producto') }}</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="agregarIngredientes">Agregar Ingredientes</label>
                </div>
              </div>
            </div>
            <form action="" v-on:submit.prevent="agregarIngrediente">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="ingrediente">Ingrediente:</label>
                    <v-select @input="changeSelect" v-model="ingrediente.insumo" :options="ingredientesPan" label="producto" :filterable='true' name="ingrediente" required>
											<div slot="no-options">No hay opciones!</div>
										</v-select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="cantidad">Cantidad:</label>
                    <input class="form-control" v-model="ingrediente.cantidad" type="number" name="cantidad" id="inputCantidad" min="0.001" step="0.001" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="presentacion">Presentacion:</label>
                    <input class="form-control" v-model="ingrediente.insumo.presentacion" name="presentacion" type="text"  disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 col-md-offset-10">
                  <div class="form-group">
                    <label for="agregar"></label>
                    <button class="btn btn-success pull-rigth" type="submit">Agregar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div style="margin-botton: 25px;" v-if="ingredientesReceta.length>0">
            <label for="">Ingredientes Seleccionados: </label>
          </div>
          <div class="box box-default" v-if="ingredientesReceta.length>0">
            <div class="box-body no-padding">
              <table class="table table-striped" align="center">
                <thead>
                  <th>Ingrediente</th>
                  <th>Cantidad</th>
                  <th>Presentacion</th>
                  <th>Quitar</th>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in ingredientesReceta" :key="index">
                    <td>{{item.insumo.producto}}</td>
                    <td>
                      <input class="form-control" v-model="item.cantidad" type="number" name="cantidad" id="inputCantidad" min="0.001" step="0.001" required style="width: 100px">                      
                    </td>
                    <td>{{item.insumo.presentacion}}</td>
                    <td>
                      <button class="btn btn-xs btn-danger" title="Quitar" @click.prevent="quitarIngrediente(index)"><i class="fa fa-minus"></i> Quitar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="" v-if="ingredientesReceta.length>0">
            <button v-if="!actualizar" class="btn btn-success" type="submit">Guardar</button>
            <button v-if="actualizar" class="btn btn-success" type="submit">Actualizar</button>
            <button class="btn btn-warning" @click.prevent="cancelar">Cancelar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  data() {
    return {
      actualizar:false,
      receta:{id:null,nombre:'',porciones:0,producto:{}},
      ingrediente:{insumo:{proID:null,producto: '',preID:null,presentacion:''},cantidad:1},
      ingredientesPan:[],
      productosPanaderia:[],      
      ingredientesReceta:[],
    }
  },
  methods: {
    listado(){
      var url='/panaderia/insumo/listado'
      axios.get(url).then(respuesta=>{
        console.log(respuesta)
        this.ingredientesPan=respuesta.data;
      }).catch(error=>{
        console.log('surgio un error -> '+error)				 
				 swal({type: 'error',title: 'Ocurrió un error al obtener los insumos.', confirmButtonText:'Aceptar'});
      });
    },
    getProductos(){
      var url='/panaderia/productos/sinReceta';
      axios.get(url).then(respuesta=>{        
        this.productosPanaderia=respuesta.data.productos;      
      }).catch(error=>{
        console.log('error en '+error)				 
				 swal({type: 'error',title: 'Ocurrió un error al obtener los productos.', confirmButtonText:'Aceptar'});
      });
    },
    agregarIngrediente(){         
        if(this.ingrediente.insumo.proID==null)        
        return
        console.log('agregando ingrediente ...')         
      if(this.agregado(this.ingrediente.insumo.proID)){					 
					 swal({type: 'info',title: 'Este ingrediente ya fue agregado.', confirmButtonText:'Aceptar'});
           return
      }
      this.ingredientesReceta.push(this.ingrediente);
      this.ingrediente={insumo:{"proID":null,producto: '',preID:null,presentacion:''},cantidad:1};
    },
    quitarIngrediente(index){
      console.log('Quitar Ingrediente')
      this.ingredientesReceta.splice(index,1);
    },
    agregado(id){
        const result = this.ingredientesReceta.filter(ingre => ingre.insumo.proID === id);
        if(result.length===0)
        return false
        return true
      },
    guardarReceta(){    
      this.$validator.validate().then(valid=>{
      if(valid){      
      var url='/panaderia/api/recetas';
      block();
      axios.post(url,{
        receta:this.receta,
        ingredientes:this.ingredientesReceta,        
      }).then(respuesta=>{
        console.log(respuesta)
        this.resetDatos()
				unblock();				
				swal({type: 'success',title: 'Receta agregada correctamente.', confirmButtonText:'Aceptar'});
        window.location.assign("/panaderia#/recetas/listado");        
      }).catch(error=>{
        console.log('surgio un error '+error)
        unblock();				 
				 swal({type: 'error',title: 'Ocurrió un error al guardar los datos.', confirmButtonText:'Aceptar'});
      });
      }
      })      
    },
    cancelar(){
      console.log('cancelar')
      this.resetDatos();
      window.location.assign("/panaderia#/recetas/listado");
    },
    resetDatos(){
      this.actualizar=false;
      this.$validator.reset();
      this.ingredientesReceta=[]
      this.receta={id:null,nombre:'',porciones:0,producto:{}}      
    },
    getReceta(id){      
      this.receta.id=id;      
      var url='/panaderia/api/recetas/'+id;
      axios.get(url).then(respuesta=>{        
        this.receta.nombre=respuesta.data.nombre;
        this.receta.porciones=respuesta.data.porciones;
        this.receta.producto=respuesta.data.producto;
        let listaIngredientes=respuesta.data.ingredientes;
        let listaPresentaciones=respuesta.data.presentacion;
        for (let index = 0; index < listaIngredientes.length; index++) {
          const ingrediente={ 
            cantidad:listaIngredientes[index].pivot.cantidad,
            insumo:{proID:listaIngredientes[index].id,producto:listaIngredientes[index].producto,
            preID:listaPresentaciones[index].id,presentacion:listaPresentaciones[index].presentacion},
          }
          this.ingredientesReceta.push(ingrediente);          
        }         
      }).catch(error=>{        
        console.log('surgio un error '+error)        				 
				 swal({type: 'error',title: 'Ocurrió un error al obtener los datos.', confirmButtonText:'Aceptar'});
      });
    },
    actualizarReceta(){
      this.$validator.validate().then(valid=>{
      if(valid){      
      var url='/panaderia/api/recetas/'+this.receta.id;
      block();
      axios.put(url,{        
        receta:this.receta,
        ingredientes:this.ingredientesReceta,        
      }).then(respuesta=>{
        console.log(respuesta)
        this.resetDatos()
				unblock(); 
				swal({type: 'success',title: 'Receta actualizada correctamente.', confirmButtonText:'Aceptar'});
        window.location.assign("/panaderia#/recetas/listado");      
      }).catch(error=>{
        console.log('surgio un error '+error)
        unblock();				 
				 swal({type: 'error',title: 'Ocurrió un error al actualizar la receta.', confirmButtonText:'Aceptar'});
      });
      }
      }) 
    },
    changeSelect(){
      if(this.ingrediente.insumo==null){
        this.ingrediente={insumo:{proID:null,producto: '',preID:null,presentacion:''},cantidad:1}
      }
    }
  },
  mounted() {
    this.listado();
    this.getProductos();
    this.$validator.reset();
    axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");
    
    if(typeof this.$route.params.id!='undefined'){
      this.actualizar=true;
      this.getReceta(this.$route.params.id);
    }
      
  },
}
</script>
<style scoped>
input{  
  border-radius: 4px;
}
.validacion {
  color: rgb(255, 0, 0);
}
</style>
