<template>
  <div>
    <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h3 class="box-title">Listado de producciones</h3>
      </div>
      <div class="box-body">
     <div style="margin-bottom: 20px;">
          <div class="row">
            <div class="col-md-5">
              <label for="buscar">Buscar:</label>
              <div class="input-group input-group-sm" style="width: 220px;">
                <input type="text" name="table_search" class="form-control pull-right" placeholder="Folio" v-model="busqueda" @keyup.enter="buscarProduccion">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search" @click.prevent="buscarProduccion()"></i></button>
                </div>
                <div class="input-group-btn">
                    <button style="margin-left: 4px;" type="button" class="btn btn-warning outline" @click.prevent="listado()">
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                  </div>
              </div>
            </div>            
            <div class="col-md-2 col-md-offset-5">
              <label for="items">Elementos por Página:</label>
              <v-select :searchable="false" :clearable="false" v-model="pagination.per_page" :options="itemsPerPage" @input="listado()">
								<div slot="no-options">No hay opciones!</div>
							</v-select>
            </div>
          </div>
        </div> 
        <div class="box-body no-padding">
          <table class=" text-center table table-striped">
            <tbody>
              <tr>
                <th>ID</th>
                <th>Folio</th>
                <th>Fecha elaboración</th>
                <th>Tipo</th>
                <th>Opciones</th>
              </tr>
              <tr v-for="(item, index) in tableData" :key="index">
                <td>{{item.id}}</td>
                <td>{{item.folio}}</td>              
                <td>{{formatFecha(item.fecha_elaboracion)}}</td>
                <td>{{item.tipo}}</td>
                <td>                  
                    <button class="btn btn-primary btn-xs" @click.prevent="verDetalles(item)"><i class="fa fa-eye"></i>Ver</button>
<!--                     <button class="btn btn-success btn-xs" @click="mostrarPdf(item.id)"><i class="fa fa-file-pdf-o"></i></button>
 -->                    <button v-show="item.finalizar" title="Finalizar" class="btn btn-success btn-xs" @click="finalizar(item,8)" ><i class="fa fa-check"></i>Finalizar</button>                  
                </td>               
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12" align="center">
          <nav aria-label="navigation">
            <ul class="pagination">
              <li v-if="pagination.current_page > 1">
                <a href="#" @click.prevent="changePage(pagination.current_page - 1)">
                  <span>Atras</span>
                </a>
              </li>
              <li v-for="(page,index) in pagesNumber" :key="index" v-bind:class="[ page == isActived ? 'active' : '']">
                <a href="#" @click.prevent="changePage(page)">
                  {{ page }}
                </a>
              </li>

              <li v-if="pagination.current_page < pagination.last_page">
                <a href="#" @click.prevent="changePage(pagination.current_page + 1)">
                  <span>Siguiente</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-detalle" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
            <h4 class="modal-title" id="modal-detalle-title">Información de la producción</h4>
          </div>
          <div class="modal-body" id="modal-body-detalle">
            <div class="box box-primary shadow">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th style="width:30%"><i class="fa fa-info-circle margin-r-5"></i>ID:</th>
                          <td> {{produccion.id}} </td>
                        </tr>
                        <tr>
                          <th><i class="fa fa-calendar margin-r-5"></i>Fecha elaboración</th>
                          <td>{{formatFecha(produccion.fecha_elaboracion)}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th style="width:30%"><i class="fa fa-id-card margin-r-5"></i>Folio:</th>
                          <td>{{produccion.folio}}</td>
                        </tr>
                        <tr>
                          <th><i class="fa fa-signal margin-r-5"></i>Estatus:</th>
                          <td>{{produccion.estatus}}</td>
                        </tr>                      
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="box box-primary shadow">
              <div class="box-header with border">
                <h5>Productos elaborados</h5>
              </div>
              <div class="box-body no-padding">
                <table class="text-center table table-striped">
                  <tbody>
                    <tr>
                      <th>Producto</th>
                      <th>Cantidad</th>
                    </tr>
                    <tr v-for="(producto, index) in detalles" :key="index">
                      <th>{{producto.nombre}}</th>
                      <th>{{producto.pivot.cantidad}}</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer" id="modal-footer-detalle">
            <button type="button" class="btn btn-danger" @click.prevent="cerrarModal"><i class="fa fa-ban"></i> Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment';
export default {
  mounted() {
    axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");
    this.listado();

  },
  data(){
    return{       
      busqueda:'',
      detalles:[],
      programadas:[],
      solicitadas:[],
      produccion:{'id':'','folio':'','fecha_elaboracion':'','estatus':''},
      itemsPerPage:[10,25,50],
      pagination: {
			  'total': 0,
        'current_page': 1,
        'per_page': 10,
        'last_page': 0,
        'from': 0,
        'to': 0
      },
      offset: 3,
      producciones:[],  
      tableData: [],
    }
  },  
  methods: {
    buscarProduccion() {
      block();
      if (this.busqueda == '') {
        return
      }
      if ( this.busqueda.includes('PAN-PG-')) {        
        block()
        axios.get('/panaderia/producciones/buscarproduccionnormal/' +  this.busqueda).then(respuesta => {
          this.tableData = [];
          this.busqueda = null
          if (respuesta.data === "") {
            swal({
              type: 'warning',
              title: 'No se encontraron resultados!'
            });
            unblock();
            return;

					}
					console.log(respuesta.data)
					if(respuesta.data.folio.includes('PAN-PG-')){      
           const p = {
              id: respuesta.data.id,
              folio: respuesta.data.folio,
              fecha_elaboracion: respuesta.data.fecha_elaboracion,  
							estatus : respuesta.data.normal.programada.estatus, 
							solicitud_id:respuesta.data.normal.produccionprogramada_id,
              tipo: 'PRODUCCIÓN PROGRAMADA',         
              finalizar: true,
          }
					this.tableData.push(p);   
					} 
          this.pagination.total = 1;
          this.pagination.current_page = 1;
          this.pagination.per_page = 10;
          this.pagination.last_page = 0;
          this.pagination.from = 0;
          this.pagination.to = 0;
          unblock();
        }).catch(error => {
          unblock()
          console.log('error en ' + error)
          swal({
          type: 'warning',
          title: 'NO se encontraron resultados!'
        });
        unblock()
        });
      }
      if ( this.busqueda.includes('PAN-SOL-')) {      
        block()
        axios.get('/panaderia/producciones/buscarproduccionsolicitud/' +  this.busqueda).then(respuesta => {
          this.tableData = [];
          this.busqueda = null
          if (respuesta.data === "") {
            swal({
              type: 'warning',
              title: 'No se encontraron resultados!'
            });
            return;
					}
						if(respuesta.data.folio.includes('PAN-SOL-')){  					
					if(respuesta.data.solicitud.solicitud.folio.includes('PAN-DON-')){
             const p = {
              id: respuesta.data.id,
              folio: respuesta.data.folio,
              fecha_elaboracion: respuesta.data.fecha_elaboracion, 
							estatus: respuesta.data.solicitud.solicitud.estatus, 
							solicitud_id:respuesta.data.solicitud.solicitud_id,
              tipo:'DONATIVO',
              finalizar: true,              
          }
          this.tableData.push(p); 
					}
					if(respuesta.data.solicitud.solicitud.folio.includes('PAN-PED-')){
             const p = {
              id: respuesta.data.id,
              folio: respuesta.data.folio,
              fecha_elaboracion: respuesta.data.fecha_elaboracion, 
							estatus: respuesta.data.solicitud.solicitud.estatus,
							solicitud_id:respuesta.data.solicitud.solicitud_id, 
              tipo:'PEDIDO',
              finalizar: true
          }          
          this.tableData.push(p); 
          }
				} 
          this.pagination.total = 1;
          this.pagination.current_page = 1;
          this.pagination.per_page = 10;
          this.pagination.last_page = 0;
          this.pagination.from = 0;
          this.pagination.to = 0;
          unblock();

          unblock()
        }).catch(error => {
          unblock()
          console.log('error en ' + error)
          swal({
          type: 'warning',
          title: 'NO se encontraron resultados!'
        });
        unblock()
        });
      }
    },
    listado(page) {  
      block() 
      this.tableData=[];
      this.programadas = [];
      this.solicitadas=[];
      axios.get('/panaderia/api/producciones?page=' + page + '&per_page=' + this.pagination.per_page).then(respuesta => {
        unblock()
        this.producciones = respuesta.data.producciones.data;        
        this.pagination.from = respuesta.data.producciones.from;
        this.pagination.last_page = respuesta.data.producciones.last_page;
        this.pagination.per_page = respuesta.data.producciones.per_page;
        this.pagination.to = respuesta.data.producciones.to;
        this.pagination.total = respuesta.data.producciones.total;
        this.producciones.forEach(element => {   
					if(element.folio.includes('PAN-PG-')){      
           const p = {
              id: element.id,
              folio: element.folio,
              fecha_elaboracion: element.fecha_elaboracion,  
							estatus : element.normal.programada.estatus, 
							solicitud_id:element.normal.produccionprogramada_id,
              tipo: 'PRODUCCIÓN PROGRAMADA',         
              finalizar: true,
          }
					this.tableData.push(p);   
					} 
			
			if(element.folio.includes('PAN-SOL-')){  					
					if(element.solicitud.solicitud.folio.includes('PAN-DON-')){
             const p = {
              id: element.id,
              folio: element.folio,
              fecha_elaboracion: element.fecha_elaboracion, 
							estatus: element.solicitud.solicitud.estatus, 
							solicitud_id:element.solicitud.solicitud_id,
              tipo:'DONATIVO',
              finalizar: true,              
          }
          this.tableData.push(p); 
					}
					if(element.solicitud.solicitud.folio.includes('PAN-PED-')){
             const p = {
              id: element.id,
              folio: element.folio,
              fecha_elaboracion: element.fecha_elaboracion, 
							estatus: element.solicitud.solicitud.estatus,
							solicitud_id:element.solicitud.solicitud_id, 
              tipo:'PEDIDO',
              finalizar: true
          }          
          this.tableData.push(p); 
          }
				} 
        }); 
				                  
        this.tableData.forEach(element=>{
          if(element.estatus.id === 8 || element.estatus.id === 5){
            element.finalizar = false;
          }
        
        })      
      }).catch(error => {
        console.log('surgio un error ' + error)
      });
    },
    changePage(page) {
      this.pagination.current_page = page;
      this.listado(page);
    },
    getNombreProducto(id) {
      return this.productos.find(productos => productos.id === id).nombre;
    },
    inhabilitarBoton(produccion) {
      this.tableData.forEach(element => {
        element.finalizar = false;      
      });
    },
    finalizar(produccion, estatus) {
        Swal.fire({
          title: '¿Desea finalizar esta producción?',
          text: "una vez finalizada no podra revertir!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Si, Finalizar!',
          cancelButtonText: 'Cancelar'
        }).then((result) => {
          if (result.value) {
            if (produccion.folio.includes('PAN-SOL-')) {
             block();
              console.log('Enviando formulario');
              axios.put('/panaderia/produccion/finalizarproduccionsolicitud/' + produccion.solicitud_id, {
                estatus: estatus,
              }).then(respuesta => {
                console.log(respuesta);
                unblock();
                this.inhabilitarBoton(produccion)
                this.listado();                
								swal({type: 'success',title: 'Finalizado correctamente.', confirmButtonText:'Aceptar'});
              }).catch(error => {
                console.log('Ocurrio un error');
                console.log(error);
                unblock();                
								swal({type: 'error',title: 'Algo salió mal.', confirmButtonText:'Aceptar'});
              });
            }
            if (produccion.folio.includes('PAN-PG-')) {
              block();
              axios.put('/panaderia/produccion/finalizarproduccionnormal/' + produccion.solicitud_id, {
                estatus: estatus,
              }).then(respuesta => {
                console.log(respuesta);
                unblock();
                this.inhabilitarBoton(produccion);
                this.listado();                
								swal({type: 'success',title: 'Agregado correctamente.', confirmButtonText:'Aceptar'});
              }).catch(error => {
                console.log('Ocurrio un error');
                console.log(error);
                unblock();                
								swal({type: 'error',title: 'Algo salió mal.', confirmButtonText:'Aceptar'});
              });
            }
          }
        })
    },
    formatFecha(date){
      return moment(date).format('DD/MM/YYYY');
    },
    verDetalles(produccion) {
      block()
      if (produccion.folio.includes('PAN-PG-')) {
        block()
        axios.get('/panaderia/producciones/buscarproduccionnormal/'+ produccion.folio).then(respuesta => {
        this.produccion.id= produccion.id;
        this.produccion.folio = produccion.folio;
        this.produccion.fecha_elaboracion = produccion.fecha_elaboracion;
        this.produccion.estatus = produccion.estatus.nombre;
        this.detalles = respuesta.data.normal.programada.programados;          
          unblock()
        }).catch(error => {
          unblock()
          console.log('error en ' + error)
        });
      }
      if (produccion.folio.includes('PAN-SOL-')) {        
        block()
        axios.get('/panaderia/producciones/buscarproduccionsolicitud/'+ produccion.folio).then(respuesta => {
        this.produccion.id= produccion.id;
        this.produccion.folio = produccion.folio;
        this.produccion.fecha_elaboracion = produccion.fecha_elaboracion;
        this.produccion.estatus = produccion.estatus.nombre;
        this.detalles = respuesta.data.solicitud.solicitud.detalles;        
          unblock()
        }).catch(error => {
          unblock()
          console.log('error en ' + error)
        });
      }

      $('#modal-detalle').modal('show');
    },
    cerrarModal() {
      $('#modal-detalle').modal("hide");
    },
    mostrarPdf(id){
      var url="/panaderia/api/salidas/insumo/"+id;
      var win = window.open(url, '_blank');
      win.focus();
    },
  },
  computed: {
    isActived: function () {
      return this.pagination.current_page;
    },
    pagesNumber: function () {
      if (!this.pagination.to) {
        return [];
      }

      var from = this.pagination.current_page - this.offset;
      if (from < 1) {
        from = 1;
      }

      var to = from + (this.offset * 2);
      if (to >= this.pagination.last_page) {
        to = this.pagination.last_page;
      }

      var pagesArray = [];
      while (from <= to) {
        pagesArray.push(from);
        from++;
      }
      return pagesArray;
    }
  },
}
</script>
<style scoped>
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color:#1B96B8;
  color: #fff;
}
.validacion {
  color: rgb(255, 0, 0);
}
</style>
