<template>
  <div>
    <div v-if="nuevaproduccion">
      <!-- muestra la tabla con paginación manual de las producciones programadas-->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Producciones programadas</h3>
          <button class=" btn btn-success pull-right " @click.prevent="verProgramacion"><i class="fa fa-plus"></i> Nueva producción</button>

        </div>
        <div class="box-body">

          <div style="margin-bottom: 20px;">
            <div class="row">
              <div class="col-md-5">
                <label for="buscar">Buscar:</label>
                <div class="input-group input-group-sm" style="width: 220px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="id" v-model="busqueda" @keyup.enter="buscarProduccion">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search" @click.prevent="buscarProduccion()"></i></button>
                  </div>
                  <div class="input-group-btn">
                    <button style="margin-left: 4px;" type="button" class="btn btn-warning outline" @click.prevent="listado()">
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-md-offset-5">
                <label for="items">Elementos por Página:</label>
                <v-select :searchable="false" :clearable="false" v-model="pagination.per_page" :options="itemsPerPage" @input="listado()">
									<div slot="no-options">No hay opciones!</div>
								</v-select>
              </div>
            </div>
          </div>
          <div class="box-body table-responsive no-padding">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th>ID</th>
                  <th>Estatus</th>
                  <th>Fecha programada</th>
                  <th>Opciones</th>
                </tr>
                <tr v-for="(item, index) in tableData" :key="index">
                  <td>{{item.id}}</td>
                  <td><span :class="item.etiqueta">{{item.estatus.nombre}}</span></td>
                  <td>{{formatFecha(item.fecha_programada)}}</td>
                  <td>
                    <button title="Ver Detalles" class="btn btn-primary btn-xs" @click.prevent="verDetalles(item)">Ver <i class="fa fa-eye"></i> </button>
                    <!--                     <button v-show="item.editar" title="Editar" class="btn btn-xs btn-warning" @click.prevent="modalEditar(item.id)"><i class="fa fa-pencil"></i> Editar</button>
 --> <button v-show="item.elaborar" class="btn btn-primary btn-xs" @click.prevent="produccionnormal(item,7)">Elaborar <i class="fa fa-arrow-right"></i> </button>
                    <button title="Cancelar" class=" btn btn-danger btn-xs" v-show="item.cancelado" @click.prevent="cancelar(item,3)"><i class="fa fa-times"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12" align="center">
            <nav aria-label="navigation">
              <ul class="pagination">
                <li v-if="pagination.current_page > 1">
                  <a href="#" @click.prevent="changePage(pagination.current_page - 1)">
                    <span>Atras</span>
                  </a>
                </li>
                <li v-for="(page,index) in pagesNumber" :key="index" v-bind:class="[ page == isActived ? 'active' : '']">
                  <a href="#" @click.prevent="changePage(page)">
                    {{ page }}
                  </a>
                </li>

                <li v-if="pagination.current_page < pagination.last_page">
                  <a href="#" @click.prevent="changePage(pagination.current_page + 1)">
                    <span>Siguiente</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
			<form v-on:submit.prevent="registrarProductos" autocomplete="off">
      <!-- muestra el formulario para programar una produccion -->
      <div class="box box-primary shadow">
        <div class="box-header with-border">
          <h4>Nueva producción</h4>
        </div>
        <div class="box-body">
          <form method="POST" v-on:submit.prevent="agregarProductos">
            <div class="row">
              <div class="form-group col-md-4">
                <label for="fecha">Fecha programacion: </label><br>
                <date-picker :required="true" :disabled-days="disableWeekends" :editable="false" :not-before="fechaActual" style="width:350px;" v-model="fecha" lang="es" valueType="format" format="DD-MM-YYYY"></date-picker>
              </div>
              <div class="form-group col-md-4">
                <label for="producto">Producto: </label>
                <v-select v-model="pro_id" :options="productos" label="nombre" :filterable='true'>
									<div slot="no-options">No hay opciones!</div>
									<template #search="{attributes, events}">
										<input class="vs__search" :required="!pro_id" v-bind="attributes" v-on="events" />
									</template>
								</v-select>
              </div>
              <div class="form-group col-md-4">
                <label for="cantidad">Cantidad: </label>
                <input required v-validate="'numeric'" type="number" min="1" step="1" class="form-control" id="cantidad" name="cantidad" v-model="cantidad">
                <span class="validacion">{{ errors.first('cantidad') }}</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <button type="submit" class="btn btn-success btn-ms pull-right " style="margin-right:10px;"><i class="fa fa-plus"></i> Agregar
                </button>
              </div>
            </div>
						</form>
            <div v-if="lista.length>0">
              <div class="col-md-12">
                <div class="box box-default">
                  <div class="box-header">
                    <h4>Lista de productos programados</h4>
                  </div>
                  <div class="box-body no-padding">
                    <table class="text-center table table-striped">
                      <tbody>
                        <tr>
                          <th>Producto</th>
                          <th>Cantidad</th>
                          <th>Eliminar</th>
                        </tr>
                        <tr v-for="(item, index) in lista" :key="index">
                          <td>{{item.nombre}}</td>
                          <td>
                            <input required class="form-control text-center" v-model="item.cantidad" type="number" name="cantidad" id="" min="1" step="1" @change="modificarCantidad(index)">
                          </td>
                          <th>
                            <button type="button" class="btn btn-danger btn-xs" @click.prevent="eliminarProducto"><i class="fa fa-minus margin-r-5"></i>Quitar</button>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>          
        </div>
      </div>
      <div class="box-footer">
        <button class="btn btn-primary pull-left" @click.prevent="regresar"><i class="fa fa-arrow-circle-left"></i> Regresar</button>
        <!--         <button v-if="lista.length>0" class=" btn btn-primary pull-right" @click.prevent="registrarProductos"><i class="fa fa-save"></i> Guardar</button>
 --> <button type="submit" v-if="metodo&&lista.length>0" class="btn btn-primary pull-right"><i class="fa fa-save margin-r-5"></i>{{boton}}</button>
        <button v-else class="btn btn-primary pull-right" @click.prevent="actualizarProduccion"><i class="fa fa-save margin-r-5"></i>{{boton}}</button>

      </div>
			</form>
    </div>
    <div class="modal fade" id="modal-detalle" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
            <h4 class="modal-title" id="modal-detalle-title">Información de la producción</h4>
          </div>
          <div class="modal-body" id="modal-body-detalle">
            <div class="box box-primary shadow">
              <div class="box-header with border">
                <h5>Productos a elaborar</h5>
              </div>
              <div class="box-body no-padding">
                <table class="text-center table table-striped">
                  <tbody>
                    <tr>
                      <th>Cantidad</th>
                      <th>Producto</th>
                    </tr>
                    <tr v-for="(producto, index) in programados" :key="index">
                      <th>{{producto.pivot.cantidad}}</th>
                      <th>{{producto.nombre}}</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="modal-footer" id="modal-footer-detalle">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cerrar</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
  import moment from 'moment';
  export default {
    mounted() {
      axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");
      this.fechaActual = new Date();
      this.listado();
      this.listadoProductos();
    },
    data() {
      return {
        //produccion:{'id':'','fecha':'',},
        metodo: true,
        fecha1: '',
        boton: 'Guardar',
        fecha: ' ',
        tablaproductos: false,
        fechaActual: null,
        lista: [],
        pro_id: '',
        cantidad: 1,
        productos: [],
        programados: [],
        nuevaproduccion: true,
        programadas: [],
        busqueda: '',
        tableData: [],
        itemsPerPage: [10, 25, 50],
        pagination: {
          'total': 0,
          'current_page': 1,
          'per_page': 10,
          'last_page': 0,
          'from': 0,
          'to': 0
        },
        offset: 3,
      }
    },
    methods: {
      listado(page) {
        block()
        this.tableData = [];
        this.programadas = [];
        var url = '/panaderia/api/produccion?page=' + page + '&per_page=' + this.pagination.per_page;
        axios.get(url).then(respuesta => {
          unblock()
          this.programadas = respuesta.data.programadas.data;
          this.pagination.from = respuesta.data.programadas.from;
          this.pagination.last_page = respuesta.data.programadas.last_page;
          this.pagination.per_page = respuesta.data.programadas.per_page;
          this.pagination.to = respuesta.data.programadas.to;
          this.pagination.total = respuesta.data.programadas.total;
          this.programadas.forEach(element => {
            if (element.estatus.id === 9) {
              const p = {
                id: element.id,
                fecha_programada: element.fecha_programada,
                estatus: element.estatus,
                programados: element.programados,
                elaborar: true,
                cancelado: true,
                editar: true,
                etiqueta: 'badge badge-warning'

              }
              this.tableData.push(p);
            }

            if (element.estatus.id === 8) {
              const p = {
                id: element.id,
                fecha_programada: element.fecha_programada,
                estatus: element.estatus,
                programados: element.programados,
                elaborar: false,
                cancelado: false,
                editar: false,
                etiqueta: 'badge badge-secondary'
              }
              this.tableData.push(p);
            }

            if (element.estatus.id === 7) {
              const p = {
                id: element.id,
                fecha_programada: element.fecha_programada,
                estatus: element.estatus,
                programados: element.programados,
                elaborar: false,
                cancelado: false,
                editar: false,
                etiqueta: 'badge badge-primary'
              }
              this.tableData.push(p);
            }

            if (element.estatus.id === 3) {
              const p = {
                id: element.id,
                fecha_programada: element.fecha_programada,
                estatus: element.estatus,
                programados: element.programados,
                elaborar: false,
                cancelado: false,
                editar: false,
                etiqueta: 'badge badge-danger'
              }
              this.tableData.push(p);
            }
          });

        }).catch(error => {
          console.log('surgio un error ' + error)
        });
      },
      getProduccion(id) {
        var producto = {};
        axios.get('/panaderia/api/produccion/' + id).then(respuesta => {
          this.fecha = respuesta.data.fecha_programada;
          respuesta.data.programados.forEach(element => {
            const p = {
              nombre: element.nombre,
              cantidad: element.pivot.cantidad
            }
            this.lista.push(p);
          })
        }).catch(error => {
          console.log(error);
        });
      },
      verDetalles(obj) {
        this.programados = obj.programados;
        $('#modal-detalle').modal('show');
      },
      formatFecha(date) {
        return moment(date).format('DD/MM/YYYY');
      },
      listadoProductos() {
        axios.get('/panaderia/api/productos').then(respuesta => {
          this.productos = respuesta.data.productos;
        }).catch(error => {
          console.log(error);
        });
      },
      registrarProductos() {
        if (this.fecha != ' ') {
          block();
          console.log('Enviando formulario');
          axios.post('/panaderia/api/produccion', {
            fecha: this.fecha,
            lista: this.lista
          }).then(respuesta => {
            console.log('Creado');
            unblock();
            this.listado();
            this.resetTodo();
            swal({
              type: 'success',
              title: 'Agregada correctamente.',
              confirmButtonText: 'Aceptar'
            });
            this.nuevaproduccion = true;
          }).catch(error => {
            console.log('Ocurrio un error');
            console.log(error);
            unblock();
            swal({
              type: 'error',
              title: 'Ocurrió un error, no se pudo registrar la producción.',
              confirmButtonText: 'Aceptar'
            });
          });
        } else {
          swal({
            type: 'warning',
            title: 'Ingrese una fecha.',
            confirmButtonText: 'Aceptar'
          });
        }
      },
      actualizarProduccion(id) {
        // this.getProduccion(id);
      },
      modalCrear() {
        this.resetDatos();
        this.metodo = true;
        //this.verlista=false;
        this.boton = 'Guardar';
        console.log('crear');
      },
      modalEditar(id) {
        this.metodo = false;
        this.boton = 'Actualizar';
        this.nuevaproduccion = false;
        this.getProduccion(id);
      },
      resetDatos() {
        this.subtotal = 0;
        this.cantidad = 1;
        this.pro_id = '';
      },
      resetTodo() {
        this.resetDatos();
        this.fecha = ' ';
        this.lista = [];
      },
      agregarProductos() {
        const result = this.lista.filter(pro => pro.id === this.pro_id.id);
        if (result.length === 0) {
          if (this.pro_id != '') {
            this.tablaproductos = true;
            this.lista.push({
              id: this.pro_id.id,
              nombre: this.pro_id.nombre,
              precio: this.pro_id.precio,
              cantidad: this.cantidad,
              subtotal: this.cantidad * this.pro_id.precio,

            });
            this.resetDatos();
          } else {
            swal({
              type: 'warning',
              title: '¡Seleccione un producto!',
              confirmButtonText: 'Aceptar'
            });
          }
        } else {
          swal({
            type: 'warning',
            title: '¡El producto ya se encuentra en la lista!',
            confirmButtonText: 'Aceptar'
          });
          this.resetDatos();
        }
      },
      modificarCantidad(index) {
        this.lista[index].subtotal = this.lista[index].precio * this.lista[index].cantidad;
      },
      eliminarProducto(id) {
        this.lista.splice(id, 1);
        if (this.lista.length === 0) {
          this.tablaproductos = false;
        }
      },
      verProgramacion() {
        this.nuevaproduccion = false;
      },
      regresar() {
        this.nuevaproduccion = true;
        this.lista = [];
        this.fecha = '';
        this.listado();
      },
      buscarProduccion() {
        block();
        axios.get('/panaderia/api/produccion/' + this.busqueda).then(respuesta => {
          this.tableData = [];
          this.busqueda = null
          if (respuesta.data === "") {
            swal({
              type: 'warning',
              title: 'NO se encontraron resultados!'
            });
            unblock();
            return;
          }
          if (respuesta.data.estatus_id === 9) {
            const p = {
              id: respuesta.data.id,
              fecha_programada: respuesta.data.fecha_programada,
              estatus: respuesta.data.estatus,
              programados: respuesta.data.programados,
              elaborar: true,
              cancelado: true,
              etiqueta: 'badge badge-warning'
            }
            this.tableData.push(p);
          }
          if (respuesta.data.estatus_id === 7) {
            const p = {
              id: respuesta.data.id,
              fecha_programada: respuesta.data.fecha_programada,
              estatus: respuesta.data.estatus,
              programados: respuesta.data.programados,
              elaborar: true,
              cancelado: true,
              etiqueta: 'badge badge-primary'
            }
            this.tableData.push(p);
          }
          if (respuesta.data.estatus_id === 8) {
            const p = {
              id: respuesta.data.id,
              fecha_programada: respuesta.data.fecha_programada,
              estatus: respuesta.data.estatus,
              programados: respuesta.data.programados,
              elaborar: true,
              cancelado: true,
              etiqueta: 'badge badge-secondary'
            }
            this.tableData.push(p);
          }
          if (respuesta.data.estatus_id === 3) {
            const p = {
              id: respuesta.data.id,
              fecha_programada: respuesta.data.fecha_programada,
              estatus: respuesta.data.estatus,
              programados: respuesta.data.programados,
              elaborar: true,
              cancelado: true,
              etiqueta: 'badge badge-danger'
            }
            this.tableData.push(p);
          }
          console.log(respuesta.data)
          this.pagination.total = 1;
          this.pagination.current_page = 1;
          this.pagination.per_page = 10;
          this.pagination.last_page = 0;
          this.pagination.from = 0;
          this.pagination.to = 0;

          unblock();
        }).catch(error => {
          console.log(error);
          swal({
            type: 'warning',
            title: 'NO se encontraron resultados!'
          });
          unblock()
        });
      },
      cancelar(produccion, estatus) {
        this.actualizarEstatus(produccion.id, estatus);
        this.inhabilitarCancelar(produccion);
      },
      actualizarEstatus(id, estatus) {
        block();
        console.log('Enviando formulario');
        axios.put('/panaderia/api/produccion/' + id, {
          estatus: estatus
        }).then(respuesta => {
          console.log('Creado');
          unblock();
          this.listado();
          if(estatus==3){swal({
            type: 'success',
            title: 'Cancelado correctamente.',
            confirmButtonText: 'Aceptar'
					});
					}
					/* else{
					swal({
            type: 'success',
            title: 'Agregado correctamente.',
            confirmButtonText: 'Aceptar'
					});	
					} */
        }).catch(error => {
          console.log('Ocurrio un error');
          console.log(error);
          unblock();
          swal({
            type: 'error',
            title: 'Algo salió mal.',
            confirmButtonText: 'Aceptar'
          });
        });
      },
      inhabilitarCancelar(produccion) {
        this.tableData.forEach(element => {
          produccion.elaborar = false;
        });
      },
      inhabilitarElaborar(produccion) {
        this.tableData.forEach(element => {
          if (element.estatus.nombre === 'PENDIENTE') {
            produccion.elaborar = false;
            produccion.cancelado = false;
          }
        });
      },
      produccionnormal(produccion, estatus) {
        console.log('Enviando formulario');
        axios.post('/panaderia/produccionnormal', {
          id: produccion.id,
        }).then(respuesta => {
          console.log('Creado');
          this.inhabilitarElaborar(produccion);
          this.actualizarEstatus(produccion.id, estatus);
					/* this.tableData = [];
					this.programadas = [];
          this.listado(); */
          //window.location.assign("/panaderia#/almacen/salidas");   
          swal({
            type: 'success',
            title: 'Producción iniciada correctamente.',
            confirmButtonText: 'Aceptar'
          });
        }).catch(error => {
          console.log('Ocurrio un error');
          console.log(error);
          unblock();
          swal({
            type: 'error',
            title: 'Algo salió mal.',
            confirmButtonText: 'Aceptar'
          });
        });

      },
      changePage(page) {
        this.pagination.current_page = page;
        this.listado(page);
      },
      cerrarModal() {
        $('#modal-detalle').modal("hide");
			},
			disableWeekends(date) {
      const day = new Date(date).getDay()
      return day === 0 || day === 6
    	}
    },
    computed: {
      isActived: function () {
        return this.pagination.current_page;
      },
      pagesNumber: function () {
        if (!this.pagination.to) {
          return [];
        }

        var from = this.pagination.current_page - this.offset;
        if (from < 1) {
          from = 1;
        }

        var to = from + (this.offset * 2);
        if (to >= this.pagination.last_page) {
          to = this.pagination.last_page;
        }

        var pagesArray = [];
        while (from <= to) {
          pagesArray.push(from);
          from++;
        }
        return pagesArray;
      }
    },
  }
</script>
<style scoped>
  .modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #1B96B8;
    color: #fff;
  }

  .validacion {
    color: rgb(255, 0, 0);
  }
</style>