
<template>
  <v-flex xs12>
    <v-card>
      <v-card-title primary-title>
        <div>
          <h3 class="headline mb-0">Cita <label v-if="this.appointment.report_complet != 0"> Completa</label> <label v-else>incompleta</label> </h3>
          <div>Razon: {{appointment.reason}}</div>
          <div>
            Fecha: {{appointment.dateappointment}} ,
            {{appointment.timeappointment}} ,
          </div>
          <a v-if="this.appointment.report_complet != 0" :href="'/storage/' + String(this.appointment.url_reporte).slice(7)" target="_blanck">
              Reporte Anexado: {{this.appointment.report_name}}</a>
        </div>
      </v-card-title>
      <div class="container">
        <div class="large-12 medium-12 small-12 cell">
          <label>
            <input type="file" accept=".pdf" id="file" ref="file" v-on:change.prevent="getReport" />
          </label>
          <button v-on:click.prevent="updateReport">Subir</button>

        </div>
      </div>
    </v-card>
  </v-flex>
</template>
 
<script>
export default {
  props: ["affair","estado"],
  data() {
    return {
      appointment: {},
      archivo: null,
      state: this.estado,
    };
  },
  methods: {
    getlink(){
      return ""
    },
    getReport(event) {
      this.archivo = event.target.files[0];
    },
    updateReport() {
      var data = new FormData();
      data.append("reporte", this.archivo);
      data.append("name", this.archivo.name);
      data.append("_method", "PUT");
      axios
        .post("/appointment/save/" + this.appointment.id + "", data)
        .then(response => {
          location.reload();
        })
        .catch(error => {
          console.log("error");
        });
    },

    getTasks() {
      let me = this;
      let url = "/appointment/active/" + this.affair.id + "";
      axios
        .get(url)
        .then(function(response) {
          me.appointment = response.data;
          me.$emit("update:estado", me.appointment.report_complet);
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  },
  mounted() {
    this.getTasks();
  }
};
</script>