@import "./../css/coreui.css";
@import "./../css/pace.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap-fileinput/css/fileinput.min.css";
@import "~select2/dist/css/select2.min.css";
@import "~jquery-ui/themes/base/all.css";
@import '~sweetalert2/src/sweetalert2.scss';
@import "~icheck/skins/square/_all.css";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.css";
@import "~animate.css/animate.min.css";
@import "./../css/enjoyhint.css";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "~datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css";
@import "~datatables.net-fixedcolumns-bs4/css/fixedColumns.bootstrap4.min.css";
@import "~datatables.net-fixedheader-bs4/css/fixedHeader.bootstrap4.min.css";
@import "~datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css";
@import "~datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css";
@import "~datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css";
@import "~datatables.net-rowgroup-bs4/css/rowGroup.bootstrap4.min.css";
@import "~datatables.net-select-bs4/css/select.bootstrap4.min.css";

body {
  background-color: white;
}
.sidebar .nav-link.active .nav-icon {
  color: #D12654;
}
.app-header.navbar{
  background-color: #1a2226;
}
.sidebar-minimized .sidebar .nav-item:hover > .nav-link {
  background: #D12654;
}
.card-accent-primary {
  border-top-color: #D12654;
}
.navbar-brand-full{
  width: 9em;
}
.card-header-action:hover {
  color: #D12654cd;
}
.sidebar .nav-link:hover{
  background: #D12654;
}
#app{
  background-color: #fff;
}
.btn:focus, .btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(253, 52, 99, 0.19);
}
element.style {
  margin-bottom: 4px;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: pointer;
}
.btn-primary {
  background-color: #D12654;
  border-color: #D12654;
  &:hover{
    background-color: rgb(168, 13, 54);
    border-color: rgb(168, 13, 54);
  }
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: #D12654;
  border-color: #D12654;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(253, 52, 99, 0.19);
}
.page-item.active .page-link {
  background-color: #fd3463;
  border-color: #a71e43;
}
.page-link {
  color: #fd3463;
}
.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(253, 52, 99, 0.19);
}
.page-link:hover {
  color: #a71e43;
}
.form-control:focus {
  color: #5c6873;
  background-color: #fff;
  border-color: #a33b57;
  box-shadow: 0 0 0 0.2rem rgba(253, 52, 99, 0.19);
}
.card-color-1 {
  background-color: #E58BAD !important;
  border-color: rgb(167, 60, 101) !important;
}
.card-color-2 {
  background-color: #EF426F !important;
  border-color: rgb(160, 22, 59) !important;
}
.card-color-3 {
  background-color: #D12654 !important;
  border-color: rgb(126, 21, 49) !important;
}
.card-color-4 {
  background-color: #98579B !important;
  border-color: rgb(98, 49, 100) !important;
}
.sidebar .nav-link:hover > .nav-icon{
  color: #FFF;
}
.datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
  background: #d5d5d5c4;
  cursor: pointer;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.15);
}
.select2-error {
  border-color: #f86c6b !important;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f86c6b' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23f86c6b' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.select2-valid {
  border-color: #4dbd74 !important;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%234dbd74' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.modal-full {
  max-width: 80% !important;
}

table.dataTable tr.dtrg-group td {
  color: black;
}

.table-dark {
  color: #fff;
  background-color: #2f353a !important;
}
/* .table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05) !important;
} */
table.dataTable.table-striped.DTFC_Cloned tbody {
	background-color: #2f353a !important;
}
table.DTFC_Cloned tr {
	background-color: transparent;
	margin-bottom: 0;
}

table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
  background-color: #0275d8 !important;
}