<template>
  <v-container>
    <div>
      <canvas id="canvas"></canvas>
    </div>
  </v-container>
</template>

<script>
export default {
  props: {
    labels: String,
    dataProp: String
  },
  methods: {
    renderChart() {
      const ctx = document.getElementById("canvas").getContext("2d");
      const planetChartData = new Chart( ctx,{
        type: "line",
        data: {
          labels: [
            "Mercury",
            "Venus",
            "Earth",
            "Mars",
            "Jupiter",
            "Saturn",
            "Uranus",
            "Neptune"
          ],
          datasets: [
            {
              label: "Number of Moons",
              data: [0, 0, 1, 2, 67, 62, 27, 14],
              borderWidth: 3
            },
            {
              label: "Planet Mass (x1,000 km)",
              data: [4.8, 12.1, 12.7, 6.7, 139.8, 116.4, 50.7, 49.2,50,49.2,50,49.2,50],
              backgroundColor: [
                "rgba(71, 183,132,.5)" // Green
              ],
              borderColor: ["#47b784"],
              borderWidth: 3
            }
          ]
        },
        options: {
          responsive: true,
          lineTension: 1,
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                  padding: 25
                }
              }
            ]
          }
        }
      });
    }
  },
  mounted() {
    this.renderChart();
  }
};
</script>
