<template>
  <v-container>
    <div>
      <canvas id="canvas"></canvas>
    </div>
  </v-container>
</template>

<script>
export default {
  props: {
    labels: String,
    dataProp: String
  },
  methods: {
    renderChart() {
      const ctx = document.getElementById("canvas").getContext("2d");
      const myChart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: JSON.parse(this.labels),
          datasets: [
            {
              label: "Gráfica",
              data: JSON.parse(this.dataProp),
              backgroundColor: [
                "#2ecc71",
                "#e74c3c",
                "#8e44ad",
                "#d35400",
                "#16a085"
              ]
            }
          ]
        },
        options: {
          title: {
            display: true,
            fontSize: 22,
            text: "Example"
          }
        }
      });
    }
  },
  mounted() {
    this.renderChart();
  }
};
</script>