<template lang="en">
<div>
  <div class="col-md-offset-9" v-if="valor===1||valor==3">
    <span> SELECCIONE EL TIPO DE BENEFICIARIO</span>
    <select name="existe" id="" @change="cambiar" v-model="cambio" class="form-control">
    <option value="nuevo">NUEVO</option>
    <option value="existente">EXISTENTE</option>
  </select><br>
  </div>
    <div class="panel panel-default" v-if="valor===3">
      <div class="panel-heading">
        <div class="input-group col-md-5 col-md-offset-7">
          <input v-model="busqueda" required type="text" placeholder="BUSCAR BENEFICIARIO" name="buscabeneficiario" class="form-control" >
          <span class="input-group-btn">
        <button class="btn btn-info" title="Buscar beneficiario registrado" style="display: inline;" type="button" @click.prevent="buscar"><i class="fa fa-search"></i> Buscar</button>
      </span>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-md-12">
          <table class="table table-striped table-responsive">
            <thead>
              <tr>
                <th>CURP</th>
                <th>NOMBRE</th>
                <th>PRIMER APELLIDO</th>
                <th>SEGUNDO APELLIDO</th>
                <th>SELECCION</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(bene,index) in beneficiarios" :key=index>
                <td>{{bene.curp}}</td>
                <td>{{bene.nombre}}</td>
                <td>{{bene.primer_apellido}}</td>
                <td>{{bene.segundo_apellido}}</td>
                <td><button @click.prevent="getBeneficiario(bene.id)" class="btn btn-success">&#x2714;</button></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <div class="box box-primary shadow " v-if="valor===1">
      <div class="box-header with-border">
        
        <h4 class="box-title">DATOS DEL BENEFICIARIO</h4>
        
      </div>
      <label id="fesha" class="col-md-offset-10">{{fecha_diag}}</label>
      <form method="post" v-on:submit.prevent="confirmar">
        <div class="box-body">
          <div class="col-md-6">
            <label for="nombre">NOMBRE (S):</label>
            <input type="text" style="text-transform:uppercase;" name="nombre" class="form-control" v-model="beneficiario.nombre" required v-validate="{regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}">
            <span class="errordecampo"  v-if="errors.first('nombre')==='The nombre field format is invalid.'">REVISA TU FORMATO DE ENTRADA<br/></span>
            <label for="curp">CURP:</label>
            <input type="text" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" required class="form-control" name="curp" v-model="beneficiario.curp" v-validate="{regex: /^([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)$/}">
            <span class="errordecampo" v-if="errors.first('curp')==='The curp field format is invalid.'">LA CURP INGRESADA NO ES VALIDA<br/></span>
            <label for="a_paterno">PRIMER APELLIDO:</label>
            <input type="text" style="text-transform:uppercase;" required name="a_paterno" class="form-control" v-model="beneficiario.a_paterno" v-validate="{regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}">
            <span class="errordecampo"  v-if="errors.first('a_paterno')==='The a_paterno field format is invalid.'">REVISA TU FORMATO DE ENTRADA<br/></span>
            <label for="a_materno">SEGUNDO APELLIDO: </label>
            <input style="text-transform:uppercase;"  type="text" name="a_materno" class="form-control" v-model="beneficiario.a_materno" v-validate="{regex: /^([-A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+([\s][A-Za-z-ÁÉÍÓÚÜüáéíóúñÑ]+)*)$/}">
            <span class="errordecampo"  v-if="errors.first('a_materno')==='The a_materno field format is invalid.'">REVISA TU FORMATO DE ENTRADA<br/></span>
            <label for="telefono">TELEFONO: </label>
            <input maxlength="10" type="text" name="telefono" class="form-control" v-model="beneficiario.telefono" v-validate="'digits:10'">
            <span class="errordecampo" v-if="errors.first('telefono')==='The telefono field must be numeric and exactly contain 10 digits.'">CAMPO SOLO VALIDO CON NUMEROS Y UNA LONGITUD DE 10</span>
          </div>
          <div class="col-md-6">
            <div class="col-md-6">
              <label required for="fecha_nacimiento">FECHA DE NACIMIENTO</label>
              <input type="text" class="form-control" placeholder="DD/MM/YYYY" name="fecha_nacimiento" v-model="beneficiario.fecha_nace" v-validate="'date_format:dd/MM/yyyy'">
              </div>
            <div class="col-md-6">
              <label for="genero">GENERO:</label>
              <select title ="Es necesario seleccionar un genero" name="genero" v-model="beneficiario.genero" class="form-control" required>
                  <option value="F">FEMENINO</option>
                  <option value="M">MASCULINO</option>
                </select>
            </div>
            <div class="col-md-12">
            <label for="municipio">MUNICIPIO: </label>
            <v-select v-model="beneficiario.municipio" id="vselect" :options="municipios" :reduce="municipio_codigo=>municipio_codigo.id" label="nombre"></v-select>
            <label for="colonia">COLONIA: </label>
            <input type="text" name="colonia" class="form-control" v-model="beneficiario.colonia" style="text-transform:uppercase;">
            <label for="calle">CALLE: </label>
            <input type="text" name="calle" class="form-control" v-model="beneficiario.calle">
            </div>
            <div class="col-md-4">
              <label for="num_exterior">NUM. EXTERIOR</label>
              <input type="number" class="form-control" name="num_exterior" v-model="beneficiario.num_ext">
          
          
          
          </div>
              <div class="col-md-4">
                <label for="num_interior">NUM. INTERIOR</label>
                <input type="number" class="form-control" name="num_interior" v-model="beneficiario.num_int">
          </div>
                <div class="col-md-4">
                  <label for="codigo_postal">CÓDIGO POSTAL</label>
                  <input type="text" name="codigo_postal" maxlength="5" class="form-control" v-validate="'digits:5'" v-model="beneficiario.cod_postal">

          </div>
                  <span  class="errordecampo" v-if="errors.first('codigo_postal')==='The codigo_postal field must be numeric and exactly contain 5 digits.'">ESTE CAMPO SOLO PUEDE CONTENER 5 NUMEROS</span>
                </div>

              </div>
                 
                  <div class="col-md-12 box-header with-border">
                    <h4 class="box-title">OTROS DATOS</h4>
                    </div>
                    <div class="col-md-12">                  
                  <div>
                  <div class="box-body">
                    <div class="col-md-6">
                      <label for="responsable">RESPONSABLE</label>
                      <input style="text-transform:uppercase;" v-model="formatos.responsable" type="text" name="responsable" class="form-control">
                    </div>
                      <div class="col-md-12">
                        <div class="checkbox"><label><input type="checkbox" v-model="formatos.acta"> ACTA DE NACIMIENTO</label></div>
                        <div class="checkbox"><label><input type="checkbox" v-model="formatos.curp">CURP</label></div>
                        <div class="checkbox"><label><input type="checkbox" v-model="formatos.comprobante"> COMPROBANTE DE DOMICILIO</label></div>
                        <div class="checkbox"><label><input type="checkbox" v-model="formatos.acuse"> ACUSE</label></div>
                      </div>

                    </div>

                  </div>
                </div>
                <div class="box-footer" style="display: flex; justify-content: flex-end" >
                  <input type="submit" class="btn btn-success col-md-offset-11" value="CONTINUAR">
              </div>
      </form>
    </div>

    <div v-if="valor===2">
      <div class="box box-primary shadow">
        <div class="box-header with-border">
          <h4 class="box-title">DATOS DEL PRESTAMO</h4>
        </div>
        <div class="box-body">
          <div class="col-md-12">
            <div class="col-md-4">
              <span>SELECCIONE APOYO FUNCIONAL</span>
              <select class="form-control" v-model="apoyo_id" >
                <option
                  v-for="(apoyo, index) in apoyofuncional"
                  :key="index"
                  v-bind:value="apoyo.id"
                >{{apoyo.num_inventario+" - "+apoyo.catapoyofuncional.nombre+" "+apoyo.catapoyofuncional.tipo}}</option>
                 </select>
            </div>
            <div class="col-md-4">
              <SPAN>FECHA DE INICIO</SPAN>
              <input type="TEXT" class="form-control" v-model="fecha_diag" disabled>
            </div>
              <div class="col-md-4">
                <SPAN>FECHA DE FIN</SPAN>
               
                <date-picker :not-before="fecha" @change="validafecha()"  v-model="fecha_fin" style="width: 100%;" valueType="format" format="DD/M/YYYY" lang="es"></date-picker>
              </div>
              <br>
              <div class="col-md-12">
                <span>OBSERVACIONES</span>
                <textarea required class="form-control" cols="30" rows="2" v-model="observaciones" placeholder="Ingresa Observaciones"></textarea>
                 <br>               
              </div>  
              <div class="col-md-12"style="display: flex; justify-content: flex-end" >
                <button class="col-md-offset-10 btn btn-success" @click.prevent="generar">GENERAR</button>    
            </div>     
            </div>   
            </div>
         
                  
                
        </div>
        
      </div>
    </div>
</template>

<script>
export default {
  mounted() {
    this.cargar();
  },
  methods: {
    validafecha(){
      console.log('si entre');
      if(this.fecha_fin===this.fecha_diag){
         Swal.fire({
              position: "center",
              type: "info",
              title: "La fecha de finalización debe ser despues de la fecha de inicio",
              showConfirmButton: true,

            });
            this.fecha_fin='Seleccionar fecha'
      }
    },
    cargar() {

      axios
        .get("/taesir/munici")
        .then(respuesta => {
          this.municipios = respuesta.data.municipio;
        })
        .catch(error => {
          //console.log(error);
        });

      axios
        .get("/taesir/apoyosfuncionalesdisponibles")
        .then(respuesta => {
          this.apoyofuncional = respuesta.data.apoyofuncional;
          if (!this.apoyofuncional.length) {
            Swal.fire({
              position: "center",
              type: "info",
              title: "NO HAY APOYOS FUNCIONALES DISPONIBLES",
              showConfirmButton: true,

            });
            window.location.assign("taesir#/servicios/prestamos/lista");
          }
        })
        .catch(error => {
          //console.log(error);
        });
      this.fechaActual();

    },
    fechaActual() {
      this.fecha_diag = (this.fecha.getDate() + "/" + (this.fecha.getMonth() + 1) + "/" + this.fecha.getFullYear());
    },

    buscar() {
      if(this.busqueda!=""){
      let me = this;
      var url = "/taesir/buscarpersona";
      block();
      axios.post(url, {
        curp: me.busqueda
      }).then(function (response) {

        me.beneficiarios = response.data.data

        unblock();
      }).catch(function (error) {
        console.log('Problemas de conexion, intente de nuevo')
      })
      }else{
         Swal.fire({
          position: "center",
            type: "info",
            title: "CAMPO VACIO",
            showConfirmButton: false,
            timer: 1000
          });

      }
    },
    getBeneficiario(persona_id) {
      block();
      axios.get('/taesir/tsrbeneficiarios/' + persona_id).then(response => {
        this.beneficiario_id = response.data.beneficiario_id;
        unblock();
        if (this.beneficiario_id === 0) {
          Swal.fire({
            position: "center",
            type: "info",
            title: "ESTE BENEFICIARIO YA CUENTA CON UN PRESTAMO ACTIVO",
            showConfirmButton: true,

          });
        } else {
          this.valor = 2;
        }

      });
      unblock();

    },
    confirmar() {
      Swal.fire({
        title: "¿ESTAS SEGURO?",
        text: "UNA VEZ ACEPTADOS LOS CAMBIOS NO PODRA EDITAR",
        type: "question",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "SI",
        cancelButtonText: "NO"
      }).then(result => {
        if (result.value) {
          this.crearPersona();
        }
      });
    },
    crearPersona() {
      block();
      axios
        .post("/taesir/altapersona", {
          curp: this.beneficiario.curp,
          nombre: this.beneficiario.nombre,
          a_paterno: this.beneficiario.a_paterno,
          a_materno: this.beneficiario.a_materno,
          numero_celular: this.beneficiario.telefono,
          municipio: this.beneficiario.municipio,
          colonia: this.beneficiario.colonia,
          calle: this.beneficiario.calle,
          num_ext: this.beneficiario.num_ext,
          num_int: this.beneficiario.num_int,
          cod_postal: this.beneficiario.cod_postal,
          fecha_nace: this.beneficiario.fecha_nace,
          genero: this.beneficiario.genero
        })
        .then(respuesta => {
          Swal.fire({
            position: "center",
            type: "success",
            title: "Agreado",
            showConfirmButton: false,
            timer: 1000
          });

          //beneficiario.id= respuesta.data;
          unblock();
          this.beneficiario.persona_id = respuesta.data.persona;
          this.crearBeneficiario();
          this.valor = 2;
        })
        .catch(error => {
          console.log(error);
          unblock();
          Swal.fire({
            position: "center",
            type: "error",
            title: "Verificar sus campos",
            showConfirmButton: false,
            timer: 1000
          });

        });
    },
    crearBeneficiario() {
      axios.post('/taesir/tsrbeneficiarios', {
        acuse: this.formatos.acuse,
        acta: this.formatos.acta,
        curp: this.formatos.curp,
        comprobante: this.formatos.comprobante,
        persona_id: this.beneficiario.persona_id,
        responsable: this.formatos.responsable
      }).then(respuesta => {
        this.beneficiario_id = respuesta.data.beneficiario_id;
        console.log("se agrego el beneficiario");

      })
    },
    cambiar() {
      if (this.cambio === "nuevo") {
        this.valor = 1;
      } else {
        this.valor = 3;
      }
    },
    siguiente() {
      this.valor = 2;
    },
    generar() {
      block();
      axios.post('/taesir/tsrprestamos', {
        folio: "TSR-PREST",
        beneficiario_id: this.beneficiario_id,
        fecha_inicio: this.fecha_diag,
        apoyofuncional_id: this.apoyo_id,
        fecha_fin: this.fecha_fin,
        estatus: true,
        usuario_id: 73,
        observaciones: this.observaciones
      }).then(respuesta => {
        Swal.fire({
          position: "center",
          type: "success",
          title: "Generado correctamente",
          showConfirmButton: false,
          timer: 1000
        });
        console.log(respuesta.data);
        window.location.assign('taesir/reciboprestamo/' + respuesta.data);
        window.location.assign("taesir#/servicios/prestamos/lista");
        unblock();
      });
      unblock();
    }
  },

  data() {
    return {
      //datos para el control de beneficiario
      observaciones: "",
      //fecha_hoy:'',
      cambio: "nuevo",
      fecha_fin: "",
      busqueda: "",
      beneficiario_id: "",
      fecha: new Date(),
      fecha_diag: "",
      apoyo_id: "",
      apoyofuncional: [],
      municipios: [],
      valor: 1,
      beneficiarios: [],
      beneficiario: {
        persona_id: "",
        curp: "",
        nombre: "",
        a_paterno: "",
        a_materno: "",
        telefono: "",
        municipio: "",
        colonia: "",
        calle: "",
        num_ext: "",
        num_int: "",
        cod_postal: "",
        fecha_nace: "",
        genero: ""
      },
      formatos: {
        acuse: false,
        acta: false,
        curp: false,
        comprobante: false,
        responsable: ""
      },
    }
  },
}
</script>

<style scoped>
CSS #modal {
  width: 80% !important;
}

input {
  border-radius: 4px !important;
}

select {
  border-radius: 4px !important;
}

label {
  font-size: 13px !important;
}

#fesha {
  font-size: 15px !important;
  color: #00968C;
}

#peso {
  border: #FFF;
  background-color: #EEEEEE;
  border-radius: 0px;
}

textarea {
  resize: none;
}

.errordecampo {
  color: red;
}

select:focus {
  border-color: #00968C !important
}

input:focus {
  border-color: #00968C !important
}
</style>
