<template>
<div>
  <div class="box box-primary shadow">
    <div class="box-header with-border">
      <h4 class="box-title">LISTA DE PRESTAMOS DE APOYOS FUNCIONALES</h4>
           </div>
           
    <div class="panel-body">
      <div class="col-md-12" style="display: flex; justify-content: flex-end" >
         <a title="Generar nuevo prestamo" href="/taesir#/servicios/prestamos/nuevo" class="btn btn-success pull-right">NUEVO PRESTAMO</a>
        </div>
      <div class="col-md-12">
        <v-client-table :data="tableData" :columns="columns" :options="options">
         <!-- <div slot="estatus" slot-scope="props">
            <span v-if="props.row.estatus ===1" class="badge badge-success">Activo</span>
          </div>-->
          <div slot="beneficiario" slot-scope="props">{{props.row.beneficiario.persona.nombre+" "+props.row.beneficiario.persona.primer_apellido+" "+props.row.beneficiario.persona.segundo_apellido}}</div>
          <div slot="opciones" slot-scope="props">
            <button class="btn btn-xs bg-success" title="Councluir prestamo" @click.prevent="terminarprestamo(props.row.id)"><i class="fa fa-check"></i></button>
            <button class="btn btn-xs bg-info" title="Detalles del beneficiario" @click="getPrestamo(props.row.id)" style="color: #000;"><i class="fa fa-eye"></i></button>
          </div>
        </v-client-table>
      </div>
    </div>
  </div>

  <div>
    <!-- Modal -->
    <div id="modal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">DETALLES DEL BENEFICIARIO</h4>
          </div>
          <div class="modal-body">
            <div class="col-md-12">

              <label>NOMBRE COMPLETO</label>
              <br>
              <div class="col-md-4">
                <span>{{persona.nombre}}</span>
               </div>
                <div class="col-md-4">
                 <span>{{persona.primer_apellido}}</span>
                </div>
                  <div class="col-md-4">
                    <span>{{persona.segundo_apellido}}</span>
                   </div>
                   
                    <label>DIRECCIÓN</label>
                    <br>
                     <div class="col-md-4">
                <span>{{persona.calle}}</span>
               </div>
                <div class="col-md-2">
                 <span>Núm: {{persona.numero_exterior}}</span>
                </div>
                  <div class="col-md-4">
                    <span>Col: {{persona.colonia}}</span>
                   </div>
                  </div>
                  <div class="col-md-2">
                    <br>
                    <span>Telefono: {{persona.numero_celular}}</span>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">CERRAR</button>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
</template>

<script>
export default {
  mounted() {
    this.cargar();
  },
  methods: {
    cargar() {
      axios.get('/taesir/tsrprestamos').then(respuesta => {
        this.tableData = respuesta.data.prestamo;
      });
      this.fechaActual();
    },
    getPrestamo(id) {
      block();
      axios.get('/taesir/tsrprestamos/' + id).then(response => {
        this.persona = response.data;
        unblock();
        $("#modal").modal("show");
      })
      unblock();
    },
    terminarprestamo(id) {
      block();
      axios.put('/taesir/tsrprestamos/' + id, {
        fecha_devolucion: this.fecha_diag
      }).then(response => {
        this.cargar();
        Swal.fire({
          position: "center",
          type: "success",
          title: "PRESTAMO CONCLUIDO SATISFACTORIAMENTE",
          showConfirmButton: false,
          timer: 1000

        });
      });
      unblock();
    },
    fechaActual() {
      this.fecha_diag = (this.fecha.getFullYear()) + "/" + (this.fecha.getMonth() + 1) + "/" + this.fecha.getDate();
    },
  },
  data() {
    return {
      fecha: new Date(),
      fecha_diag: "",
      // prestamo: [],
      persona: [],
      tableData: [],
      options: {
        headings: {
          folio: "FOLIO",
          observaciones: "OBSERVACIONES",
          fecha_inicio: "FECHA_INICIO",
          fecha_fin: "FECHA_FIN",
         // estatus: "ESTATUS",
          beneficiario: "BENEFICIARIO",
          opciones: "OPCIONES"

        },
        sortable: ["num_orden", "folio"],
        filterable: ["num_orden", "folio", "diagnostico", "beneficiario"],
        pagination: {
          dropdown: false,
          chunk: 10,
          edge: false,
          align: "center",
          nav: "fixed"
        },
        perPageValues: [10, 25, 50, 100],
        texts: {
          count: "Mostrando {from} a {to} de {count} resultados|{count} resultados|Un resultado",
          first: "First",
          last: "Last",
          filter: "Buscar: ",
          filterPlaceholder: "INGRESA BUSQUEDA",
          limit: "Resultados: ",
          page: "Page:",
          noResults: "No hay resultados",
          filterBy: "Filter by {column}",
          loading: "Loading...",
          defaultOption: "Select {column}",
          columns: "Columns"
        }
      },
      columns: [
        "folio",
        "observaciones",
        "fecha_inicio",
        "fecha_fin",
      //  "estatus",
        "beneficiario",
        "opciones"
      ],
    }
  },
}
</script>

<style scoped>
/*
.panel-heading {
  background-color: #00968C;
  color: #FFF;
}*/

.bg-info {
  background-color: #3498DB;
  width: 25px;
  height: 25px;
}

input[type="text"][disabled] {
  background-color: #FFF;
  border-color: #FFF;
}
</style>
