<template>
  <div>
    <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h3 class="box-title">Panel de Control</h3>
      </div>
      <div class="box-body">				
        <div v-if="checkRol('ADMINISTRADOR')||checkRol('ENCARGADO')" class="row">
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
              <div class="inner">
                <h3>{{pedidosPendientes}}</h3>

                <p>Pedidos Pendientes</p>
              </div>
              <div class="icon">
                <i class="fa fa-th-list" aria-hidden="true"></i>
              </div>
              <a href="panaderia#/pedidos/listado" class="small-box-footer">Acceder <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
              <div class="inner">
                <h3>{{donativosPendientes}}</h3>

                <p>Donativos Pendientes</p>
              </div>
              <div class="icon">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
              </div>
              <a href="panaderia#/donativos/aceptados" class="small-box-footer">Acceder <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
              <div class="inner">
                <h3>{{ventasHoy}}</h3>

                <p>Ventas de HOY</p>
              </div>
              <div class="icon">
                <i class="fa fa-usd" aria-hidden="true"></i>
              </div>
              <a href="/panaderia#/ventas/listado" class="small-box-footer">Acceder <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
              <div class="inner" style="height:102px;">
                <h3></h3>
                <p style="margin-top:48px;">Reportes</p>
              </div>
              <div class="icon">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
              </div>
              <a href="/panaderia#/reportes" class="small-box-footer">Acceder <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
				<div v-if="checkRol('VENDEDOR')||checkRol('ALMACEN')||checkRol('PRODUCCION')" class="row" align="center">
					<div class="col-md-12 col-xs-6" style="margin-top=0px; margin-bottom:20px;">
						<h2><label>Bienvenido al Taller de Panadería</label></h2>
					</div>
				</div>
        <div class="row">
          <div class="col-md-6">            
            <div class="echarts">
              <IEcharts ref="ventasMES" :option="ventasMES" id="ventasMES" />
            </div>
          </div>
          <div class="col-md-6">           
            <div class="echarts">
              <IEcharts ref="masVendidosMes" :option="masVendidosMes" id="masVendidosMes" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import IEcharts from 'vue-echarts-v3/src/full.js';
  import moment from 'moment';
  export default {
    components: {
      IEcharts,
		},
		props:['rol'],
    mounted() {
      axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");
      let mActual = new Date();
      this.mesActual = mActual.getMonth();     
      this.getVentasMes();      
      //this.masVendidosMes.title.text+=this.meses[this.mesActual];
      //this.ventasMES.title.text+=this.meses[this.mesActual];
      this.getMasVendidosMes();
      this.getVentasHoy();      
      this.getVentasHoy();
      this.getDonativosPendientes();
      this.getPedidosPendientes();
    },
    data() {
      return {
        ventasHoy:0,
        donativosPendientes:0,
        pedidosPendientes:0,
        solicitudesPanaderia:0,
        ventasMES: {
          title: {
            text: 'Ventas del Mes',           
            x: 'center'
          },
          tooltip: {
            trigger: 'item',
            formatter: "Fecha<br/>{b} <br/>Ventas:{c}"
          },
          xAxis: {
            type: 'category',
            data: ['']
          },
          yAxis: {
            type: 'value'
          },
          series: [{
            data: [],
            type: 'line',
            color: 'blue'
          }]
        },
        masVendidosMes: {
          title: {
            text: 'Productos más vendidos del Mes',            
            x: 'center'
          },
          tooltip: {
            trigger: 'item',
            formatter: "{a}: {b} <br/>Vendidos: {c} ({d}%)"
          },
          legend: {
            orient: 'vertical',
            left: 'left',
            data: []
          },
          series: [{            
            name: 'Producto',
            type: 'pie',
            radius: '55%',
            center: ['50%', '60%'],
            data: [],
            itemStyle: {
              emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }]
        },
        meses: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
        mesActual: 0,
      }
    },
    methods: {
      getVentasMes() {
        var url = "/panaderia/reportes/ventas/mes/" + (this.mesActual + 1);
        axios.get(url).then(respuesta => {
          console.log(respuesta)
          this.ventasMES.series.data = [];
          respuesta.data.forEach(dia => {
            this.ventasMES.series[0].data.push(dia.ventas);
            var fecha=this.formatFecha(dia.fecha_venta);
            this.ventasMES.xAxis.data.push(fecha);
          });
        }).catch(error => {
          console.log('error en ' + error)
        });
      },
      getMasVendidosMes(){
         var url = "/panaderia/reportes/ventas/masVendidosMes/" + (this.mesActual + 1);
        axios.get(url).then(respuesta => {
          console.log(respuesta)
          this.masVendidosMes.legend.data=[];
          this.masVendidosMes.series[0].data=[]
          respuesta.data.forEach(producto=>{
            //this.masVendidosMes.legend.data.push(producto.nombre);
            this.masVendidosMes.series[0].data.push({name:producto.nombre,value:producto.cantidad});
          });                   
        }).catch(error => {
          console.log('error en ' + error)
        });
      },
      getVentasHoy(){
        var fecha=new Date();
        fecha=fecha.getFullYear() + "-" + (fecha.getMonth() +1) + "-" + fecha.getDate();       
        var url='/panaderia/reportes/ventas/delDia/'+fecha;
        axios.get(url).then(respuesta=>{
          console.log(respuesta)
          this.ventasHoy=respuesta.data[0].ventas;
        }).catch(error=>console.log('error en '+error));
      },
      getDonativosPendientes(){
        axios.get('/panaderia/api/donativo/seguimiento/').then(respuesta=>{
          this.donativosPendientes=respuesta.data.donativosPendientes;
          this.solicitudesPanaderia=respuesta.data.solicitudes;
          
        }).catch(error=>console.log('error en '+error));
      },
      getPedidosPendientes(){
        axios.get('/panaderia/api/pedidos/').then(respuesta=>{
          console.log(respuesta.data.pedidosPendientes)
          this.pedidosPendientes=respuesta.data.pedidosPendientes;
        }).catch(error=>console.log('error en '+error));
      },
      formatFecha(date) {
        return moment(date).format('DD/MM/YYYY');
			}, 
			checkRol(rolUsuario){
          var roles=this.rol.roles.filter(roles=>{
            return roles.name==rolUsuario;
          });
          return roles.length>0;
      },
    },
  }
</script>
<style>
  .echarts {
    width: 500px;
    height: 300px;
  }
</style>