<template>
<div>
  <div class="col-md-4">
    <div class="info-box shadow">
      <span class="info-box-icon bg-blue"><i class="fa fa-cogs"></i></span>
      <div class="info-box-content fondorep">
        <span class="info-box-number">REPARACIONES</span>
        <span class="info-box-text"><i class="fa fa-check" aria-hidden="true"></i> Realizadas: {{this.rep.total}}</span>
      </div>
      <!-- /.info-box-content -->
      <div class="info-box-content">
        <span>HOY: {{this.rep.hoy}}</span>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="info-box shadow">
      <span class="info-box-icon bg-green"><i class="fa fa-handshake-o" aria-hidden="true"></i></span>
      <div class="info-box-content fondopre">
        <span class="info-box-number">PRESTAMOS</span>
        <span class="info-box-text"><i class="fa fa-check" aria-hidden="true"></i> Realizados: {{this.prest.total}}</span>
      </div>
      <!-- /.info-box-content -->
      <div class="info-box-content">
        <span>HOY: {{this.prest.hoy}}</span>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="info-box shadow">
      <span class="info-box-icon bg-orange"><i class="fa fa-archive"></i></span>
      <div class="info-box-content fondodon">
        <span class="info-box-number">DONATIVOS</span>
        <span class="info-box-text"><i class="fa fa-arrow-down"></i> Recibidos: {{this.donat.total}}</span>
      </div>
      <!-- /.info-box-content -->
      <div class="info-box-content">
        <span>HOY: {{this.donat.hoy}}</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4 ">
        <div class="echarts">
          <IEcharts :option="reparaciones" />
        </div>
      </div>

      <div class="col-md-4">
        <div class="echarts">
          <IEcharts :option="prestamos" />
        </div>
      </div>

      <div class="col-md-4">
        <div class="echarts">
          <IEcharts :option="donativos" />
        </div>
      </div>
    </div>
  </div>

</div>
</template>

<script>
import IEcharts from 'vue-echarts-v3/src/full.js';
export default {

  components: {
    IEcharts
  },
  mounted() {
    this.cargar()
  },
  props: {},
  data: () => ({
    loading: true,

    rep: {
      reparacioneshechas: [],
      hoy: 0,
      total: 0,
    },

    prest: {
      prestamoshechos: [],
      hoy: 0,
      total: 0
    },

    donat: {
      donativoshechos: [],
      hoy: 0,
      total: 0
    },

    reparaciones: {
      tooltip: {},
      title: {
        text: 'Reparaciones del Mes'
      },
      color: '#0073B7',

      xAxis: {
        type: 'category',
        data: []
      },
      yAxis: {
        type: 'value'
      },
      series: [{
        data: [],
        type: 'line',

      }]
    },
    prestamos: {
      tooltip: {},
      title: {
        text: 'Prestamos del Mes'
      },
      color: '#00A65A',

      xAxis: {
        type: 'category',
        data: []
      },
      yAxis: {
        type: 'value'
      },
      series: [{
        data: [],
        type: 'line',

      }]
    },
    donativos: {
      tooltip: {},
      title: {
        text: 'Donativos del Mes'
      },
      color: '#FF851B',

      xAxis: {
        type: 'category',
        data: []
      },
      yAxis: {
        type: 'value'
      },
      series: [{
        data: [],
        type: 'line',

      }]
    }
  }),
  methods: {
    cargar() {
      this.getReparaciones();
      this.getPrestamos();
      this.getDonaciones();
     /* if (history.forward(1)) {
        location.replace(history.forward(1));
      }*/
    },
    getReparaciones() {
      axios.get('/taesir/reparacionesmes').then(response => {
        this.rep.reparacioneshechas = response.data.reparaciones;
        this.rep.hoy = response.data.hoy;
        this.rep.total = response.data.cantidad;
        let data = [];
        var i = 0;
        for (i in this.rep.reparacioneshechas) {
          data.push({
            name: this.rep.reparacioneshechas[i].dia,
            value: this.rep.reparacioneshechas[i].cantidad
          })
          this.reparaciones.xAxis.data.push(this.rep.reparacioneshechas[i].dia);
        }

        this.reparaciones.series[0].data = data;
      })
    },

    getPrestamos() {
      axios.get('/taesir/prestamosmes').then(response => {
        this.prest.prestamoshechos = response.data.prestamos;
        this.prest.hoy = response.data.hoy;
        this.prest.total = response.data.cantidad;
        let data = [];
        var i = 0;
        for (i in this.prest.prestamoshechos) {
          data.push({
            name: this.prest.prestamoshechos[i].dia,
            value: this.prest.prestamoshechos[i].cantidad
          })
          this.prestamos.xAxis.data.push(this.prest.prestamoshechos[i].dia);
        }

        this.prestamos.series[0].data = data;
      })
    },

    getDonaciones() {
      axios.get('/taesir/donativosmes').then(response => {
        this.donat.donativoshechos = response.data.donativos;
        this.donat.hoy = response.data.hoy;
        this.donat.total = response.data.cantidad;
        let data = [];
        var i = 0;
        for (i in this.donat.donativoshechos) {
          data.push({
            name: this.donat.donativoshechos[i].dia,
            value: this.donat.donativoshechos[i].cantidad
          })
          this.donativos.xAxis.data.push(this.donat.donativoshechos[i].dia);
        }

        this.donativos.series[0].data = data;
      })
    }
  }
};
</script>

<style scoped>
.fondorep {
  background-color: #AED6F1;
}

.fondopre {
  background-color: #A9DFBF;
}

.fondodon {
  background-color: #FAD7A0;
}

.echarts {
  width: 370px;
  height: 300px;
}
</style>
