<template>
<div class="table-responsive">
                <table id="example" class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Producto</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                         <td>ID</td>
                        <td>Producto</td>
                        <td>Editar</td>
                        <td>Eliminar</td>
                    </tr>
                     <tr>
                         <td>ID</td>
                        <td>Producto</td>
                        <td>Editar</td>
                        <td>Eliminar</td>
                    </tr>
                     <tr>
                         <td>ID</td>
                        <td>Producto</td>
                        <td>Editar</td>
                        <td>Eliminar</td>
                    </tr>
                     <tr>
                         <td>ID</td>
                        <td>Producto</td>
                        <td>Editar</td>
                        <td>Eliminar</td>
                    </tr>
                </tbody>
            </table>
  </div>
</template>

<script>
export default {
  
}
</script>

<style scoped>

</style>
