<template>
  <v-flex xs11>
    <v-select
      v-model="parentesco"
      :items="parentescos"
      :rules="rules.relationship"
      label="Selecciona motivo de la cita"
      @input="changePrinter()"
    ></v-select>
  </v-flex>
</template>

<script>
export default {
  props: ["relationship"],
  data() {
    return {
      parentescos:[
        "Visita de Campo para corroborar datos",
        "Visita de victima en su dirección",
        "Visita Dependencia relacionada",
        "Visita para anexar documentación oficial del afectado",
        "Visita para resolución legal",
        "Otro(Obligatorio especificar en Descripcion)",
      ],
      parentesco:this.relationship,
      rules: {
        relationship: [v => !!v || "debe especificar el motivo de la cita"],
      }
    };
  },
  methods: {
    changePrinter: function() {
      this.$emit("update:relationship", this.parentesco);
    }
  }
};
</script>