<template>
  <div>
    <div >
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Lista de pedidos</h3>
        </div>
        <div class="box-body">
        <div style="margin-bottom: 20px;">
          <div class="row">
            <div class="col-md-5">
              <label for="buscar">Buscar:</label>
              <div class="input-group input-group-sm" style="width: 220px;">
                <input type="text" name="table_search" class="form-control pull-right" placeholder="Folio" v-model="busqueda" @keyup.enter="buscarPedido">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search" @click.prevent="buscarPedido()"></i></button>
                </div>
                <div class="input-group-btn">
                    <button style="margin-left: 4px;" type="button" class="btn btn-warning outline" @click.prevent="listado()">
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                  </div>
              </div>
            </div>            
            <div class="col-md-2 col-md-offset-5">
              <label for="items">Elementos por Página:</label>
              <v-select :searchable="false" :clearable="false" v-model="pagination.per_page" :options="itemsPerPage" @input="listado()">
								<div slot="no-options">No hay opciones!</div>
							</v-select>
            </div>
          </div>
        </div>
          <div class="box-body table-responsive no-padding">
            <table class=" table table-striped">
              <tbody>
                <tr>
                  <th>Folio</th>                
                  <th>Fecha solicitud</th>
                  <th>Fecha entrega</th>
                  <th>Cliente</th>  
                   <th>Estatus</th>               
                  <th>Opciones</th>
                </tr>
                <tr v-for="(item, index) in tableData" :key="index">
                  <td>{{item.folio}}</td>                 
                  <td>{{formatFecha(item.fecha_solicitud)}}</td>
                  <td>{{formatFecha(item.fecha_entrega)}}</td>
                  <td>{{item.cliente.nombre_completo}}</td>
                  <td><span :class="item.etiqueta">{{item.estatus.nombre}}</span></td>                        
                  <td>
                    <button title="Ver detalles" class="btn btn-primary btn-xs" @click.prevent="verDetalles(item.id)"><i class="fa fa-eye"></i> Ver</button>
                    <button title="Imprimir productos" class="btn btn-success btn-xs" @click="mostrarPdf(item.id)"><i class="fa fa-file-pdf-o"></i></button>
                    <button v-if="checkRol('ADMINISTRADOR')||checkRol('ENCARGADO')||checkRol('VENDEDOR')" v-show="item.pago" title="Ver pago" class="btn btn-primary btn-xs" @click.prevent="agregarPago(item.id)"><i class="fa fa-money"></i> Pago</button>
                    <button v-if="checkRol('ADMINISTRADOR')||checkRol('ENCARGADO')||checkRol('PRODUCCION')" title="Elaborar" class="btn btn-primary btn-xs"  v-show="item.elaborado" @click.prevent="nuevaProduccion(item,item.solicitud.id)"><i class="fa fa-arrow-right"></i> Elaborar</button>
                    <button v-if="checkRol('ADMINISTRADOR')||checkRol('ENCARGADO')" title="Cancelar" class=" btn btn-danger btn-xs"  v-show="item.cancelado" @click.prevent="cancelar(item)"><i class="fa fa-times"></i></button>
                    <button v-if="checkRol('ADMINISTRADOR')||checkRol('ENCARGADO')||checkRol('PRODUCCION')||checkRol('VENDEDOR')" class="btn btn-success btn-xs"  v-show="item.entregado" @click.prevent="entregar(item,item.solicitud.id)"><i class="fa fa-check"></i> Entregar</button>
                    <button class="btn btn-success btn-xs"  v-show="item.detalle" @click="verDetallesCancelacion(item.id)" ><i class="fa fa-check"></i> Cancelación</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12" align="center">
            <nav aria-label="navigation">
              <ul class="pagination">
                <li v-if="pagination.current_page > 1">
                  <a href="#" @click.prevent="changePage(pagination.current_page - 1)">
                    <span>Atras</span>
                  </a>
                </li>
                <li v-for="(page,index) in pagesNumber" :key="index" v-bind:class="[ page == isActived ? 'active' : '']">
                  <a href="#" @click.prevent="changePage(page)">
                    {{ page }}
                  </a>
                </li>

                <li v-if="pagination.current_page < pagination.last_page">
                  <a href="#" @click.prevent="changePage(pagination.current_page + 1)">
                    <span>Siguiente</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- modal-detalle -->
    <div class="modal fade" id="modal-detalle" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
            <h4 class="modal-title" id="modal-detalle-title">Detalles del pedido</h4>
          </div>
          <div class="modal-body" id="modal-body-detalle">
            <div class="box box-primary shadow">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th style="width:30%"><i class="fa fa-id-card margin-r-5"></i>Folio:</th>
                          <td>{{pedido.solicitud.folio}}</td>
                        </tr>
                        <tr>
                          <th><i class="fa fa-calendar margin-r-5"></i>Fecha solicitud: </th>
                          <td>{{formatFecha(pedido.solicitud.fecha_solicitud)}}</td>
                        </tr>
                        <tr>
                          <th><i class="fa fa-file-text-o margin-r-5"></i>Cliente:</th>
                          <td>{{pedido.cliente.nombre_completo}}</td>
                        </tr>  
                        <tr>
                          <th><i class="fa fa-money margin-r-5"></i>Estatus de pago:</th>
                          <td>
                            <span class="badge badge-success" v-if="pedido.pagado=='1'">PAGADO</span>
                            <span class="badge badge-danger" v-else >NO PAGADO</span>
                          </td>
                        </tr>                    
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th style="width:30%"><i class="fa fa-flag margin-r-5"></i>Estatus general:</th>
                          <td><span :class="etiqueta">{{pedido.estatus.nombre}}</span></td>
                        </tr>
                        <tr>
                          <th><i class="fa fa-calendar margin-r-5"></i>Fecha de entrega:</th>
                          <td>{{formatFecha(pedido.solicitud.fecha_entrega)}}</td>
                        </tr>
                        <tr>
                          <th><i class="fa fa-phone margin-r-5"></i>Celular:</th>
                          <td>{{pedido.cliente.numero_celular}}</td>
                        </tr>
                        <tr>
                          <th><i class="fa  fa-home margin-r-5"></i>Dirección:</th>
                          <td>{{pedido.direccion}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="box box-primary shadow">
              <div class="box box-default">
                <div class="box-header">
                  <h4>Lista de productos</h4>
                </div>
                <div class="box-body no-padding">
                  <table class=" text-center table table-striped">
                    <tbody>
                      <tr>
                        <th>Cantidad</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Subtotal</th>                        
                      </tr>
                      <tr v-for="(item, index) in pedido.productos" :key="index">
                        <td>{{item.pivot.cantidad}}</td>
                        <td>{{item.nombre}}</td>
                        <td>${{formatPesos(item.pivot.precio_unitario)}}</td>
                        <td>${{parseFloat(item.pivot.subtotal)}}</td>                        
                      </tr>
                      <tr>
                        <th></th>
                        <th></th>
                        <th>Total</th>
                        <th>${{formatPesos(pedido.total)}}</th>
                      </tr>                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer" id="modal-footer-detalle">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  <!-- modal-detalle-cancelacion -->
   <div class="modal fade" id="modal-cancelacion" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
            <h4 class="modal-title" id="modal-detalle-title">Detalles de la cancelación del pedido</h4>
          </div>
          <div class="modal-body" id="modal-body-detalle">
            <div class="box box-primary shadow">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th style="width:30%"><i class="fa fa-id-card margin-r-5"></i>Folio:</th>
                          <td>{{pedido.solicitud.folio}}</td>
                        </tr>
                        <tr>
                          <th><i class="fa fa-calendar margin-r-5"></i>Fecha solicitud: </th>
                          <td>{{formatFecha(pedido.solicitud.fecha_solicitud)}}</td>
                        </tr>
                        <tr>
                          <th><i class="fa fa-file-text-o margin-r-5"></i>Cliente:</th>
                          <td>{{pedido.cliente.nombre_completo}}</td>
                        </tr>  
                        <tr>
                          <th><i class="fa fa-money margin-r-5"></i>Estatus de pago:</th>
                          <td>
                            <span class="badge badge-success" v-if="pedido.pagado==='1'">PAGADO</span>
                            <span class="badge badge-danger" v-else >NO PAGADO</span>
                          </td>
                        </tr>                    
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <th style="width:30%"><i class="fa fa-flag margin-r-5"></i>Estatus general:</th>
                          <td><span :class="etiqueta">{{pedido.estatus.nombre}}</span></td>
                        </tr>
                        <tr>
                          <th><i class="fa fa-calendar margin-r-5"></i>Fecha de entrega:</th>
                          <td>{{formatFecha(pedido.solicitud.fecha_entrega)}}</td>
                        </tr>
                        <tr>
                          <th><i class="fa fa-phone margin-r-5"></i>Celular:</th>
                          <td>{{pedido.cliente.numero_celular}}</td>
                        </tr>
                        <tr>
                          <th><i class="fa  fa-home margin-r-5"></i>Dirección:</th>
                          <td>{{pedido.direccion}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="box box-primary shadow">
              <div class="box box-default">
                <div class="box-header">
                  <h4>Información del monto</h4>
                </div>
                <div class="box-body">
                  <div class="row">
                     <div class="col-md-4">
                      <label   for="">Fecha de cancelación:</label>
                      <input  class="form-control text-center" type="text" name="" disabled id v-model="devolucion.fecha">                                        
                      </div>
                      <div class="col-md-4">
                      <label   for="">Monto total del pedido:</label>
                      <div class="input-group input-group-sm">
                            <div class="input-group-btn">
                              <button disabled class="btn btn-default"><i class="fa fa-usd"></i></button>
                            </div>
                            <input class=" form-control " type="number" disabled v-model="pedido.total">
                          </div>
                      </div>
                        <div class="col-md-4">
                      <label   for="">Anticipo:</label>
                      <div class="input-group input-group-sm">
                            <div class="input-group-btn">
                              <button disabled class="btn btn-default"><i class="fa fa-usd"></i></button>
                            </div>
                            <input class=" form-control " type="number" disabled v-model="pedido.anticipo">
                          </div>
                      </div>
                    
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <label for="">Monto de devolución:</label>
                           <div class="input-group input-group-sm">
                            <div class="input-group-btn">
                              <button disabled class="btn btn-default"><i class="fa fa-usd"></i></button>
                            </div>
                            <input class=" form-control " type="number" disabled v-model="devolucion.devolucion">
                          </div>
                    </div>
                    <div class="col-md-4">
                      <label for="">Costo por operación</label>
                           <div class="input-group input-group-sm">
                            <div class="input-group-btn">
                              <button disabled class="btn btn-default"><i class="fa fa-usd"></i></button>
                            </div>
                            <input class=" form-control " type="number" disabled v-model="devolucion.costo">
                          </div>
                    </div>
                    <div class="col-md-4">
                      <label for="">Observaciones:</label>
                      <textarea class="form-control" name="" disabled id="" cols="30" rows="3" v-model="devolucion.observaciones"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer" id="modal-footer-detalle">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment';
export default {
  mounted() {
    axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");     
    this.listado(); 
    this.fechaActual = new Date();    
  },
  props:['rol'],
  data() {
    return {
      etiqueta:'',
      pago:'',
      fechaCalculada:'',
      totalpagado:0,
      deuda:0,
      busqueda: '',
      pagos:[],
      pedidos:[],
      devolucion:{'fecha':'','observaciones':'','devolucion':'','costo':''},
      pedido:{'cliente':[],'estatus':[],'anticipo':0,'pagado':'','total':'','calle':'','numint':'','numext':'','colonia':'','localidad':[],'referencia':'','solicitud':[],'productos':[],'direccion':''},
      tableData: [],
      itemsPerPage: [10, 25, 50],
      pagination: {
        'total': 0,
        'current_page': 1,
        'per_page': 10,
        'last_page': 0,
        'from': 0,
        'to': 0
      },
      offset: 3,
    }
  },
  methods: {
    listado(page) {
      block();
      this.tableData=[];      
      var url = '/panaderia/api/pedidos?page=' + page + '&per_page=' + this.pagination.per_page;
      axios.get(url).then(respuesta => {
        this.pedidos = respuesta.data.pedidos.data;
        this.pagination.from = respuesta.data.pedidos.from;
        this.pagination.last_page = respuesta.data.pedidos.last_page;
        this.pagination.per_page = respuesta.data.pedidos.per_page;
        this.pagination.to = respuesta.data.pedidos.to;
        this.pagination.total = respuesta.data.pedidos.total;
        this.pedidos.forEach(element => {
          const pedido = {
            id:element.id,
            folio:element.solicitud.folio,
            solicitud:element.solicitud,
            fecha_solicitud:element.solicitud.fecha_solicitud,
            fecha_entrega:element.solicitud.fecha_entrega,
            estatus:element.solicitud.estatus,
            pagado:element.pagado,
            productos:element.solicitud.detalles,
            cliente:element.cliente,
            anticipo :element.anticipo,  
            total: element.solicitud.total,          
            elaborado:true,
            entregado:true,
            cancelado:true,
            detalle:false,
            pago:true,
            etiqueta:'',
            
          } 
        this.tableData.push(pedido);             
        });
        this.tableData.forEach(element=>{
          if(element.estatus.id === 3 || element.estatus.id === 4){
            element.elaborado = false;
            element.entregado = false;
            element.cancelado = false;
            element.pago=false;
            element.detalle = true;
            element.etiqueta= 'badge badge-danger';
            
          }
          if(element.estatus.id === 5){
            element.elaborado = false;
            element.entregado = false;
            element.cancelado = false;
            element.etiqueta= 'badge badge-success';
          }
          if(element.estatus.id===8){
            element.elaborado = false;
            element.entregado = true;
            element.cancelado = false;
            element.etiqueta= 'badge badge-secondary';
          }
          if(element.estatus.id === 7){
            element.elaborado = false;
            element.entregado=false;
            element.etiqueta= 'badge badge-primary';
          }
          if(element.estatus.id === 9){
            element.elaborado = true;
            element.entregado = false;
            element.cancelado=true;
            element.etiqueta= 'badge badge-warning';
          }       
       if(element.pagado === 1){
          element.pago=false; 
        }
        })
         unblock();
      }).catch(error => {
         unblock();
        console.log('surgio un error ' + error)
      });
    },
    formatFecha(date){
      return moment(date).format('DD/MM/YYYY');
    },
    etiquetasEstatus(estatus){     
      if(estatus=='PENDIENTE')
      this.etiqueta='badge badge-warning';
      if(estatus=='ENTREGADO')
      this.etiqueta='badge badge-success';
      if(estatus=='TERMINADO')
      this.etiqueta='badge badge-primary';
      if(estatus=='EN PRODUCCION')
      this.etiqueta='badge badge-secondary';
      if(estatus=='CANCELADO')
      this.etiqueta='badge badge-danger';
      return this.etiqueta;
    },
    buscarPedido() {
      block();
      if (this.busqueda == '') {
        return
      }      
      axios.get('/panaderia/pedidos/buscarpedido/' + this.busqueda).then(respuesta => {        
        this.tableData = [];
        this.busqueda = null
        if (respuesta.data === "") {
          swal({
            type: 'warning',
            title: 'NO se encontraron resultados!'
          });
          unblock();
          return;
        }
        this.pedidos = respuesta.data;        
        this.pedidos.forEach(element => {
          const pedido = {
            id:element.id,
            folio:element.solicitud.folio,
            solicitud:element.solicitud,
            fecha_solicitud:element.solicitud.fecha_solicitud,
            fecha_entrega:element.solicitud.fecha_entrega,
            estatus:element.solicitud.estatus,
            pagado:element.pagado,
            productos:element.solicitud.detalles,
            cliente:element.cliente,
            anticipo :element.anticipo,  
            total: element.solicitud.total,          
            elaborado:true,
            entregado:true,
            cancelado:true,
            detalle:false,
            pago:true,           
            etiqueta:''
          } 
        this.tableData.push(pedido);             
        });
        this.tableData.forEach(element=>{
          if(element.estatus.id === 3){
            element.elaborado = false;
            element.entregado = false;
            element.cancelado = false;
            element.detalle = true;
            element.etiqueta= 'badge badge-danger';
          }
          if(element.estatus.id === 5){
            element.elaborado = false;
            element.entregado = false;
            element.cancelado = false;
            element.etiqueta= 'badge badge-success';
          }
          if(element.estatus.id===8){
            element.elaborado = false;
            element.entregado = true;
            element.cancelado = false;
            element.etiqueta= 'badge badge-secondary';       
          }
          if(element.estatus.id === 7){
            element.elaborado = false;
            element.entregado=false;
            element.etiqueta= 'badge badge-primary';       
          }
          if(element.estatus.id === 9){
            element.elaborado = true;
            element.entregado = false;
            element.cancelado=true;
            element.etiqueta= 'badge badge-warning';       
          }       
        })
        this.pagination.total = 1;
        this.pagination.current_page = 1;
        this.pagination.per_page = 10;
        this.pagination.last_page = 0;
        this.pagination.from = 0;
        this.pagination.to = 0;
        unblock();
      }).catch(error => {
        console.log(error);
        swal({
          type: 'warning',
          title: 'NO se encontraron resultados!'
        });
        unblock()
      }); 
    },
    verDetallesCancelacion(id) {
      //this.pedido.anticipo=0;
      block()
      axios.get('/panaderia/api/pedidos/'+ id).then(respuesta => {
        console.log('cancelación',respuesta.data);
        this.pedido.pagado=respuesta.data.pagado;
        this.pedido.cliente = respuesta.data.cliente;
        this.pedido.estatus = respuesta.data.solicitud.estatus;
        this.pedido.calle = respuesta.data.calle;  
        this.pedido.numint = respuesta.data.numero_interior;  
        this.pedido.numext = respuesta.data.numero_exterior;
        this.pedido.colonia = respuesta.data.colonia;
        this.pedido.localidad = respuesta.data.localidad;  
        this.pedido.referencia = respuesta.data.referencia_domicilio; 
        this.pedido.productos = respuesta.data.solicitud.detalles;
        this.pedido.solicitud =respuesta.data.solicitud; 
        this.devolucion.fecha=this.formatFecha(respuesta.data.devolucion.fecha);
        this.devolucion.costo=respuesta.data.devolucion.costosoperacion;
        this.devolucion.devolucion=respuesta.data.devolucion.montodevolucion;
        this.devolucion.observaciones=respuesta.data.devolucion.observaciones;
        this.pedido.total=respuesta.data.solicitud.total;
        this.pedido.direccion = respuesta.data.cliente.direccion_completa +', '+respuesta.data.localidad.nombre+'. Referencias y/o entre calles: '+ respuesta.data.referencia_domicilio;                
        this.pagos=respuesta.data.pagos;
        unblock()
          this.pagos.forEach(element=>{
              this.pedido.anticipo=element.pago;
              console.log('pago',this.pagos)
          });
        
        
      }).catch(error => {
        console.log('error en ' + error)
        unblock()
      })

      $('#modal-cancelacion').modal('show');
    }, 
      formatPesos(n){
        return new Intl.NumberFormat("en-ES").format(n);
      },
    
    verDetalles(id) {
      block()
      axios.get('/panaderia/api/pedidos/'+ id).then(respuesta => {
        console.log(respuesta.data);
        this.pedido.cliente = respuesta.data.cliente;
        this.pedido.estatus = respuesta.data.solicitud.estatus;
        this.pedido.calle = respuesta.data.calle;  
        this.pedido.numint = respuesta.data.numero_interior;  
        this.pedido.numext = respuesta.data.numero_exterior;
        this.pedido.colonia = respuesta.data.colonia;
        this.pedido.localidad = respuesta.data.localidad;  
        this.pedido.referencia = respuesta.data.referencia_domicilio; 
        this.pedido.pagado = respuesta.data.pagado; 
        this.pedido.total=respuesta.data.solicitud.total
        this.pedido.productos = respuesta.data.solicitud.detalles;
        this.pedido.solicitud =respuesta.data.solicitud; 
        this.pedido.direccion = respuesta.data.direccion_completa +', '+respuesta.data.localidad.nombre+'. Referencias y/o entre calles: '+ respuesta.data.referencia_domicilio;                
        this.etiquetasEstatus(this.pedido.estatus.nombre);
        unblock()
      }).catch(error => {
        console.log('error en ' + error)
        unblock()
      })

      $('#modal-detalle').modal('show');
    }, 
    agregarPago(id){          
      window.location.assign("/panaderia#/pedidos/pagos/"+id);  
    },
    validarPago(id){
      block()
      if(this.pago==this.deuda){       
          block();
          axios.put('/panaderia/api/pedidos/' + id, {
            pago: this.pago,
          }).then(respuesta => {
            unblock();
            this.listado();      
						swal({type: 'success',title: 'Se realizó el pago correctamente.', confirmButtonText:'Aceptar'});
          }).catch(error => {
            console.log(error);
            unblock();            
						swal({type: 'error',title: 'Ocurrió un eror.', confirmButtonText:'Aceptar'});
          });
          
        this.pago=0;
        unblock()
        $('#modal-pago').modal("hide");
      }else{         
						swal({type: 'error',title: 'Verifique la cantidad ingresada.', confirmButtonText:'Aceptar'});
        unblock()
       
      }           
    },

    getPedido(id) { //obtiene datos para el modal de pagos.
      block()
      axios.get('/panaderia/api/pedidos/'+ id).then(respuesta => {
        console.log(respuesta.data);               
         this.pedido.id=respuesta.data.id;
          this.pedido.pagado = respuesta.data.pagado;
           this.pedido.anticipo = respuesta.data.anticipo;
           this.pedido.total = respuesta.data.solicitud.total; 
           if(this.pedido.pagado=== 0){
            
            this.pagos= respuesta.data.pagos;
            this.pagos.forEach(element=>{
              this.totalpagado+=element.pago;
            }) 
            this.deuda = this.pedido.total-this.totalpagado;
        $('#modal-pago').modal("show");
        unblock()
      }
      if(this.pedido.pagado===1){
         unblock()
         swal({type: 'success', title:'El pedido ya fue pagado en su totalidad',showConfirmButton: false,
            timer: 2000}) 
        
      }            
        
      
      }).catch(error => {
        console.log('error en ' + error)
        unblock()
      })
      
    },     
    entregar(pedido,id) {
      block()
      axios.get('/panaderia/api/pedidos/'+ pedido.id).then(respuesta => {
        unblock();
        console.log(respuesta.data);               
         this.pedido.id=respuesta.data.id;
          this.pedido.pagado = respuesta.data.pagado;
           this.pedido.anticipo = respuesta.data.anticipo;
           this.pedido.total = respuesta.data.solicitud.total; 
           if(this.pedido.pagado=== 0){
            
            this.pagos= respuesta.data.pagos;
            this.pagos.forEach(element=>{
              this.totalpagado=element.pago;
            }) 
            this.deuda = this.pedido.total-this.totalpagado;          
           }
           if(this.pedido.pagado === 1){
             Swal.fire({
        title: '¿El pedido fue entregado?',
        text: "una vez finalizada no podra revertir!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, Entrego!',
        cancelButtonText: 'No'
      }).then((result) => {
        if (result.value) {
          block();
          axios.put('/panaderia/solicitudes/entregar/' + id, {
            estatus: 5,
          }).then(respuesta => {
            unblock();
            this.botonEntregar(pedido);
            this.listado();                        
						swal({type: 'success',title: 'El pedido fue entregado correctamente.', confirmButtonText:'Aceptar'});
          }).catch(error => {
            console.log(error);
            unblock();
            swal({type: 'error',title: 'Ocurrió un error.', confirmButtonText:'Aceptar'});
          });
        }
      })
           }else{
              swal({type: 'warning', title:'El pedido requiere de un pago de '+this.deuda,showConfirmButton: false,
            timer: 2000}) 
           }
      this.deuda=0;
      this.pago=0;
      }).catch(error => {
        console.log('error en ' + error)
        unblock()
      })
      
    },  
    botonCancelar(pedido) {
      this.tableData.forEach(element => {
        if (element.estatus.id === 3|| element.estatus.id === 4) {
          pedido.cancelado = false;
          pedido.elaborado = false;
          pedido.entregado = false;
        }
      });
    },
    botonElaborar(pedido) {
      this.tableData.forEach(element => {
        if (element.estatus.id === 7) {          
          pedido.elaborado = false;
          pedido.entregado = false;
        }
      });
    },
    botonEntregar(pedido) {
      this.tableData.forEach(element => {
        if (element.estatus.id === 5) {
          pedido.entregado = false;
        }
      });
    },
    calcularFecha(fecha){   
      var dias = 0;
      var fecha1 = moment(new Date());
      var fecha2 = moment(fecha);
      dias = fecha2.diff(fecha1,"days");
      console.log(dias)
      return dias;           
    },
    cancelar(pedido){
      pedido.productos.forEach(element=>{
          if(element.tipoproducto_id===3||element.tipoproducto_id===2){
           if(this.calcularFecha(pedido.fecha_entrega)>=2){
             window.location.assign("/panaderia#/pedidos/cancelaciones/"+pedido.id); 
           }else{             
						swal({type: 'error',title: 'No se puede cancelar el pedido, excedió los días de anticipación.', confirmButtonText:'Aceptar'});
						}           
          }
          if(element.tipoproducto_id===1){
           // this.calcularFecha(1,pedido.solicitud.fecha_entrega);
           if(this.calcularFecha(pedido.fecha_entrega)>=1){
             window.location.assign("/panaderia#/pedidos/cancelaciones/"+pedido.id); 
           }else{               
						swal({type: 'error',title: 'No se puede cancelar el pedido, excedió los días de anticipación.', confirmButtonText:'Aceptar'});
           }
          }
        }) 

    },
    nuevaProduccion(pedido,id) {
        console.log('Enviando formulario');
        axios.post('/panaderia/api/producciones', {
          id: id,
        }).then(respuesta => {
          console.log('Creado');
          this.actualizarEstatus(id);
          this.botonElaborar(pedido);
        //  this.tableData=[];
          this.listado();          
          swal({type: 'success',title: 'Producción iniciada correctamente.', confirmButtonText:'Aceptar'});
          //window.location.assign("/panaderia#/almacen/salidas"); 
        }).catch(error => {
          console.log('Ocurrio un error');
          console.log(error);
          unblock();          
					swal({type: 'error',title: 'Ocurrió un error.', confirmButtonText:'Aceptar'});
        });
       
    },
    actualizarEstatus(id) {
        block();
        console.log('Enviando formulario');
        axios.put('/panaderia/api/donativo/seguimiento/' + id, {
          estatus: '7'
        }).then(respuesta => {
          console.log('Creado');
          unblock();
          this.listado();   
					//swal({type: 'success',title: 'Agregado correctamente.', confirmButtonText:'Aceptar'});
        }).catch(error => {
          console.log('Ocurrio un error');
          console.log(error);
          unblock();          
					swal({type: 'error',title: 'Ocurrió un error.', confirmButtonText:'Aceptar'});
        });       
    },
    changePage(page) {
      this.pagination.current_page = page;
      this.listado(page);
    }, 
    mostrarPdf(id){
      var url="/panaderia/pedidos/productossolicitados/"+id;
      var win = window.open(url, '_blank');
      win.focus();
    },
    checkRol(rolUsuario){
      var roles=this.rol.roles.filter(roles=>{
        return roles.name==rolUsuario;
      });
      return roles.length>0;
    }  
  },
  computed: {
    isActived: function () {
      return this.pagination.current_page;
    },
    pagesNumber: function () {
      if (!this.pagination.to) {
        return [];
      }

      var from = this.pagination.current_page - this.offset;
      if (from < 1) {
        from = 1;
      }

      var to = from + (this.offset * 2);
      if (to >= this.pagination.last_page) {
        to = this.pagination.last_page;
      }

      var pagesArray = [];
      while (from <= to) {
        pagesArray.push(from);
        from++;
      }
      return pagesArray;
    }
  },
}
</script>
<style scoped>
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color:#1B96B8;
  color: #fff;
}
.validacion {
  color: rgb(255, 0, 0);
}
</style>
