<template>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">hola mundo</div>

                <div class="panel-body">
                    <p>I'm an example component!</p>
                    <button @click="mostarBlockUI">Mostrar</button>
                </div>
            </div>
        </div><!-- <BlockUI v-if="loader" :message="msg" :html="html"></BlockUI> -->
        <BlockUI v-if="loader" :message="msg" :url="url" :html="html"></BlockUI>
        <transition name="fade">
        </transition>
    </div>
</template>

<script>
    //importando mixins para tener disponible variables o metodos de forma global
    import { utilities } from './../mixins/utilities'
    //para el nuevo blockUI
    var loadingImage = '/images/preloader/loading.gif'
    export default {
        mixins: [utilities],
        data(){
            return {
                loader: false,
                msg: 'Welcome to Your Vue.js App',
                html: '<button><i class="fa fa-cancel"></i></button>',  //this line demostrate how to use fontawesome animation icon,
                url: loadingImage   //It is important to import the loading image then use here
            }
        },
        mounted() {
            console.log('Component mounted.')
            console.log('hola.')
            this.block();
        },
        methods: {
            mostarBlockUI(){
                this.loader = true;
                setTimeout(() => {
                    this.loader = false;
                }, 2000);
            }
        }
    }
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>

