<template>
  <div>
    <div class="row">             
      <div class="col-md-2 pull-right">        
        <button v-show="!opciones" type="button" class="btn btn-danger pull-right" @click="resetDatos()">
          <i class="fa fa-window-close"></i>
        </button>
      </div>        
    </div>
    <div v-if="opciones" class="row">
      <form v-on:submit.prevent="getVentas()">        
        <div class="form-group col-md-2">
          <label for="tipo">Tipo: </label><br>
          <v-select v-model="tipoReporte.tipo" :options="tipo" label="label" :reduce="tipo=>tipo.value" :filterable='true'>
						<div slot="no-options">No hay opciones!</div>
            <template #search="{attributes, events}">
              <input class="vs__search" :required="!tipoReporte.tipo" v-bind="attributes" v-on="events" />
            </template>
          </v-select>
        </div>
        <div v-if="tipoReporte.tipo=='mensual'" class="form-group col-md-2">
          <label for="meses">Mes: </label><br>
          <v-select v-model="tipoReporte.mes" :options="meses" label="label" :reduce="mes=>mes.value" :filterable='true'>
						<div slot="no-options">No hay opciones!</div>
            <template #search="{attributes, events}">
              <input class="vs__search" :required="!tipoReporte.mes" v-bind="attributes" v-on="events" />
            </template>
          </v-select>
        </div>
        <div v-if="tipoReporte.tipo=='bimestral'" class="form-group col-md-3">
          <label for="bimestres">Bimestre: </label><br>
          <v-select v-model="tipoReporte.bimestre" :options="bimestres" label="label" :reduce="bimestre=>bimestre.value" :filterable='true'>
						<div slot="no-options">No hay opciones!</div>
            <template #search="{attributes, events}">
              <input class="vs__search" :required="!tipoReporte.bimestre" v-bind="attributes" v-on="events" />
            </template>
          </v-select>
        </div>
        <div v-if="tipoReporte.tipo=='trimestral'" class="form-group col-md-3">
          <label for="trimestres">Trimestre: </label><br>
          <v-select v-model="tipoReporte.trimestre" :options="trimestres" label="label" :reduce="trimestre=>trimestre.value" :filterable='true'>
						<div slot="no-options">No hay opciones!</div>
            <template #search="{attributes, events}">
              <input class="vs__search" :required="!tipoReporte.trimestre" v-bind="attributes" v-on="events" />
            </template>
          </v-select>
        </div>
        <div v-if="tipoReporte.tipo=='semestral'" class="form-group col-md-3">
          <label for="semestres">Semestre: </label><br>
          <v-select v-model="tipoReporte.semestre" :options="semestres" label="label" :reduce="semestre=>semestre.value" :filterable='true'>
						<div slot="no-options">No hay opciones!</div>
            <template #search="{attributes, events}">
              <input class="vs__search" :required="!tipoReporte.semestre" v-bind="attributes" v-on="events" />
            </template>
          </v-select>
        </div>
        <div class="form-group col-md-2">
          <label for="anios">Año: </label><br>
          <v-select v-model="tipoReporte.anio" :options="anios" :filterable='true'>
						<div slot="no-options">No hay opciones!</div>
            <template #search="{attributes, events}">
              <input class="vs__search" :required="!tipoReporte.anio" v-bind="attributes" v-on="events" />
            </template>
          </v-select>
        </div>
        <div class="form-group col-md-2">          
          <button type="submit" class="btn btn-success" style="margin-top: 20px;">Buscar</button>
        </div>
      </form>
    </div>
    <!---div para mostrar el reporte de ventas --->
    <div class="row" v-if="opciones==false">
      <div class="col-md-6">
        <div class="echarts">
          <IEcharts ref="ventas" :option="ventas" id="ventas" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="echarts">
          <IEcharts ref="comparacionVentas" :option="comparacionVentas" id="conparacionVentas" />
        </div>
      </div>
      <div class="col-md-12 ">
        <button class="pull-right btn btn-success xs"  @click="imprimirPDF">Descargar pdf</button>
      </div>
    </div>
  </div>
</template>
<script>
 import IEcharts from 'vue-echarts-v3/src/full.js';
 import moment from 'moment';
  export default {
     components: {
      IEcharts,
    },
    mounted() {
      axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");      
      this.getAnios();
    },
    data() {
      return {
        periodo:'',
        opciones:true,        
        tipo:[{label:"Mensual",value:"mensual"},{label:"Bimestral",value:"bimestral"},{label:"Trimestral",value:"trimestral"},{label:"Semestral",value:"semestral"},{label:"Anual",value:"anual"}],
        meses: [{value:1,label:"Enero"}, {value:2,label:"Febrero"}, {value:3,label:"Marzo"}, {value:4,label:"Abril"}, {value:5,label:"Mayo"}, {value:6,label:"Junio"}, {value:7,label:"Julio"}, {value:8,label:"Agosto"}, {value:9,label:"Septiembre"}, {value:10,label:"Octubre"}, {value:11,label:"Noviembre"}, {value:12,label:"Diciembre"}],        
        bimestres:[{value:1,label:"Enero-Febrero"},{value:2,label:"Marzo-Abril"},{value:3,label:"Mayo-Junio"},{value:4,label:"Julio-Agosto"},
                  {value:5,label:"Septiembre-Octubre"},{value:6,label:"Noviembre-Diciembre"}],
        trimestres:[{value:1,label:"Enero-Marzo"},{value:2,label:"Abril-Junio"},{value:3,label:"Julio-Septiembre"},{value:4,label:"Octubre-Diciembre"}],
        semestres:[{value:1,label:"Enero-Junio"},{value:2,label:"Julio-Diciembre"}],
        anios:[],        
        tipoReporte:{         
          tipo:null,
          mes:null,
          bimestre:null,
          trimestre:null,
          semestre:null,
          anio:null,
          },
        ///reporteVentas
        datosVentas:{
          ventas:[],
          costoProduccion:0,
        },
        ///////Datos de la Grafica de ventas
        ventas:{
          title: {
            text: '',           
            x: 'center'
          },
          tooltip: {
            trigger: 'item',
            formatter: "Fecha<br/>{b}<br/>Total: ${c}"
          },
          xAxis: {            
            type: 'category',
            data: ['']
          },
          yAxis: {
            type: 'value'
          },
          series: [{
            label: {
                normal: {
                    show: true,
                    position: 'top',
                    formatter: "${c}",
                }
            },
            data: [],
            type: 'line',
            color: 'blue'
          }]
        },
        //datos de la grafica de ventas y ganancias
        comparacionVentas:{
                title : {
                    text: '',
                    subtext: '',
                    x:'left'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    right: 'right',
                    data: ['Ventas','Costo de Produccion','Ganancia']
                },
                series : [
                    {
                        label: {
                        formatter: "{b}:\n ${c}",
                        position: 'inside'
                            },
                        name: '',
                        type: 'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                        data:[
                            {value:0, name:'Ventas',},
                            {value:0, name:'Costo de Produccion'},
                            {value:0, name:'Ganancia'},
                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            }
        ///datos tabla ventas

      }
    },
    methods: {
      getVentas() {        
        this.ventas.xAxis.data=[];
        this.ventas.yAxis.data=[];        
        this.datosVentas.ventas=[];
        this.datosVentas.costoProduccion=0;
        var url = '/panaderia/reportes/ventas';
        block();
        axios.post(url,this.tipoReporte).then(respuesta => {  
          if(respuesta.data.ventas.length){
						this.opciones=false;
						this.datosVentas.ventas=respuesta.data.ventas;
          this.datosVentas.costoProduccion=respuesta.data.costoProduccion.costoProduccion;        
          respuesta.data.ventas.forEach(element => {            
            var fecha=this.formatFecha(element.fecha_venta);            
            this.ventas.xAxis.data.push(fecha);
            this.ventas.series[0].data.push(element.total);
          });
          this.setTitulos(this.tipoReporte.tipo);
					this.compararVentas();
					unblock();
					}
					else{
					this.opciones=true;
					swal({type: 'info',title: 'No existen resultados para este periodo.'})
          unblock();}
        }).catch(error => {
          console.log(error)          
          unblock();
        });
      },
      compararVentas(){
        var venta=0;        
        this.datosVentas.ventas.forEach(element => {
        venta+=parseFloat(element.total);
        });
        this.comparacionVentas.series[0].data[0].value=venta;
        this.comparacionVentas.series[0].data[1].value=this.datosVentas.costoProduccion;
        this.comparacionVentas.series[0].data[2].value=(venta-this.datosVentas.costoProduccion);
      },           
      formatFecha(date) {
        return moment(date).format('DD/MM/YYYY');
      },
      resetDatos(){
        this.tipoReporte={         
          tipo:null,
          mes:null,
          bimestre:null,
          trimestre:null,
          semestre:null,
          anio:null,
          };
        this.opciones=true;
      },
      alertaEspere() {
				let timerInterval
				Swal.fire({
					title: 'Espere un momento',
					html: 'Estamos procesando su solicitud',
					timer: 2500,
					onBeforeOpen: () => {
						Swal.showLoading()
						timerInterval = setInterval(() => {
							Swal.getContent().querySelector('strong')

						}, 100)
					},
					onClose: () => {
						clearInterval(timerInterval)
					}
				}).then((result) => {
					if (
						// Read more about handling dismissals
						result.dismiss === Swal.DismissReason.timer
					) {}
				})
    	}, 
      imprimirPDF(){
        
        var grafica1=this.$refs['ventas'];
        var grafica2=this.$refs['comparacionVentas'];
        var imagen1=new Image();
        imagen1.src=grafica1.getDataURL({
              pixelRatio: 2,
              backgroundColor: "#fff"
            });
        var imagen2=new Image();
        imagen2.src=grafica2.getDataURL({
              pixelRatio: 2,
              backgroundColor: "#fff"
            });
            this.alertaEspere();
      axios({
        method: "post",
        url: "/panaderia/reportes/ventas/pdf",
        responseType: "blob",//important
        data: {
          grafica1:imagen1.src,
          grafica2:imagen2.src,
          periodo:this.periodo,
          ventas:this.comparacionVentas.series[0].data[0].value,
          costo:this.comparacionVentas.series[0].data[1].value,
          ganancia:this.comparacionVentas.series[0].data[2].value,
        },
        headers: {
          Accept: "application/pdf"
        }
         }).then(response => {
        console.log(response);
        let blob = new Blob([response.data], {
          type: "application/pdf"
        });
        let link = document.createElement("a");
        link.href = window.URL.createObjectURL(blob);        
        link.download = "Reporte.pdf";
        link.click();
      });
     
      },
      setTitulos(tipo){
        let titulo='';
        let periodo=null;
        switch (tipo) {
          case 'mensual':
            periodo=this.meses.find(element=> {
              return element.value===this.tipoReporte.mes;
            });
            titulo='Ventas de '+periodo.label+' del '+this.tipoReporte.anio;
            this.periodo=periodo.label+' del '+this.tipoReporte.anio;
            break;
          case 'bimestral':
             periodo=this.bimestres.find(element=> {
              return element.value===this.tipoReporte.bimestre;
            });
            titulo='Ventas de '+periodo.label+' del '+this.tipoReporte.anio;
            this.periodo=periodo.label+' del '+this.tipoReporte.anio;
            break;  
          case 'trimestral':
            periodo=this.trimestres.find(element=> {
              return element.value===this.tipoReporte.trimestre;
            });
            titulo='Ventas de '+periodo.label;  
            this.periodo=periodo.label+' del '+this.tipoReporte.anio;
            break;  
          case 'semestral':
            periodo=this.semestres.find(element=> {
              return element.value===this.tipoReporte.semestre;
            });
            titulo='Ventas de '+periodo.label+' del '+this.tipoReporte.anio;
            this.periodo=periodo.label+' del '+this.tipoReporte.anio;
            break;
          case 'anual':
            titulo='Ventas del '+this.tipoReporte.anio;
            this.periodo=this.tipoReporte.anio;
            break;          
        }
        this.ventas.title.text=titulo;
        this.comparacionVentas.title.text='Gráfica de ventas,\ncostos de producción,\nganancias'
      },
      getAnios(){
        this.anios=[];
      axios.get('/panaderia/reportes/anios').then(respuesta=>{
        respuesta.data.forEach(dato=>{
          this.anios.push(dato.anio);
        });
      }).catch(error=>{
        console.log(error)
      });
		},
		formatPesos(n) {
        return new Intl.NumberFormat("en-ES").format(n);
    },
    },
  }
</script>
<style scoped>

</style>
