<template>
  <div>
    <div class="box box-primary shadow">
    <div class="box-header with-border">
      <h3 class="box-title">Maquinaria del Taller de Panaderia</h3>
      <button type="button" class="btn btn-success pull-right" @click.prevent="modalCrear">
        <i class="fa fa-plus"></i> Agregar Maquinaria
      </button>
    </div>
    <div class="box-body">
    <!--Tabla-->
    <v-client-table :data="tableData" :columns="columns" :options="options">
      <!--Precio-->
      <div slot="precio" slot-scope="props">
        $ {{formatPesos(props.row.precio)}}
      </div>
      <!--Estado-->
      <div slot="estatusequipo_id" slot-scope="props">        
        <span v-if="props.row.estatusequipo_id===1" class="badge badge-success">{{props.row.estatus.nombre}}</span>
        <span v-else-if="props.row.estatusequipo_id===2" class="badge badge-warning">{{props.row.estatus.nombre}}</span>
        <span v-else class="badge badge-danger">{{props.row.estatus.nombre}}</span>
      </div>
      <!--Opciones-->
      <div slot="opciones" slot-scope="props">
        <button class="btn btn-xs btn-warning" title="Editar" @click.prevent="modalEditar(props.row.id)"><i class="glyphicon glyphicon-pencil"></i> Editar</button>
        <button class="btn btn-xs btn-danger" title="Eliminar" @click.prevent="eliminar(props.row.id)"><i class="glyphicon glyphicon-trash"></i> Eliminar</button>
      </div>
    </v-client-table>
    </div>
    </div>
    <!--modal para crear y editar todo en uno-->
    <form method="POST" v-on:submit.prevent="metodo?crearNuevo():actualizar()">
      <div class="modal fade" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
              <h4 class="modal-title">{{modal.titulo}}</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="nombre" class="text-primary">Nombre:</label>
                <input type="text" name="nombre" class="form-control" v-model="equipo.nombre" placeholder="Nombre del equipo" required>
              </div>
              <div class="form-group">
                <label for="marca" class="text-primary">Marca:</label>
                <input type="text" name="marca" class="form-control" v-model="equipo.marca" placeholder="Marca del equipo" required>
              </div>
              <div class="form-group">
                <label for="modelo" class="text-primary">Modelo:</label>
                <input type="text" name="modelo" class="form-control" v-model="equipo.modelo" placeholder="Modelo del equipo" required>
              </div>
              <div class="form-group">
                <label for="serie" class="text-primary">Serie:</label>
                <input type="text" name="serie" class="form-control" v-model="equipo.numero_serie" placeholder="Num. de Serie del equipo" required>
              </div>
              <div class="form-group">
                <label for="inventario" class="text-primary">Inventario:</label>
                <input type="text" name="inventario" class="form-control" v-model="equipo.inventario" placeholder="Inventario" required>
              </div>
              <div class="form-group">
                <label for="descripcion" class="text-primary">Descripcion:</label>
                <textarea name="descripcion" class="form-control" rows="4" v-model="equipo.descripcion" placeholder="Descripcion del equipo">
                                                    </textarea>
              </div>
              <div class="form-group">
                <label for="precio" class="text-primary">Precio:</label>                
                <div class="input-group input-group-sm">                  
                  <div class="input-group-btn">
                    <button disabled class="btn btn-default"><i class="fa fa-usd"></i></button>
                  </div>
                  <input type="number" min="0" step="0.01" name="precio" class="form-control" v-model="equipo.precio">
                </div>
              </div>
              <div v-if="!metodo" class="form-group">
                <label for="estatdo" class="text-primary">Estado:</label>
                <select name="estado" v-model="equipo.estatusequipo_id" class="form-control" required>
                  <option v-for="(estado,index) in estados" :key="index" v-bind:value="estado.id">
                    {{ estado.nombre }}
                  </option>
                </select>
              </div>
            </div>
            <div class="modal-footer">              
              <input type="submit" class="btn btn-success" :value="modal.boton">
              <button class="btn btn-danger" value="Cancelar" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  mounted() {   
    axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");
    this.listado();    
      },
      data() {
          return {
              titulo: 'Listado de equipos',
              equipos: [], 
              estados: [], 
              equipo:{'id':null,'nombre':null,'marca':'','modelo':'','descripcion':'',
                    'numero_serie':'','precio':'','estatusequipo_id':'1','inventario':''},                                    
              modal:{'titulo':'','boton':''},
              metodo:true,//true si es por post false si es por put  
              //propiedades de la tabla           
            columns: ['nombre','marca','modelo','descripcion','numero_serie','precio',
                    'estatusequipo_id','inventario','opciones'],
            tableData:[],
            //opciones de la tabla donde se puede modificar las etiquetas de los elementos
            options: {
            headings: {nombre: 'Maquinaria',marca:'Marca',modelo:'Modelo',descripcion:'Descripción',
                      numero_serie:'#Serie',precio:'Precio',estatusequipo_id:'Estado',inventario:'Inventario',opciones:'Opciones'},
            sortable:['nombre','tipoproducto_id','estatusequipo_id'],   
            filterable:['nombre','tipo'],
            pagination: {
              dropdown: false,
              chunk: 10,
              edge: false,
              align: 'center',
              nav: 'fixed'
            },            
            perPageValues:[10,25,50,100],            
            texts: {
              count: "Mostrando {from} a {to} de {count} resultados|{count} resultados|Un resultado",
              first: 'First',
              last: 'Last',
              filter: "Buscar: ",
              filterPlaceholder: "Busqueda",
              limit: "Resultados: ",
              page: "Page:",
              noResults: "No hay resultados",
              filterBy: "Filter by {column}",
              loading: 'Loading...',
              defaultOption: 'Select {column}',
              columns: 'Columns'
                }
            },
          }
      },    
      methods: {
          getEquipo(id){            
              block();
              axios.get('/panaderia/api/equipos/'+id).then(respuesta => {
                  this.equipo.id=respuesta.data.id;
                  this.equipo.nombre=respuesta.data.nombre;
                  this.equipo.marca=respuesta.data.marca;
                  this.equipo.modelo=respuesta.data.modelo;
                  this.equipo.descripcion=respuesta.data.descripcion;
                  this.equipo.numero_serie=respuesta.data.numero_serie;
                  this.equipo.precio=respuesta.data.precio;
                  this.equipo.estatusequipo_id=respuesta.data.estatusequipo_id;
                  this.equipo.inventario=respuesta.data.inventario;
                  unblock();                                 
              }).catch(error => {
                  unblock();
                  console.log(error);								
									swal({type: 'error',title: 'Ocurrió un error al solicitar los datos.', confirmButtonText:'Aceptar'});
              });  
          },
          listado() {
              var url='/panaderia/api/equipos';
              block();
              axios.get(url).then(respuesta => {
                  this.estados=respuesta.data.estatus;
                  this.tableData = respuesta.data.equipos;                                                      
                  unblock();
              }).catch(error => {
                  console.log(error);
                  unblock();									
									swal({type: 'error',title: 'Ocurrió un error al cargar los datos.', confirmButtonText:'Aceptar'});
              });
          },
          modalCrear(){
              this.resetDatos(); 
              this.metodo=true;
              this.modal.titulo='Agregar Nueva Maquinaria';
              this.modal.boton='Guardar';            
              $('#modal').modal('show');
              console.log('crear');
          },
          modalEditar(id){
              this.metodo=false;     
              this.modal.titulo='Actualizar Datos';
              this.modal.boton='Actualizar';                        
              this.getEquipo(id);            
              $('#modal').modal('show');                      
          },
          crearNuevo(){
              block();
              console.log('Enviando formulario');
              if(this.equipo.nombre === null){
                  console.log('Esta vacio');
                  unblock();
                  return;
              }
              axios.post('/panaderia/api/equipos', {
                  nombre:this.equipo.nombre,
                  marca:this.equipo.marca,
                  modelo:this.equipo.modelo,
                  descripcion:this.equipo.descripcion,
                  numero_serie:this.equipo.numero_serie,
                  precio:this.equipo.precio,
                  estatusequipo_id:this.equipo.estatusequipo_id,
                  inventario:this.equipo.inventario,
              }).then( respuesta => {
                  console.log('El equipo se creo');
                  console.log(respuesta.data);
                  unblock();
                  $('#modal').modal('hide');                                    
                  this.resetDatos();                									
									swal({type: 'success',title: 'Maquinaria agregada correctamente.', confirmButtonText:'Aceptar'});
                  this.listado();        
              }).catch( error => {
                  console.log('Ocurrio un error');
                  console.log(error);
                  unblock();									
									swal({type: 'warning',title: 'Ocurrió un error al guardar los datos.', confirmButtonText:'Aceptar'});
              });
          },
          actualizar(){ 
              var id=this.equipo.id;
              block();
              console.log('Enviando formulario');
              if(this.equipo.nombre === null){
                  console.log('Esta vacio');
                  unblock();
                  return;
              }
              axios.put('/panaderia/api/equipos/'+id, {                                                 
                  nombre:this.equipo.nombre.toUpperCase(),
                  marca:this.equipo.marca.toUpperCase(),
                  modelo:this.equipo.modelo.toUpperCase(),
                  descripcion:this.equipo.descripcion.toUpperCase(),
                  numero_serie:this.equipo.numero_serie.toUpperCase(),
                  precio:this.equipo.precio,
                  estatusequipo_id:this.equipo.estatusequipo_id,
                  inventario:this.equipo.inventario.toUpperCase(),
              }).then( respuesta => {
                  console.log('El equipo actualizado ');
                  console.log(respuesta.data);
                  unblock();                                                
                  this.resetDatos();                  
                  $('#modal').modal('hide');                    									
									swal({type: 'success',title: 'Datos actualizados correctamente.', confirmButtonText:'Aceptar'});                 
                  this.listado();
              }).catch( error => {
                  console.log('Ocurrio un error');
                  console.log(error);
                  unblock();									
									swal({type: 'error',title: 'Ocurrió un error al actualizar los datos.', confirmButtonText:'Aceptar'});
              });
          },                
          eliminar(id){
            Swal.fire({
                      title: 'Desea eliminar el equipo?',
                      text: "una vez eliminado no podra revertir!",
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Si, eliminar!',
                      cancelButtonText: 'Cancelar'
                    }).then((result) => {
                      if (result.value) {
                        block();
                        axios.delete('/panaderia/api/equipos/'+id).then(respuesta => {                          
                            unblock();                                
                            Swal.fire(
                              'Eliminado!',
                              'el equipo ha sido eliminado.',
                              'success'
                            )
                            this.listado();
                        }).catch(error => {
                            unblock();
                            console.log(error);														
														swal({type: 'error',title: 'Ocurrió un error al eliminar los registros.', confirmButtonText:'Aceptar'});
                        });                        
                      }
                    }) 
          },
          resetDatos(){
            this.equipo.nombre=null;
            this.equipo.marca=null;
            this.equipo.modelo=null;
            this.equipo.descripcion=null;
            this.equipo.numero_serie=null;
            this.equipo.precio='';
            this.equipo.estatusequipo_id='1';
            this.equipo.inventario='';
          },   
          formatPesos(n) {
            return new Intl.NumberFormat("en-ES").format(n);
          },      
      },
}
</script>
<style scoped>
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color:#1B96B8;
  color: #fff;
}

.badge-success {
  background-color: #00a65a;
}

.badge-danger {
  background-color: #E08E0B;
}

.badge-warning{
  background-color: #D73925;
}

input,select{
  border-radius: 4px;
}

</style>
