<template>
<div>
  <div class="box box-primary shadow">
      <div class="box-header with-border">
        <h3 class="box-title">Historial de Salidas de Insumos por Producción</h3>
      </div>
      <div class="box-body">
        <div style="margin-bottom: 20px;">
          <div class="row">
            <div class="col-md-5">
              <label for="buscar">Buscar Salida:</label>
              <div class="input-group input-group-sm" style="width: 220px;">
                <input type="text" name="table_search" class="form-control pull-right" placeholder="Folio de Produccion" v-model="busqueda" @keyup.enter="buscarSalida()">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search" @click.prevent="buscarSalida()"></i></button>
                </div>
                <div class="input-group-btn">
                    <button style="margin-left: 4px;" type="button" class="btn btn-warning outline" @click.prevent="refrescar()">
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                  </div>
              </div>
            </div>           
            <div class="col-md-2 col-md-offset-5">
              <label for="items">Elementos por Página:</label>
              <v-select :searchable="false" :clearable="false" v-model="pagination.per_page" :options="itemsPerPage" @input="listadoSalidas()">
								<div slot="no-options">No hay opciones!</div>
							</v-select>
            </div>
          </div>
        </div>
        <div class="box box-default">
          <div class="box-body no-padding table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <th>ID</th>
                <th>Folio de producción</th>
                <th>Fecha</th>                
                <th>Imprimir</th>
              </thead>
              <tbody>
                <tr v-for="(item,index) in listaSalidas" :key="index">
                  <td>{{item.id}}</td>
                  <td>{{item.folio}}</td>
                  <td>{{formatFecha(item.fecha_elaboracion)}}</td>                                    
                  <td>                    
                    <a  title="Imprimir PDF" @click="pdf(item.id)" class="btn btn-success btn-xs"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</a>
                  </td>
                </tr>                
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-12" align="center">
          <nav aria-label="navigation">
            <ul class="pagination">
              <li v-if="pagination.current_page > 1">
                <a href="#" @click.prevent="changePage(pagination.current_page - 1)">
                  <span>Atras</span>
                </a>
              </li>
              <li v-for="(page,index) in pagesNumber" :key="index" v-bind:class="[ page == isActived ? 'active' : '']">
                <a href="#" @click.prevent="changePage(page)">
                  {{ page }}
                </a>
              </li>

              <li v-if="pagination.current_page < pagination.last_page">
                <a href="#" @click.prevent="changePage(pagination.current_page + 1)">
                  <span>Siguiente</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
</div>  
</template>
<script>
import moment from 'moment';
export default {
  data() {
    return {
       busqueda:'',          
          listaSalidas:[],
          itemsPerPage:[10,25,50],
          pagination: {
			      'total': 0,
            'current_page': 1,
            'per_page': 10,
            'last_page': 0,
            'from': 0,
            'to': 0
            },
            offset: 3,                      
    }
  },
  methods: {
    listadoSalidas(page){
       var url='/panaderia/api/salidas/insumo?page='+page+'&per_page='+this.pagination.per_page;
       block();
        axios.get(url).then(respuesta=>{          
          this.listaSalidas=respuesta.data.data;
          this.pagination.from=respuesta.data.from;
          this.pagination.last_page=respuesta.data.last_page;          
          this.pagination.per_page=respuesta.data.per_page;
          this.pagination.to=respuesta.data.to;
          this.pagination.total=respuesta.data.total;
          unblock();
        }).catch(error=>{
          console.log('surgio un error '+ error)
          unblock();
					//toastE({ type: 'error', title: 'Ocurrio un error al cargar los datos.'});
					swal({type: 'error',title: 'Ocurrió un error al cargar los datos.', confirmButtonText:'Aceptar'});
        });
    },
    buscarSalida(){
      var url='panaderia/salidas/insumo/'+this.busqueda;
      block();
      axios.get(url).then(respuesta => {
                  this.listaSalidas=[];                  
                  //console.log(respuesta)
                  if(respuesta.data.length==0){
                  swal({type:'warning', title:'NO se encontraron resultados!'});                  
                  }
                  this.listaSalidas=respuesta.data;
                  this.pagination.total= 1;
                  this.pagination.current_page=1;
                  this.pagination.per_page=10;
                  this.pagination.last_page=0;
                  this.pagination.from=0;
                  this.pagination.to=0;                  
              unblock();
              }).catch(error => {
                  console.log(error);              
                  swal({type:'warning', title:'NO se encontraron resultados!'});
                  unblock()
              });
    },
    pdf(id){
      var url="/panaderia/api/salidas/insumo/"+id;
      var win = window.open(url, '_blank');
      win.focus();
    },
    refrescar(){        
        this.busqueda='';        
        this.listadoSalidas();                        
      },
    formatFecha(date){
      return moment(date).format('DD/MM/YYYY');
      },
      changePage(page) {
			this.pagination.current_page = page;
			this.listadoSalidas(page);
		  },
  },
  mounted() {
    axios.defaults.headers.common["Pan-Token"] = sessionStorage.getItem("pan_token");
    this.listadoSalidas();   
  },
  computed:{
      isActived: function() {
			return this.pagination.current_page;
		  },
		  pagesNumber: function() {
			  if(!this.pagination.to){
				  return [];
			  }

        var from = this.pagination.current_page - this.offset; 
        if(from < 1){
          from = 1;
        }

        var to = from + (this.offset * 2); 
        if(to >= this.pagination.last_page){
          to = this.pagination.last_page;
        }

        var pagesArray = [];
        while(from <= to){
          pagesArray.push(from);
          from++;
        }
        return pagesArray;
		  }
    },
}
</script>
